extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Посудомоечная машина плохо моет посуду' 
  - var content = 'Если после окончания всех процессов посудомоечной машины вы увидели, что на посуде и столовых принадлежностях остались разводы или остатки пищи, то это может говорить о серьезных проблемах в устройстве.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности посудомоечных машин': domen + '/neispravnosti-posudomoechnyh-mashin/',
    "Посудомоечная машина плохо моет посуду": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-002.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "dish-wash/" + "pm-ploho-moet" + ".webp" alt= 'Посудомоечная машина не домывает посуду' itemprop="image")

      p
        | Если после окончания всех процессов посудомоечной машины вы увидели, что на посуде и столовых принадлежностях остались разводы или остатки пищи, то это может означать, что возникли какие-то проблемы.
      p
        | Довольно часто причиной некачественной мойки посуды могут быть банальные причины. Сегодня мы рассмотрим наиболее вероятные случаи и поговорим о том, как самостоятельно разрешить проблемы.
      p
        | Причин, по которым посудомоечная посуда плохо моет посуду, может быть несколько. Вот только некоторые из возможных вариантов:
      ul.page-list.page-list-ul
        li
          | Наличие на посуде и столовых принадлежностях остатков пищи. Если внимательно почитать инструкцию по использованию, то можно обнаружить интересный факт. Любой производитель, для получения прекрасного результата, рекомендует убрать все остатки еды;
        li
          | Неправильный выбор режима. В большинстве случаев именно неправильно выбранный режим является причиной, почему посудомоечная машина плохо моет посуду. Если на посуде присутствуют жировые остатки или установлена низкая температура, то добиться чистоты посуды не получиться. Экономный режим конечно хороший вариант, но не всегда способен справиться со всеми загрязнениями;
        li
          | Перегрузка или неправильное расположение посуды. При проектировании инженеры рассчитывают на определенное количество помещенных предметов и их расположение. Если не соблюдаются нормы по количеству и установке, то добиться чистоты будет трудно. Почитайте инструкцию по эксплуатации и соблюдайте рекомендации производителя;
        li
          | Неправильный выбор моющих средств. Кто-то может утверждать, что все средства одинаковы по составу и не играет роли, какое средство использовать. Но это неверно. Состав, как и качество очистки заметно отличаются. Если не устраивает чистота посуды, попробуйте поменять моющее средство. Сегодня в магазинах можно найти различные моющие средства. Это гели, ополаскиватели, таблетки и многое другое.
      p
        | Но иногда причина того, что посудомойка стала плохо мыть посуду может скрываться в другом. Это связано с проблемами в работе оборудования. Вот только некоторые варианты:
      ul.page-list.page-list-ul
        li
          | Образование накипи. При длительном использовании посудомоечной машины на поверхности стенок и на нагревательных устройствах образуется накипь. Причиной ее возникновения может быть жесткая вода в водопроводной системе. В некоторых случаях даже использование средств для смягчения воды не помогает избавиться от образования накипи. Иногда обнаружить образование налета на пластиковых деталях бывает затруднительно, но это не означает, что она не существует. Например, отложение солей на отверстиях разбрызгивателя снижает эффективность и посудомоечная машина плохо моет посуду. При работе напор воды уменьшается, и посуда плохо отмывается. Избавиться от солей довольно просто. Вам потребуется лимонная кислота. Освободите от посуды и вместо очистителя добавьте лимонную кислоту и включите машинку на максимальную температуру.
        li
          | Засоры. Если заметили, что посуда не отличается чистотой, то причиной может быть засорение системы. В машинке присутствуют фильтры грубой и тонкой очистки. Рекомендуем их проверить. Если на них образовалось скопление мусора или остатков пищи, очистите фильтры. Желательно проводить проверку после каждого использования, но если не получается, то можно ограничиться проверкой через каждые 2-3 раз использования машины.
      p
        | Если вы проверили все указанные варианты и не обнаружили причины, почему посудомоечная машина плохо моет посуду, то рекомендуем обратиться за специализированной помощью. Возможно вышел из строя узел или деталь, которые отвечают за качество мойки.
      h2.page-title-h2 Основные виды неисправностей и способы решения
      ul.page-list.page-list-ul
        | Вначале пройдемся по ранее высказанным причинам и расскажем о способах решения проблемы.
      ol
        li
          | Образование накипи. Независимо от используемых средств, через некоторое время будет образовываться накипь. Для ее устранения используйте лимонную кислоты. Засыпьте ее внутрь машины и запустите холостой режим, используя максимальную температуру;
        li
          | Возникновение засоров. Перед отправкой посуды в машинку обязательно удаляйте остатки пищи. Если забьются фильтры тонкой и грубой очистки, то добиться чистоты посуды невозможно. Возьмите за правило периодически проверять состояние фильтров;
        li
          | Проблемы с ТЭНом. Если нагревательный элемент вышел из строя, то вода не будет нагреваться и добиться полной очистки посуды не получится. Мы надеемся, что вы понимаете, что каким продвинутым не было бы устройство, отмыть жировые остатки холодной водой оно не в состоянии. ТЭН нельзя отремонтировать, его можно только заменить;
        li
          | Неполадки в работе циркулярного насоса. Если появилась проблема в работе насоса, то придется его заменить. Отремонтировать или решить проблему другим способом не получится;
        li
          | Неисправность датчика мутности воды. При обнаружении проблем потребуется его замена.
      p Теперь стоит более подробно остановиться на некоторых вариантах.
      h2.page-title-h2 Проблемы с циркулярным насосом
      p
        | Работа насоса заключается в накачивании воды. Если возникла проблема с работой насоса, то вода не будет поступать внутрь, что соответственно вызовет остановку процесса. Если при включении посудомоечной машины вода не набирается, то вероятней всего возникли неполадки в циркулярном насосе.
      h2.page-title-h2 Проблемы с разбрызгивателем
      p
        | При полноценной работе оборудования происходит вращение разбрызгивателя. Это позволяет обеспечить доступ воды ко всем участкам посуды и столовых принадлежностей. Если произошла поломка, то вращения не будет.
      p
        | Не будем отрицать, что установленный режим может пройти в нормальном режиме, но вот факт, что посудомоечная машина не отмывает посуду, вряд ли вас обрадует.
      h2.page-title-h2 Проблемы с ТЭНом
      p
        | Добиться качественной мойки посуды без использования горячей воды практически невозможно. Если после открытия посудомоечной машины вы увидели, что посуда не сверкает чистотой, рекомендуем обратить внимание на нагревательный элемент.
      p
        | Основной причиной неправильной работы ТЭНа или выход его из строя может быть накипь. После образования большого слоя на поверхности нагревательного элемента, он не может нагреть воду до необходимой температуры. Она в этом случае будет немного теплой. Если ТЭН перестал совсем греть воду, то потребуется его замена.
      h2.page-title-h2 Проблемы с датчиком мутности воды
      p
        | Необходимо учитывать, что датчики мутности устанавливаются только на современных и дорогих посудомоечных машинах. Если у вас старая модель, то вероятнее всего он в конструкции отсутствует.
      p
        | Предназначение датчика заключается в определение чистоты используемой воды. Если она отвечает требованиям, то машинка продолжает свою работу. Если произошла поломка устройства, то на управляющий модуль не поступает сигнал о чистоте воды. При отсутствии сигнала процесс не может быть завершен.
      h2.page-title-h2 Неполадки модуля управления
      p
        | Говоря другими словами модуль управления это мозг оборудования. На него приходят сигналы всех датчиков и продолжении или начале операции. Если произошла поломка модуля, то он перестанет получать и передавать необходимые команды. Соответственно вы можете столкнуться с ситуацией, когда посудомоечная машина не отмывает посуду. Потребуется замена или ремонт модуля.
      h2.page-title-h2 Памятка по правильной эксплуатации посудомоечной машины
      p
        | Большинство рекомендаций по использованию оборудования представлены в руководстве пользователя. Несмотря на тот факт, что существует много производителей и модели могут существенно отличаться, основные принципы эксплуатации одинаковы для всех посудомоечных машин.
      ul.page-list.page-list-ul
        li
          | Перед помещением посуды в посудомоечную машину удалите остатки пищи. Это поможет избежать засорения фильтров. Самая грязная посуда должна располагаться на нижнем ярусе. Именно снизу присутствует более мощная водяная струя. Глубокая посуда должна располагаться под наклоном. Кастрюли необходимо устанавливать вверх дном;
        li
          | Мелкие или хрупкие предметы располагают на верхнем ярусе. Если в комплекте присутствует специальное отделение или контейнер для столовых приборов, не забывайте го использовать. Помните простое правило – вся грязная поверхность должна быть направлена вниз;
        li
          | Не забывайте, хотя один раз в два или три месяца, пользоваться средством для удаления накипи. Это позволит избежать поломок и увеличит срок службы посудомоечной машины;
        li
          | Если вы хотите помыть пластиковую посуду обратите внимание на маркировку «Для горячих пищевых продуктов». Если она отсутствует, то посуда под воздействием горячей воды может испортиться.
      h2.page-title-h2 Какие предметы нельзя мыть в посудомоечной машине
      p
        | Существует определенная категория предметов, которые нельзя помещать в посудомоечную машину.
      ol.page-list.page-list-ol
        li Посуду с трещинами или склеенную;
        li
          | Изделия из дерева (разделочные доски ножи или столовые приборы с деревянными ручками и другие предметы с присутствием деревянных вставок);
        li Предметы из олова или меди. Предметы из стали, если существует риск коррозии;
        li Посуду из стекла или пластика. Если она не обладает термостойкостью;
        li Серебряные или алюминиевые изделия.
        li Изделия из хрусталя;
        li Фаянсовая посуда.
      p
        | Стоит уточнить, что последние три пункта списка при щадящем режиме и применении рекомендованных средств можно мыть, но необходимо проявлять осторожность.
      p
        | Суммируя представленную информацию можно сделать вывод, что основными причинами плохого качества вымытой посуды в посудомоечной машине являются следующие факторы:
      ul.page-list.page-list-ul
        li
          | Моющее средство. Каждый производитель рекомендует какое-то определенное моющее средство. Это не означает, что другие виды могут быть хуже или лучше рекомендованного варианта. Но стоит знать, что дешевые аналоги могут не справиться, и вымытая посуда не будет отличаться первозданной чистотой;
        li
          | Засоры. С течением времени внутри посудомоечной машины и шлангам накапливаются отложения, которые могут стать причиной плохого качества вымытой посуды. Это заметно при засорении разбрызгивателя. Направленный поток не обладает необходимой мощностью и не способен справится с удалением остатков пищи и жировых отложений;
        li
          | Проблемы с актуатором. Устройство служит для перенаправления давления воды на разные уровни посудомоечной машины. Основным проявлением неисправности может послужить тот факт, что качество вымытой посуды отличается от расположения. Но этот вариант может быть «плавающим». Иногда в зависимости от загрязнения или расположения предметов заметить разницу бывает сложно;
        li
          | Недостаточный уровень воды. Проблема может быть в датчике уровня воды или неправильном срабатывании клапанов залива. Для выполнения качественной мойки посуды требуется определенное количество воды. Если ее недостаточно, то на чистоту не рассчитывайте. Другая сторона, когда воды слишком много. Насос рассчитан на определенный объем жидкости и при увеличении количества не может создать требуемого давления, что скажется на качестве вымытой посуды;
        li
          | Нагрев воды. В зависимости от режима, вода нагревается до 45-70 градусов. Если присутствуют проблемы с нагревательным элементом, то отмыть жирную посуду не получится. Дополнительно может обнаружиться другой фактор. После окончания мойки, посуда может быть влажной;
      p
        | Иногда может возникнуть ситуация, когда на чистой посуде присутствуют небольшие крупинки пищи. Такая ситуация может случиться из-за нарушения целостности фильтра. Советуем проверить их состояние. Иногда причина заключается в неплотном прилегании.
      h2.page-title-h2 Профилактические мероприятия
      p
        | Каждый владелец посудомоечной машины понимает, что нет ничего вечного на земле, и когда-нибудь оборудование сломается. Но если своевременно проводить профилактику и выполнять некоторые действия, то срок службы техники можно увеличить.
      p Они просты и не требуют больших усилий или много времени.
      ol.page-list.page-list-ol
        li Регулярно проводите очистку фильтров;
        li Проводите обработку дверного уплотнителя;
        li
          | Проверяйте внутреннюю поверхность машины на присутствие жира, плесени или других отложений;
        li После окончания мойки протирайте внутренние поверхности сухой тряпкой;
        li Используйте средства для смягчения воды;
        li Периодически используйте средства от накипи;
        li
          | Для предотвращения неполадок в электрической схеме используйте подключение через стабилизатор напряжения.
    .page-text    
      h2.page-title-h2 Причины неисправности и стоимость их устранения
      .table-container_scroll
        table(border='1')
          tbody
            tr
              th
                p Неисправность
              th
                p Возможный ремонт
              th
                p Стоимость работы
            tr
              td
                p Неисправность ТЭНа
              td
                p Замена ТЭНа
              td
                p от 1400 р.
            tr
              td
                p Неисправность температурного датчика
              td
                p Замена температурного датчика
              td
                p от 1200 р.
            tr
              td
                p Засор циркуляционной системы
              td
                p Чистка циркуляционной системы
              td
                p от 800 р.
            tr
              td
                p Неисправность циркуляционного насоса
              td
                p Замена циркуляционного насоса
              td
                p от 1400 р.
            tr
              td
                p Неисправность датчика мутности
              td
                p Замена датчика мутности
              td
                p от 1400 р.
            tr
              td
                p Неисправность имеллера
              td
                p Замена/ремонт импеллера
              td
                p от 1000 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей посудомоечной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем посудомоечные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности посудомоечных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-posudomoechnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-greet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-greet' + '.webp' alt='Посудомоечная машина не греет воду')
            p Посудомоечная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-nabiraet' + '.webp' alt='Посудомоечная машина не набирает воду')
            p Посудомоечная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-slivaet' + '.webp' alt='Посудомоечная машина не сливает воду')
            p Посудомоечная машина не сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-vkluchaetsa' + '.webp' alt='Посудомоечная машина не включается')
            p Посудомоечная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-perelivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-perelivaet' + '.webp' alt='Посудомоечная машина переливает воду')
            p Посудомоечная машина переливает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ploho-moet-posudu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ploho-moet' + '.webp' alt='Посудомоечная машина плохо моет посуду')
            p Посудомоечная машина плохо моет посуду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-techet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-techet' + '.webp' alt='Посудомоечная машина течет')
            p Посудомоечная машина течет
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-gudit' + '.webp' alt='Посудомоечная машина гудит')
            p Посудомоечная машина гудит
        //- .page-articles-link-item
        //-   a(href=pathToPage + 'posudomoechnaya-mashina-pokazivaet-oshibku' + '.html') 
        //-     img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-vidaet-oshibku' + '.webp' alt='Посудомоечная машина показывает ошибку')
        //-     p Посудомоечная показывает ошибку
        
        