extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Посудомоечная машина переливает воду' 
  - var content = 'Если посудомоечная машина переливает воду, техника нередко выходит из строя. Такие ситуации обычно происходят со старыми приборами, выработавшими свой ресурс, или устройствами, чьи владельцы пренебрегали правилами эксплуатации.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности посудомоечных машин': domen + '/neispravnosti-posudomoechnyh-mashin/',
    "Посудомоечная машина переливает воду": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-001.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "dish-wash/" + "pm-perelivaet" + ".webp" alt= 'Посудомоечная машина переливает воду' itemprop="image")

      p
        | Если посудомоечная машина переливает воду, техника нередко выходит из строя. Такие ситуации обычно происходят со старыми приборами, выработавшими свой ресурс, или устройствами, чьи владельцы пренебрегали правилами эксплуатации. С некоторыми дефектами можно справится своими силами, для устранения других не получится обойтись без помощи профессионала. Но для выявления причин поломки владельцу машины придется выполнить несколько обязательных действий.
      h2.page-title-h2 Отключаем прибор
      p
        | Не заметить, что посудомоечная машина переливает воду, трудно. Прибор в таких случаях непрерывно набирает ее в бак, так что вода начинает вытекать наружу. Некоторые модели оповещают о поломке звуковым сигналом или миганием светодиодов на панели управления и отображением кода ошибки. Если произошел перелив воды в посудомоечной машине, необходимо немедленно предпринять следующее:
      ol.page-list.page-list-ol
        li Перекрыть подачу воды, закрыв вентиль на магистральной трубе.
        li Нажать на кнопку слива или использовать аварийный шланг, чтобы откачать воду.
        li Отключить машинку от электросети, чтобы не допустить короткого замыкания.
      p
        | Когда прибор обесточен, важно выяснить, какие причины привели к поломке. Для этого понадобится разобрать корпус и осмотреть внутренние узлы и детали. Если четкого понимания, как устроена посудомоечная машина, нет, лучше обратиться в сервисный центр.
      h2.page-title-h2 Ищем причину поломки
      p
        | Чтобы отремонтировать прибор, необходимо найти вышедшие из строя детали. При переливе воды в посудомоечной машине причины чаще всего заключаются в неисправности прессостата, запорного клапана или электронного модуля. Повреждения этих комплектующих чаще всего приводят к переливам. Об этом хорошо знают мастера, которые занимаются ремонтом посудомоечных машин.
      h3.page-title-h3 Сломан датчик уровня воды
      p
        | Датчик, контролирующий уровень воды в приборе, который называется прессостатом, сигнализирует о наборе нужного объема воды, после чего срабатывает заливной клапан, и жидкость перестает поступать в посудомоечную машину. Когда сигнал отсутствует или датчик поврежден, вода поступает в прибор через открытый заливной клапан без остановки.
      p
        | Чтобы проверить корректность работы прессостата, можно разобрать корпус машины и найти деталь. Для этого лучше воспользоваться инструкцией к прибору, в ней приводятся данные о ее местоположении. Затем необходимо проверить электронный блок датчика, измерив сопротивление при помощи мультиметра. А для диагностики механических повреждений достаточно подуть в трубку. Если датчик исправен, слышны характерные щелчки. Если они не появляются, это означает, что прессостат сломан и нуждается в замене.
      h3.page-title-h3 Поврежден запорный клапан
      p
        | Благодаря срабатыванию запорного клапана прибор прекращает забирать воду. Когда уровень жидкости в баке достигает определенного уровня, на плату поступает сигнал от реле давления. Затем импульс подается на клапан, подача воды останавливается. Когда посудомоечная машина переливает воду, причина поломки нередко заключается в неисправности электроники или механическом износе. Решить проблему повреждения запорного клапана для мастера не составляет труда, так как ему не требуется полностью разбирать прибор. Достаточно подобрать новую деталь, маркировка которой соответствует модели посудомоечной машины.
      h3.page-title-h3 Неполадки в работе электронного модуля
      p
        | О сбоях в электронном модуле обычно свидетельствует невозможность запустить некоторые режимы и программы. И хотя прибор не перестает работать, неполадки могут привести к переливу в посудомоечной машине.
      p
        | Чтобы исправить ситуацию, приходится обновлять программное обеспечение или полностью менять электронный блок. Самостоятельно провести диагностику и произвести ремонт в подобной ситуации почти невозможно. Технике требуется профессиональное обслуживание.
      h3.page-title-h3 Проверяем, правильно ли установлен и подключен прибор
      p
        | Если посудомойка переливает воду, при ее подключении могли быть нарушены правила подсоединения к коммуникациям. Чтобы устройство работало без сбоев, его важно правильно установить. Если владелец сомневается, что ему под силу сделать это самостоятельно, лучше обратиться к мастеру. Специалисты не только устанавливают и подключают, но и тестируют работу машин.
      h2.page-title-h2 Как не допустить перелива
      p
        | Дефекты, приводящие к переливу, нередко бывают следствием быстрого износа механизмов из-за несоблюдения правил эксплуатации. Чтобы не столкнуться с неприятной ситуацией, когда переливает посудомойка, и не тратить средства на ее ремонт, надо придерживаться следующих правил:
      ul.page-list.page-list-ul
        li Для подключения машинки не использовать тройников и переносок.
        li Применять для мытья посуды качественную бытовую химию.
        li Не перегружать прибор, не нарушать приведенных в инструкции ограничений.
        li После завершения цикла работы посудомоечной машины прочищать фильтры.
        li
          | Дверца после мытья посуды должна быть открытой до тех пор, пока полностью не просохнут уплотнители и камера.
        li
          | Если прибор не используется в течение длительного времени, его надо отключать от электросети.
      p
        | В редких случаях причиной перелива бывает заводской брак. Если посудомоечная машина находится на гарантийном обслуживании, разбирать самостоятельно ее корпус нельзя. Необходимо обратиться в сервисный центр для проведения диагностики.
    .page-text    
      h2.page-title-h2 Причины неисправности и стоимость их устранения
      .table-container_scroll
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Неисправность прессостата
              td
                p Замена прессостата
              td
                p от 1000 р.
            tr
              td
                p Неисправность наливного клапана
              td
                p Замена клапана
              td
                p от 600 р.
            tr
              td
                p Неисправность электронного модуля
              td
                p Ремонт модуль управления (платы)
              td
                p от 1500 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей посудомоечной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем посудомоечные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности посудомоечных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-posudomoechnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-greet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-greet' + '.webp' alt='Посудомоечная машина не греет воду')
            p Посудомоечная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-nabiraet' + '.webp' alt='Посудомоечная машина не набирает воду')
            p Посудомоечная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-slivaet' + '.webp' alt='Посудомоечная машина не сливает воду')
            p Посудомоечная машина не сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-vkluchaetsa' + '.webp' alt='Посудомоечная машина не включается')
            p Посудомоечная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-perelivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-perelivaet' + '.webp' alt='Посудомоечная машина переливает воду')
            p Посудомоечная машина переливает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ploho-moet-posudu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ploho-moet' + '.webp' alt='Посудомоечная машина плохо моет посуду')
            p Посудомоечная машина плохо моет посуду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-techet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-techet' + '.webp' alt='Посудомоечная машина течет')
            p Посудомоечная машина течет
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-gudit' + '.webp' alt='Посудомоечная машина гудит')
            p Посудомоечная машина гудит
        //- .page-articles-link-item
        //-   a(href=pathToPage + 'posudomoechnaya-mashina-pokazivaet-oshibku' + '.html') 
        //-     img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-vidaet-oshibku' + '.webp' alt='Посудомоечная машина показывает ошибку')
        //-     p Посудомоечная показывает ошибку
        
        