extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Посудомоечная машина не сливает воду' 
  - var content = 'После выполнения всех операций грязная вода с остатками пищи должна откачиваться в канализацию. Если вы попали в ситуацию, когда не уходит вода из посудомойки, первым делом необходимо проверить фильтр насоса'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности посудомоечных машин': domen + '/neispravnosti-posudomoechnyh-mashin/',
    "Посудомоечная машина не сливает воду": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-004.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "dish-wash/" + "pm-ne-slivaet" + ".webp" alt= 'Посудомоечная машина не сливает' itemprop="image")

      p
        | После всех выполненных операций внутри посудомоечной машины не должно оставаться воды. Если ее открыли, и обнаружили даже небольшое количество жидкости, то это может означать, что существуют некоторые проблемы в работе оборудования. Сразу сказать о причинах, 
        | почему не сливает посудомоечная машина
        |  воду довольно сложно. Иногда причина может быть в неправильной работе узлов и деталей, а в некоторых случаях такие проявления случаются из-за внешних проблем.
      h2.page-title-h2 Как поступить, если в машине осталась вода
      p
        | Стоит сразу сказать, что вода в посудомоечной машине после окончания мойки посуды не должна присутствовать. После выполнения всех операций грязная вода с остатками пищи должна откачиваться в канализацию.
      p
        | Если вы попали в ситуацию, когда 
        | не уходит вода из посудомойки
        | , первым делом необходимо проверить фильтр насоса.
      h2.page-title-h2 Фильтр насоса
      p
        | Перед помещением посуды в посудомоечную машину рекомендуется удалить все остатки пищи. Если этого не сделать, то крупные остатки пищи могут забить фильтр, и насос не сможет откачать всю воду. Иногда 
        | причиной, почему посудомоечная машина не сливает воду
        | , могут быть осколки посуды. Хотя производители предупреждают, что не рекомендуется помещать в машину треснутую или склеенную посуду, некоторые владельцы игнорируют советы. Под воздействием горячей воды предметы могут лопнуть и осколки способны забить фильтр.
      p
        | Для проверки фильтра необходимо получить к нему доступ. Если вы обнаружили сломанную посуду или чашку, проявляйте осторожность. Вы можете порезаться мелкими осколками. Фильтр находится в нижней части. Для получения доступа необходимо снять нижнюю стойку. Если на фильтре присутствуют отложения или он забит, очистите поверхность и включите холостой режим для проверки откачивания воды.
      p
        | Если фильтр чистый, то проблема, почему 
        | не уходит вода из посудомойки
        |  находится в другом месте. Приступаем к проверке сливного шланга.
      h2.page-title-h2 Сливной шланг
      p
        | Первым делом рекомендуем проверить целостность шланга. Возможно, он перегнулся или на него установили предмет, который препятствует вытеканию воды. При необходимости расправьте шланг, и удалите предмет. При проверке шланга рекомендуем обратить внимание на присутствие анти сифонной петли. Она предотвращает попадание грязной воды обратно в посудомоечную машину.
      p
        | При проверке шланга обратите внимание на наличие засора. Если внутренний диаметр не соответствует размеру, который подходит для прохождения нужного объема воды, насос может не успевать выкачать всю жидкость, и после открытия вы обнаружите, что 
        | в посудомойке стоит вода
        | .
      p
        | Если со шлангом все в порядке, то необходимо проверить поплавочный механизм. Иногда его может заклинить в нижнем положении и на управляющий модуль не поступает сигнал об уровне воды. Для проверки переместите его несколько раз вверх и вниз. Если движения осуществляются легко, то проблема остатков воды в другом узле.
      p
        | В редких случаях остатки воды могут скапливаться из-за неправильной установки оборудования. При наклоне машины вперед, вода не поступает к насосу, а может скапливаться в передней части. Для правильной установки машинки используйте регулируемые ножки. Практически все модели оборудованы двумя передними регулировочными ножками. Они позволяют придать оборудованию ровное положение, когда вся влага попадает к насосу.
      h2.page-title-h2 Какие неисправности можно устранить самостоятельно
      p
        | Конечно, не со всеми неисправностями можно справиться самостоятельно. Мы расскажем только о тех ситуациях, когда можно разрешить проблему, не прибегая к помощи специалистов.
      h2.page-title-h2 Сливной шланг
      p
        | Для очистки сливного шланга рекомендуется использовать уксусную эссенцию. Для очистки достаточно влить в шланг две столовые ложки эссенции. После этого запустите обычную программу. Если существует возможность выбора температуры, установите 65 градусов.
      h2.page-title-h2 Сливная магистраль
      p
        | Иногда требуется очистка сливной магистрали. Для ее очистки можно воспользоваться следующим способом. Растворите в ста миллилитрах воды полстакана соды. Полученный раствор вылейте в магистраль. Затем туда же отправьте полстакана уксуса и дайте пятнадцать минут для реакции. После этого налейте в сливную трубу горячую воду, которая смоет остатки соды.
      h2.page-title-h2 Первичный фильтр
      p
        | При включении режима мойки через первичный фильтр проходит весь мусор, который в дальнейшем дробится и направляется в разные отсеки. Но это не отменяет того факта, что он может быть уязвимым для загрязнения. Если 
        | вода не уходит из посудомоечной машины
        |  может потребоваться очистка фильтра. Для того, что уменьшить риск образования загрязнения советуем воспользоваться следующими рекомендациями:
      ol
        li Регулярно проводите очистку фильтра;
        li
          | При установке посуды не забывайте оставлять достаточное пространство между предметами;
        li
          | Не пытайтесь загрузить все посуду за один раз. Лучше помыть посуду за два раза, чем обнаружить после мойки грязную посуду и перемывать ее снова;
        li
          | Периодически запускайте посудомоечную машину без посуды при максимальной температуре. Такая небольшая процедура поможет удалить остатки пищи, которые могли застрять в укромных местах и щелях.
      h2.page-title-h2 Способы решения проблем
      h3.page-title-h3 Забитый сливной шланг
      p
        | Если обнаружили, что причиной присутствия остатков воды является плохая проходимость сливного шланга, можно воспользоваться следующей рекомендацией. Получите доступ к нижней внутренней части машины. Снимите нижнюю решетку и засыпьте туда соду. Затем налейте туда немного уксуса. Два ингредиента вступят в реакцию и начнут образовываться пузыри.
      p
        | Дайте время раствору «прокипеть», и постепенно вытягивайте шланг. Затем влейте немного горячей воды, которая позволит промыть сливной шланг от остатков грязи. Верните фильтр на место.
      h3.page-title-h3 Очистка сливной системы посудомоечной машины
      p
        | Если вы обнаружили остатки воды в посудомоечной машине стоит проверить на засор сливную систему. Остатки пищи, бумажные салфетки и другой мусор могут стать причиной, 
        | почему не сливает посудомоечная машина
        | .
      p
        | Начните с проверки фильтра и постепенно переходите к следующему узлу, который отвечает за слив воды. Постепенно проверяя каждый элемент посудомоечной машины, вы найдете то место, которое не позволяет полностью удалить воду.
      h3.page-title-h3 Засор в сливном насосе
      p
        | Иногда мелкие частицы и жир могут достигать сливного насоса. При постоянном использовании посудомоечной машины внутри сливного насоса начинают скапливаться отложения, что может привести к образованию засора. Спустя некоторое время насос не в состоянии удалить всю воду, которая находится в посудомоечной машине. Иногда чрезмерное присутствие мусора в сливном насосе может стать причиной выхода его из строя.
      p
        | Для проверки состояния сливного насоса и понимания 
        | что делать, если посудомоечная машина не сливает воду
        | , придется немного разобрать посудомоечную машину. Первым делом необходимо удалить всю воду, которая осталась внутри машины. Сняв верхнюю сетку можно воспользоваться небольшой емкостью для удаления воды. Затем можно воспользоваться тканью или полотенцем для полного удаления влаги.
      p
        | Вытащите сливной фильтр и положите посудомоечную машину на бок. Внизу можно обнаружить поддон, к которому подключен Аквастоп. Отключите датчик, и снимите насос. Не забудьте отсоединить все патрубки.
      p
        | После отключения необходимо проверить легкость вращения. Для этого попробуйте провернуть крыльчатку насоса. Если она крутится легко, то возможно она в рабочем состоянии. Если прокрутить не получится или крыльчатка двигается с другом, то необходимо заменить помпу.
      p
        | После проверки механической части рекомендуем проверить насос по электрической части. Для этого потребуется мультиметр. Выставьте прибор в режим проверки сопротивления. Если электрическая схема насоса в порядке, то показатели сопротивления будет находиться в районе 200 Ом. Если присутствует значительное отклонение, то, скорее всего, устройство неисправно и потребуется его замена.
      p
        | Рекомендуем не забыть проверить проходимость напряжения от блока управления до насоса.
      h3.page-title-h3 Неисправность уровня датчика воды
      p
        | Иногда причиной, по которой 
        | не сливается вода в посудомойке,
        |  могут быть неполадки в работе прессостата (датчик уровня воды). При неполадках устройства, он может подавать неверные сигналы на управляющий модуль. Даже при наличии воды, он может игнорировать это и не подавать сигнал на ее откачку.
      p
        | Самостоятельно исправить ситуацию в домашних условиях вряд ли получится. Для разрешения проблемы рекомендуем обратиться в сервисный центр или оформить заявку на вызов мастера по ремонту посудомоечных машин. Стоит учитывать, что датчик не подлежит ремонту и если причина остатков воды в посудомоечной машине связаны с неправильной работой датчика, то придется его заменить.
      h3.page-title-h3 Проблемы программного модуля
      p
        | Самостоятельно разобраться в неисправностях программного модуля у простого владельца посудомоечной машины не получится. Для понимания ситуации и способах разрешения проблемы необходимы специальные знания.
      p
        | Стоит сразу отметить, что причин неправильной работы программного модуля существует много. Самые простые это окисление контактов, обрыв цепи, вздутие конденсаторов, перегорание деталей и многое другое. Если у вас нет достаточного опыта и необходимого инструмента определить проблемный участок практически невозможно.
      p
        | Но иногда для получения дополнительной информации можно использовать возможности посудомоечной машины. Если выполняемая операция не может запустится, то на дисплее может отображаться код ошибки. Стоит учитывать, что каждый производитель имеет свою классификацию ошибок и условное их обозначение. Многие коды распространенных ошибок можно найти в инструкции по эксплуатации.
      p
        | Если на дисплее машинки отображается какое-то обозначение, возьмите инструкцию и найдите раздел с ошибками. Возможно, полученная информация о причинах проблемы поможет справиться самостоятельно с возникшей ситуацией и вернуть рабочее состояние посудомоечной машине.
      h2.page-title-h2 Заключение
      p
        | Мы не будем говорить, что описали все возможные причины, почему после выполнения всех операций внутри посудомоечной машины осталась вода. Мы привели только наиболее вероятные причины и рассмотрели некоторые поломки, которые могли спровоцировать присутствие воды. Если вы воспользовались нашими советами, но проблема не исчезла, то рекомендуем обратиться в сервисный центр. Опытные работники проведут диагностику, выяснят причину и проведут ремонт. Стоит учитывать для выявления причины неисправности может потребоваться использование специального оборудования.
    .page-text    
      h2.page-title-h2 Причины неисправности и стоимость их устранения
      .table-container_scroll
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Засор сливной системы
              td
                p Чистка сливной системы
              td
                p от 800 р.
            tr
              td
                p Неисправность сливного насоса
              td
                p Замена сливного насоса
              td
                p от 1200 р.
            tr
              td
                p Неисправность прессостата
              td
                p Замена прессостата
              td
                p от 1000 р.
            tr
              td
                p Неисправность электронного модуля
              td
                p Ремонт модуль управления (платы)
              td
                p от 1500 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей посудомоечной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем посудомоечные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности посудомоечных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-posudomoechnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-greet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-greet' + '.webp' alt='Посудомоечная машина не греет воду')
            p Посудомоечная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-nabiraet' + '.webp' alt='Посудомоечная машина не набирает воду')
            p Посудомоечная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-slivaet' + '.webp' alt='Посудомоечная машина не сливает воду')
            p Посудомоечная машина не сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-vkluchaetsa' + '.webp' alt='Посудомоечная машина не включается')
            p Посудомоечная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-perelivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-perelivaet' + '.webp' alt='Посудомоечная машина переливает воду')
            p Посудомоечная машина переливает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ploho-moet-posudu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ploho-moet' + '.webp' alt='Посудомоечная машина плохо моет посуду')
            p Посудомоечная машина плохо моет посуду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-techet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-techet' + '.webp' alt='Посудомоечная машина течет')
            p Посудомоечная машина течет
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-gudit' + '.webp' alt='Посудомоечная машина гудит')
            p Посудомоечная машина гудит
        //- .page-articles-link-item
        //-   a(href=pathToPage + 'posudomoechnaya-mashina-pokazivaet-oshibku' + '.html') 
        //-     img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-vidaet-oshibku' + '.webp' alt='Посудомоечная машина показывает ошибку')
        //-     p Посудомоечная показывает ошибку
        
        