extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Посудомоечная машина течет' 
  - var content = 'Мастера отмечают, что самыми распространенными объяснениями, почему течет посудомоечная машина, являются образование трещин и ослабление уплотнителя. Обычно с подобными поломками владельцы сталкиваются через несколько лет после начала эксплуатации устройства.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности посудомоечных машин': domen + '/neispravnosti-posudomoechnyh-mashin/',
    "Посудомоечная машина течет": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-004.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "dish-wash/" + "pm-techet" + ".webp" alt= 'Посудомоечная машина течет' itemprop="image")

      p
        | Если течет посудомоечная машина, пол под ней постоянно остается сырым. Из-за влаги появляется плесень и грибок, портятся напольные покрытия, ощущается неприятный запах. А если вода просачивается между этажами, есть риск затопить соседей. Чтобы этого не допустить, при первых признаках течи необходимо найти место протечки и установить ее причину.
      h2.page-title-h2 Всегда ли протечки означают поломку?
      p
        | Иногда под посудомоечной машинкой скапливаются мелкие капли влаги. Это не является серьезным дефектом. Когда из прибора выходит пар, он может конденсироваться, в результате чего образуются маленькие капли воды. Небольшая протечка не всегда означает, что под машинкой возникнет большая лужа. Иногда на полу в процессе мытья посуды накапливается влага. Не исключено появление конденсата от пара, который накапливается на дверце, а после того, как ее открывают, оказывается на полу в виде водяных капель.
      p
        | Если же владелец замечает, что постоянно подтекает посудомоечная машина, в ее нижней части все время появляется конденсат, необходимо поступать следующим образом: когда техника завершит цикл работы, следует подождать какое-то время, прежде чем растворять дверцу. Затем дать испариться конденсату, протереть влажные участки сухой тканью.
      p
        | Если же течь воды из посудомоечной машины настолько сильная, что под устройством появляется лужа, владельцу необходимо позаботиться о ремонте. Ситуация свидетельствует о поломке.
      h2.page-title-h2 Течь из-под посудомоечной машины
      p
        | Когда вода течет снизу прибора, с большой долей вероятности можно предположить повреждение шланга. Мастера отмечают, что самыми распространенными объяснениями, почему течет посудомоечная машина, являются образование трещин и ослабление уплотнителя. Обычно с подобными поломками владельцы сталкиваются через несколько лет после начала эксплуатации устройства. Починить его легко. Ремонт заключается в замене старого шланга и пары зажимов, которые обеспечат надежное, прочное соединение.
      p
        | Когда течет посудомоечная машина снизу настолько сильно, что на полу образуется лужа, можно заподозрить поломку заливного клапана. Он регулирует объем воды, который поступает в бак. При заклинивании клапан постоянно остается открытым, что приводит к серьезным протечкам.
      h2.page-title-h2 Возможные виды поломок
      p
        | Когда течет из-под посудомоечной машины, владельцу стоит задуматься о том, какую бытовую химию он использует. При применении некачественных моющих средств может образовываться слишком большой объем пены, проникающей через любые уплотнители.
      p
        | Модели, выпускаемые под некоторыми брендами, плохо работают, если направление водяных струй оказывается неправильным. Они разбрызгиваются в нижней части корпуса и вблизи дверцы. Внутри скапливается избыточное количество влаги. Это касается таких марок, как Candy, Siemens, Indesit, Bosch.
      p
        | В приборах следует проверять уплотнители на дверцах и очищать их от жирного налета, остатков пищи и моющих средств, загрязнений. Если уплотнители сильно изношен, его лучше сменить на новый.
      p
        | Другие разновидности поломок, из-за которых подтекает посудомоечная машина, – некачественный уплотнитель в насосе и дефекты заливного и сливного шлангов. Чтобы выявить причину, приходится демонтировать нижнюю панель. Машинка при этом должна быть включена. Это позволяет обнаружить участок, на котором образовалась течь. Достаточно внимательно осмотреть нижнюю часть прибора, избегая контактов с проводами. Они могут быть опасны, так как водопроводная вода с примесями проводит ток.
      p
        | Иногда течь в посудомойке возникает из-за неплотно закрывающейся, деформированной или поврежденной защелке на дверце или растрескавшегося уплотнителя.
      p Среди менее распространенных причин образования протечек мастера называют:
      ul.page-list.page-list-ul
        li
          | Неверную установку прибора. Он может быть перекошен, располагаться неровно относительно горизонтального уровня.
        li Загрязненный патрубок.
        li
          | Скопление грязи или жира на уплотнительных манжетах. Их надо регулярно проверять и мыть, а при наличии повреждений – менять на новые.
        li
          | Обрыв или неплотное подсоединение резинового патрубка. Эта проблема характерна для недорогих посудомоечных машин, в которых из-за экономии на материалах страдает качество деталей и узлов.
        li
          | Воздушный зазор, возникающий в сливном клапане. Деталь перекрывает ток воды в канализацию. Но отработанная жидкость при засорах шланга грязью, жиром течет в вентиляции. Когда подтекает посудомоечная машина снизу, на этапе слива, стоит проверить состояние шланга и клапана.
        li Повреждения бака.
        li
          | Выход из строя разбрызгивателя. При неисправности этой детали вода хаотично распределяется по всем частям посудомойки, накапливается внизу и вытекает из корпуса.
      h2.page-title-h2 Как отремонтировать машину своими руками?
      p
        | Если посудомоечная машина течет, можно вооружиться инструкцией к прибору, уточнить местоположение отдельных деталей и постараться устранить неполадки собственными силами.
      h3.page-title-h3 Течь из-под дверцы
      p
        | Справиться с данной проблемой проще всего. Когда посудомойка подтекает из-за неплотного прилегания дверцы, достаточно сменить уплотнительную резинку. Приобрести ее можно в магазинах с комплектующими для бытовой техники. Главное – правильно подобрать резинку для конкретной марки.
      p Чтобы поменять деталь, необходимо:
      ol.page-list.page-list-ol
        li Открыть дверцу. По ее периметру открутить болты.
        li Закрыв дверцу, демонтировать переднюю панель.
        li Снова отворить дверь, извлечь из корпуса корзину, в которой размещается посуда.
        li С помощью пинцета снять уплотнитель.
        li
          | Закрепить новую резинку таким образом, чтобы совпадали края уплотнителя и емкости с водой.
        li Установить на прежнее место переднюю панель.
      h3.page-title-h3 Очистка фильтров, патрубка и шланга
      p
        | Фильтры нуждаются в регулярном очищении. Если посудомоечная машина течет, причины могут быть связаны с их засорением остатками пищи и жирным налетом. Фильтр располагается в нижней части резервуара с водой. Чтобы избавить его от загрязнений, надо достать сеточку, открутить стаканчик. Деталь вымыть под проточной водой и установить снова. Шланги и патрубки очищают аналогичным образом. Если на извлеченных из машинки деталях обнаруживаются повреждения, их заменяют.
      h3.page-title-h3 Замена заливного клапана
      p
        | На клапане со временем может появиться ржавчина. В таком случае вместо испорченного устройства устанавливают новое. Для этого отсоединяют от клапана датчики и патрубки. Затем ставят исправную деталь, вновь подключают ее к датчикам и патрубкам.
      h3.page-title-h3 Ремонт разбрызгивателя
      p
        | Поломка разбрызгивателя обычно вызывается давлением воды. Он расслаивается, перестает выполнять свои функции. В результате вода попадает на поддон, и протекает посудомойка. Чтобы устранить проблему, надо приобрести новый разбрызгиватель и установить его вместо вышедшего из строя. В различных моделях посудомоечных машин эта деталь может иметь разное местоположение. В большинстве приборов ее можно найти под корзиной. Для крепления разбрызгивателя используются специальные защелки. Чтобы его поменять, достаточно открутить деталь отверткой.
      h3.page-title-h3 Поврежденный бак
      p
        | В машинках, которые эксплуатируются в течение долгого времени, может лопнуть бак. Отремонтировать прибор при такой поломке может только специалист. Такой ремонт стоит достаточно дорого, так что владельцы посудомоечных машин зачастую предпочитают приобретать новую технику.
      h3.page-title-h3 Полезные советы
      ul.page-list.page-list-ul
        li
          | Покупать посудомоечную машину лучше у надежных, проверенных продавцов. Слишком низкая цена должна заставить задуматься, насколько качественным является товар и сколько времени он сможет прослужить.
        li Средства для мытья посуды также могут повлиять на срок эксплуатации прибора.
        li
          | Техника нуждается в постоянном уходе. Ее необходимо мыть, удаляя остатки еды и моющих средств.
        li
          | Время от времени рекомендуется осматривать машину на предмет образования сколов, трещин, ржавчины.
      p
        | Причин, из-за которых течет посудомойка, немало. Большинство из них можно выявить собственными силами, демонтировав нижнюю панель. Если справиться с проблемой не удается, стоит вызвать мастера.
    .page-text    
      h2.page-title-h2 Причины неисправности и стоимость их устранения
      .table-container_scroll
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Износ патрубков
              td
                p Замена патрубков
              td
                p от 800 р.
            tr
              td
                p Износ уплотнителя двери
              td
                p Замена уплотнителя дверцы
              td
                p от 800 р.
            tr
              td
                p Поломка бачка
              td
                p Замена бачка
              td
                p от 1000 р.
            tr
              td
                p Неисправность сливного насоса
              td
                p Замена сливного насоса
              td
                p от 1200 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей посудомоечной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем посудомоечные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности посудомоечных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-posudomoechnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-greet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-greet' + '.webp' alt='Посудомоечная машина не греет воду')
            p Посудомоечная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-nabiraet' + '.webp' alt='Посудомоечная машина не набирает воду')
            p Посудомоечная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-slivaet' + '.webp' alt='Посудомоечная машина не сливает воду')
            p Посудомоечная машина не сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-vkluchaetsa' + '.webp' alt='Посудомоечная машина не включается')
            p Посудомоечная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-perelivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-perelivaet' + '.webp' alt='Посудомоечная машина переливает воду')
            p Посудомоечная машина переливает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ploho-moet-posudu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ploho-moet' + '.webp' alt='Посудомоечная машина плохо моет посуду')
            p Посудомоечная машина плохо моет посуду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-techet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-techet' + '.webp' alt='Посудомоечная машина течет')
            p Посудомоечная машина течет
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-gudit' + '.webp' alt='Посудомоечная машина гудит')
            p Посудомоечная машина гудит
        //- .page-articles-link-item
        //-   a(href=pathToPage + 'posudomoechnaya-mashina-pokazivaet-oshibku' + '.html') 
        //-     img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-vidaet-oshibku' + '.webp' alt='Посудомоечная машина показывает ошибку')
        //-     p Посудомоечная показывает ошибку
        
        