extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Посудомоечная машина не набирает воду' 
  - var content = 'Первым делом необходимо проверить наличие воды в водопроводной системе. Для этого откройте любой кран на кухне или в ванной комнате и убедитесь, что вода присутствует в водопроводе.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности посудомоечных машин': domen + '/neispravnosti-posudomoechnyh-mashin/',
    "Посудомоечная машина не набирает воду": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
   +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-003.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "dish-wash/" + "pm-ne-nabiraet" + ".webp" alt= 'Посудомоечная машина не набирает воду' itemprop="image")

      p
        | Для работы посудомоечной машины обязательно требуется вода. В большинстве случаев поступление воды можно услышать. Но иногда вода перестает поступать в машину. При этом машина может гудение или не издавать никаких звуков. Если вы попали в подобную ситуацию, когда 
        | посудомоечная машина не набирает воду
        | , то не стоит паниковать. Не будем отрицать, что в машинке может быть неполадка и придется вызывать мастера, но перед этим рекомендуем попытаться решить проблему собственными силами.
      h2.page-title-h2 Основные причины отсутствия воды в посудомоечной машине
      p
        | Сегодня мы поговорим о наиболее распространенных причинах, почему 
        | посудомойка не набирает воду
        |  и расскажем как самостоятельно исправить ситуацию.
      h2.page-title-h2 Проблемы с водоснабжением
      p
        | Первым делом необходимо проверить наличие воды в водопроводной системе. Для этого откройте любой кран на кухне или в ванной комнате и убедитесь, что вода присутствует в водопроводе.
      p
        | Если с водой все в порядке, следующим шагом проверьте кран, через который подключена посудомоечная машина к водопроводу. Возможно кто-то или вы сами, когда-то его перекрыли и забыли открыть. Попробуйте перевести кран в другое положение, и проверьте поступление воды в машину. Рекомендуем несколько раз открыть и закрыть кран. При этой операции обратите внимание на легкость движения. Если кран открывается или закрывается тяжело, то возможно потребуется его замена.
      p
        | Если проблема в кране, то потребуется перекрыть поступление воды к крану. После этого снимите старый кран и на его место установите новый вентиль. После сборки, включите воду и проверьте соединение на отсутствие протечки.
      p
        | Если с краном все в порядке, то проблема может быть в шланге. Внимательно проверьте его состояние. Возможно, он перегнулся или чем-то придавлен. Если это так, расправьте его и удалите мешающиеся предметы. Иногда повреждения могут быть значительными, и может потребоваться установка нового шланга.
      h2.page-title-h2 Неполадки в системе Аквастоп
      p
        | В большинстве посудомоечных машин установлена система Аквастоп. Она помогает предотвратить протечки. Если устройство вышло из строя или произошло срабатывание, то произойдет автоматическая блокировка подачи воды.
      p
        | Если проблема в устройстве, то придется его заменить. Стоит учитывать, что отремонтировать его не получится и потребуется покупка нового устройства. Для замены необходимо выполнить следующие действия:
      ol.page-list.page-list-ol
        li Отключите подачу воды (перекройте кран);
        li Снимите шланг Автостоп. Если к устройству подключены провода, отключите их;
        li Убедитесь, что он неисправен (клапан перекрывает проход);
        li Установите новый Аквастоп;
        li Подключите провода.
      h2.page-title-h2 Проблемы с фильтром
      p
        | Иногда причиной отсутствия воды может быть впускной фильтр. Из-за жесткой воды или других примесей в водопроводной воде сеточка фильтра может забиться и сложится ситуация, когда 
        | посудомойка гудит и не набирает воду
        | . Для проверки выполните следующее:
      ol.page-list.page-list-ol
        li Перекройте поступление воды;
        li Отсоедините шланг от машинки;
        li
          | Извлеките фильтр-сетку и при необходимости удалите засор и промойте сетку под проточной водой;
        li Установите фильтр на место, и подключите шланг.
      p
        | Если на сетке присутствуют отложения, рекомендуем поместить фильтр в раствор лимонной кислоты. После промывки можно установить фильтр на место.
      h2.page-title-h2 Неполадки в работе впускного клапана
      p
        | Этот узел можно считать одним из важных элементов, отвечающих за поступление воды в посудомоечную машину. При поступлении сигнала с управляющей платы происходит его открытие и в машинку набирается вода. При достижении необходимого объема поступает сигнал на его закрытие.
      p
        | Причиной неполадки впускного клапана могут частые перепады давления в водопроводной сети или скачки напряжения. Самостоятельно определить поломку клапана бывает затруднительно. Но если вы уверены, что проблема именно в нем, то для замены выполните следующие действия:
      ol.page-list.page-list-ol
        li Перекройте поступление воды и отключите машинку от электропитания;
        li Получите доступ к клапану и отключите провода;
        li Снимите старый клапан и установите новый;
        li Проверьте работоспособность оборудования.
      h2.page-title-h2 Проблемы с дверцей
      p
        | Если 
        | посудомоечная машина не набирает воду, причина
        |  может быть в незакрытой дверце. Если не сработал механизм блокировки дверцы, то управляющий модуль не подаст сигнал на набор воды. Довольно часто владельцы забывают плотно закрыть дверцу. Перед разбором дверцы и устранением проблемы проверьте на засор или присутствие мусора в механизме. Возможно, не придется разбирать дверцу.
      p Если проблема не устранилась, то для замены выполните следующее:
      ol.page-list.page-list-ol
        li Отключите оборудование от электричества;
        li Снимите переднюю панель дверцы и отключите провода;
        li Открутите винты, которые удерживают замок;
        li Установите новый замок и подключите провода;
        li Проверьте работу дверцы.
      p
        | Несмотря на то, что замена замка кажется простой операцией, если вы не обладаете достаточным опытом, лучше доверьте работу специалистам.
      h2.page-title-h2 Неполадки в работе датчика воды
      p
        | Иногда можно встретить другое название датчика воды. Многие предпочитают использовать название прессостат. Устройство отвечает за необходимый объем воды в машинке. Если объема недостаточно, то подается сигнал на управляющую плату и происходит дополнительное поступление жидкости.
      p
        | Устройство не подлежит ремонту и если проблема в нем, потребуется замена. Для выполнения замены необходимо выполнить следующие действия:
      ol.page-list.page-list-ol
        li Отключите машинку от электрической сети;
        li Снимите поддон и отключите поплавок;
        li
          | В нижней части можно обнаружить пластиковый короб с трубкой. Необходимо отсоединить ее. В коробе присутствует резервуар давления, который также требуется снять;
        li Установите новый датчик;
        li Верните все снятые элементы на место и проверьте работу машинки.
      h2.page-title-h2 Проблемы с управляющей платой
      p
        | Самым главным узлом посудомоечной машины является управляющая плата. Именно она подает сигнал на различные узлы на включение или отключение. Это может быть подача воды, слив и включение ТЭНа или другие сигналы.
      p
        | В некоторых случаях из неполадок в управляющей плате может сложиться ситуация, когда 
        | не поступает вода в посудомойку
        | . Это может быть как программная, так и механическая неисправность. Для поиска источника проблемы и самостоятельного устранения необходимы определенные знания и навыки. Выяснить причину и устранить ее может только специалист. Но, если вы уверены, что проблема именно в управляющей плате, то произвести замену можно самостоятельно.
      ol.page-list.page-list-ol
        li Отключите маннику от электросети;
        li
          | В зависимости от модели и производителя блок управления может располагаться в разных местах. Изучите инструкцию (там должно быть указано место расположения);
        li Снимите наружную панель;
        li
          | Воспользуйтесь фотоаппаратом и сфотографируйте расположение проводов. Это поможет правильно вернуть их на место после подключения нового блока управления;
        li Произведите замену блока управления и подключите обратно все провода;
        li Установите обратно наружную панель и проверьте исправность оборудования.
      p
        | Несмотря на простоту действий, рекомендуем доверить замену элемента мастеру. Неправильное подсоединение может стать причиной выхода из строя узлов и элементов посудомоечной машины.
      h2.page-title-h2 Зависимость причин поломки от производителя
      p
        | Все посудомоечные машины, вне зависимости от модели и производителя, работают по одному принципу. В конструкции могут быть отдельные узлы или детали для улучшения процесса мойки. На многих современных посудомоечных машинах присутствует дисплей, на котором отображается код ошибки.
      p
        | Если причиной отказа машинки является отсутствие воды, то может высвечивается собственный код ошибки:
      ul.page-list.page-list-ul
        li Bosch – E3/E8;
        li Beko – 0000;
        li Electrolux – i10, iA0;
        li Indesit – Al02;
        li Hansa, Samsung – E1;
        li LG – IE.
      p
        | Но даже в случае отображения указанных кодов стоит учитывать, что отображает проблему с поступлением воды. Причин, по которым может отсутствовать вода, может быть несколько. Для проверки потребуется провести диагностику оборудования.
      h2.page-title-h2 Профилактические мероприятия
      p
        | Если вы уже сталкивались с проблемами, то понимаете, что лучше предупредить их возникновение, чем вызывать мастера или пытаться самостоятельно разобраться в причинах возникновения неполадки.
      p Для успешной работы оборудования воспользуйтесь следующими советами:
      ol.page-list.page-list-ol
        li После установки машины проверьте на наличие перегибов или передавливания шланга;
        li
          | Систематически проверяйте фильтр на наличие засоров. Рекомендуем снимать шланг и прочищать фильтр-сетку;
        li
          | Подключите посудомоечную машину через стабилизатор напряжения. Перепады электропитания могут спровоцировать перегорание управляющей платы;
        li
          | Аккуратно закрывайте дверцу посудомоечной машины. Резкие или сильные движения могут сломать систему блокировки или замок;
        li
          | Если потребовалась замена Аквастопа, не используйте подделку или аналоги. Как правило, они выходят из строя намного чаще оригинала и могут работать нестабильно.
      h2.page-title-h2 Заключение
      p
        | Если в 
        | посудомоечную машину не поступает вода
        | , не торопитесь с вызовом мастера. Как доказывает практика, большую часть проблем с отсутствием воды можно решить своими силами. В особенности, если причина кроется в засоре сетки-фильтра, или вы неплотно закрыли дверцу.
      p
        | Но вместе с тем необходимо понимать, что посудомоечная машина это сложное устройство. Для диагностики и выявления причины, 
        | почему посудомоечная машина не набирает воду
        |  может потребоваться специальное оборудование. Если вы не обладаете достаточным опытом и знанием конструктивных особенностей, лучше оформите заявку на вызов мастера по ремонту посудомоечных машин.
    .page-text    
      h2.page-title-h2 Причины неисправности и стоимость их устранения
      .table-container_scroll
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Неправильная установка
              td
                p Установка посудомоечной машины
              td
                p от 800 р.
            tr
              td
                p Неисправность аквастопа
              td
                p Замена аквастопа
              td
                p от 1000 р.
            tr
              td
                p Засор наливной системы
              td
                p Чистка наливной системы
              td
                p от 800 р.
            tr
              td
                p Неисправность впускного клапана
              td
                p Замена клапана
              td
                p от 600 р.
            tr
              td
                p Неисправность замка дверцы
              td
                p Ремонт/замена замка дверцы
              td
                p от 800 р.
            tr
              td
                p Неисправность прессостата
              td
                p Замена прессостата
              td
                p от 1000 р.
            tr
              td
                p Неисправность модуля управления
              td
                p Ремонт модуль управления (платы)
              td
                p от 1500 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей посудомоечной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем посудомоечные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности посудомоечных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-posudomoechnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-greet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-greet' + '.webp' alt='Посудомоечная машина не греет воду')
            p Посудомоечная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-nabiraet' + '.webp' alt='Посудомоечная машина не набирает воду')
            p Посудомоечная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-slivaet' + '.webp' alt='Посудомоечная машина не сливает воду')
            p Посудомоечная машина не сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-vkluchaetsa' + '.webp' alt='Посудомоечная машина не включается')
            p Посудомоечная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-perelivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-perelivaet' + '.webp' alt='Посудомоечная машина переливает воду')
            p Посудомоечная машина переливает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ploho-moet-posudu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ploho-moet' + '.webp' alt='Посудомоечная машина плохо моет посуду')
            p Посудомоечная машина плохо моет посуду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-techet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-techet' + '.webp' alt='Посудомоечная машина течет')
            p Посудомоечная машина течет
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-gudit' + '.webp' alt='Посудомоечная машина гудит')
            p Посудомоечная машина гудит
        //- .page-articles-link-item
        //-   a(href=pathToPage + 'posudomoechnaya-mashina-pokazivaet-oshibku' + '.html') 
        //-     img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-vidaet-oshibku' + '.webp' alt='Посудомоечная машина показывает ошибку')
        //-     p Посудомоечная показывает ошибку
        
        