extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Посудомоечная машина гудит' 
  - var content = 'Любая посудомоечная машина, даже дорогостоящая, с течением времени вырабатывает свой ресурс. Детали подвергаются деформациям и получают повреждения. В результате владелец замечает, что посудомоечная машина гудит при работе'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности посудомоечных машин': domen + '/neispravnosti-posudomoechnyh-mashin/',
    "Посудомоечная машина гудит": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-001.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "dish-wash/" + "pm-gudit" + ".webp" alt= 'Посудомоечная машина гудит' itemprop="image")
      p
        | Любая посудомоечная машина, даже дорогостоящая, с течением времени вырабатывает свой ресурс. Детали подвергаются деформациям и получают повреждения. В результате владелец замечает, что посудомоечная машина гудит при работе. Чтобы исправить ситуацию и не тратит средства на обслуживание в сервисном центре, можно провести диагностику и разобраться в возможных причинах неполадок самостоятельно.
      h2.page-title-h2 Если посудомоечная машина издает шум
      p
        | Звуки, которые издает машинка в процессе работы, - нормальное явление. Они возникают в результате трения соприкасающихся друг с другом механизмов и их частей. Но если гудит посудомоечная машина слишком сильно, стоит проверить ее на исправность. Для этого придется разбирать прибор. Демонтаж проводят в несколько этапов:
      ol.page-list.page-list-ol
        li Прежде всего отключают бытовую технику от электросети.
        li
          | Освобождают полки от посуды, извлекают их из машины. Это дает доступ к нижней части корпуса.
        li
          | Затем снимают распылительный рычаг. Для этого откручивают удерживающий его винт. Вращение должно быть по ходу часовой стрелки.
        li
          | Осматривают низ корпуса, чтобы удостовериться, что в ней нет дефектов, которые способны привести к появлению нехарактерного шума.
        li Если неполадки не обнаружены, демонтируют далее нижнюю часть до днища корпуса.
      h3.page-title-h3 Демонтируем экран
      p
        | Следующая комплектующая, которую извлекают и проверяют, если начала гудеть посудомоечная машина, – экран. Он находится ниже распылителя. При осмотре детали необходимо убедиться в том, что на ней нет сколов и обломков. Именно из-за них машина нередко издает громкий шум. Если обломки отсутствуют, надо продолжить разбирать прибор.
      h3.page-title-h3 Очищаем корпус насоса
      p
        | Следующая деталь, которая может послужить причиной гудения посудомоечной машины, - корпус насоса. Надо снять с него пластиковую крышку, покрывающую лопасть устройства. Оно предназначено для устранения остатков пищи и может задерживать крупные куски мусора или продуктов, а также осколки посуды.
      p
        | Для крепления корпуса насоса используется пара винтов. Открутив их, необходимо удостовериться в отсутствии кусочков битой посуды или еды. Если они попали внутрь устройства, важно тщательно вычистить его, после чего можно вновь собрать все детали. Если же мусора нет, можно переходить к следующему этапу диагностики.
      h3.page-title-h3 Проверяем верхнее рабочее колесо
      p
        | На последнем этапе проверяют верхнее рабочее колесо, удерживаемое на месте болтом, либо винтом. Когда внутри машины оказываются куски битой посуды, зубочистки, остатки еды, шайбы или шурупы, то с большой долей вероятности они и становятся причиной появления громких звуков.
      h2.page-title-h2 Если посудомойка шумит после запуска
      p
        | Большинство моделей укомплектованы сложными электронными блоками. После их запуска, во время цикла мытья посуды может возникать скрежет, шум. Эта ситуация не должна вызывать подозрений в поломке.
      p
        | Но если работающая посудомоечная машинка гудит, а затем неожиданно появляется скрежещущий шум, следует поступить следующим образом:
      ol.page-list.page-list-ol
        li В середине цикла отворить дверцу прибора и дождаться, пока рассеется пар.
        li Достать из корпуса нижнюю стойку.
        li
          | Осмотреть дренажное колесо и окружающую его область. Проверить, не попали ли на лопасти колеса посторонние предметы.
        li Снять крыльчатку и снова удостовериться, что деталь не засорена мусором.
      p
        | Если недавно приобретенная посудомоечная машина гудит, но не работает, это не обязательно означает наличие дефектов. Прибор может не содержать воды. По этой причине он может издавать нехарактерные, громкие звуки. Аналогичная ситуация может возникнуть после долговременного простоя стиральной машины, когда ее в течение длительного времени не включали. Владельцу достаточно добавить немного воды и запустить машинку. Вскоре она прекратит гудеть.
      p
        | Мастера дают еще несколько советов владельцам техники, если посудомоечная машина гудит, но не моет:
      ol.page-list.page-list-ol
        li
          | Следует проверить исправность розетки. Для этого можно подсоединить к ней другой прибор. Если он будет исправно работать, значит, сломана посудомоечная машина.
        li Важно обратить внимание на то, чтобы правильно зарывалась дверца.
        li
          | Проверить дверную защелку. Будучи изготовленной из пластика, она подвержена деформациям и трещинам. Со временем защелка может перестать плотно закрывать дверцу. По этой причине при включении посудомоечной машины появляются гудение.
        li
          | Если прибор начал издавать посторонние шумы, можно перезагрузить машинку, руководствуясь инструкцией по эксплуатации.
        li
          | Если произошел скачок напряжения, следует нажать кнопку сброса и включить посудомоечную машину заново.
        li
          | Следует обратить внимание на главную панель управления, а также дверной выключатель. Чтобы проверить их исправность, необходимо демонтировать панель управления. С этой задачей не всем удается справиться собственными силами, лучше вызвать мастера.
      h2.page-title-h2 Если машина выключена и издает шум
      p
        | Выясняя, почему гудит посудомоечная машина, которая не включена, прежде всего необходимо удостовериться в исправности нагревательного элемента. Если он не работает, но остается горячим, следует проверить термостат высокого предела, отвечающий за контроль максимального нагрева машины. Если деталь вышла из строя, тепло может отключаться прежде, чем вымытая посуда успеет просохнуть.
      p
        | Чтобы провести диагностику работы термостата, можно воспользоваться мультиметром. К тому же проверке подлежит дозатор ополаскивателя. Иногда он бывает пустым или не справляется со своей функцией, а без ополаскивателя невозможна сушка посуды.
      h2.page-title-h2 Если гудение появляется при наборе воды
      p
        | Если посудомоечная машина начинает издавать громкие звуки в тот момент, когда набирается вода, причина с большей долей вероятности заключается в выработке ресурса уплотнениями и кольцами подшипников на насосе и необходимости провести замену сеточки и фильтра.
      p
        | Шум может появиться, если в закрытый отсек посудомоечной машины перед запуском добавляют стручковые или порошковые средства. В таком случае прибор может перестать набирать воду. Мастера советуют заглядывать в отсек и проверять, не заклинило его или не образовалась ли внутри плотная корка. Эти дефекты препятствуют правильному открытию отсека во время работы машинки. Иногда внутри расположенные в отсеке пластины блокируют отсек, не давая ему открываться после закрытия дверцы.
      h2.page-title-h2 Если посудомойка громко шумит во время слива воды
      p
        | Если перечисленные выше причины гудения машины не обнаружены, стоит обратиться к услугам ремонтной мастерской. Специалист проверит работу двигателя и состояние насоса.
      h3.page-title-h3 Проверяем дверцу и прокладку
      p
        | К тому же при появлении шума в момент слива отработанной воды он может провести осмотр дверцы и ее прокладки на предмет сколов, трещин и прочих повреждений, нарушивших герметичность. Прокладку на дверце надо обработать средством для дезинфекции. Если на ней появились дефекты, деталь требует замены.
      h3.page-title-h3 Очищаем поплавковый выключатель
      p
        | Предназначение поплавкового выключателя – контроль уровня воды в посудомоечной машине. Если он застревает в одной позиции, прибор оказывается заполнен водой, которая начинает просачиваться наружу, вытекает на пол. Способ исправить ситуацию – очистить поплавковый выключатель от накопившегося на нем сора, препятствующего нормальной работе.
      h3.page-title-h3 Осматриваем систему утилизации и слив
      p
        | Слив воды из посудомоечной машины осуществляется в тот же сток, в который выходит мусоропровод. Остатки еды часто создают помеху для беспрепятственного слива отработанной жидкости. Поэтому систему утилизации надо регулярно осматривать и прочищать.
      p
        | В некоторых случаях гудит насос посудомоечной машины из-за того, что он откачивает воду, но из-за «высокого сливного контура» жидкость остается внутри. Она не может попасть в дренаж из-за действия силы тяжести.
      p
        | Установить, почему сильно гудит посудомоечная машина, - непростая задача для владельца. С поиском дефектов и ремонтными работами гораздо лучше и быстрее справиться профессионал.
    .page-text    
      h2.page-title-h2 Причины неисправности и стоимость их устранения
      .table-container_scroll  
      
      table(border='1')
        tbody
          tr
            th
              p
                b Неисправность
            th
              p
                b Возможный ремонт
            th
              p
                b Стоимость работы
          tr
            td
              p Засор сливной системы
            td
              p Чистка сливной системы
            td
              p от 800 р.
          tr
            td
              p Неисправность сливной помпы
            td
              p Замена сливного насоса
            td
              p от 1200 р.
          tr
            td
              p Неисправность циркуляционного насоса
            td
              p Замена циркуляционного насоса
            td
              p от 1400 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей посудомоечной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем посудомоечные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности посудомоечных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-posudomoechnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-greet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-greet' + '.webp' alt='Посудомоечная машина не греет воду')
            p Посудомоечная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-nabiraet' + '.webp' alt='Посудомоечная машина не набирает воду')
            p Посудомоечная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-slivaet' + '.webp' alt='Посудомоечная машина не сливает воду')
            p Посудомоечная машина не сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-vkluchaetsa' + '.webp' alt='Посудомоечная машина не включается')
            p Посудомоечная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-perelivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-perelivaet' + '.webp' alt='Посудомоечная машина переливает воду')
            p Посудомоечная машина переливает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ploho-moet-posudu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ploho-moet' + '.webp' alt='Посудомоечная машина плохо моет посуду')
            p Посудомоечная машина плохо моет посуду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-techet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-techet' + '.webp' alt='Посудомоечная машина течет')
            p Посудомоечная машина течет
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-gudit' + '.webp' alt='Посудомоечная машина гудит')
            p Посудомоечная машина гудит
        //- .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-pokazivaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-vidaet-oshibku' + '.webp' alt='Посудомоечная машина показывает ошибку')
            p Посудомоечная показывает ошибку
        
        