extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Посудомоечная машина не греет воду' 
  - var content = 'Наиболее часто встречаются ситуации, когда посудомоечная машина перестает греть воду. Сегодня мы рассмотрим именно такие ситуации, попробуем понять, по какой причине прекратился нагрев воды'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности посудомоечных машин': domen + '/neispravnosti-posudomoechnyh-mashin/',
    "Посудомоечная машина не греет воду": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-002.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "dish-wash/" + "pm-ne-greet" + ".webp" alt= 'Посудомоечная машина не греет воду' itemprop="image")
      p
        | Несмотря на то, что производители постоянно усовершенствуют свою продукцию, добиться увеличения срока эксплуатации не всегда удается. Через некоторое время наступает момент, когда посудомоечная машина отказывается включаться или моет посуду некачественно. Причин такого поведения достаточно много, и они не всегда связаны с неправильной эксплуатацией. В большинстве случаев 
        | причиной, почему посудомоечная машина не греет воду
        |  является выход из строя узлов или деталей.
      p
        | Наиболее часто встречаются ситуации, когда посудомоечная машина перестает греть воду. Сегодня мы рассмотрим именно такие ситуации, попробуем понять, по какой причине прекратился нагрев воды, и какие действия можно совершить, чтобы исправить ситуацию и вернут оборудование в рабочее состояние.
      h2.page-title-h2 Почему посудомоечная машина перестала нагревать воду
      p
        | Перечислить все возможные причины такого поведения, когда 
        | посудомоечная машина не грет воду
        | , будет затруднительно. Но мы постараемся разобраться с наиболее возможными вариантами.
      ol.page-list.page-list-ol
        li Возникли проблемы в работе нагревательного элемента;
        li Отказал датчик температуры;
        li Возникла неисправность в работе блока управления;
      p
        | Указанные неисправности могут сопровождаться дополнительными факторами. Стоит выделить;
      ol.page-list.page-list-ol
        li
          | При включении посудомоечной машины происходит срабатывание автоматики и отключается электропитание по всему дому или квартире;
        li После завершения процесса мойки на посуде можно обнаружить пятна и остатки жира;
        li
          | Процесс мойки продолжается намного дольше, чем указано в руководстве по эксплуатации.
      p
        | Теперь стоит подробнее остановиться на каждом пункте, и попытаемся разобраться, почему это произошло и как можно исправить ситуацию.
      h2.page-title-h2 Проблемы в работе нагревательного элемента
      p
        | Стоит отметить, что нагревательные элементы находятся в рабочем состоянии на протяжении всей работы посудомоечной машины. Если взять, к примеру, сливной насос, то включается в работу только когда требуется на короткое время. ТЭН почти все время, пока машина обрабатывает посуду, продолжает работать.
      p
        | Не стоит забывать, что из-за использования жесткой воды на поверхности ТЭНа может образоваться накипь, которая уменьшает теплопроводность, и нагрев воды происходит не достаточно быстро. Постоянная работа сказывается на его сроке службы, которые оказывается заметно короче продолжительности рабочего состояния насоса.
      h2.page-title-h2 Отказ датчика температуры
      p
        | Если в работе датчика возникла неисправность, то он не может полноценно передавать информацию на блок управления. Соответственно сигнал о необходимости включения или отключения нагревательного элемента не доходит до адресата и 
        | посудомоечная машина не нагревает воду
        | .
      p
        | При проблемах в работе датчика температуры, ТЭН может не включиться, и мойка посуды может происходить холодной водой.
      h2.page-title-h2 Неисправность блока управления
      p
        | Плата или блок управления контролирует все действия посудомоечной машины. Он собирает все сигналы с датчиков и при необходимости осуществляет запуск той или иной операции. Если в сети возник скачок напряжения, то отдельный узел или весь блок могут выйти из строя.
      p
        | На современных моделях, если произошла поломка отдельного блока, на экране дисплея отобразиться код ошибки. Но на старом оборудовании такая функция может отсутствовать и машина может продолжить работу, даже если какой-то узел не работает.
      h2.page-title-h2 Отключение электричества при включении посудомоечной машины
      p
        | Если отбросить вариант короткого замыкания, то причина такого поведения может заключаться в неисправности нагревательного элемента. При запуске режима мойки происходит подключение ТЭНа для нагрева воды. Если мощность потребления превышает пропускные параметры автоматики, то это может спровоцировать автоматическое отключение.
      h2.page-title-h2 Остатки жира и пятна на посуде
      p
        | Основная причина присутствия пятен и жира на посуде – это отсутствие горячей воды. Возможно, вы неправильно выбрали режим и включили машину. Для проверки можно выбрать режим с максимальной температурой и запустить мойку. Если после завершения процесса пятна и жир остались на посуде, вероятней всего, что 
        | посудомоечная машина не нагревает воду
        | .
      h2.page-title-h2 Процесс мойки занимает много времени
      p
        | В некоторых случаях причиной такого поведения посудомоечной машины является невнимательность владельца. Человек может выбрать более продолжительный режим или включить мойку в отложенном режиме.
      p
        | В других случаях проблема продолжительного процесса может заключаться в выходе из строя датчика, который контролирует температуру. Иногда причина скрывается в работе элемента, который нагревает воду. Система подает сигнал на нагрев, но
        |  посудомоечная машина перестала греть воду
        |  и не передается сигнал о достаточном нагреве. Заложенная программа без получения ответного сигнала не может завершить процесс и подает сигнал на нагрев воды.
      h2.page-title-h2 Как провести диагностику и выявить проблему
      p
        | Первым делом необходимо перегрузить посудомоечную машину. Это позволит аннулировать все зависшие программы. Для этого отключите машину от электричества и подождите одну минуту. Затем подключите оборудование к сети.
      p
        | Проверьте состояние фильтров на наличие засора, при необходимости проведите очистку. Если отодвигали машину с установленного места, проверьте шланги на отсутствие перегибов и продавливания посторонними предметами. Если с ними все в порядке можно продолжать диагностику.
      p
        | Выберите режим мойки и включите его. После его завершения откройте дверцу, поместите внутрь руку и попробуйте определить нагрелась внутри машина или осталась холодной.
    .page-text    
      h2.page-title-h2 Причины неисправности и стоимость их устранения
      .table-container_scroll
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Неисправность ТЭНа
              td
                p Замена ТЭНа
              td
                p от 1400 р.
            tr
              td
                p Неисправность температурного датчика
              td
                p Замена температурного датчика
              td
                p от 1200 р.
            tr
              td
                p Неисправность электронного модуля
              td
                p Ремонт модуль управления (платы)
              td
                p от 1500 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей посудомоечной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем посудомоечные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности посудомоечных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-posudomoechnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-greet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-greet' + '.webp' alt='Посудомоечная машина не греет воду')
            p Посудомоечная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-nabiraet' + '.webp' alt='Посудомоечная машина не набирает воду')
            p Посудомоечная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-slivaet' + '.webp' alt='Посудомоечная машина не сливает воду')
            p Посудомоечная машина не сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-vkluchaetsa' + '.webp' alt='Посудомоечная машина не включается')
            p Посудомоечная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-perelivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-perelivaet' + '.webp' alt='Посудомоечная машина переливает воду')
            p Посудомоечная машина переливает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ploho-moet-posudu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ploho-moet' + '.webp' alt='Посудомоечная машина плохо моет посуду')
            p Посудомоечная машина плохо моет посуду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-techet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-techet' + '.webp' alt='Посудомоечная машина течет')
            p Посудомоечная машина течет
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-gudit' + '.webp' alt='Посудомоечная машина гудит')
            p Посудомоечная машина гудит
        //- .page-articles-link-item
        //-   a(href=pathToPage + 'posudomoechnaya-mashina-pokazivaet-oshibku' + '.html') 
        //-     img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-vidaet-oshibku' + '.webp' alt='Посудомоечная машина показывает ошибку')
        //-     p Посудомоечная показывает ошибку
        
        