extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Посудомоечная машина не включается' 
  - var content = 'Когда посудомоечная машина не включается, причины могут скрываться в различных деталях и узлах. Без диагностики определить их сложно. Тщательный осмотр прибора лучше доверить мастеру. Ремонт в компании РемБытТехника несоизмерим со стоимостью новой посудомойки.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности посудомоечных машин': domen + '/neispravnosti-posudomoechnyh-mashin/',
    "Посудомоечная машина не включается": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-016.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "dish-wash/" + "pm-ne-vkluchaetsa" + ".webp" alt= 'Посудомоечная машина не включается' itemprop="image")

      p
        | Современные посудомоечные машины – сложные бытовые приборы, оснащенные большим количеством функций. Но при появлении поломок бывает непросто выяснить, что послужило поводом для повреждения посудомойки. Неприятные ситуации возникают, когда прибор перестает реагировать на кнопку запуска или демонстрирует на электронном дисплее код ошибки.
      p
        | Когда посудомоечная машина не включается, причины могут скрываться в различных деталях и узлах. Без диагностики определить их сложно. Тщательный осмотр прибора лучше доверить мастеру. Ремонт обычно не требует значительных средств. Рассмотрим, каковы наиболее распространенные дефекты, из-за которых не включается посудомоечная машина.
      h2.page-title-h2 Повреждение сетевого шнура
      p
        | Когда шнур для подсоединения машины к электросети неисправен, например, переломлен или в нем разорван контакт, то при включении в розетку на передней панели прибора не загораются светодиодные лампочки. Виной могут быть обрывы, либо механические повреждения. Иногда из-за резких скачков напряжения перегорают контакты. Шнур в подобных случаях нуждается в замене.
      p Чтобы проверить исправность сетевого шнура, надо выполнить следующие действия:
      ol.page-list.page-list-ol
        li
          | Мультиметром измерить напряжение на участке подсоединения шнура к посудомоечной машине.
        li
          | При отсутствии контакта сетевой шнур надо сменить на новый. Заниматься ремонтом или поиском повреждений нецелесообразно.
        li Если контакт не нарушен, на дефекты необходимо проверить другие детали.
        li
          | Мастера для обнаружения участков обрывов цепи пользуются тестерами. Если поломку не удается устранить своими силами, лучше воспользоваться помощью профессионалов.
      p
        | Если посудомоечная машина не включается после перепадов напряжения, это может свидетельствовать о повреждении электронного модуля. Поэтому неисправность сетевого шнура зачастую сопровождается прочими неполадками. Если же при подключении прибора на панели загорается код ошибки, питание точно не является причиной проблемы.
      h2.page-title-h2 Поломка сенсора или кнопки включения
      p
        | Стандартные модели посудомоечных машин оснащены кнопочным управлением. Несмотря на надежность и долговечность, рано или поздно и они перестают выполнять свои функции. В более дорогих и современных приборах, например, выпускаемых под маркой Бош, производители устанавливают сенсорные панели. Они отличаются от кнопочных тем, что перестают работать одновременно. В результате посудомоечная машина Бош не включается.
      p О подобных поломках сигнализируют:
      ul.page-list.page-list-ul
        li
          | отсутствие индикации с установленными кодами ошибок при визуальной готовности устройства к работе;
        li
          | когда прибор подключается к сети, машинка предлагает выбрать режим для начала работы;
        li
          | после нажатия кнопки или сенсора посудомоечная машина не действует, не происходит никаких изменений;
        li ни одна функция не запускается.
      p
        | Если кнопки или сенсоры на панели управления вышли из строя частично, некоторые режимы не прекращают работать. Например, включается принудительное очищение внутренней рабочей области, а кнопка запуска не срабатывает. Мастера в таких случаях выполняют замену кнопочной или сенсорной панели. Если электронный модуль исправен, это позволяет наладить все функции.
      h2.page-title-h2 Выход из строя конденсатора
      p Поломка конденсатора происходит по нескольким причинам:
      ol.page-list.page-list-ol
        li при нестабильной подаче электричества, сопровождающейся скачками напряжения;
        li при некачественном производстве.
      p
        | Внутри посудомоечной машины конденсатор можно найти на циркуляционном насосе. Чтобы добраться до детали, приходится снимать защитную панель на корпусе и демонтировать встроенное оборудование. Произвести ремонт конденсатора тоже непросто по следующим причинам:
      ul.page-list.page-list-ul
        li Возникает необходимость разбирать прибор.
        li Для определения типа неисправности требуется специальное устройство.
        li Починить сломанный конденсатор невозможно. Деталь приходится полностью менять.
        li
          | Для конкретной модели посудомоечной машины необходимо подбирать подходящие запчасти.
        li
          | Чтобы не допустить выхода из строя нового конденсатора, надо установить дефекты, которые вывели из строя старый.
      p
        | Мастера отмечают, что конденсаторы достаточно надежны и долговечны. Если не включается посудомойка, они редко становятся причиной. Только комплектующие моделей из бюджетной ценовой линейки ломаются быстрее остальных, так как при их производстве применяют материалы невысокого качества.
      h2.page-title-h2 Неполадки в блоке управления
      p
        | Неисправность блока управления – поломка, устранение которой требует серьезных затрат. В современных моделях электронный модуль сравни компьютерной технике. В него закладываются все режимы и программы работы. Если блок повреждается, починить его очень сложно. Как правило, он подлежит замене. При этом для этого требуется приобрести оригинальную деталь. В продаже нет менее дорогостоящих аналогов. А если в посудомоечную машину поставить неподходящий модуль, она может сломаться.
      p
        | Если не работает посудомоечная машина, неисправность блока управления можно заподозрить по следующим признакам:
      ol.page-list.page-list-ol
        li
          | при включении машины сначала зажигаются лампочки-индикаторы, а затем высвечивается код ошибки;
        li
          | при нажатии на сенсор или кнопку на дисплее можно наблюдать коды ошибок или оповещения о необходимости ремонта;
        li выполнив ряд действий, прибор перестает функционировать;
        li на нажатие кнопок машинка реагирует нехарактерными звуковыми сигналами.
      p
        | Когда посудомойка не включается из-за неполадок в электронном модуле, в зависимости от модели она может демонстрировать на дисплее сообщения с названиями неисправностей на русском или английском языке. Но для полноценной диагностики и ремонта лучше обратиться в сервисный центр.
      p Можно ли починить прибор своими силами?
      p
        | Когда не работает посудомойка, при наличии определенных знаний и опыта можно попытаться справиться с неполадками самостоятельно. Но если уверенности в собственных силах нет или техника находится на гарантии, лучше обратиться в сервисный центр. Мастер может произвести устранить поломку на месте. Но сначала он выяснит, почему не включается посудомоечная машина, и проведет полную диагностику, предложит возможные варианты ремонта и при необходимости подберет подходящие комплектующие.
    .page-text    
      h2.page-title-h2 Причины неисправности и стоимость их устранения
      .table-container_scroll
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Обрыв электроцепи
              td
                p Ремонт электроцепи
              td
                p от 800 р.
            tr
              td
                p Неисправность электронного модуля
              td(rowspan='2')
                p Ремонт модуля управления (платы)
              td(rowspan='2')
                p от 1500 р.
            tr
              td
                p Неисправность панели управления


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей посудомоечной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем посудомоечные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности посудомоечных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-posudomoechnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-greet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-greet' + '.webp' alt='Посудомоечная машина не греет воду')
            p Посудомоечная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-nabiraet' + '.webp' alt='Посудомоечная машина не набирает воду')
            p Посудомоечная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-slivaet' + '.webp' alt='Посудомоечная машина не сливает воду')
            p Посудомоечная машина не сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ne-vkluchaetsa' + '.webp' alt='Посудомоечная машина не включается')
            p Посудомоечная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-perelivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-perelivaet' + '.webp' alt='Посудомоечная машина переливает воду')
            p Посудомоечная машина переливает воду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-ploho-moet-posudu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-ploho-moet' + '.webp' alt='Посудомоечная машина плохо моет посуду')
            p Посудомоечная машина плохо моет посуду
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-techet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-techet' + '.webp' alt='Посудомоечная машина течет')
            p Посудомоечная машина течет
        .page-articles-link-item
          a(href=pathToPage + 'posudomoechnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-gudit' + '.webp' alt='Посудомоечная машина гудит')
            p Посудомоечная машина гудит
        //- .page-articles-link-item
        //-   a(href=pathToPage + 'posudomoechnaya-mashina-pokazivaet-oshibku' + '.html') 
        //-     img(src= domen + '/assets/img/pictures/repair-img/dish-wash/' + 'pm-vidaet-oshibku' + '.webp' alt='Посудомоечная машина показывает ошибку')
        //-     p Посудомоечная показывает ошибку
        
        