extends ../../../layout/article_page_layout.pug

block variables
	- var title = 'Коды ошибок стиральных машин Ariston - Indesit (Аристон - Индезит)'
	- var content = "Расшифровка ошибок стиральных машин Ariston - Indesit (Аристон - Индезит)'"
	- var pathToImgArticles = domen + '/assets/img/pictures/errors-img/'

block content
	+bread-crumbs({ 
		'Главная': '/',
		"Коды ошибок бытовой техники": "/errors/",
		"Коды ошибок стиральных машин": "/errors/kody-oshibok-stiralnyh-mashin/",
		"Коды ошибок стиральных машин Ariston - Indesit" : ""
	})
	.errors-page.article-page-wrapper(itemscope itemtype="https://schema.org/Article")
		h1(itemprop="name")= title
		+pageBanner-1({
			title: 'Нужна консультация?',
			text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
			buttonText: 'Заказать звонок',
			pathToImg: domen + '/assets/img/pictures/banner-img-010.webp'
		})
		.page-text(itemprop="articleBody")
			h2
				| Led индикаторы - LowEnd, EVO 1, EVO 2 MARGHERITA 2000
			.page-text
				p 
					| При возникновении неисправности на машинках MARGHERITA , селектор выбора программ начинает вращаться по часовой стрелке. Индикатор закрытого люка начинает быстро моргать.
				p Например индикатор мигает два раза, затем небольшой перерыв и опять два раза — это значит что стиральная машина показывает ошибку F02
			img(src= pathToImgArticles + 'sndtfda9-1.jpg' alt='коды ошибок стиральных машин Ariston-Indesit' )
			h2
				| Indesit LOW END
			img(src=pathToImgArticles + 'sndtfda9-2.jpg' alt='коды ошибок стиральных машин Ariston-Indesit' )
			.table-container_scroll 
				table(border='1')
					tbody
						tr
							th
								p Код ошибки
							th
								p Инд.1
							th
								p Инд.2
							th
								p Инд.З
							th
								p Кнопка1
							th
								p Кнопка2
						tr
							td
								p F01
							td
								p мигает
							td
								p выкл
							td
								p выкл
							td
								p выкл
							td
								p выкл
						tr
							td
								p F02
							td
								p выкл
							td
								p мигает
							td
								p выкл
							td
								p выкл
							td
								p выкл
						tr
							td
								p F03
							td
								p мигает
							td
								p мигает
							td
								p выкл
							td
								p выкл
							td
								p выкл
						tr
							td
								p F04
							td
								p выкл
							td
								p выкл
							td
								p мигает
							td
								p выкл
							td
								p выкл
						tr
							td
								p F05
							td
								p мигает
							td
								p выкл
							td
								p мигает
							td
								p выкл
							td
								p выкл
						tr
							td
								p F06
							td
								p выкл
							td
								p мигает
							td
								p мигает
							td
								p выкл
							td
								p выкл
						tr
							td
								p F07
							td
								p мигает
							td
								p мигает
							td
								p мигает
							td
								p выкл
							td
								p выкл
						tr
							td
								p F08
							td
								p выкл
							td
								p выкл
							td
								p выкл
							td
								p мигает
							td
								p выкл
						tr
							td
								p F09
							td
								p мигает
							td
								p выкл
							td
								p выкл
							td
								p мигает
							td
								p выкл
						tr
							td
								p F10
							td
								p выкл
							td
								p мигает
							td
								p выкл
							td
								p мигает
							td
								p выкл
						tr
							td
								p F11
							td
								p мигает
							td
								p мигает
							td
								p выкл
							td
								p мигает
							td
								p выкл
						tr
							td
								p F12
							td
								p выкл
							td
								p выкл
							td
								p выкл
							td
								p мигает
							td
								p выкл
						tr
							td
								p F17
							td
								p мигает
							td
								p выкл
							td
								p выкл
							td
								p выкл
							td
								p мигает
						tr
							td
								p F18
							td
								p выкл
							td
								p мигает
							td
								p выкл
							td
								p выкл
							td
								p мигает
			H2 Ariston Indesit EVO 2
			img(src=pathToImgArticles + 'sndtfda9-3.jpg' alt='коды ошибок стиральных машин Ariston-Indesit' )
			img(src=pathToImgArticles + 'sndtfda9-4.jpg' alt='коды ошибок стиральных машин Ariston-Indesit' )
			.table-container_scroll 	
				table(border='1')
					tbody
						tr
							th
								p Код ошибки
							th
								p Кнопка 1
							th
								p Кнопка 2
							th
								p Кнопка 3
							th
								p Кнопка 4
							th
								p Led 4
						tr
							td
								p F01
							td
								p выкл
							td
								p выкл
							td
								p выкл
							td
								p мигает
							td
								p ВЫКЛ
						tr
							td
								p F02
							td
								p выкл
							td
								p выкл
							td
								p мигает
							td
								p выкл
							td
								p выкл
						tr
							td
								p F03
							td
								p выкл
							td
								p выкл
							td
								p мигает
							td
								p мигает
							td
								p выкл
						tr
							td
								p F04
							td
								p выкл
							td
								p мигает
							td
								p выкл
							td
								p выкл
							td
								p выкл
						tr
							td
								p F05
							td
								p выкл
							td
								p мигает
							td
								p выкл
							td
								p мигает
							td
								p выкл
						tr
							td
								p F06
							td
								p выкл
							td
								p мигает
							td
								p мигает
							td
								p выкл
							td
								p выкл
						tr
							td
								p F07
							td
								p выкл
							td
								p мигает
							td
								p мигает
							td
								p мигает
							td
								p выкл
						tr
							td
								p F08
							td
								p мигает
							td
								p выкл
							td
								p выкл
							td
								p выкл
							td
								p выкл
						tr
							td
								p F09
							td
								p мигает
							td
								p выкл
							td
								p выкл
							td
								p мигает
							td
								p выкл
						tr
							td
								p F10
							td
								p мигает
							td
								p выкл
							td
								p мигает
							td
								p выкл
							td
								p выкл
						tr
							td
								p F11
							td
								p мигает
							td
								p выкл
							td
								p мигает
							td
								p мигает
							td
								p выкл
						tr
							td
								p F12
							td
								p мигает
							td
								p мигает
							td
								p выкл
							td
								p выкл
							td
								p выкл
						tr
							td
								p F13
							td
								p мигает
							td
								p мигает
							td
								p выкл
							td
								p мигает
							td
								p выкл
						tr
							td
								p F14
							td
								p мигает
							td
								p мигает
							td
								p мигает
							td
								p выкл
							td
								p выкл
						tr
							td
								p F15
							td
								p мигает
							td
								p мигает
							td
								p мигает
							td
								p мигает
							td
								p выкл
						tr
							td
								p F16
							td
								p выкл
							td
								p выкл
							td
								p выкл
							td
								p выкл
							td
								p мигает
						tr
							td
								p F17
							td
								p выкл
							td
								p выкл
							td
								p выкл
							td
								p мигает
							td
								p мигает
			h2 Чтение ошибок:
			img(src=pathToImgArticles + 'sndtfda9-5.jpg' alt='коды ошибок стиральных машин Ariston-Indesit' )
			img(src=pathToImgArticles + 'sndtfda9-6.jpg' alt='коды ошибок стиральных машин Ariston-Indesit' )
			img(src=pathToImgArticles + 'sndtfda9-7.jpg' alt='коды ошибок стиральных машин Ariston-Indesit' )
	.calc-banner.page-banner
		.page-banner-img
			img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/calculator.webp' alt='коды ошибок стиральных машин Ariston-Indesit' )
		.page-banner-content
			.page-banner-content__title 
				p 100% качество и гарантия на ремонт стиральных машин!
			.page-banner-content__text 
				p Свяжитесь с нами по телефонам  
				a(href=telNumber_1_int)= telNumber_1 
				|  или 
				a(href=telNumber_2_int)= telNumber_2 
				|  и мы проконсультируем Вас о стоимости ремонта Вашей техники
			.page-banner-content__text Также Вы можете оформить on-line заявку или заказать обратный звонок
			.page-banner-content-buttons
				.page-banner-button.button-order 
					| Оформить заявку
					br
					| on-line
				.page-banner-button.button-callback Заказать звонок

