extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Коды ошибок стиральных машин candy'
  - var content = "Расшифровка ошибок стиральных машин candy'"
  - var pathToImgArticles = domen + '/assets/img/pictures/errors-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    "Коды ошибок бытовой техники": "/errors/",
    "Коды ошибок стиральных машин": "/errors/kody-oshibok-stiralnyh-mashin/",
    "Коды ошибок стиральных машин candy" : ""
  })
  .errors-page.article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-013.webp'
    })
    .page-text(itemprop="articleBody")
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p Код ошибки
              th
                p Описание ошибки
            tr
              td
                p Е01
              td
                p Люк дверцы не блокируется
            tr
              td
                p Е02
              td
                p Ошибка при заливе воды
            tr
              td
                p ЕОЗ
              td
                p Отсутствует слив воды. В некоторых случаях ошибка ТЭНа
            tr
              td
                p Е04
              td
                p Ошибка «Переполнение бака»
            tr
              td
                p Е05
              td
                p Отсутствует нагрев воды
            tr
              td
                p Е06
              td
                p Ошибка EEPROM
            tr
              td
                p Е07
              td
                p Ошибка мотора или неисправность в цепи УБЛ.
            tr
              td
                p Е08
              td
                p Ошибка тахогенератора
            tr
              td
                p Е09
              td
                p
                  | Ошибка двигателя, отсутствует напряжение на статоре мотора. Неисправность симмистора (TR1-TR7) или резистора R8 на модуле
            tr
              td
                p ЕЮ
                p ЕА
              td
                p Ошибка селектора программ или соединений двигателя
            tr
              td
                p Е11
                p ЕВ
              td
                p Ошибка нагревателя (ТЭНа) сушки
            tr
              td
                p Е12
                p ЕС
              td
                p
                  | Датчик температуры ТЭНа сушки в обрыве или потеря связи между блоком управления и индикации
            tr
              td
                p ЕЮ
                p ED
              td
                p Ошибка модуля управления или индикации
            tr
              td
                p Е14
              td
                p Неисправность в цепи нагрева воды или ошибка блока управления
            tr
              td
                p Е15
              td
                p Ошибка платы управления
            tr
              td
                p ЕЮ
              td
                p Ошибка ТЭНа: произошло короткое замыкание или пробой нагревателя на корпус
            tr
              td
                p Е17
              td
                p Некорректный сигнал от тахогенератора
            tr
              td
                p ЕЮ
              td
                p Не стабильное напряжение или неисправен модуль
            tr
              td
                p ЕЮ
              td
                p
                  | Отсутствует связь с устройством NFC:неисправна карта питания" Cuore" или смартфон
            tr
              td
                p Е20
              td
                p Ошибка датчика уровня воды или засор в сливном тракте
            tr
              td
                p Е21
              td
                p Ошибка определения уровня воды в баке
            tr
              td
                p Е22
              td
                p Ошибка в цепи нагрева или неполадки прессостата
            tr
              td
                p ЕО
              td
                p Неисправен модуль
      img(alt='коды ошибок стиральных машин candy' src=pathToImgArticles + 'candy-1.jpg')
      img(alt='коды ошибок стиральных машин candy' src=pathToImgArticles + 'candy-2.jpg')
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p Кол-во
                p вспышек
              th
                p Причины
            tr
              td
                p 1
              td
                p Ошибка блокировки люка
            tr
              td
                p 2
              td
                p Нет залива воды
            tr
              td
                p 3
              td
                p Нет слива воды
            tr
              td
                p 4
              td
                p Перелив воды(протечка)
            tr
              td
                p 5
              td
                p Ошибка температурного датчика
            tr
              td
                p 6
              td
                p Ошибка EEPROM
            tr
              td
                p 7
              td
                p Двигатель заблокирован
            tr
              td
                p 8
              td
                p Ошибка тахогенератора
            tr
              td
                p 9
              td
                p Неисправен симистор управления мотором
            tr
              td
                p 12
              td
                p Отсутствует связь между блоком индикацией и контроллером
            tr
              td
                p 13
              td
                p Отсутствует связь между блоком индикацией и контроллером
            tr
              td
                p 14
              td
                p Нет нагрева воды
            tr
              td
                p 15
              td
                p Сбой контроллера или програмного обеспечения
            tr
              td
                p 16
              td
                p Неисправен ТЭН
            tr
              td
                p 17
              td
                p Некорректные сигналы от тахогенератора
            tr
              td
                p 18
              td
                p Не стабильное напряжение сети или неисправен модуль управления
            tr
              td
                p горит
                p постоянно
              td
                p Неисправность управляющего модуля
      img(alt='коды ошибок стиральных машин candy' src=pathToImgArticles + 'candy-3.jpg')
      img(alt='коды ошибок стиральных машин candy' src=pathToImgArticles + 'candy-4.jpg')
      .table-container_scroll 
        table(border='1')
          tbody
            
            tr
              th
                p Кол-во
                p вспышек
              th
                p Причины
            tr
              td
                p 1
              td
                p Неисправно устройство блокировки люка или его соединения
            tr
              td
                p 2
              td
                p Нет залива воды
            tr
              td
                p 3
              td
                p Нет слива воды
            tr
              td
                p 4
              td
                p 3 раза сработал аварийный уровень прессостата (защита от протечек)
            tr
              td
                p 5
              td
                p
                  | Датчик температуры NTC неисправен, неисправен модуль управления или соединения датчика с модулем.Сопротивление датчика: 20 кОм при 25°С и 2,14 кОм при 85°С
            tr
              td
                p 6
              td
                p Ошибка EEPROM, неисправность модуля управления
            tr
              td
                p 7
              td
                p Двигатель заблокирован
            tr
              td
                p 8
              td
                p
                  | Тахогенератор двигателя оборван или короткозамкнут. Сопротивление тахогенератора для двигателя Ceset 42 Ом Сопротивление тахогенератора для двигателя Hoover 156 Ом Сопротивление тахогенератора для двигателя Sole 184 Ом
            tr
              td
                p 9
              td
                p Неисправность симистора приводного двигателя
            tr
              td
                p 10
              td
                p Неисправность селектора программ или соединений двигателя
            tr
              td
                p 12
              td
                p Неисправность модуля управления или соединений (INVENSYS)
            tr
              td
                p 13
              td
                p Неисправность модуля управления или соединений (INVENSYS)
            tr
              td
                p 1
              td
                p Неисправно устройство блокировки люка или его соединения
            tr
              td
                p 2
              td
                p Нет залива воды
            tr
              td
                p 3
              td
                p Нет слива воды
            tr
              td
                p 4
              td
                p 3 раза сработал аварийный уровень прессостата (защита от протечек)
            tr
              td
                p 5
              td
                p
                  | Датчик температуры NTC неисправен, неисправен модуль управления или соединения датчика с модулем.Сопротивление датчика: 20 кОм при 25°С и 2,14 кОм при 85°С
            tr
              td
                p 6
              td
                p Ошибка EEPROM, неисправность модуля управления
            tr
              td
                p 7
              td
                p Двигатель заблокирован
            tr
              td
                p 8
              td
                p
                  | Тахогенератор двигателя оборван или короткозамкнут. Сопротивление тахогенератора для двигателя Ceset 42 Ом Сопротивление тахогенератора для двигателя Hoover 156 Ом Сопротивление тахогенератора для двигателя Sole 184 Ом
            tr
              td
                p 9
              td
                p Неисправность симистора приводного двигателя
            tr
              td
                p 10
              td
                p Неисправность селектора программ или соединений двигателя
            tr
              td
                p 12
              td
                p Неисправность модуля управления или соединений (INVENSYS)
            tr
              td
                p 13
              td
                p Неисправность модуля управления или соединений (INVENSYS)
            tr
              td
                p 14
              td
                p Неисправность модуля управления или соединений
            tr
              td
                p 14
              td
                p Нет фазы нагрева (INVENSYS)
          
      img(alt='коды ошибок стиральных машин candy' src=pathToImgArticles + 'candy-5.jpg')
      img(alt='коды ошибок стиральных машин candy' src=pathToImgArticles + 'candy-6.jpg')
      .page-text
        p
          | * Для машин с индикаторами, ошибка соответсвует количеству мигания четырех светодиодов вместе, с последующей длительной паузой.
      img(alt='коды ошибок стиральных машин candy' src=pathToImgArticles + 'candy-7.jpg')
      img(alt='коды ошибок стиральных машин candy' src=pathToImgArticles + 'candy-8.jpg')
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p Код ошибки
              th
                p Описание ошибки
            tr
              td
                p Е:00
              td
                p Неисправен или не запрограммирован модуль
            tr
              td
                p Е:01
              td
                p Ошибка блокировки двери
            tr
              td
                p Е:02
              td
                p Ошибка при заливе воды
            tr
              td
                p Е:03
              td
                p Отсутствует слив воды
            tr
              td
                p Е:04
              td
                p Перелив воды\протечка
            tr
              td
                p Е:05
              td
                p Ошибка датчика NTC
            tr
              td
                p Е:06
              td
                p Ошибка Eeprom
            tr
              td
                p Е:07
              td
                p Ошибка мотора или неисправность в цепи УБЛ
            tr
              td
                p Е:08
              td
                p Ошибка тахогенератора
            tr
              td
                p Е:09
              td
                p Неисправен модуль\Неисправен симистор двигателя
            tr
              td
                p Е:11
              td
                p Ошибка нагревателя или NTC для сушки
            tr
              td
                p Е:12
              td
                p
                  | Отсутствие нагрева воздуха во время сушки: неисправный NTC и/ или неисправный ТЭН сушки и/или проводка
            tr
              td
                p Е:13
              td
                p Нет связи между модулем управления и индикации
            tr
              td
                p Е:14
              td
                p Неисправность в цепи нагрева воды
            tr
              td
                p Е:1 5
              td
                p Неисправен модуль\Не запрограммирован
            tr
              td
                p Е:16
              td
                p Ошибка ТЭНа: произошло короткое замыкание или пробой нагревателя на корпус
            tr
              td
                p Е:17
              td
                p Неверный сигнал от тахометра
            tr
              td
                p Е:18
              td
                p Не стабильное напряжение или неисправен модуль
            tr
              td
                p Е:19
              td
                p
                  | Отсутствует связь с устройством NFC: неисправна карта питания "Cuore" или смартфон
            tr
              td
                p Е:20
              td
                p Ошибка датчика уровня воды или засор в сливном тракте
            tr
              td
                p Е:21
              td
                p Ошибка определения уровня воды в баке\Неисправен модуль
            tr
              td
                p Е:22
              td
                p Проблемы с нагревом воды: неисправна проводка, ТЭН или модуль
        


  .calc-banner.page-banner
    .page-banner-img
      img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/calculator.webp' alt="100% качественный ремонт стиральных машин")
    .page-banner-content
      .page-banner-content__title 
        p 100% качество и гарантия на ремонт стиральных машин!
      .page-banner-content__text 
        p Свяжитесь с нами по телефонам  
        a(href=telNumber_1_int)= telNumber_1 
        |  или 
        a(href=telNumber_2_int)= telNumber_2 
        |  и мы проконсультируем Вас о стоимости ремонта Вашей техники
      .page-banner-content__text Также Вы можете оформить on-line заявку или заказать обратный звонок
      .page-banner-content-buttons
        .page-banner-button.button-order 
          | Оформить заявку
          br
          | on-line
        .page-banner-button.button-callback Заказать звонок

