extends ../../../layout/article_page_layout.pug

block variables
  - var brand = 'Bosch - Siemens (Бош - Сименс)'
  - var title = 'Коды ошибок стиральных машин ' + brand
  - var content = "Расшифровка ошибок стиральных машин " + brand
  - var pathToImgArticles = domen + '/assets/img/pictures/errors-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    "Коды ошибок бытовой техники": "/errors/",
    "Коды ошибок стиральных машин": "/errors/kody-oshibok-stiralnyh-mashin/",
    "Коды ошибок стиральных машин Bosch - Siemens (Бош - Сименс)" : ""
  })
  .errors-page.article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-011.webp'
    })
    .page-text(itemprop="articleBody")
      h2
        | Коды ошибок Bosch Махх 4 для сма имеющих три индикатора хода программ
      img(src=pathToImgArticles + '313e48-1.jpg' alt='коды ошибок стиральных машин siemens bosch')
      img(src=pathToImgArticles + '313e48-2.jpg' alt='коды ошибок стиральных машин siemens bosch')
      h2
        | Для сма имеющих индикатор времени и четыре индикатора хода программ
      img(src=pathToImgArticles + '313e48-3.jpg' alt='коды ошибок стиральных машин siemens bosch')
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p Состояние светодиода Siemens
              th
                p Состояние светодиода Bosch
              th
                p Описание
                p неисправности
            tr
              td
                p Полоскание.не горит Стирка не горит Готов мигает
              td
                p Отжим не горит Полоскание не горит Стирка мигает
              td
                p Окно открыто (после запуска программы)
            tr
              td
                p Полоскание не горит Стирка мигает Готов не горит
              td
                p Отжим не горит Полоскание мигает Стирка не горит
              td
                p Время залива воды > 4 мин.
            tr
              td
                p Полоскание.не горит Стирка мигает Готов мигает
              td
                p Отжим не горит Полоскание мигает Стирка мигает
              td
                p Время нагрева > 105 мин.
            tr
              td
                p Полоскание мигает Стирка не горит Готов не горит
              td
                p Отжим мигает Полоскание не горит Стирка не горит
              td
                p Время слива воды> 4 мин.
            tr
              td
                p Полоскание.мигает Стирка не горит Готов мигает
              td
                p Отжим мигает Полоскание не горит Стирка мигает
              td
                p Неисправность
                p приводного
                p механизма
            tr
              td
                p Полоскание .мигает Стирка мигает Готов не горит
              td
                p Полоскание мигает Отжим мигает Стирка не горит
              td
                p Произвольный
                p нагрев
            tr
              td
                p Полоскание .мигает Стирка мигает Готов мигает
              td
                p Отжим мигает Полоскание мигает Стирка мигает
              td
                p Короткое замыкание или обрыв NTC
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p Код ошибки
              th
                p Описание ошибки
            tr
              td
                p F16
              td
                p Дверь открыта
            tr
              td
                p F17
              td
                p Превышено время залива воды
            tr
              td
                p F18
              td
                p Превышено время слива воды
            tr
              td
                p F19
              td
                p Превышено время, не достигнута требуемая температура
            tr
              td
                p F20
              td
                p Дефект NTC, Нагреватель постоянно включен
            tr
              td
                p F23
              td
                p Сработала защита аква-стоп
            tr
              td
                p F25
              td
                p Ошибка Аквасенсора
            tr
              td
                p F26
              td
                p Ошибка аналогового датчика уровня воды
            tr
              td
                p F27
              td
                p Датчик давления не настроен -скорее всего, обнулены значения настроек датчика
            tr
              td
                p F28
              td
                p Нет подачи воды(датчик протока зафиксировал отсутствия протока)
            tr
              td
                p F29
              td
                p Ошибка датчика протока. Кран открыт?
            tr
              td
                p F31
              td
                p Достигнут предельный уровень воды
            tr
              td
                p F32
              td
                p Дисбаланс
            tr
              td
                p F34
              td
                p Замок люка не срабатывает
            tr
              td
                p F35
              td
                p Дверной замок не может быть разблокирован
            tr
              td
                p F36
              td
                p Спонтанное срабатывание замка люка
            tr
              td
                p F37
              td
                p Ошибка датчика температуры
            tr
              td
                p F38
              td
                p Короткое замыкание в цепи NTC
            tr
              td
                p F42
              td
                p Бесконтрольная работа мотора
            tr
              td
                p F43
              td
                p Двигатель заблокирован
            tr
              td
                p F44
              td
                p Двигатель не вращается в обратную сторону
            tr
              td
                p F47
              td
                p Датчик температуры на теплоотводе в блоке двигателя неисправен
            tr
              td
                p F48
              td
                p Блок мотора: низкое напряжение в промежуточной цепи (ниже 99V)
            tr
              td
                p F49
              td
                p Блок мотора: высокое напряжение в промежуточной цепи (выше 295V)
            tr
              td
                p F50
              td
                p Неисправность в цепи двигателя
            tr
              td
                p F51
              td
                p Блок мотора: короткое замыкание IGBT
            tr
              td
                p F52
              td
                p Обрыв проводки двигателя. IGBTs (силовые ключи) неисправны
            tr
              td
                p F57
              td
                p
                  | Блок мотора: неисправен модуль инвертора.В некоторых случаях ошибка может появляться из за не стабильного тока в сети
            tr
              td
                p F58
              td
                p Ошибка связи датчика 3D
            tr
              td
                p F59
              td
                p Ошибка 3D датчика
            tr
              td
                p F60
              td
                p Сбой в работе датчика протока
            tr
              td
                p F61
              td
                p Неподтвержденное механическое срабатывание замка
            tr
              td
                p F63
              td
                p Сбой в работе процессора
            tr
              td
                p F67
              td
                p Ошибка кодировки основного модуля управления
            tr
              td
                p F71
              td
                p Провод двигателя неисправен или не подключен
                p . NTC-реле на блоке двигателя неисправно
            tr
              td
                p F72
              td
                p Провод двигателя неисправен или не подключен
                p . Замыкание обмотки двигателя
            tr
              td
                p F75
              td
                p Нет скорости вращения двигателя
            tr
              td
                p F77
              td
                p
                  | Блок мотора: линейная частота находится вне диапазона (35 Гц.. 75Hz) на долгое время
            tr
              td
                p F78
              td
                p Блок мотора: Общий сбой оборудования
            tr
              td
                p F80
              td
                p Реле включения трёхфазного модуля неисправно
            tr
              td
                p F82
              td
                p Блок двигателя: слишком высокая
                p температура охлаждающего ьлок мотора: неисправен модуль
            tr
              td
                p F57
              td
                p
                  | инвертора. В некоторых случаях ошибка может появляться из за не стабильного тока в сети
            tr
              td
                p F58
              td
                p Ошибка связи датчика 3D
            tr
              td
                p F59
              td
                p Ошибка 3D датчика
            tr
              td
                p F60
              td
                p Сбой в работе датчика протока
            tr
              td
                p F61
              td
                p Неподтвержденное механическое срабатывание замка
            tr
              td
                p F63
              td
                p Сбой в работе процессора
            tr
              td
                p F67
              td
                p Ошибка кодировки основного модуля управления
            tr
              td
                p F71
              td
                p Провод двигателя неисправен или не подключен
                p . NTC-реле на блоке двигателя неисправно
            tr
              td
                p F72
              td
                p Провод двигателя неисправен или не подключен
                p . Замыкание обмотки двигателя
            tr
              td
                p F75
              td
                p Нет скорости вращения двигателя
            tr
              td
                p F77
              td
                p
                  | Блок мотора: линейная частота находится вне диапазона (35 Гц.. 75Hz) на долгое время
            tr
              td
                p F78
              td
                p Блок мотора: Общий сбой оборудования
            tr
              td
                p F80
              td
                p Реле включения трёхфазного модуля неисправно
            tr
              td
                p F82
              td
                p Блок двигателя: слишком высокая температура охлаждающего элемента инвертора
            tr
              td
                p F00
              td
                p Нет ошибки
      .page-text
        p * Ошибки "F.." или "Е.." идентичны.
        p Коды ошибок Bosch WOT24550OE, W0R16152 и аналогичные
      br
      img(src=pathToImgArticles + '313e48-4.jpg' alt='коды ошибок стиральных машин siemens bosch')
      br
      img(src=pathToImgArticles + '313e48-5.jpg' alt='коды ошибок стиральных машин siemens bosch')
      br
      h1 Коды ошибок Bosch Classixx для WAA16260, WAA20260 и аналогичные
      br
      img(src=pathToImgArticles + '313e48-6.jpg' alt='коды ошибок стиральных машин siemens bosch')
      br
      img(src=pathToImgArticles + '313e48-7.jpg' alt='коды ошибок стиральных машин siemens bosch')
      br
      p Ошибки WOR... Classixx вертикалка
      img(src=pathToImgArticles + '313e48-8.jpg' alt='коды ошибок стиральных машин siemens bosch')
      p * Ошибки для подобных машин, соответствуют кодам Whirlpool.
      p * Смотрите коды, в пункте ошибок "Whirlpool -Domino".
      img(src=pathToImgArticles + '313e48-9.jpg' alt='коды ошибок стиральных машин siemens bosch')
      .table-container_scroll    
        table(border='1')
          tbody
            tr
              th
                p Код ошибки
              th
                p Описание ошибки
            tr
              td
                p Ег: 01
              td
                p Дверь открыта
            tr
              td
                p Ег: 02
              td
                p Замок двери не открывается
            tr
              td
                p Ег: 03
              td
                p Замок двери не закрывается
            tr
              td
                p Ег: 04
              td
                p Актуатор двери неисправенХДефект триака
            tr
              td
                p Ег: 05
              td
                p NTC обрыв
            tr
              td
                p Ег: 06
              td
                p NTC Замыкание
            tr
              td
                p Ег: 07
              td
                p Неожиданный нагревХТэн поврежден. Залипание реле ТЭНа
            tr
              td
                p Ег: 08
              td
                p Время нагрева превышено
            tr
              td
                p Ег: 09
              td
                p Нет связи между блоком управления и блоком управления мотора
            tr
              td
                p Ег: 10
              td
                p Ошибка датчика протока
            tr
              td
                p Ег: 11 Ег: 12
              td
                p Превышено время поступления воды
            tr
              td
                p Ег: 13
              td
                p Ошибка слива воды
            tr
              td
                p Ег: 14
              td
                p Превышение уровня воды
            tr
              td
                p Ег: 15
              td
                p Ошибка датчика уровня воды
            tr
              td
                p Ег: 16
              td
                p Датчик давления-калибровка невозможна
            tr
              td
                p Ег: 20
              td
                p ДисбалансХНет связи между модулем управления и инвертером
            tr
              td
                p Ег: 21
              td
                p Распознавание пены
            tr
              td
                p Ег: 22
              td
                p Ошибка в синхронизации сети
            tr
              td
                p Ег: 24
              td
                p Повреждено реле питания инвертора
            tr
              td
                p dr: 01
              td
                p Замыкание транзистора питания мотора
            tr
              td
                p dr: 02
              td
                p Обрыв в цепи транзистора питания мотора
            tr
              td
                p dr: 03
              td
                p Неисправен датчик температуры транзистора питания мотор
            tr
              td
                p dr: 06
              td
                p Ошибка реле датчика NTC
            tr
              td
                p dr: 07
              td
                p Замыкание обмотки мотора
            tr
              td
                p dr: 08
              td
                p Ошибка тахометра
            tr
              td
                p dr: 09
              td
                p Напряжение слишком большое
            tr
              td
                p dr: 10
              td
                p Ограничитель мощности отключился
            tr
              td
                p dr: 11
              td
                p Слишком низкое напряжение
            tr
              td
                p dr: 12
              td
                p Транзистор питания мотора, слишком высокий ток, отключение
            tr
              td
                p dr: 13
              td
                p Транзистор питания мотора слишком высокая температура, отключение
            tr
              td
                p dr: 14
              td
                p Транзистор питания мотора, слишком высокая температура
            tr
              td
                p dr: 15
              td
                p Транзистор питания мотора, слишком большой ток
            tr
              td
                p dr: 16
              td
                p Предупреждение ограничителя по мощности
            tr
              td
                p dr: 17
              td
                p Предупреждение, высокая температура мотора
            tr
              td
                p dr: 18
              td
                p Пиковое напряжение слишком большое
      .page-text
        p  * Er... - ошибки генерируемые блоком управления
        p  dr...- ошибки генерируемые блоком управления мотора.




  .calc-banner.page-banner
    .page-banner-img
      img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/calculator.webp' alt="")
    .page-banner-content
      .page-banner-content__title 
        p 100% качество и гарантия на ремонт стиральных машин!
      .page-banner-content__text 
        p Свяжитесь с нами по телефонам  
        a(href=telNumber_1_int)= telNumber_1 
        |  или 
        a(href=telNumber_2_int)= telNumber_2 
        |  и мы проконсультируем Вас о стоимости ремонта Вашей техники
      .page-banner-content__text Также Вы можете оформить on-line заявку или заказать обратный звонок
      .page-banner-content-buttons
        .page-banner-button.button-order 
          | Оформить заявку
          br
          | on-line
        .page-banner-button.button-callback Заказать звонок

