extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Коды ошибок стиральных машин Samsung (Самсунг)'
  - var content = "Расшифровка ошибок стиральных машин Samsung (Самсунг)'"
  - var pathToImgArticles = domen + '/assets/img/pictures/errors-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    "Коды ошибок бытовой техники": "/errors/",
    "Коды ошибок стиральных машин": "/errors/kody-oshibok-stiralnyh-mashin/",
    "Коды ошибок стиральных машин Samsung (Самсунг)" : ""
  })
  .errors-page.article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-010.webp'
    })
    .page-text(itemprop="articleBody")
      h2 Коды ошибок Samsung с дисплеем
      img(src=pathToImgArticles + 'samsung-1.jpg')
      img(src=pathToImgArticles + 'samsung-2.jpg')
      img(src=pathToImgArticles + 'samsung-3.jpg')

      h2
        | CMA WW9000HE - серия
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-4.jpg')
      h2 Ошибки Авто Дозатора
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              td
                p Код ошибки
              td
                p Описание ошибки
            tr
              td
                p 6Е1
              td
                p Мотор подачи моющего средства работает нестабильно
            tr
              td
                p 6Е2
              td
                p Мотор подачи моющего средства не работает
            tr
              td
                p 6ЕЗ
              td
                p Мотор смягчителя работает нестабильно
            tr
              td
                p 6Е4
              td
                p Мотор смягчителя не работает
            tr
              td
                p 6Е5
              td
                p Отказ датчика обнаружения вращения мотора
            tr
              td
                p 6Е6
              td
                p Отказ датчика обнаружения уровня моющего средства
            tr
              td
                p 6Е7
              td
                p Отказ датчика обнаружения уровня кондиционера
      p * Ошибки доступны только в тестовом режиме.
      p
        | Для входа в тест, нажмите одновременно кнопки Старт и Сеть при выключенной машине.
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-5.jpg')
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-6.jpg')
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-7.jpg')
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-8.jpg')
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-9.jpg')
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-10.jpg')
    
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-11.jpg')
      h3 Ошибка залива воды
      br
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-12.jpg')
      h3 Ошибка слива воды
      br
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-13.jpg')
      br
      h3 Ошибка перелива воды
      br
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-14.jpg')
      br
      h3 Ошибка дисбаланса
      br
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-15.jpg')
      br
      h3 Не нагревается вода
      br
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-16.jpg')
      br
      h3 Ошибка нагрева воды
      br
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-17.jpg')
      br
      h3 Ошибка блокировки дверцы
      br
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-18.jpg')
      br
      h3 Ошибка прессостата
      br
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-19.jpg')
      br
      h3 В машину заливается горячая вода -выше 50 °С.
      br
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-20.jpg')
      br
      h3 Из машины самопроизвольно сливается вода
      br
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-21.jpg')
      br
      h3 Ошибка тахогенератора
      br
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-22.jpg')
      br
      h3 Короткое замыкание симистора двигателя
      br
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-23.jpg')
      br
      h3 Нет сигнала от датчика температуры
      br
      img(alt='Коды ошибок стиральных машин samsung' src=pathToImgArticles + 'samsung-24.jpg')
      br



  .calc-banner.page-banner
    .page-banner-img
      img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/calculator.webp' alt="100% качественный ремонт")
    .page-banner-content
      .page-banner-content__title 
        p 100% качество и гарантия на ремонт стиральных машин!
      .page-banner-content__text 
        p Свяжитесь с нами по телефонам  
        a(href=telNumber_1_int)= telNumber_1 
        |  или 
        a(href=telNumber_2_int)= telNumber_2 
        |  и мы проконсультируем Вас о стоимости ремонта Вашей техники
      .page-banner-content__text Также Вы можете оформить on-line заявку или заказать обратный звонок
      .page-banner-content-buttons
        .page-banner-button.button-order 
          | Оформить заявку
          br
          | on-line
        .page-banner-button.button-callback Заказать звонок
