mixin navi-items 
	-var pathToFolder = '/repairs/' 
	.navi-item
		.navi-item__title.navi-icon.navi-icon_build-circle 
			p Ремонт бытовой техники
		ul.navi-item__list
			li.navi-item__list-item 
				a(href=domen + pathToFolder + 'remont-holodilnikov-na-domu.html') Ремонт холодильников
			li.navi-item__list-item 
				a(href=domen + pathToFolder + 'remont-stiralnyh-mashin-na-domu.html') Ремонт стиральных машин
			li.navi-item__list-item 
				a(href=domen + pathToFolder + 'remont-posudomoechnyh-mashin-na-domu.html') Ремонт посудомоечных машин
			li.navi-item__list-item 
				a(href=domen + pathToFolder + 'remont-varochnyh-paneley.html') Ремонт варочных панелей
			li.navi-item__list-item 
				a(href=domen + pathToFolder + 'remont-duhovyh-shkafov.html') Ремонт духовых шкафов   
			li.navi-item__list-item 
				a(href=domen + pathToFolder + 'remont-kompyuterov-i-noutbukov.html') Ремонт компьютеров
			li.navi-item__list-item 
				a(href=domen + pathToFolder + 'remont-televizorov.html') Ремонт телевизоров
			li.navi-item__list-item 
				a(href=domen + pathToFolder + 'master-na-chas.html') Мастер на час
	.navi-item
		.navi-item__title.navi-icon.navi-icon_build-circle   
			p Установка и подключение
		ul.navi-item__list
			li.navi-item__list-item 
				a(href= domen + pathToFolder + "podklyuchenie-stiralnoj-mashiny.html") Установка стиральных машин
			li.navi-item__list-item 
				a(href=  domen + pathToFolder + 'podklyuchenie-posudomoechnoj-mashiny-v-kuhnyu.html') Установка посудомоечных машин
	.navi-item
		.navi-item__title.navi-icon.navi-icon_info
			p Информация 
		ul.navi-item__list
			li.navi-item__list-item 
				a(href= domen + '/neispravnosti-holodilnikov/') Неисправности холодильников
			li.navi-item__list-item 
				a(href= domen + '/neispravnosti-stiralnyh-mashin/') Неисправности стиральных машин
			li.navi-item__list-item 
				a(href= domen + '/neispravnosti-posudomoechnyh-mashin/') Неисправности посудомоечных машин
			li.navi-item__list-item 
				a(href= domen + '/articles/') Хозяйке на заметку
			//- li.navi-item__list-item 
			//- 	a(href=domen + '/ask-answer/') Вопрос-ответ
			li.navi-item__list-item 
				a(href= domen + '/errors/') Коды ошибок
	//- .navi-item
	//- 	.navi-item__title.navi-icon.navi-icon_account-circle
	//- 		p О нас
	
