extends ../../../layout/article_page_layout.pug

block variables
	- var title = 'Холодильник плохо морозит: как исправить проблему?' 
	- var content = "Разбор причин почему холодильник плохо морозит, при этом компрессор работает. Не стоит паниковать, разберем все возможные причины и способы решения проблемы."
	- var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
	+bread-crumbs({ 
		'Главная': '/',
		'Неисправности холодильников': domen + '/neispravnosti-holodilnikov/',
		"Холодильник плохо морозит": "#"})

	.article-page-wrapper(itemscope itemtype="https://schema.org/Article")
		h1.page-title-h1(itemprop="name")= title 
		+pageBanner-1({
      title: 'Мы ценим Ваше время!',
      text: 'Качественный и быстрый ремонт за один визит',
      pathToImg: domen + '/assets/img/pictures/banner-img-003.webp'
    })
		.page-text.page-text-hidden-container(itemprop="articleBody")
			.page-text-hidden__bgrnd
			.page-text-hidden__button.page-text-hidden__button_down
			img.page-img.page-img_float-left( src= pathToImgArticles + "fridges/hol-ploho-morozit.webp" alt='Холодильник плохо морозит' itemprop="image")
			p Через несколько лет работы из строя выходит даже самая современная бытовая техника. Холодильник исключением не является. При этом, неисправность может быть любой. Ниже пойдет речь о поломке, при которой холодильник плохо морозит, несмотря на то, что компрессор гудит и функционирует. С чего начать в такой ситуации?
			h2.page-title-h2 Первичная диагностика
			p
				| Если холодильник стал плохо морозить, необходимо провести его тщательный осмотр, который проходит в несколько этапов.
			h3.page-title-h3 Исправное подключение к сети
			p
				| Изначально необходимо проверить, подключен ли холодильник к сети. Рекомендуется подключить его напрямую, не используя удлинитель.
			h3.page-title-h3 Закрывание двери
			p
				| Далее нужно проверить, ровно ли стоит устройство, нет ли перекоса поверхности, где оно находится. Отдельно нужно проверить хорошо ли закрывается дверь. Вполне возможно, что рядом есть продукты, которые мешают ей плотно закрыться.
			h3.page-title-h3 Разморозка
			p
				| Может произойти и такое, что плохо морозит холодильник из-за того, что пользователь случайно нажал на кнопку включения разморозки. Если вы заметили неисправность, то убедитесь, что функция отключена.
			h2.page-title-h2 Холодильник плохо морозит: причины
				img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0008.webp" alt='Вода в холодильнике - холодильник плохо морозит' itemprop="image")
			p
				| Описанные этапы диагностики не всегда позволяют отыскать первоначальную причину поломки. Если вы провели первичный осмотр техники, следует переходить к более детальной диагностике. Вероятность того, что вы сами сможете устранить проблему, не обращаясь к специалисту, остается.
			h3.page-title-h3 Проблемы с уплотнителем
			p
				| Изначально стоит проверить то, в каком состоянии находится уплотнитель на двери. Возможно, что он давно износился. В такой ситуации теплый воздух легко проникает в камеру и температура в ней не понижается.
			p
				| При этом нужно осмотреть всю поверхность уплотнителя на наличие каких-либо трещин. Кроме того, он мог попросту отсоединиться от двери.
			h3.page-title-h3 Дверь деформирована
			p
				| Дверь может быть перекошена или деформирована. Из-за этого обычно происходит нарушение герметизации. Именно поэтому нужно внимательно осмотреть дверь.
			h3.page-title-h3 Терморегулятор
				img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0003.webp" alt= 'Замена терморегулятора на холодильнике' itemprop="image")
			p
				| Причиной поломки может стать неисправный терморегулятор. При диагностике нельзя забывать и о проверке данной детали, если, к примеру, плохо морозит холодильник ноу фрост.
			h3.page-title-h3 Проблемы с хладагентом
			p
				| Данный пункт является одной из самых распространенных причин неисправности. Кроме того, подобная поломка может быть опасна для человеческого здоровья.
			p
				| Обратите внимание, что хладагентом в устройстве является фреон. Это газ, способный причинить человеческому организму довольно весомый вред. При утечке его количество в воздухе будет быстро увеличиваться. Если вы не хотите рисковать собственным здоровьем, то ремонт нужно начинать незамедлительно.
			h3.page-title-h3 Мотор перегрелся
			p
				| Перегрев мотора тоже часто становится причиной того, что плохо морозит камера холодильника. В данной ситуации отсутствие нормальной заморозки часто сопровождается светом, который не выключается. При перегреве устройство самостоятельно включает тепловую защиту.
			h3.page-title-h3 Засор капиллярной системы
			p
				| Неисправность характерна для холодильников старше 5-7 лет и заключается в попадании масла в капиллярную трубку, в следствие чего нарушается циркуляция хладагента. Компрессор в этом случае начинает работать с нагрузкой.
			h2.page-title-h2 Как устранить проблемы?
			p
				| При обнаружении проблемы, необходимо предпринять определенные действия, чтобы ее устранить. В отдельных ситуациях ремонт можно произвести своими силами, однако при больших поломках без специалиста не обойтись.
			h3.page-title-h3 Неисправность уплотнителя
			p
				| Если при проведении диагностики устройства оказалось, что оно температура не понижается из-за неисправного уплотнителя двери, то элемент нужно будет заменить. Починку можно произвести самостоятельно, но следует понимать, что профессионал все же выполнит работу более качественно и быстро. Данная услуга обычно стоит недорого. Большая часть суммы пойдет на покупку самого элемента.
			h3.page-title-h3 Сломанная дверь
			p
				| При деформации двери холодильника, из-за чего она плохо прилегает к корпусу, нужен ее полный ремонт. Трудоемкость работ полностью зависит от серьезности деформации. В отдельных ситуациях можно легко обойтись без вызова специалиста.
			p
				| К примеру, если дверь провисает, ее можно отрегулировать, воспользовавшись пластмассовыми шайбами. Заранее ее рекомендуется снять. Так, подложить шайбы будет гораздо проще. Если же дверь не может закрыться из-за поломки посадочного отверстия, ее можно переставить на другую сторону.
			h3.page-title-h3 Поломка терморегулятора
			p
				| Если стал плохо морозить холодильник, причины могут очень разными. Однако непосредственно за поддержание низкой температуры ответственен именно термический регулятор. Чаще всего он находится над дверью. Если проблема в нем, нужно произвести замену или настройку.
			p
				| Самостоятельно деталь лучше не ремонтировать. При починке необходимо вытащить переключатель режимов и вынуть пластмассовую конструкцию, которая закрывает реле.
			p
				| Определить поломку несложно. Если в холодильнике постоянно горит свет, а мотор длительное время не работает, скорее всего проблема в терморегуляторе. Однако для точной диагностики применяется мультиметр.
			h3.page-title-h3 Утечка фреона
			p
				| Если у вас есть хоть малейшее опасение, что причиной является утечка газа, необходимо сразу же произвести проверку металлического конденсатора, который находится в задней части холодильника.
			p
				| Для это следует измерить его температуру. Если произошла утечка, конденсатор будет прохладным. Если все нормально, то он будет теплым. При проверке нельзя забывать о безопасности. Данный элемент может быть достаточно горячим, чтобы обжечься.
			p
				| Если вы выясните, что двухкамерный холодильник плохо морозит из-за утечки, то его нужно будет заправить новым фреоном. Для этого рекомендуется вызвать мастера.
			h3.page-title-h3 Перегретый мотор
			p
				| При перегретом моторе устранить проблему достаточно легко. Для этого нужно дать холодильнику немного времени, чтобы двигатель отдохнул и охладился. Следует лишь отключить устройство.
			p
				| Далее холодильник можно повторно включить и проверить функциональность холодильной камеры. Если мотор больше не перегревается, проблема решена. Однако во многих случаях рекомендуется решить проблему повторного перегрева. Для этого стоит обеспечить хорошую вентиляцию, так как стены, которые плотно прилегают к устройству, могут закрывать мотор от поступления к нему свежего воздуха.
			h3.page-title-h3 Засор капиллярной системы
			p
				| Данная неисправность устраняется прочисткой капиллярной трубки или ее заменой. Работу эту выполнить самостоятельно довольно проблематично, поэтому следует обратится к мастеру.
			h2.page-title-h2 Профилактика
			p
				| Если прямо отвечать на вопрос о том, почему плохо морозит холодильник, то ответ будет в недостаточной профилактике. Чтобы устройство работало исправно, нужно руководствоваться следующими правилами.
			h3.page-title-h3 Отключение
			p
				| При выключении холодильника, нужно проверить, установлен ли терморегулятор на нулевую отметку. Лишь после этого можно отсоединять устройство от сети.
			h3.page-title-h3 Включение
			p
				| Ни в коем случае нельзя включать устройство после того, как вы в нем убрались. Холодильник должен полностью высохнуть. Только после этого можно его включать.
			h3.page-title-h3 Теплые продукты
			p
				| В устройстве нельзя хранить горячие продукты и, конечно, же ставить в него какие-либо другие предметы, которые имеют повышенную температуру. Если плохо морозит верхняя камера холодильника, вспомните, нет ли у вас привычки ставить туда только что приготовленные горячие блюда.
			h3.page-title-h3 Химические вещества
			p
				| Если вы решили тщательно убраться в холодильнике, использовать непредназначенные для этого моющие средства нельзя. В технике есть множество соединительных каналов, которые могут повредиться из-за взаимодействия с химическими веществами.
			p
				| Если холодильник плохо морозит, что делать теперь вы знаете. Причин, из-за которых температура в устройстве не уменьшается, множество. Если вы заметили проблему, необходимо незамедлительно провести диагностику.
			p
				| Важно отметить, что несвоевременное вмешательство специалиста при данных симптомах, и проведение ремонта холодильника, может привести к гораздо более печальным последствиям. В частности длительная работа компрессора без отключения вероятнее всего приведет его поломке, и данный ремонт будет стоить гораздо дороже.
		
		.page-text
			h2.page-title-h2 Возможные причины неисправности, когда холодильник плохо морозит, и способы их устранения
			.table-container_scroll
				table(border='1')
					tbody
						tr
							th
								p
									b Неисправность
							th
								p
									b Возможный ремонт
							th
								p
									b Стоимость работы
						tr
							td
								p Износ уплотнителя
							td
								p Замена уплотнителя двери холодильника
							td
								p от 1500 р.
						tr
							td(rowspan='5')
								p Утечка хладагента
							td
								p Устранение утечки хладагента
							td
								p от 1200 р.
						tr
							td
								p Устранение утечки в испарителе
							td
								p от 1200 р.
						tr
							td
								p Устранение утечки в запененной части
							td
								p от 1800 р.
						tr
							td
								p Ремонт конденсатора
							td
								p от 1200 р.
						tr
							td
								p Замена конденсатора
							td
								p от 2500 р.
						tr
							td(rowspan='2')
								p Засор капиллярной системы
							td
								p Устранение засора капиллярной трубки
							td
								p от 1100 р.
						tr
							td
								p Замена капиллярной трубки
							td
								p от 1500 р.

		.calc-banner.page-banner
			.page-banner-img
				img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
			.page-banner-content
				.page-banner-content__title 
					p Доверьте ремонт Вашего холодильника профессионалам!
				.page-banner-content__text 
					p  телефоны для связи
					a(href='#')= telNumber_1 
					|  или 
					a(href='#')= telNumber_2 

				.page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
				.page-banner-content-buttons
					.page-banner-button.button-order 
						| Оформить заявку
						br
						| on-line
					.page-banner-button.button-callback Заказать звонок 
		+brands-fridge({
			title: "Мы устраним поломку холодильника любой марки"
		})
		.page-articles-link
			h2.page-title-h2 Другие возможные неисправности холодильников
			.page-articles-link-wrapper
				-var pathToPage = domen + '/malfunctions/neispravnosti-holodilnikov/'
				.page-articles-link-item
					a(href=pathToPage + 'led-v-kamere-holodilnika.html') 
						img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-led-v-holodilke.webp' alt="Лед в холодильной камере")
						p Лед в холодильной камере
				.page-articles-link-item
					a(href=pathToPage + 'holodilnik-ne-vklyuchaetsya.html') 
						img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-ne-vkluchaetsa.webp' alt="Холодильник не включается")
						p Холодильник не включается
				.page-articles-link-item
					a(href=pathToPage + 'holodilnik-silno-morozit.html') 
						img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-silno-morozit.webp' alt="Холодильник сильно морозит")
						p Холодильник сильно морозит
				.page-articles-link-item
					a(href=pathToPage + 'led-v-morozilnoj-kamere.html')
						img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-led-v-morozilke.webp' alt="Лед в морозильной камере")
						p Лед в морозильной камере
				.page-articles-link-item
					a(href=pathToPage + 'holodilnik-pishchit.html')
						img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-pishit.webp' alt="Холодильник пищит")
						p Холодильник пищит
				.page-articles-link-item
					a(href=pathToPage + 'holodilnik-gudit.html')
						img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gudit.webp' alt="Холодильник гудит")
						p Холодильник гудит
				.page-articles-link-item
					a(href=pathToPage + 'holodilnik-shchelkaet.html')
						img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-shelkaet.webp' alt="Холодильник щелкает")
						p Холодильник щелкает
				.page-articles-link-item
					a(href=pathToPage + 'holodilnik-vklyuchaetsya-i-srazu-otklyuchaetsya.html')
						img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-vkluchaetsa-i-otkluchaetsa.webp' alt="Холодильник включается и сразу отключается")
						p Холодильник включается и сразу отключается

