extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Почему холодильник течет? Причины поломки и исправление.' 
  - var content = "Если сильно течет или подтекает холодильник зачастую справиться с проблемой можно самостоятельно. В нашей статье рекомендации по устранению проблемы."
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности холодильников': domen + '/neispravnosti-holodilnikov/',
    "Холодильник течёт": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-006.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "fridges/hol-plachet.webp" alt= 'Холодильник течет' itemprop="image")
      p
        | Любая поломка бытовой техники обычно доставляет
        |  массу проблем. Систематическое протекание холодильника - очень неприятное явление, которое грозит порчей хранящихся в нем продуктов. Первая мысль, возникающая в этот момент: "Нужно срочно вызвать специалиста." Некоторые причины поломки несерьезны и легко устранимы самостоятельно.
      p
        | Обычно холодильник течет из-за таких неполадок.
      p
        | Для начала убедитесь, что 
        | вода течет
        |  именно 
        | из под холодильного оборудования. 
        | Возможно, лужа появилась в этом месте сосем не по его вине, а из-за повреждения стоящего рядом радиатора или водопровода. Если течет все же холодильник, то необходимо разобраться в причинах его поломки. Для начала загляните и выясните, исправно ли он морозит и нет ли внутри влаги. Если все в порядке с компрессором, то необходимо выяснить причину поломки. Обычно она не серьезная и вы сможете справится с ней сами, прибегнув к нашим советам.
      h3.page-title-h3 Почему из холодильника течет вода:
      ul.page-list.page-list-ul
        li несправна емкость для сбора влаги;
        li дверь не сильно прилегает при закрывании;
        li что-то с дренажной трубой.
      h3.page-title-h3
        | Дверь морозильной камеры закрывается не достаточно прилегая.
      img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0048.webp" alt= 'Подтекает холодильник. Чистка дренажа' itemprop="image")
      p
        | Это значит, что она не может препятствовать попаданию внутрь воздуха из вне. Холодильник усиленно морозит. На стенках образуется слой замерзшей воды. Затем он начинает таять и стекает вниз по трубе. Объема резервуара не хватает и вода начинает выходить наружу.
      p
        | Проверьте правильно ли стоит холодильник. Подтяните дверь - возможно проблема в ней.
      h3.page-title-h3
        | Сдвиг трубки для вывода жидкости.
      p
        | Очень часто 
        | холодильник подтекает 
        | поэтому. По этой трубе лишняя вода выводится из холодильника. При транспортировке либо при неграмотном пользовании, трубка изменяет положение. Из-за этого вода не опадает в емкость. Вы сможете поставить ее в первоначальное положение самостоятельно. Еще может сдвинутся верхний край трубы. Вернуть ее на место тяжелее, но так же возможно. Поставьте холодильник так, чтобы для вас был свободный доступ к нужному месту и верните трубку в нормальное положение. Следите, чтобы вдоль всей трубы не было никаких изгибов, которые не дадут жидкости нормально проходить. Также 
        | сзади холодильника капает вода 
        | потому, что на дренажной трубе образовались повреждения. С этом самостоятельно справится не получится - такое по силам только специалистам.
      h3.page-title-h3
        | Повреждена чаша для стекания воды.
      p
        | Очень часто 
        | холодильник течет снизу
        |  из-за трещин в ней. Определить это не сложно. По луже возле задней стенки. Количество вытекающей воды зависит от степени повреждения емкости. Если дыра не большая, то можно попробовать заделать ее герметичным клеем. А вот при серьезных повреждениях может потребоваться полная замена емкости. Эту операцию тяжело выполнить самостоятельно. Нужна помощь специалистов в подборе нужного резервуара и его замене.
      h3.page-title-h3
        | Отсутствует питание.
      p
        | Проверьте, работает ли компрессор холодильника. Есть вероятность, что поврежден электрический кабель и оборудование перестало морозить. Лед растаял, в результате чего 
        | из холодильника течет вода.
      img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0040.webp" alt= 'Емкость холодильника для воды' itemprop="image")
      h2.page-title-h2
        | Причины появления воды в нижней части морозилки.
      p
        | В моделях с капельной разморозкой возможно образование влажности в небольших объемах. Но если под ящиками постоянно появляется жидкость - то у вас что то не так с оборудованием. К счастью, это не сложная проблема, которую можно попытаться устранить самостоятельно. Вот наиболее вероятные причины:
      ul.page-list.page-list-ul
        li забилась дренажная труба;
        li неисправен терморегулятор;
        li компрессор поломался;
        li утечка фреона.
      h3.page-title-h3 Что делать, если забилась трубка для вывода воды.
      p
        | Чаще всего течет холодильник
        |  именно по этой причине. Она будет собираться снизу под емкостями. Это может случится из-за попадания частичек еды или льдинок. Что можно сделать:
      ul.page-list.page-list-ul
        li прочистить отверстие каким-либо предметом.
        li продуть;
        li налить теплой воды.
      p
        | Наиболее действенным является промывание отверстия теплой водой под давлением. Ни в коем случае не используйте для почисти острые предметы, ведь можно пробить трубку. Чтобы избежать появление воды в дальнейшем, старайтесь не класть продукты питания близко к стенке и регулярно проверяйте дренажное отверстие.
      p
        | Из морозильной камеры тоже может течь вода.
      p
        | Причины, по которым 
        | двухкамерный холодильник течет 
        | самые разные. Влага при этом, накапливается в морозилке. Причиной этому является таяние льда под воздействием тепла, попадающего внутрь. По идее, все должно выходить наружу через дренажное отверстие. Если оно засорено и воде некуда выходить, то она скапливается в нижней части холодильника или намерзает в области дверей. Почему 
        | течет вода из морозильной камеры:
      ul.page-list.page-list-ul
        li
          | если продукты питания находятся слишком близко к задней стенке морозилки, то может произойти засор дренажного отверстия мелкими частицами еды либо крошками.
        li недостаточное очищение морозильной камеры при размораживании;
        li солевые отложения, которые появились при использовании некачественной воды.
      h3.page-title-h3
        | Поломка терморегулятора.
      p
        | Если воды много и она присутствует везде
        | , 
        | то скорее всего причина в терморегуляторе. Его функция заключается в поддержании оптимальной для хранения продуктов температуры, своевременном отключении компрессора. Устранить поломку самостоятельно вряд ли удастся. Обратитесь в сервисный цент, если ваш холодильник постоянно находится во включенном состоянии или, наоборот, совсем не морозит. Вы получите всю необходимую помощь в данном вопросе.
      h3.page-title-h3 Недостаточная герметичность холодильника.
      p
        | Если 
        | течет холодильник снизу 
        | и вода скапливается под ящиком для хранения овощей и фруктов, то возможно следует обратить внимание на уплотнитель дверей. Именно он отвечает за герметичность камеры при закрытых дверях. Со временем он высыхает и растрескивается. плотное прилегание дверей не обеспечивается. Приобрести новый уплотнитель подходящей модели можно в любом магазине бытовой техники, а его замена не требует особых навыков.
      h3.page-title-h3 Утечка фреона.
      p
        | Еще одной причиной 
        | подтекания холодильника
        |  может стать утечка фреона. Фреоном называют жидкость, которая циркулирует по трубам и охлаждает камеру холодильника. Если образуется трещина, то фреон вытекает и уже не так эффективно понижает температуру в холодильнике. Также эффективность работы холодильника может быть снижена из-за попадания мелких частиц в систему охлаждения. Вызовите мастера для устранения протечки. Не следует бороться с этой проблемой самому.
      h3.page-title-h3 Сгорел компрессор.
      p
        | Это самая серьезная причина выхода техники из строя. Самостоятельно проблему не решить - обратитесь за помощью в замене компрессора к мастеру по ремонту бытовой техники.
      p
        | Ознакомитесь с таблицей, в которой систематизированы основные проблемы, которые могут возникнуть с холодильным оборудованием и пути их решения.

      .table-container_scroll  
        table(border='1')
          tbody
            tr
              th
                p Поломка
              th
                p Как определить
              th
                p Как исправить
            tr
              td
                p Дренажная трубка стоит не правильно
              td
                p Жидкость есть только внизу холодильника
              td
                p
                  | Переставить оборудование для получения доступа к дренажной трубе и устранить поломку.
            tr
              td
                p Образование трещин в трубке
              td
                p На пол капает или течет жидкость
              td
                p Замена трубки мастером.
            tr
              td
                p Нарушена целостность резервуара для воды
              td
                p Снаружи протекает вода.
              td
                p Замена резервуара для воды мастером.
            tr
              td
                p Образовался засор в дренажном отверстии
              td
                p
                  | Внутри холодильника скапливается большое количество воды, образуется наледь в области дверей.
              td
                p Тщательная прочистка или промывание теплой водой под давлением.
            tr
              td
                p Недостаточное прилегание дверей камеры
              td
                p Вода присутствует снаружи и внутри.
              td
                p Правильно выставить холодильник, подтянуть петли на дверях.
            tr
              td
                p Потеря герметичности камер холодильника
              td
                p Жидкость появляется в камере холодильника и протекает наружу.
              td
                p Уплотнитель нуждается в замене.
      h3.page-title-h3 Сломался испаритель.
      p
        | Бывает, что в 
        | холодильниках ноу фрост 
        | тоже 
        | течет вода. 
        | Из-за отличного от других принципа действия этой техники, получается, что лишняя влага попадает на испаритель и превращается в лед. После он растапливает эту воду и выводит ее по дренажной трубке наружу.
      img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0005.webp" alt= 'Скапливается вода в холодильнике no-frost' itemprop="image")
      p
        | Это сделано для того, чтобы в холодильниках с этой системой не было лишней влаги. Если вы вдруг обнаружили воду под испарителем, значит он неисправен. Это может быть вышедший из строя ТЭН либо вентилятор для вывода влаги. Поэтому лишняя жидкость не выводится, а намерзает на стенках холодильника, периодически вытекая наружу. Определить это можно по большому количеству льда в морозильнике и большой луже на полу. Для того, чтобы все исправить, необходимо помощь профессионалов.
      p
        | Рекомендации, которые помогут избежать появления лишней влаги при пользовании холодильным оборудованием.
      p Вот несколько основных правил:
      ul.page-list.page-list-ul
        li
          | не следует оставлять двери камер открытыми надолго, следите за сохранением герметичности;
        li
          | храните продукты в холодильнике вне емкостей, чтобы избежать засорения пищей дренажного отверстия;
        li
          | жидкие продукты должны храниться в плотно закрытой посуде, чтобы избежать их испарения;
        li не ставьте в холодильник горячие продукты;
        li
          | не использовать для прочисти дренажной трубы и откалывания намерзшего льда острые предметы;
        li регулярно смазывайте резиновый уплотнитель дверей силиконом;
      p
        | Регулярное образование влаги почти всегда служит сигналом неисправности холодильного оборудования. Рекомендуется как можно быстрее выяснить причину поломки и устранить ее. Если сделать это самостоятельно не удается, обратитесь за помощью к специалистам по ремонту холодильников. Игнорирование проблемы может привести к более серьезной поломке.
      p Причины, при которых холодильник течет, и их возможное устранение:
    .page-text   
      h2.page-title-h2 Возможные причины неисправности и стоимость их устранения
      .table-container_scroll  
 
      table(border='1')
        tbody
          tr
            th
              p
                b Неисправность
            th
              p
                b Возможный ремонт
            th
              p
                b Стоимость работы
          tr
            td
              p Засорение дренажной системы
            td
              p Прочистка дренажной системы с полным разбором
            td
              p от 600 р.
          tr
            td(rowspan='7')
              p Поломка дренажной системы
              p Утечка хладагента
            td
              p Ремонт дренажной системы
            td
              p от 600 р.
          tr
            td
              p Устранение утечки хладагента
            td
              p от 1200 р.
          tr
            td
              p Устранение утечки в испарителе
            td
              p от 1200 р.
          tr
            td
              p Устранение утечки в запененной части
            td
              p от 1800 р.
          tr
            td
              p Замена испарителя
            td
              p от 1200 р.
          tr
            td
              p Ремонт конденсатора
            td
              p от 1200 р.
          tr
            td
              p Ремонт конденсатора
            td
              p от 1200 р.
          tr
            td
              p Неисправность терморегулятора
            td
              p Замена терморегулятора
            td
              p от 1200 р.
          tr
            td
              p Отсутствие питания холодильника
            td
              p Ремонт электросхемы
            td
              p от 600 р.
          tr
            td
              p Неисправность температурного датчика
            td
              p Замена датчика температуры
            td
              p от 800 р.
          tr
            td
              p Неисправность компрессора
            td
              p Замена компрессора
            td
              p от 2500 р.

    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Течет холодильник? Звоните - мы поможем!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-fridge({
      title: "Мы устраним поломку холодильника любой марки"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности холодильников
      .page-articles-link-wrapper
        -var pathToPage = domen + '/malfunctions/neispravnosti-holodilnikov/'
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gromko-rabotaet.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gromko-rabotaet.webp' alt="Холодильник громко работает")
            p Холодильник громко работает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-ne-vklyuchaetsya.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-ne-vkluchaetsa.webp' alt="Холодильник не включается")
            p Холодильник не включается
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-silno-morozit.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-silno-morozit.webp' alt="Холодильник сильно морозит")
            p Холодильник сильно морозит
        .page-articles-link-item
          a(href=pathToPage + 'led-v-morozilnoj-kamere.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-led-v-morozilke.webp' alt="Лед в морозильной камере")
            p Лед в морозильной камере
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-pishchit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-pishit.webp' alt="Холодильник пищит")
            p Холодильник пищит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gudit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gudit.webp' alt="Холодильник гудит")
            p Холодильник гудит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-shchelkaet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-shelkaet.webp' alt="Холодильник щелкает")
            p Холодильник щелкает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-techet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-plachet.webp' alt="Холодильник течет")
            p Холодильник течет

