extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Холодильник гудит' 
  - var content = "Если холодильник постоянно работает и не отключается,  то это первый признак поломки устройства. Причины неисправности и способы устранения в статье.Если стал гудеть холодильник, это явный признак неправильной работы агрегата. Первое, что нужно сделать, определить причину. Воспользовавшись нашей информацией, сделать это можно даже по звуку."
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности холодильников': domen + '/neispravnosti-holodilnikov/',
    "Холодильник гудит": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Не медлите с ремонтом!',
      text: 'Мастер приедет к Вам в течение часа',
      pathToImg: domen + '/assets/img/pictures/banner-img-007.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "fridges/hol-gudit.webp" alt= 'Гудит холодильник' itemprop="image")
      p
        | Если холодильник гудит при работе, то самая распространенная причина неисправности – неправильная установка холодильника. При перекосе компрессор соприкасается с корпусом, и холодильник начинает гудеть. К неправильной установке относят вибрацию опоры, отсутствие опоры на ножках, расположение холодильника вплотную к стенке, ассиметричную опору. Исправить ситуацию можно самостоятельно. Достаточно устранить вышеназванные недостатки, попытаться добиться симметрии и ровной опоры.
      h2.page-title-h2 Вибрация и шум компрессора
      p
        | Но если гудит компрессор холодильника довольно давно, а никаких мер не предпринимали, то положение усугубляется. При касании близлежащих предметов и постоянном длительном соприкосновении компрессора со стенкой, конденсатор работает при нехватке воздуха. Это приводит к недостаточной конденсации. В результате испаритель начинает работать в постоянном режиме, компрессор перегружается, двигатель начинает вибрировать, а клапаны стучать. В таких случаях вибрация передается даже на корпус, что является характерным признаком данной неисправности.
      p
        | Когда постоянно гудит холодильник, вибрация передается на все узлы и комплектующие агрегата, что приводит к дефектам крепления компрессора. В этом случае гайки закручены не до упора, а визуально отсутствует крепление трубок компрессора.
      h2.page-title-h2 Неисправность вентиляторов
      p
        | Если холодильник сильно гудит, не лишним будет проверить исправность вентиляторов. Очень часто холодильник ноу фрост гудит, когда смазка подшипников твердеет и высыхает. Происходит это из-за особенностей конструкции холодильных агрегатов с системой NO FROST. В них расположены 2 вентилятора: по одному на холодильный отсек и морозильную камеру. Как следствие, из-за разницы температур в камерах смазка быстрее высыхает, а вентиляторы начинают вибрировать. В этом случае гудит холодильник из-за звука вибрации вентиляторов.
      h2.page-title-h2 Дефекты в электронике
      p
        | Если гудит новый холодильник, то причиной шума может стать некорректная работа электрической цепи холодильника. При выходе из строя пускового защитного реле, начинаются самопроизвольные включения, во время которых гудит холодильник очень мощно, но после набора холода также резко отключается.
      p
        | Если начал гудеть холодильник, это может быть признаком таких неприятных поломок как засорение дросселя или фильтра. Забитые трубки приводят к недостатку газа и фреона в испарителе и конденсаторе. В этом случае при перезапуске холодильного агрегата раздается характерный неприятный рык.
      p
        | Следствие такой неисправности – увеличение нагрузки, снижение производительности и работа на износ.
      h2.page-title-h2 Если гудит холодильник что делать?
      p
        | Если стал гудеть холодильник, это явный признак неправильной работы агрегата. Первое, что нужно сделать, определить причину. Воспользовавшись нашей информацией, сделать это можно даже по звуку. Когда источник неисправности определен, можно переходить к устранению неполадки. Недостатки установки устранить достаточно просто самостоятельно. Прочно устанавливаем холодильник на опору или поверхность, удаляет соприкасающиеся предметы. Если площадь установки неровная, нужно обеспечить устойчивость при помощи подкладок.
      h2.page-title-h2 Шум компрессора
      p
        | Шум компрессора – неизбежная проблема старых холодильных установок, в которых он устанавливается на амортизаторах. Поэтому даже небольшое изменение положения способно сместить компрессор. Это сопровождается ослаблением крепления. В этом случае после визуального осмотра необходимо заново закрепить трубки, подтянуть гайки, проверить болты крепления. При ослаблении крепления, вызванного дефектами или износом лучше заменить пружину и/или прокладки.
      h2.page-title-h2 Советы по эксплуатации
      p
        | Когда холодильник гудит, в чем причина можно разобраться самостоятельно просто потому, что в большинстве случаев ситуация возникает из-за нарушения элементарных правил эксплуатации холодильного агрегата. Они подробно изложены в инструкции. Правила установки можно найти в разделе подготовка к эксплуатации, запуску устройства. Помните, что правильная эксплуатация подразумевает обязательные технические осмотры. Их сроки также указаны в разделе инструкции – обслуживание. Пропускать их нельзя.
    .page-text   
      h2.page-title-h2 Причины гула холодильника и способы их устранения:
      .table-container_scroll  
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Неисправность компрессора
              td
                p Замена компрессора
              td
                p от 2500 р.
            tr
              td(rowspan='2')
                p Неисправность вентилятора
              td
                p Замена вентилятора в сборе
              td
                p от 1600 р.
            tr
              td
                p Замена двигателя вентилятора
              td
                p от 1400 р.
            tr
              td
                p Износ амортизаторов компрессора
              td
                p Мелкий ремонт
              td
                p от 600 р.

    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашего холодильника профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-fridge({
      title: "Мы устраним поломку холодильника любой марки"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности холодильников
      .page-articles-link-wrapper
        -var pathToPage = domen + '/malfunctions/neispravnosti-holodilnikov/'
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gromko-rabotaet.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gromko-rabotaet.webp' alt="Холодильник громко работает")
            p Холодильник громко работает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-ne-vklyuchaetsya.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-ne-vkluchaetsa.webp' alt="Холодильник не включается")
            p Холодильник не включается
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-silno-morozit.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-silno-morozit.webp' alt="Холодильник сильно морозит")
            p Холодильник сильно морозит
        .page-articles-link-item
          a(href=pathToPage + 'led-v-morozilnoj-kamere.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-led-v-morozilke.webp' alt="Лед в морозильной камере")
            p Лед в морозильной камере
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-pishchit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-pishit.webp' alt="Холодильник пищит")
            p Холодильник пищит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gudit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gudit.webp' alt="Холодильник гудит")
            p Холодильник гудит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-shchelkaet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-shelkaet.webp' alt="Холодильник щелкает")
            p Холодильник щелкает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-techet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-plachet.webp' alt="Холодильник течет")
            p Холодильник течет

