extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Холодильник выбивает автомат – разберемся в причинах неисправности' 
  - var content = "В процессе работы или при включении вполне возможно столкнуться с тем, что у вас погаснет свет. Конечно, холодильник выбивает автомат или УЗО только при определённых обстоятельствах и в норме такого происходить не должно"
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности холодильников': domen + '/neispravnosti-holodilnikov/',
    "Холодильник выбивает автомат": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-006.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
    
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "fridges/hol-vibivaet-avtomat.webp" alt= 'Холодильник выбивает автомат' itemprop="image")
      p
        | Один из самых надёжных типов техники в современном доме является холодильник, но это не значит, что с ним совсем не бывает проблем. В процессе работы или при включении вполне возможно столкнуться с тем, что у вас погаснет свет. Конечно, холодильник выбивает автомат или УЗО только при определённых обстоятельствах и в норме такого происходить не должно.
      p
        | Если же пробки выбивает и связано это с работой холодильника, то, как правило, на определённом этапе его работы:
      ul.page-list.page-list-ul
        li При подключении к электросети;
        li При активации режима No Frost;
        li При включении компрессора или в процессе его работы.
      p
        | Причём электрозащита в равной степени может так реагировать, как в случае с новой техникой, так и старой. Однако это не нормальное явление, поэтому всегда стоит определить причину такого её поведения.
      h2.page-title-h2 Ищем проблему в электросети дома
      p
        | Зачастую при включении холодильника выбивает автомат не из-за его неисправности, а совершенно по другой причине.
      p
        | Так одной из самых распространённых неприятностей может быть банальное несоответствие номинала автомата нагрузке, приходящейся на линию. Если его номинальный ток ниже уровня, потребляемой холодильником мощности, то при включении мотора-компрессора и соответствующем скачке он будет отключаться. Основным решением данной проблемы будет замена автомата на тот, номинальный ток которого выше требуемого. В целом же по современным нормам подключение такой мощной техники должно идти через диффавтомат либо сочетание УЗО с автоматом по отдельной линии. При таком построении сети, домовладелец защищает, как проводку от перегрузки, коротких замыканий и скачков напряжения, так и саму технику от аналогичных проблем в электросети. Правда на деле реализована подобная схема не так часто, как хотелось бы. В старом жилом фонде она практически не встречается, а вот в новостройках уже не редкость.
      p
        | Другой причиной, почему холодильник выбивает автомат, может быть превышение совокупной мощности электроприборов на линии, номиналу автомата. Основная задача такого элемента сети, защита электрокабеля от перегрева и возгорания. Поэтому его выбирают и ставят исходя из максимальной нагрузки на кабель, при превышении которой он отрубается. Такая мера вполне обоснована и не даёт случиться более серьёзным происшествиям. Выхода из этой ситуации два – первый замена автомата и кабеля на более мощные, второй не подключать другие мощные бытовые приборы на одной линии с холодильником.
      p
        | Когда при включении холодильника выбивает автомат причина может быть в неисправности диффавтомата, автомата или УЗО. Если все нормы подключения соблюдены и мощности соответствуют нагрузке, а отключения происходят, то дело скорее всего в этом. Решение тут одно – замена неисправного устройства.
      p
        | Плохой контакт с розеткой тоже может стать тем, из-за чего выбивает пробки. Причём необязательно она будет неисправной, это может быть нестандартный или устаревший формат разъёма. В любом случае плохое прилегание вилки к розетке зачастую приводит к искрению и скачкам напряжения, что фиксирует автомат и как следствие обесточивает всю линию. Устранить неполадку достаточно легко, самостоятельно или обратившись к специалисту замените розетку.
      p
        | Обратите внимание, в любом случае проверку проводки и подключённого оборудования проводят только при отключённом вводном автомате, как и последующий ремонт.
      h2.page-title-h2 Поломка в самом холодильнике
      p
        | Да обычно с такой бытовой техникой неполадки случаются достаточно редко, но это не исключает их совсем. Когда холодильник выбивает автомат причины могут быть и не в электросети, тем более, если всё было досконально проверено.
      h3.page-title-h3 Проводка и контакты, шнур и вилка
      p
        | Достаточно часто холодильник может выбивать пробки, непосредственно при подключении к сети. Если с проводкой в доме всё в порядке, то скорее всего неисправны шнур питания либо контакты в вилке. Такие поломки создают короткое замыкание и опасны, в том числе для домашних животных и домочадцев, как ударом тока, так и опасностью возгорания. Выход тут достаточно очевиден, замена повреждённого элемента на новый по гарантии или за свои средства.
      p
        | Однако проводка может прийти в негодность не только внешняя (шнур питания), но и внутри электроприбора. Причём первое время такая поломка даже может быть не заметна. А вот когда оголённые провода начинают соприкасаться меж собой или с корпусом, тогда при включении холодильника выбивает автомат. Обычно это происходит в старых моделях или спустя определённый срок эксплуатации, а может быть и при механическом повреждении мышами либо другими вредителями. В этом случае повреждённые элементы проводки заменяются.
      h3.page-title-h3 Контакты
      p
        | При повышенной влажности в помещении, долгом сроке эксплуатации или попадании внутрь воды могут окислиться контакты. В связи с этим может произойти, как простая утечка тока (на корпус электроприбора), так и серьёзное короткое замыкание. Окислиться могут контакты на микросхемах или под кнопками, в моделях с кнопочным управлением. В большинстве случаев их достаточно зачистить, а кнопки можно полностью заменить, и всё снова будет нормально работать.
      h2.page-title-h2 Неисправности ключевых узлов
      h3.page-title-h3 Мотор-компрессор
      p
        | Одной из причин почему холодильник выбивает автомат, является замыкание в обмотке мотора. В таком случае отключение обычно происходит в момент запуска компрессора или спустя короткое время после запуска. С новой бытовой техникой это происходит весьма редко, а вот старые холодильники этому подвержены. Сопротивление изоляции со временем падает и как следствие происходит утечка тока с последующим коротким замыканием. Основным способом устранения неисправности, является полная замена мотора-компрессора.
      h3.page-title-h3 Реле
      p
        | Однако не всегда виноват мотор холодильника при отключении автомата, даже если косвенные признаки указывают на это. Так выбитые пробки при включении компрессора, могут свидетельствовать и о неисправности реле. Оно одновременно запускает мотор и практически сразу срабатывает автоматический выключатель, поэтому компрессор остаётся выключенным. Для исправления проблемы, реле необходимо поменять.
      h3.page-title-h3 Блок управления
      p
        | Любые неисправности платы управления напрямую оказывают влияние на работоспособность холодильника. При этом необязательно поломка критична, иногда вместо замены достаточно простого ремонта. Самостоятельно определить такую поломку без диагностики сложно, так как холодильник выбивает автомат в любой момент. Такое происходит при его включении, запуске цикла охлаждения или в момент запуска мотора.
      h3.page-title-h3 Поломка ТЭНа в модели No Frost
      p
        | В современных холодильниках с системой оттаивания действует специальный электронагреватель. При выходе его из строя будет стабильно отключаться свет, при попытке запуска ТЭНа бытовым прибором. Отключить эту функцию нельзя, устранить поломку возможно заменой электронагревателя.
      p
        | Все описанные неисправности требуют немедленного вмешательства специалиста, ведь замыкание электроцепи это довольно серьезная проблема, и она может не ограничиться отключением автомата. Например, имеется определенная вероятность отказа самого автомата, в таком случае замыкание в холодильнике может привести к возгоранию проводки.
      p
        | Поэтому в случаях, когда ваш холодильник выбивает автомат, обязательно следует обратиться к мастеру.
      p
        | Основные неисправности, способы и стоимость их устранения силами нашей компании сведены в таблицу:
    .page-text
      h2.page-title-h2 Возможные причины неисправности и стоимость их устранения     
      .table-container_scroll  
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Замыкание электроцепи
              td
                p Ремонт электросхемы
              td
                p от 600 р.
            tr
              td
                p Неисправность ТЭНа
              td
                p Замена ТЭНа оттайки
              td
                p от 1500 р.
            tr
              td
                p Неисправность компрессора
              td
                p Замена компрессора
              td
                p от 2500 р.
            tr
              td
                p Неисправность электронного модуля
              td
                p Ремонт модуля управления (платы)
              td
                p от 1500 р.
            tr
              td
                p Неисправность пускозащитного устройства
              td
                p Замена пускозащитного реле
              td
                p от 1200 р.

    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашего холодильника профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-fridge({
      title: "Мы устраним поломку холодильника любой марки"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности холодильников
      .page-articles-link-wrapper
        -var pathToPage = domen + '/malfunctions/neispravnosti-holodilnikov/'
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gromko-rabotaet.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gromko-rabotaet.webp' alt="Холодильник громко работает")
            p Холодильник громко работает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-ne-vklyuchaetsya.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-ne-vkluchaetsa.webp' alt="Холодильник не включается")
            p Холодильник не включается
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-silno-morozit.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-silno-morozit.webp' alt="Холодильник сильно морозит")
            p Холодильник сильно морозит
        .page-articles-link-item
          a(href=pathToPage + 'led-v-morozilnoj-kamere.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-led-v-morozilke.webp' alt="Лед в морозильной камере")
            p Лед в морозильной камере
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-pishchit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-pishit.webp' alt="Холодильник пищит")
            p Холодильник пищит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gudit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gudit.webp' alt="Холодильник гудит")
            p Холодильник гудит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-shchelkaet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-shelkaet.webp' alt="Холодильник щелкает")
            p Холодильник щелкает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-techet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-plachet.webp' alt="Холодильник течет")
            p Холодильник течет

