extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Холодильник громко работает ' 
  - var content = "Серьезный дефект, который может привести к к серьезной неисправности холодильника. Чаще шум холодильника возникает из-за неисправности компрессора или вентилятора. Но есть и другие причины."
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности холодильников': domen + '/neispravnosti-holodilnikov/',
    "Холодильник громко работает": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Не медлите с ремонтом!',
      text: 'Мастер может приехать к Вам в течение часа.',
      pathToImg: domen + '/assets/img/pictures/banner-img-008.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "fridges/hol-gromko-rabotaet.webp" alt= 'Холодильник громко работает' itemprop="image")

      p
        | Данный дефект холодильника вызывает прежде всего моральный дискомфорт и раздражение. Помимо вышеперечисленного все это может привести к тому, что он просто потеряет свою функциональность и будет охлаждать не должным образом. Очень часто причину того, что громко работает холодильник можно выявить и исправить самостоятельно. Однако, часто приходится обращать за помощью к профессионалам. Именно они помогут устранить дефект. Как же определить поломку того, почему очень громко работает холодильник и постараться исправить ее самому?
      h2.page-title-h2 Особенности
      p
        | Даже при правильной работе холодильника часто можно слышать посторонние звуки. Основными источниками их возникновения может являться работа компрессора, который просто гудит при работе, либо шум может быть вызван циркуляцией хладагента. Для того, чтобы определиться с причиной почему громко гудит холодильник в первую очередь необходимо определить характер звука:
      ol.page-list.page-list-ol
        li Слабый гул характеризует нормальную работу компрессора;
        li
          | Незначительное звучание треска пластика будет говорить о том, что происходит расширение трубок под температурой. Чаще всего это наблюдается в тех случаях, когда они просто переходят из одной области в другую, где наблюдается резкий перепад температур.
        li
          | Также характерным звуком того, что холодильник громко работает может явиться необычный гул, издаваемый при работе. Данная причина чаще всего вызывается тем, что вентилятор циркулирует холодный воздух внутри оборудования;
        li
          | Вибрация. Для качественного и правильного выяснения причины того, почему холодильник громко работает, нужно научиться определять характер возникновения проблемы.
      h2.page-title-h2 Частые причины гула устройства
      p
        | Если Вы заметили, что Ваш холодильник очень громко работает, лучше всего сразу предпринять меры. Как показывает практика, появление характерного шума в-первую очередь связано с тем, что он уже функционирует не должным образом. Правильная работа устройства характеризуется тем, что в ходе эксплуатации он вообще не изменяет свой шум. По характеру звука можно научиться определять проблемы и выяснять причины почему стал громко работать холодильник. Это поможет каждому хозяину своевременно предпринять все необходимые меры, чтобы устранить причину. К примеру, внезапно появился стук от работы компрессора устройства. В этом случае не стоит особо переживать, высока вероятность того, что просто необходимо заменить резиновые амортизирующие кольца. Они и привели к тому, что холодильник работает очень громко.
      h3.page-title-h3 Была выполнена неправильная установка
      p
        | Перед тем, как говорить о некачественной покупке нового устройства, следует обратить внимание на правильность его установки. Для качественной установки устройства нужно соблюдать все пункты, указанные в соответствующей инструкции, которая идет в комплекте с каждым устройством. Тип поверхности играет важную роль. Главное, чтобы она была ровной, так как ее кривизна может стать причиной того, что в скором времени холодильник начнет работать очень громко. Чему стоит еще придать значение?
      ol.page-list.page-list-ol
        li Оборудование лучше всего не устанавливать в местах, находящихся рядом с трубами отопления;
        li Не рекомендуется устанавливать в непосредственной близости от окон, а также газовых плит;
      p 3.Устанавливать холодильник необходимо только на ровную поверхность.
      img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0062.webp" alt= 'Компрессор холодильника громко работает' itemprop="image")

      p
        | Безусловно, для большинства граждан проблема планировки помещения остается насущной. В этом случае очень тяжело подобрать такое место, которое будет соответствовать всем требованиям, прописанным в инструкции. Вот почему многие граждане даже не обращают на нее внимание и устанавливают там, где им удобно. В этом случае из причин того, почему новый холодильник громко работает можно выделить следующие:
      ol.page-list.page-list-ol
        li Компрессор просто ударяется о стены либо другие предметы интерьера, которые находятся в непосредственной близости от него. Чаще всего проблема сопровождается характерным дребезжащим звуком. В этом случае следует обратить на расстояние холодильника от стены либо предметов интерьера и подвинуть его, либо наоборот отодвинуть;
      
        li Холодильник работает дольше обычного. Это может привести к тому, что появляется звук циркуляции хладагента. Чаще всего это связано с тем, что просто дверца закрыта неплотно;
      
        li Еще одной характерной причиной того, почему холодильник начал громко работать, часто бывает неверная установка винтов и болтов. Именно они используются для крепления всех элементов внутри оборудования. При их неправильном применении может просто появиться вибрация в результате работы холодильника.
      p
        | Несмотря на все необходимо сделать максимум усилий для того, чтобы установить холодильное оборудование строго по инструкции. В этом случае меньше шансов задаваться вопросом, почему холодильник стал громко работать.
      h3.page-title-h3 Плохой приток воздуха
      p
        | Очень часто причиной того, почему холодильник начинает громко работать, выступает шум в результате работы вентилятора. Вентилятор по своей сути является асинхронным двигателем, который оснащен крыльчаткой. Ввиду этого, его работа может сопровождаться различными звуками.
      ol.page-list.page-list-ol
        li Он может гудеть. Это будет доказывать тот факт, что на его вал дается очень большая нагрузка. Чаще всего она возникает в тех случаях, когда поступает маленький приток воздуха. Устранить причину довольно просто, достаточно проверить, не загромождены ли отверстия внутри холодильника продуктами;
        li Перегрев мотора также может ответить на вопрос, почему громко работает холодильник. В его обмотках скорее всего есть присутствие КЗ, что препятствует развитию необходимой мощности. Кроме того, в этом случае устройство потребляет куда больше электрической энергии. Поломка может быть вызвана тем, что мотор греется намного быстрее, так как вентилятор не может обеспечить необходимое количество притока воздуха;
        li Причина того, что очень громко работает компрессор холодильника может заключаться в работе вентилятора. Ускоренная работа приводит к преждевременному нагреванию.
      h3.page-title-h3 Засор капиллярной трубки
      p
        | Очень часто домочадцы стараются выяснить, почему громко работает холодильник и определить причины, а также методы их устранения не зная о том, что могла просто засориться капиллярная трубка. В этом случае работа холодильного оборудования сопровождается необычным треском. Именно он является свидетельством того, что во многих соединениях и переходах наблюдается резкий перепад давления. Данные звуки характерны для хладагента, циркулирующего по всей системе. Важно знать, что данный шум вообще не будет исчезать, кроме того, раз за разом, он просто будет увеличиваться. Это признак того, что в системе образовался засор.
      p
        | Если рассматривать данный момент с точки зрения теории, то скорее всего засор образовался в фильтре. С другой стороны, он без проблем пропускает через себя все мелкие предметы и не дает пройти через себя только более крупным. Мелкие частицы засоряют систему в месте перехода с большего на меньший диаметр трубок. Устранить данную неполадку можно только специальными средствами, такими как трехкомпонентный газ для прочистки капиллярной системы. Решить эту проблему может только специалист с достаточным уровнем знаний и опыта.
      h3.page-title-h3 Неполадки, связанные с работой вентилятора
      p
        | Часто причиной того, почему холодильник громко работает может стать неправильная работа самого вентилятора. Это легко объяснить тем, что вентилятор работает постоянно, рано или поздно, для его качественного функционирования необходимо смазывать подшипники. Если данному моменту не уделить должного внимания, то вентилятор вообще может перестать работать, что вызовет поломку холодильника.
      p
        | Если Вы заметили, что холодильник стал громко работать и не знаете, что делать, обратите внимание на состояние вентилятора. В современных моделях холодильного оборудования можно легко снять вентилятор, проверить его состояние и при необходимости смазать подшипники. Если добраться до подшипников не представляется возможным высока вероятность того, что двигатель придется менять полностью.
      h3.page-title-h3 Установка болтов, а также самого компрессора
      p
        | Очень часто холодильник громко работает сразу, люди просто не знают, как поступать и обращаются к услугам компании, где было приобретено оборудование. Однако, не стоит паниковать раньше времени. Шум мог появиться из-за того, что при транспортировке оборудования просто не были выкручены соответствующие болты.
      p
        | Каждое оборудование имеет инструкцию, где четко прописаны данные моменты. Владельцы должны знать, что перед тем, как включить холодильник необходимо дать ему определенное время постоять. Кроме того, у многих производителей винты и болты сразу находятся в выкрученном состоянии.
      p
        | Если не следовать всем требованиям, прописанным в инструкции, то высок риск того, что любое оборудование быстрее выйдет из строя либо будет работать с различного рода неполадками.
      h3.page-title-h3 Проблема с амортизаторами
      p
        | Если вдруг внезапно стал громко работать холодильник причина может заключаться в амортизаторах, а точнее в сроке их использования. Чаще всего в роли амортизаторов выступают резиновые уплотнители. Безусловно, рано или поздно резиновый материал просто выходит из строя, теряет свое состояние и функциональность. В этом случае его сразу необходимо заменить. Для устранение данной проблемы необходимо соблюдать следующую последовательность:
      ul.page-list.page-list-ul
        li сделать доступ к компрессору открытым, перед этим холодильное оборудование необходимо отключить от промышленной сети либо другого источника питания;
        li используя необходимое оборудование откручиваются гайки крепления;
        li необходимо удалить старые демпферы и установить новые;
        li затем нужно просто поставить гайки назад. Лучше всего перед этим смазать их специальной жидкостью.
      p Манипуляции подобного плана выполняются и с вентилятором.
      h3.page-title-h3 Избыточное давление хладагента
      p
        | Если холодильник начал шуметь после того, как была произведена заправка причина может заключаться в том, что при заправке была нарушена норма соблюдения необходимой дозы фреона. В процессе его работы образуется излишние давление, что приводит к треску трубок и другим посторонним шумам.
      h3.page-title-h3 Засор капиллярной трубки
      p
        | Если исходит соответствующая вибрация от труб либо радиатора, причина может заключаться в том, что просто забился трубопровод. Чаще всего это наблюдается в тех случаях, когда осуществляется переход фракций из меньшего в больший диаметр и наоборот. Для решения проблемы необходимо использовать специальные вещества, при помощи которого продувается вся система.
      h3.page-title-h3 Неисправности различных элементов в цепи устройства
      p
        | Часто шум оборудования может быть вызван неправильной работой электрической цепи устройства. Чаще всего это наблюдается в тех случаях, когда элемент либо несколько просто вышли из строя и требуют замены. В основном неполадка вызвана неправильной работой блока питания. Также проблема может быть вызвана заводским браком. В этом случае лучше всего сразу провести диагностику оборудования.
      h3.page-title-h3 Психологический момент
      p
        | Если появился характерный шум в результате работы оборудования, лучше всего сразу проверить состояние всего устройства в целом. Ведь очень часто возникновение одних неполадок может вести к появлению других. Вот почему не стоит медлить, необходимо сразу предпринимать решительные действия.
      p
        | Если не получилось самостоятельно разобраться в ситуации, лучше всего сразу обратиться к профессионалам, которые в кратчайшие сроки помогут уладить все неполадки. В данной компании работают только лучшие специалисты, которые могут сразу определить характер проблемы, а также способы ее устранения.
    .page-text   
      h2.page-title-h2 Возможные причины неисправности и стоимость их устранения
    
      table(border='1')
        tbody
          tr
            th
              p
                b Неисправность
            th
              p
                b Возможный ремонт
            th
              p
                b Стоимость работы
          tr
            td
              p Неправильная установка
            td
              p Выравнивание холодильника по уровню
            td
              p от 700 р.
          tr
            td
              p Неисправность вентилятора
            td
              p Замена вентилятора в сборе
            td
              p от 1600 р.
          tr
            td(rowspan='2')
              p Засор капиллярной трубки
            td
              p Устранение засора капиллярной трубки
            td
              p от 1100 р.
          tr
            td
              p Замена капиллярной трубки
            td
              p от 1500 р.
          tr
            td
              p Избыточное давление хладагента
            td
              p Заправка фреоном (хладагентом)
            td
              p от 1000 р.
          tr
            td
              p Неисправность электроцепи
            td
              p Ремонт электросхемы
            td
              p от 600 р.

    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашего холодильника профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-fridge({
      title: "Устраним шум холодильника любой марки"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности холодильников
      .page-articles-link-wrapper
        -var pathToPage = domen + '/malfunctions/neispravnosti-holodilnikov/'
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gromko-rabotaet.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gromko-rabotaet.webp' alt="Холодильник громко работает")
            p Холодильник громко работает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-ne-vklyuchaetsya.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-ne-vkluchaetsa.webp' alt="Холодильник не включается")
            p Холодильник не включается
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-silno-morozit.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-silno-morozit.webp' alt="Холодильник сильно морозит")
            p Холодильник сильно морозит
        .page-articles-link-item
          a(href=pathToPage + 'led-v-morozilnoj-kamere.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-led-v-morozilke.webp' alt="Лед в морозильной камере")
            p Лед в морозильной камере
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-pishchit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-pishit.webp' alt="Холодильник пищит")
            p Холодильник пищит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gudit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gudit.webp' alt="Холодильник гудит")
            p Холодильник гудит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-shchelkaet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-shelkaet.webp' alt="Холодильник щелкает")
            p Холодильник щелкает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-techet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-plachet.webp' alt="Холодильник течет")
            p Холодильник течет

