extends ../../../layout/article_page_layout.pug

block variables
	- var title = 'Холодильник не отключается. Что делать если холодильник работает не отключаясь?' 
	- var content = "Если холодильник постоянно работает и не отключается,  то это первый признак поломки устройства. Причины неисправности и способы устранения в статье."
	- var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
	+bread-crumbs({ 
		'Главная': '/',
		'Неисправности холодильников': domen + '/neispravnosti-holodilnikov/',
		"Холодильник не отключается": "#"})

	.article-page-wrapper(itemscope itemtype="https://schema.org/Article")
		h1.page-title-h1(itemprop="name")= title 
		+pageBanner-1({
      title: 'Качественный сервис и гарантия!',
      text: 'Доверьтесь квалифицированному мастеру!',
      pathToImg: domen + '/assets/img/pictures/banner-img-006.webp'
    })

		.page-text.page-text-hidden-container(itemprop="articleBody")
			.page-text-hidden__bgrnd
			.page-text-hidden__button.page-text-hidden__button_down
			img.page-img.page-img_float-left( src= pathToImgArticles + "fridges/hol-ne-otkluchaetsa.webp" alt= 'Холодильник не отключается' itemprop="image")

			p
				| Если холодильник постоянно работает и не отключается, то это первый признак серьезной поломки или неправильного использования устройства. В данной статье рассмотрим некоторые причины, из-за которых техника может выйти из строя и попробуем дать совет, как оказать «скорую помощь» холодильнику при такой проблеме.
			p Возможные причины работы холодильника без остановки:
			ol.page-list.page-list-ol
				li
					| Холодильник был неправильно установлен, а именно не соблюдён зазор 10-15 см от стены, что обеспечивает достаточную вентиляцию. При меньшем зазоре происходит нагревание компрессора и штатный режим отключения прибора будет нарушен. Если холодильник установлен возле батареи центрального отопления, каминов и расположен "спиной" к окну, из которого на него попадают прямые лучи солнца, с ним случится такая же проблема.
				li
					| О возможной поломке термостата подержанного холодильника свидетельствует беспрерывная работа устройства и интенсивная заморозка. Избавиться от подобной неисправности можно, заменив терморегулятор.
				li
					| Выставлена низкая температура, поэтому прибор будет находиться в режиме повышенной заморозки, пока терморегулятор не возвратить в исходное положение. Некоторые модели располагают функцией супер заморозки, поддерживающей устройство в постоянном режиме охлаждения. В нормальном состоянии холодильник должен отключать компрессор примерно раз в 10-20 минут. Если время отключения компрессора превышено, нужно обратить на это внимание и искать неисправность.
			h2.page-title-h2 Холодильник перемораживает
			p
				| Если Ваше внимание привлекло нестандартное время включения/компрессора, либо если компрессор работает не отключаясь очень длительное время и при этом сильно нагревается, то возможно несколько причин для такой работы:
			img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0045.webp" alt= 'Холодильник перемораживает и намерзает лед' itemprop="image")

			ul.page-list.page-list-ul
				li
					| Неисправен температурный датчик. Это характерно для более современных холодильников с системой no-frost или классической «плачущей» системой. Система работы довольно банальна, с датчика поступает сигнал о температуре в камере, и далее автоматика на основе этого сигнала включает или отключает компрессор.
				li
					| Неисправна электроника. Это также характерно для современных холодильников с модулем управления, или как говорят мастера «с мозгами». Эти самые «мозги» могут выйти из строя, или слететь программное обеспечение «прошивка».
				li
					| Неисправен термостат (терморегулятор). Это устройство устанавливалось как на очень старых холодильниках, так и ставится на современных моделях. Принцип очень простой и аналогичен термодатчику. Только в данном случае сигнал с термостата подается напрямую на реле компрессора. Выход из строя термостата также может быть причиной беспрерывной работы компрессора.
				li
					| Причина может быть гораздо банальнее и легко устранима вами. Возможно Вы установили очень низкую температуру. В некоторых современных моделях есть функция непрерывной заморозки. Компрессор в этом случае начинает работать непрерывно очень долгое время. В более ранних холодильниках такой функции как правило нет.
			h2.page-title-h2 Холодильник работает без остановки, но при этом морозит как обычно или хуже
			p
				| Совершенно иные могут быть причины для работы холодильника, когда он работает без остановки не отключаясь, но при этом температура его существенно не снижается ниже нормы, или даже повышается.
			p
				| Слишком высокая температура в помещении. Это может быть обусловлено слишком близким расположением отопительных приборов к холодильнику. Или установкой его в местах, не предназначенных для этого. Также в период летней жары температура в помещении может существенно повышаться.
			p
				| Изношенный уплотнитель двери или вовсе не полностью закрытая дверь холодильника может быть причиной такой работы. Теплый воздух проникает через поврежденные участки или открытую дверцу в камеру, и холодильнику приходится дольше обычного нагнетать нужную температуру, а может и вовсе работать без остановки.
			p
				| Недостаток давления хладагента в системе. Это проблема значительно серьезнее, уже требует вмешательства специалиста. При выходе газа (фреона) через микроскопические трещины, системе недостаточно его объема для поддержания нужной температуры.
			p
				| Не только тепло снижает функциональность работы холодильника. По содержанию технической документации известно, что большая часть моделей рассчитана на работу при температуре не ниже +5 C. По этой причине содержание холодильников на балконах, верандах или в иных неотапливаемых помещениях в зимний период — недопустимо.
			h2.page-title-h2 Методы устранения неполадок
			p
				| Допустим Вы обнаружили, что холодильник не отключается и не морозит, каким образом решить проблему? Отнеситесь к неисправности вашего холодильника серьёзно. Ведь от вашего оперативного вмешательства в состояние любого домашнего гаджета, зависит продолжительность срока службы техники.
			p Некоторые из перечисленных причин можно устранить собственноручно. Например:
			ul.page-list.page-list-ul
				li
					| Заменить резину на дверях. Главным условием является подбор компонента требуемого для вашего холодильника. Характеристики описаны в инструкции, известны в сервисных центрах или легко находимы на просторах интернета. Бывает так что, износившийся и слегка деформированный уплотнитель можно вернуть к жизни разогрев его обычным феном. Отключите перед этим холодильник из сети и хорошо нагрейте уплотнитель по периметру
				li
					| Имея опыт в обслуживании электроники, вам не составит труда заменить вышедший из строя термодатчик или терморегулятор. Перед тем как приступить к подобной работе прозвоните схему мультиметром и изучите данные особенности элементов подвергаемых замене.Приступая к работе вам может пригодиться видеоурок на данную тему, во избежание ошибок.
			img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0044.webp" alt= 'Замена уплотнителя двери холодильника' itemprop="image")

			p
				| Конечно, имея достаточный опыт, понимание принципов работы и технических свойств компрессора, вы можете самостоятельно произвести его замену. Однако, для этого потребуется много дополнительных устройств и расходных материалов: вакууматор, соответствующий холодильнику тип хладагента, специальный паяльник и др. Маловероятно, что человек не связанный с ремонтом холодильников, будет хранить у себя такие вещи…
			p
				| Если же Вы не уверенны в своих силах, или не обладаете необходимым опытом, доверьте эту работу профессионалам – людям занимающимся этим делом ежедневно много лет подряд.
		.page-text 	
			h2.page-title-h2
				| Возможные неисправности и способы их устранения в случаях, когда не отключается холодильник:
			.table-container_scroll  
				table(border='1')
					tbody
						tr
							th
								p Неисправность
							th
								p Возможный ремонт
							th
								p Стоимость работы
						tr
							td
								p Неисправность датчика температуры
							td
								p Замена датчика температуры
							td
								p от 800 р.
						tr
							td
								p Неисправность термостата
							td
								p Замена терморегулятора
							td
								p от 1200 р.
						tr
							td
								p Изношен уплотнитель двери
							td
								p Замена уплотнителя двери холодильника
							td
								p от 1500 р.
						tr
							td
								p Неисправность модуля управления
							td
								p Замена модуля управления (платы)
							td
								p от 1500 р.
						tr
							td(rowspan='6')
								p Утечка хладагента
							td
								p Устранение утечки хладагента
							td
								p от 1200 р.
						tr
							td
								p Устранение утечки в испарителе
							td
								p от 1200 р.
						tr
							td
								p Устранение утечки в запененной части
							td
								p от 1800 р.
						tr
							td
								p Замена испарителя
							td
								p от 1200 р.
						tr
							td
								p Замена конденсатора
							td
								p от 2500 р.
						tr
							td
								p Ремонт конденсатора
							td
								p от 1200 р.
		.calc-banner.page-banner
			.page-banner-img
				img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/master.webp' alt="Ремонт холодильника в спб")
			.page-banner-content
				.page-banner-content__title 
					p Доверьте ремонт Вашего холодильника профессионалам!
				.page-banner-content__text 
					p  телефоны для связи
					a(href='#')= telNumber_1 
					|  или 
					a(href='#')= telNumber_2 

				.page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
				.page-banner-content-buttons
					.page-banner-button.button-order 
						| Оформить заявку
						br
						| on-line
					.page-banner-button.button-callback Заказать звонок 
		+brands-fridge({
			title: "Мы устраним поломку холодильника любой марки"
		})
		.page-articles-link
			h2.page-title-h2 Другие возможные неисправности холодильников
			.page-articles-link-wrapper
				-var pathToPage = domen + '/malfunctions/neispravnosti-holodilnikov/'
				.page-articles-link-item
					a(href=pathToPage + 'holodilnik-gromko-rabotaet.html') 
						img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gromko-rabotaet.webp' alt="Холодильник громко работает")
						p Холодильник громко работает
				.page-articles-link-item
					a(href=pathToPage + 'holodilnik-ne-vklyuchaetsya.html') 
						img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-ne-vkluchaetsa.webp' alt="Холодильник не включается")
						p Холодильник не включается
				.page-articles-link-item
					a(href=pathToPage + 'holodilnik-silno-morozit.html') 
						img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-silno-morozit.webp' alt="Холодильник сильно морозит")
						p Холодильник сильно морозит
				.page-articles-link-item
					a(href=pathToPage + 'led-v-morozilnoj-kamere.html')
						img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-led-v-morozilke.webp' alt="Лед в морозильной камере")
						p Лед в морозильной камере
				.page-articles-link-item
					a(href=pathToPage + 'holodilnik-pishchit.html')
						img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-pishit.webp' alt="Холодильник пищит")
						p Холодильник пищит
				.page-articles-link-item
					a(href=pathToPage + 'holodilnik-gudit.html')
						img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gudit.webp' alt="Холодильник гудит")
						p Холодильник гудит
				.page-articles-link-item
					a(href=pathToPage + 'holodilnik-shchelkaet.html')
						img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-shelkaet.webp' alt="Холодильник щелкает")
						p Холодильник щелкает
				.page-articles-link-item
					a(href=pathToPage + 'holodilnik-techet.html')
						img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-plachet.webp' alt="Холодильник течет")
						p Холодильник течет

