extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Не включается холодильник - распространенные причины и их решение' 
  - var content = "Наиболее распространенная причина, с которой сталкиваются владельцы устройств разных производителей - не включается компрессор холодильника. В этой статье мы рассмотрим причины, которые влияют на это."
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности холодильников': domen + '/neispravnosti-holodilnikov/',
    "Холодильник не включается": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Мы ценим Ваше время!',
      text: 'Качественный и быстрый ремонт за один визит',
      pathToImg: domen + '/assets/img/pictures/banner-img-003.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "fridges/hol-ne-vkluchaetsa.webp" alt= 'Холодильник не включается' itemprop="image")
      p
        | Отлично работающий холодильник - необходимая и незаменимая техника в каждом доме. Когда холодильник включается, но перестал морозить, либо самостоятельно холодильник отключается и не включается, это приносит большое количество проблем. Наиболее распространенная причина, с которой сталкиваются владельцы устройств разных производителей - не включается компрессор холодильника. В этой статье мы рассмотрим причины, которые влияют на это.
      p
        | Следует знать, что такая проблема не всегда связана с выходом из строя этого вида техники. Причины такой работы иногда могут быть связаны со слабым напряжением электрической сети. В таком случае компрессору трудно завестись, также при резких скачках электрической сети в нем могут перегореть важные внутренние узлы, что также приведет к причине, почему холодильник не включается. Защитить бытовую технику от скачков электросети поможет стабилизатор. Дополнительно стоит провести ревизию розетки, в которую включается холодильник, а также шнур. В том случае, когда есть на них пятна или другие виды повреждений, следует как можно быстрее провести замену.
      h2.page-title-h2 Лампочка загорается, однако техника не включается
      p
        | Если при исправной лампочке холодильник не включается, причина может быть не только в розетке, а в совершенно иной поломке техники. В том случае, если не включается холодильник Ноу Фрост, следует правильно установить его. В усовершенствованных моделях техники многие фирмы устанавливают инновационные функции безопасности. Например, если дверца устройства плохо прилегает, холодильник перестает исправно функционировать.
      p
        | Есть современные модели устройства, которые оповещают причину неисправности. Она появляется на электронном дисплее в виде определенной ошибки. Так, даже недостаточное прилегание дверцы холодильника может быть связано с банальной неправильной установкой техники. По этой причине профессиональные мастера рекомендуют при его установке всегда пользоваться уровнем. Кроме того, дверца холодильника может слабо прилегать по иным причинам: ее плотному закрытию препятствует большая посуда, неправильно установленные полки, либо продукты питания, бутылки в дверцах, иногда - прорезиненный уплотнитель повредился, либо полностью износился в результате длительной эксплуатации.
      h2.page-title-h2 Компрессор перестал работать
      p
        | Компрессор в холодильнике используется для обеспечения циркуляции хладагента. Обычно их количество может быть два или один.
      p
        | Функционирует он циклично: включается, некоторое время работает, отключается. По некоторым причинам его работа может нарушиться. В таком случае, когда компрессор вовсе не запускается, либо не выключается, техника не может слаженно работать.
      p
        | На его поломку указывают непонятные щелчки во время запуска – свидетельство того что двигатель устройства также неисправен. Иногда мотор включается, но уже через несколько минут отключается. Причинами подобных явлений могут стать короткое замыкание, либо межвитковое замыкание в обмотке мотора. В первом варианте весь корпус нагревается, в то же время мотор никак не заводится.
      p
        | Также распространенной проблемой является - заклинивание. Выявить это легко по тому, что компрессор начинает громко гудеть, но не запускается. Но гудеть он может и из-за прочих неисправностей, которые поможет выявить лишь профессиональная диагностика.
      h2.page-title-h2 Термодатчик неисправен
        img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0052.webp" alt= 'Термодатчик холодильника' itemprop="image")

      p
        | Датчики температуры – важная часть устройства любого холодильника. Его основной функцией является - измерение температуры в камере, а также передача этих показателей на панель управления. В том случае, если термодатчик не работает и температура в камерах высокая, оповещения не поступают на табло управления. При такой неисправности необходимо заменить терморегулятор, после чего он снова начнет хорошо работать.
      h2.page-title-h2 Пускозащитное реле неисправно
      p
        | Этот элемент бытовой техники служит еще и предохранителем. В том случае, когда оно выходит из строя, не сможет завестись компрессор и исправно работать. Причиной может быть совсем не перегорание реле, а окисление некоторых контактов. Для устранения этой поломки, необходимо почистить контакты. Если оно перегорело, заменяют на новое.
      h2.page-title-h2 Вышел из строя электронный блок
      p
        | Эту часть бытовой техники можно смело назвать его "мозгом". Он собирает со всех датчиков информацию, обрабатывает, после чего передает на механизмы исполнения. Когда блок управления выходит из строя, не включается холодильник Аристон, либо других фирм, включается и сразу отключается, выдает сигналы аварийные. В это время температура в верхней и нижней камерах может сильно скакать.
      p
        | Причинами этой неисправности могут стать перебои в программном обеспечении, а также механические повреждения. Если произошел сбой, достаточно выполнить перезагрузку техники, для этого его следует выключить из розетки и спустя несколько минут включить. Если это действие не помогает, понадобится перепрошивка.
      img.page-img.page-img_float-left( src= pathToImgArticles + "bt-problem-0024.webp" alt= 'Электронный модуль холодильника сгорел' itemprop="image")

      h2.page-title-h2 Звуковой сигнал
      p
        | После включения холодильника вы обнаружили, что камеры слабо охлаждают. Некоторые холодильники могут выдавать ошибку на электронном табло в виде красного знака восклицательного. В некоторых случаях холодильник может пищать. Такими сигналами он сообщает о том, что в камерах достаточно высокая температура. Такое явление может иметь две причины, либо холодильник просто не успел набрать нужную температуру, либо в холодильнике есть серьезная проблема.
      p
        | Если в течение суток ничего не изменилось, причиной может быть утечка хладагента, либо проблема с электронным блоком. Еще одной популярной причиной является высокая температура воздуха в помещении из-за чего техника часто включается.
      h2.page-title-h2 Можно ли отключить звуковой сигнал?
      p
        | Аварийный звук об открытой дверце холодильника часто доставляет дискомфорт, поэтому в некоторых моделях предусмотрена функция автоматического отключения аварийного сигнала. Для отключения достаточно нажать кнопку на табло. Когда звук не отключается, необходимо изучить инструкцию, что прилагается к технике.
      h2.page-title-h2 Холодильник после разморозки не включается
      p
        | Как должен включаться холодильник? Если техника в полной исправности, холодильник включается без каких-либо проблем. Если это не происходит, вероятно произошел сбой в панели управления. Эта часть техники выходит из строя из-за резких скачков электрического напряжения, либо попадания на нее влаги. Но если это случилось после разморозки бытовой техники, а до этого она идеально работала, причиной может быть не перепад напряжения электросети, а попадание воды. Сильное испарение конденсата из камер бытовой техники после разморозки и включения остается на его контактах.
      p
        | В том случае, когда после разморозки техники, вы сами не вытерли его насухо, иногда может случиться замыкание. Нельзя допускать таких явлений. Каждый раз после разморозки, камеры и полочки необходимо вытирать насухо мягкой тряпочкой, либо салфеткой. Также нельзя сразу же включать технику после протирания, необходимо выждать несколько минут и только после этого подключить устройство к электрической сети. Технике необходимо дать 10-15 минут на работу без продуктов. Это необходимо чтобы техника набрала заданную температуру в каждой камере.
      p
        | При любых неполадках в работе агрегата, не следует пытаться самостоятельно выявить причины поломки и устранять их. Эту работу следует доверять профессиональным мастерам, которые имеют необходимые знания и навыки. У них есть оборудование и инструменты, которые помогают быстро провести диагностику и выполнить ремонт любой сложности. Кроме того, профессиональный мастер даст гарантию на свои услуги.
     
     
    .page-text   
      h2.page-title-h2 Возможные причины поломки, когда холодильник не включается, и способы их устранения сведены в таблицу:
      .table-container_scroll  
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Замыкание электроцепи
              td
                p Ремонт электросхемы
              td
                p от 600 р.
            tr
              td
                p Неисправность терморегулятора
              td
                p Замена терморегулятора
              td
                p от 1200 р.
            tr
              td
                p Неисправность пускозащитного реле
              td
                p Замена пускозащитного реле
              td
                p от 1200 р.
            tr
              td
                p Неисправность компрессора
              td
                p Замена компрессора
              td
                p от 2500 р.
            tr
              td
                p Неисправность модуля управления
              td
                p Замена модуля управления (платы)
              td
                p от 1500 р.

    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашего холодильника профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-fridge({
      title: "Мы устраним поломку холодильника любой марки"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности холодильников
      .page-articles-link-wrapper
        -var pathToPage = domen + '/malfunctions/neispravnosti-holodilnikov/'
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gromko-rabotaet.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gromko-rabotaet.webp' alt="Холодильник громко работает")
            p Холодильник громко работает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-ne-vklyuchaetsya.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-ne-vkluchaetsa.webp' alt="Холодильник не включается")
            p Холодильник не включается
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-silno-morozit.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-silno-morozit.webp' alt="Холодильник сильно морозит")
            p Холодильник сильно морозит
        .page-articles-link-item
          a(href=pathToPage + 'led-v-morozilnoj-kamere.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-led-v-morozilke.webp' alt="Лед в морозильной камере")
            p Лед в морозильной камере
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-pishchit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-pishit.webp' alt="Холодильник пищит")
            p Холодильник пищит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gudit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gudit.webp' alt="Холодильник гудит")
            p Холодильник гудит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-shchelkaet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-shelkaet.webp' alt="Холодильник щелкает")
            p Холодильник щелкает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-techet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-plachet.webp' alt="Холодильник течет")
            p Холодильник течет

