extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Щелкает холодильник. Основные причины неисправности.' 
  - var content = "Холодильник состоит из огромного количества взаимосвязанных деталей. При работе они издают  различные звуки. Самыми шумными из них являются: термостат, термодатчики, обшивка, система охлаждения и пускозащитное реле."
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности холодильников': domen + '/neispravnosti-holodilnikov/',
    "Холодильник щелкает": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Получите консультацию бесплатно!',
      text: 'Ответим на все вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-007.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down 
      img.page-img.page-img_float-left( src= pathToImgArticles + "fridges/hol-shelkaet.webp" alt= 'Холодильник щелкает' itemprop="image")
      p
        | Любые холодильники издают звуки. При включении, они начинают тарахтеть, но позже стихают и уже жужжат в еле слышимом ритме. Во время разморозки они замолкают. То же самое происходит и ночью. Все мы уже к этим звукам привыкли и не обращаем на них внимания. Но когда неожиданно из него исходят громкие щелканья, то это повод задуматься о целостности холодильника. Все ли с ним в порядке? Из-за чего происходят эти странные звуки? Стоит ли вызывать мастера, чтобы он разобрался, в чем дело? Все это разберем далее.
      h2.page-title-h2 Почему холодильник щелкает при работе?
      p
        | Холодильник состоит из огромного количества взаимосвязанных деталей. При работе они начинают издавать различные звуки. Самыми шумными из них являются: термостат, термодатчики, обшивка, система охлаждения и пускозащитное реле.
      p
        | К примеру, пускозащитное реле - это электромеханическое устройство, которое предназначено для запуска однофазного электродвигателя путем кратковременного подключения пусковой обмотки. Грубо говоря, принцип его работы заключается в замыкании и размыкании. Этот процесс сопровождается негромкими щелчками. При нормально работе этого элемента вы не обратите внимание на звуки. Но если у него имеются проблемы, то вы сразу почувствуете разницу. Громкие щелчки иногда могут мешать спать, поэтому к решению данной проблемы стоит подходить сразу после ее появления.
      p
        | Небольшие шумы издают и другие элементы холодильника. Так, к примеру, компрессор постоянно поддерживает одинаковую температуру в холодильнике, поэтому при его включении и выключении можно услышать тихие шумы. Лампочки в холодильнике также издают характерный щелчок.
      p
        | Слышать негромкие щелки нормально, в случае когда под холодильником нет воды, нет излишне намерзшего снега или льда, система охлаждения работает нормально, на электронный дисплей не выводят ошибки и нет никакого странного запаха.
      h2.page-title-h2 В каких случаях не стоит беспокоиться о щелчках холодильника?
      p Рассмотрим два возможных случая.
      ul.page-list.page-list-ul
        li Холодильник работает без каких-либо проблем, сбоев в температурном режиме нет, компрессор включается и выключается в штатном режиме, а стенки не перегреваются. В таком случае, щелчки - это норма. Их причины могут быть разными. Это может быть особенность определенной модели холодильника. Также они могут происходить из-за деформации материала во время нагревания или охлаждения. Услышать звуки можно и во время работы испарителя. Щелки происходят и после выключения компрессора. Много странных звуков холодильник начинает издавать и после разморозки. Щелчки могут быть слышны и после включения холодильника - это особенности некоторых моделей.

        li Холодильник не держит заданную температуру и имеет некоторые сбои. В таком случае необходимо обратиться к специалисту, который найдет причину проблем и починит как холодильный аппарат, так и щелки.
      h2.page-title-h2 На какие проблемы могут указывать щелчки?
      img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0059.webp" alt= 'Замыкание обмоток компрессора' itemprop="image")

      p
        | Обычно, при включении холодильника начинает работать компрессор. Во время запуска он издает характерные звуки. Если при этом нет никаких проблем, то не стоит обращать на них внимания. Если же на дисплей выводятся какие-либо ошибки, не работает лампочка, начинает намораживаться снег или лед, температура не держится в заданном режиме и др., то в таком случае щелчки могут говорить об одной из следующих проблем:
      p
        | Если компрессор пытается начать работу несколько раз, тарахтит и быстро выключается, то значит он поломан и ему требуется замена.
      p
        | При включении холодильника, должно запускаться реле. Если оно щелкнуло, но лампочка не загорелась и холодильник не начал свою работу, то проблемы скорее всего связаны с пусковым реле.
      p
        | Если со временем щелчки запуска компрессора стали намного громче, но холодильник работает в штатном режиме, то причина может быть довольно простая - расшатались крепежи. Из-за этого он начинает вибрировать при включении и выключении.
      p
        | В случае, когда щелчки слышны с определенной периодичностью, лампочка работает, но холодильник не держит заданную температуру, проблемой может служить термодатчик, который не посылает данные компрессору.
      p
        | Если холодильник издает сразу несколько щелчков подряд и на определенное время затихает, то проблема скорее всего связана с электричеством. Необходимо проверить вилку и контакты. В случае, если такие же щелчки происходят и на другой бытовой технике, то скорее всего у вас происходит перенапряжение. Для решения проблема вам необходимо купить и установить стабилизатор.
      h2.page-title-h2 Что делать, когда щелкает холодильник.
      p
        | В случае, если ни один из вышеперечисленных вариантов не похож на ваш случай, то вам стоит вызвать специалиста нашей компании. Он приедет к вам и проведет диагностику вашего холодильника и предложит вам решение проблемы.
      p
        | Если вам необходимо срочно произвести ремонт, то наши специалисты готовы выехать сразу после поступления вашего звонка.
      p
        | Зачастую, громкие щелчки холодильников говорят о поломке или сильном износе одной из деталей. Замена обойдется вам не сильно дорого, но при этом вы получите комфорт от устранения надоедливых шумов и продлите жизнь вашего холодильника еще на более долгий срок.
    .page-text 
      h2.page-title-h2 Возможные причины неисправности и стоимость их устранения 
   
      .table-container_scroll  
        table(border='1')
          tbody
            tr
              th
                p
                  | Неисправность
              th
                p
                  |  Возможный ремонт
              th
                p
                  |  Стоимость работы
            tr
              td
                p Неисправность пускозащитного реле
              td
                p Замена пускозащитного реле
              td
                p от 1200 р.
            tr
              td
                p Неисправность компрессора
              td
                p Замена компрессора
              td
                p от 2500 р.

    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Щелчки холодильника могут быть причиной серьезной неисправности. Доверьтесь профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-fridge({
      title: "Мы устраним поломку холодильника любой марки"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности холодильников
      .page-articles-link-wrapper
        -var pathToPage = domen + '/malfunctions/neispravnosti-holodilnikov/'
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gromko-rabotaet.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gromko-rabotaet.webp' alt="Холодильник громко работает")
            p Холодильник громко работает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-ne-vklyuchaetsya.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-ne-vkluchaetsa.webp' alt="Холодильник не включается")
            p Холодильник не включается
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-silno-morozit.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-silno-morozit.webp' alt="Холодильник сильно морозит")
            p Холодильник сильно морозит
        .page-articles-link-item
          a(href=pathToPage + 'led-v-morozilnoj-kamere.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-led-v-morozilke.webp' alt="Лед в морозильной камере")
            p Лед в морозильной камере
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-pishchit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-pishit.webp' alt="Холодильник пищит")
            p Холодильник пищит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gudit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gudit.webp' alt="Холодильник гудит")
            p Холодильник гудит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-shchelkaet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-shelkaet.webp' alt="Холодильник щелкает")
            p Холодильник щелкает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-techet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-plachet.webp' alt="Холодильник течет")
            p Холодильник течет

