extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Холодильник перемораживает или сильно морозит продукты' 
  - var content = "Снижение температуры ниже нормы в любом отделении холодильника является существенной неисправностью. Основные причины пониженной температуры в холодильнике."
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности холодильников': domen + '/neispravnosti-holodilnikov/',
    "Холодильник перемораживает": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Не медлите с ремонтом!',
      text: 'Мастер приедет к Вам в течение часа',
      pathToImg: domen + '/assets/img/pictures/banner-img-007.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "fridges/hol-silno-morozit.webp" alt= 'Холодильник перемораживает' itemprop="image")
      p
        | Несмотря на количество камер в холодильнике, в каждом отделении должна сохраняться предусмотренная температура. Если в каком-то отделении происходит значительное изменение заданных параметров, то можно с уверенностью сказать, что присутствует неисправность оборудования. Не будем отрицать, что в некоторых случаях причиной понижения или повышения температуры являются неправильно выставленные параметры терморегулятора. Обычно это быстро исправляется владельцами и не стоит на них акцентировать внимание.
      h2.page-title-h2 Основные причины пониженной температуры в холодильнике
      p
        | Нередко встречаются случаи, когда продукты перемерзают в холодильнике. Морозильник при этом работает в стандартном режиме. Существует много причин такой работы оборудования. Вот только некоторые причины проявления подобной ситуации:
      ul.page-list.page-list-ul
        li
          | Неисправность терморегулятора. Из поломки узла на компрессор не поступает сигнал об остановке, и он находится в постоянной работе. Из-за постоянного нагнетания холода на стенках образуется лед, температура понижается и продукты перемерзают.

        li
          | Неплотное прилегание дверцы к корпусу. Через цели происходит поступление теплого воздуха, и терморегулятор посылает сигнал на включение компрессора. В результате образуется конденсат, который в дальнейшем превращается в лед;

        li
          | Засорение дренажной системы. Появившиеся капли воды не могут попасть в дренажную систему и скатываются на дно камеры, постепенно замерзая и образуя ледяную подошву;

        li
          | Постоянная работа холодильника. Основной причиной такой ситуации может быть утечка хладагента (фреона). Для проверки потребуется вызов мастера. Но перед этим рекомендуем проверить, не включили вы случайно режим заморозки. В этом режиме холодильник работает без остановки;
      p
        | Как поступить, если новый холодильник сильно морозит? Первым делом необходимо проверить выставленные параметры температуры и при необходимости произвести корректировку.
      h2.page-title-h2 Почему холодильник перемораживает
        img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0058.webp" alt= 'Термостат холодильника' itemprop="image")

      p
        | Если в холодильнике присутствует один компрессор, понижение температуры происходит в динамическом режиме. При срабатывании термодатчика подается сигнал на компрессор, и на короткое время запускает процедура понижения температуры. При достижении необходимой температуры компрессор отключается.
      p
        | Другой вариант, если в обеих камерах активирован режим суперзаморозки и быстрого охлаждения. В этом случае компрессор работает постоянно. Если вы воспользовались указанными режимами, не забывайте их вовремя отключать.
      p
        | Следующий вариант – это выход из строя узла электронного управления. В подобных случаях воздушный датчик может замерзнуть или наоборот, перегреться. Самостоятельно решить проблему не получится, потребуется вызов мастера.
      p
        | Следующая причина может заключаться в неправильной работе магнитной заслонки. Если она вышла из строя, то через некоторое время можно будет обнаружить, что в холодильнике присутствует пониженная температура, а в морозилке наоборот – температура повысилась.
      p
        | Если обнаружили, что холодильник начал сильно морозить, то не надейтесь, что со временем эта проблема разрешиться самостоятельно. Скорее всего, присутствует какая-то неисправность. При постоянной работе оборудования происходит дополнительная нагрузка на узлы и детали холодильника, и это может стать причиной серьезной поломки. Если сегодня или завтра вам потребовалось просто дозаправить систему фреоном, то спустя пару недель может потребоваться замена компрессора.
      h2.page-title-h2 Сильно морозит верхняя камера
      p
        | В первую очередь необходимо проверить настройку регуляторов. Возможно, вы случайно переключили режим или забыли вернуть в исходное положение после заморозки продуктов. Но что делать, если, несмотря на правильное положение терморегулятора, происходит промерзание отделения? Основная причина в поломке термостата. Если у вас имеется достаточно знаний и опыта, можете попробовать самостоятельно произвести замену. Но все же рекомендуем обратиться к мастерам и оформить заявку на ремонт холодильника.
      p
        | Если в холодильнике присутствует электронное управление, то причина может заключаться в неправильной работе воздушного датчика. Самостоятельно проводить ремонт или замену не рекомендуется, лучше обратиться в сервисные мастерские.
      h2.page-title-h2 В холодильнике низкая температура и продукты замерзают
      p
        | Не будем отрицать, что повышенная температура в холодильнике может стать причиной порчи продуктов. Но с другой стороны пониженная температура способна принести не меньше бед. На поверхности продуктов образуется ледяная корочка, они теряют привлекательность и вкус.
      p
        | Для решения проблемы в первую очередь необходимо выяснить причину таких проявлений. Потребуется выполнить следующие действия:
      ul.page-list.page-list-ul
        li Необходимо проверить настройку параметров;

        li Внимательно обследуйте плотность прилегания дверцы холодильника к корпусу;

        li Проверьте дренажную систему и при необходимости прочистите ее;

        li
          | Поменяйте установки терморегулятора и убедитесь, что реагирует на выставленные параметры.
      p
        | Если в холодильнике присутствует электронное управление, пытаться перенастроить его не рекомендуется. Лучше оформить заявку на вызов мастера и дождаться его прихода. Для уменьшения перемерзания продуктов рекомендуем отодвинуть их от стенок и расположить ближе к дверце, где температура выше.
      h2.page-title-h2 Холодильник перемораживает, но он не отключается
      p
        | Если в холодильнике низкая температура, но он продолжает работать и нагнетать холод, то существует несколько причин такого поведения:
      ul.page-list.page-list-ul
        li
          | Произошла поломка датчиков или терморегулятора. Они перестали подавать сигнал на отключение оборудования;

        li Выставлен режим «Суперзаморозка» или «Быстрое охлаждение»;

        li Уменьшение параметров компрессии в агрегате;

        li В контуре обогрева произошла поломка одного из элементов.
      p
        | В холодильниках с электронным управлением причин гораздо больше. Самостоятельно справиться с поломкой не получится. Рекомендуем оформить вызов мастера для проведения диагностики и дальнейшего ремонта оборудования.
      h2.page-title-h2 Холодильники Ноу Фрост. Почему сильно морозят
      p
        | В холодильниках с системой Ноу Фрост используется сложная система охлаждения. В ней используется нагнетание холодного воздуха с одновременным удалением теплого, в котором присутствует влага.
      p
        | Казалось бы при такой системе резкое понижение температуры невозможно. Но стоит учитывать, для полноценной работы холодильника необходимо, чтобы система оттайки испарителя находилась в рабочем состоянии. Если в системе возникли проблемы, то она начинает обрастать льдом и теплообмен уменьшается.
      p
        | Морозильной камере не хватает холода и компрессору приходится находиться в работающем состоянии. Если вовремя не обратить на это внимание, что в дальнейшем может произойти обледенение вентилятора. Остановка вентилятора приведет к повышению температуры в обеих камерах.
      p
        | Неправильная температура может стать причиной перекрытия дренажной системы, что повлечет образование льда. На стенках начнут замерзать капли конденсированного воздуха. Если не обращать на это внимание, то в морозилке может образовать толстый слой льда, а холодильнике температура может опуститься до нуля или минусовых параметров.
      h2.page-title-h2 Вывод
      p
        | Если обнаружили, что холодильник начал сильно морозить, а продукты начали замерзать, то не стоит пускать дело на самотек в надежде, что все само образумиться. Понижение температуры в холодильнике и морозильнике – это первый сигнал о том, что в оборудовании присутствует проблемы. Постарайтесь найти время, и оформить вызов мастера для проведения диагностики и дальнейшего ремонта. Чем быстрее вы это сделаете. Тем больше шансов, что не придется тратиться на дорогой ремонт.
    .page-text   
      h2.page-title-h2 Возможные причины неисправности и стоимость их устранения
      .table-container_scroll  
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Неисправность термостата
              td
                p Замена терморегулятора
              td
                p от 1200 р.
            tr
              td(rowspan='2')
                p Неисправность заслонки
              td
                p Замена заслонки
              td
                p от 1600 р.
            tr
              td
                p Замена привода заслонки
              td
                p от 1600 р.
            tr
              td
                p Неплотное прилегание уплотнителя
              td
                p Замена уплотнителя двери холодильника
              td
                p от 1500 р.
            tr
              td(rowspan='5')
                p Утечка хладагента
              td
                p Устранение утечки хладагента
              td
                p от 1200 р.
            tr
              td
                p Устранение утечки в испарителе
              td
                p от 1200 р.
            tr
              td
                p Устранение утечки в запененной части
              td
                p от 1800 р.
            tr
              td
                p Замена испарителя
              td
                p от 1200 р.
            tr
              td
                p Ремонт конденсатора
              td
                p от 1200 р.
            tr
              td
                p Засор дренажной системы
              td
                p Прочистка дренажа
              td
                p от 600 р.
            tr
              td(rowspan='2')
                p Неисправность системы оттайки
              td
                p Замена таймера оттайки
              td
                p от 1200 р.
            tr
              td
                p Ремонт модуля управления (платы)
              td
                p от 1500 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Бесплатная консультация по телефону!
        .page-banner-content__text 
          p  Позвоните нам по телефонам
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-fridge({
      title: "Ремонт холодильника любой марки"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности холодильников
      .page-articles-link-wrapper
        -var pathToPage = domen + '/malfunctions/neispravnosti-holodilnikov/'
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gromko-rabotaet.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gromko-rabotaet.webp' alt="Холодильник громко работает")
            p Холодильник громко работает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-ne-vklyuchaetsya.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-ne-vkluchaetsa.webp' alt="Холодильник не включается")
            p Холодильник не включается
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-silno-morozit.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-silno-morozit.webp' alt="Холодильник сильно морозит")
            p Холодильник сильно морозит
        .page-articles-link-item
          a(href=pathToPage + 'led-v-morozilnoj-kamere.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-led-v-morozilke.webp' alt="Лед в морозильной камере")
            p Лед в морозильной камере
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-pishchit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-pishit.webp' alt="Холодильник пищит")
            p Холодильник пищит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gudit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gudit.webp' alt="Холодильник гудит")
            p Холодильник гудит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-shchelkaet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-shelkaet.webp' alt="Холодильник щелкает")
            p Холодильник щелкает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-techet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-plachet.webp' alt="Холодильник течет")
            p Холодильник течет

