extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Лед в морозильной камере холодильника – медлить с ремонтом нельзя!' 
  - var content = "Если в морозильной камере холодильника образуется лед под ящиками, не стоит сразу паниковать, так как это одна из самых распространенных проблем. Однако она может привести к более глобальным неисправностям, либо протечкам"
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности холодильников': domen + '/neispravnosti-holodilnikov/',
    "Холодильник не отключается": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-006.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "fridges/hol-led-v-morozilke.webp" alt= 'Лед в морозильной камере холодильника' itemprop="image")
      p
        | Если 
        b в морозильной камере холодильника образуется лед под ящиками
        | , не стоит сразу паниковать, так как это одна из самых распространенных проблем. Однако она может привести к более глобальным неисправностям, либо протечкам. Конечно, можно бороться со всеми вышеперечисленными трудностями подручными средствами, периодически размораживая технику, однако подобный подход к делу вряд ли будет эффективен. Избавиться от проблемы таким образом нельзя, поскольку 
        b лед в морозильной камере
        |  – это прямое свидетельство какого-либо технического сбоя. Именно поэтому изначально следует понять, почему холодильник полноценно не выполняет свою основную функцию, а уже потом устранять неисправность.
      h2.page-title-h2 В каких случаях лед в морозильной камере ноу фрост свидетельствует о поломке?
      p
        | Как правило, с проблемой образования льда в морозильной камере сталкиваются владельцы техники с капельной системой оттаивания. Главная особенность таких устройств кроется в том, что они «перерабатывают» охлажденный воздух в конденсат, который капельками стекает по стенкам холодильника. Иногда жидкость замерзает, что вполне логично, однако толстого слоя льда быть не должно, иначе он просто не растает.
      p
        | Если 
        b появился лед в морозильной камере
        | , либо образовалась своеобразная снежная шуба, то не обошлось без технического сбоя или нарушения правил эксплуатации холодильника. Во многих случаях это еще не является характерным признаком серьезной поломки. Следовательно, сразу обращаться за помощью к квалифицированному специалисту не стоит, ведь можно решить проблему, полагаясь на собственные силы. Правда, такой шанс будет только в том случае, если прибор работает нормально – без протеканий и лишних звуков.
      p
        b Примечание!
        |  Во многих современных моделях лед не появляется в основном отделении, но это не значит, что в морозилке его тоже нет.
      h2.page-title-h2 Характерные нарушения правил эксплуатации
      p
        | Владельцы техники часто задаются вопросом, 
        b почему в морозильной камере внизу намерзает лед
        | ? Пожалуй, самая главная причина – это неправильная эксплуатация холодильника, которая неразрывно связана со следующими действиями:
      ol.page-list.page-list-ol
        li
          | Охлаждение горячих продуктов или блюд, температура которых превышает допустимые показатели.
        li Использование открытой посуды для жидкостей.
        li
          | Дверцы холодильника не закрываются плотно, либо остаются открытыми на протяжении длительного времени.
        li Техника прижата к стене, поэтому мотор периодически перегревается.
        li
          | Рядом с холодильником находится отопительный прибор, либо температура воздуха в комнате слишком высокая.
      img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0051.webp" alt= 'Лед в морозильной камере' itemprop="image")

      p
        | Все вышеперечисленные аспекты приводят к тому, что 
        b лед в морозильной камере холодильника 
        | появляется практически сам по себе, поскольку влага конденсируется на испарителе. Это неизбежный процесс, но все-таки следует понимать, что излишние образования должны оттаивать, а не накапливаться на стенках. Если же наледи слишком много, она вряд ли быстро исчезнет.
      h2.page-title-h2 Несоответствующий температурный режим
      p
        | Часто неопытные пользователи допускают критическую ошибку, выставляя температуру самостоятельно. В результате чрезмерное охлаждение приводит к тому, что
        b  в морозильной камере образуется лед
        | , а продукты, которые находятся на полках, сильно перемерзают. Если произошла подобная неприятность, нужно изменить базовые настройки, либо повысить температуру на несколько градусов.
      p
        b  
      p
        b Примечание!
        |  Специалисты рекомендуют не использовать режим сильной заморозки, когда за окном стоит жаркая погода, дабы не нагружать мотор без особой надобности.
      h2.page-title-h2 Плохая герметичность
      p
        | Если горячий воздух постоянно попадает в холодильник, регулятор автоматически начинает работать в интенсивном режиме. Соответственно, он гораздо сильнее морозит, чтобы обеспечить надлежащую температуру. В такой ситуации не должен возникать вопрос, 
        b почему в морозильной камере намерзает лед
        | , поскольку все и так понятно. Накопленная влага попросту не успевает преобразоваться в капли. Подобный дефект можно наблюдать, когда дверца не закрывается герметично.
      p
        | Вероятно, это происходит из-за заполнения овощных ящиков или неправильной расстановки посуды. Однако, как правило, причина проблем еще более банальна – уплотнитель на двери не выполняет своих функций. Чтобы избежать неприятностей, необходимо проводить периодический осмотр прибора, смазывая уплотнитель силиконовой смазкой.
      h2.page-title-h2 Намерзает лед в морозильной камере ноу фрост: что делать?
      p
        | Иногда случается так, что все настройки выставлены правильно, условия эксплуатации техники соблюдаются идеально, но 
        b внизу морозильной камеры лед
        |  появляется все равно, нужно искать другую причину. Вероятно, возникли более серьезные неисправности в работе бытового прибора. Во многих случаях можно устранить поломку самостоятельно, но чаще всего требуется замена старых комплектующих частей. Данную задачу лучше доверить мастеру с определенным опытом работы.
      p
        | При этом особенности той или иной поломки можно определить по характерным признакам. Как правило, если удается быстро выявить причину, по которой холодильник вышел из строя, то особых проблем с ремонтом не возникает.
    .page-text
      h2.page-title-h2 Возможные причины неисправности и стоимость их устранения     
      .table-container_scroll
        table(border='1')
          tbody
            tr
              th
                | Причина
                | неисправности
              th
                p Особенности
              th
                p Что делать
            tr
              td
                p Утечка фреона
              td
                | Зачастую вещество начинает вытекать там, где качество
                | спайки оставляет желать
                | лучшего. Подобная неприятность
                | дает о себе знать тогда, когда
                | детали выходят из строя по
                | разным причинам. В результате
                | температура в камерах становится
                | выше. Это приводит к тому, что
                | образование льда в морозильной 
                |  становится неизбежным,
                | ведь компрессор не может
                | постоянно поддерживать
                | идеальный температурный режим.
              td
                p Необходимо выявить место утечки
                | фреона, а затем провести
                | герметизацию. Также нужно
                | пополнить запасы вещества.
            tr
              td
                p Износ уплотнителя двери
              td
                | Если уплотнитель потерял свои
                | свойства, то о защите отдельных
                | отсеков можно забыть. Там будет
                | постепенно повышаться
                | температура, а затем мотор начнет
                | работать с маленькими
                | перерывами. В итоге появится 
                | лед
                | в морозильной камере, а
                | причины
                | подобного явления
                | станут вполне очевидными.
              td
                | Оптимальный вариант – заменить
                | уплотнитель, который износился.
                | Иногда можно обойтись и без
                | этого, если резиновая прослойка
                | просто нуждается в чистке и уходе.
            tr
              td
                | Неисправен
                | магнитный
                | клапан
              td
                | В рабочем состоянии эта деталь
                | осуществляет контроль
                | охлаждения в морозильной
                | камере. При поломке контроллер
                | влияет на температуру в обоих
                | отделениях. Следовательно, когда
                | холодный воздух поднимается
                | вверх, продукты перемерзают.
                | Внизу морозильной камеры
                | скапливается лед
                | , хотя этого
                | происходить не должно.
              td
                | Решить эту задачу может только
                | квалифицированный мастер. Не
                | нужно самостоятельно
                | размораживать холодильник, либо
                | проводить другие манипуляции.
            tr
              td
                | Засор капиллярной трубки
              td
                | Фреон циркулирует по трубках
                |  в которых может образоваться
                | засор. В результате охладитель не
                | сможет свободно перетекать, а
                | компрессор начнет работать без
                |
                | пауз. 
                | В морозильной камере
                | холодильника образуется лед
                | ,
                | хотя снаружи станки станут
                | горячими.
              td
                | Следует провести чистку
                | системы и наполнить ее
                | фреоном. Кроме этого, нужно
                | осуществить замену масла, если
                | таковая требуется.
            tr
              td
                p Неисправен датчик
              td
                | Таким датчиком оснащены
                | современные модели с
                | автоматической системой
                | управления. Это устройство
                | предназначено для контроля
                | степени охлаждения. Если
                | устройство выходит из строя,
                | на блок управления начинают
                | поступать сигналы,
                | стимулирующие дальнейшее
                | понижение температуры. Во
                | многом из-за этого 
                | морозильная
                | камера намораживает лед.
              td
                | Заменить неисправную деталь.
            tr
              td
                | Сломался
                | термостат
              td
                | Перепады напряжения в сети,
                | которые происходят довольно
                | часто, негативно влияют на
                | работу термостата. В итоге
                | регуляция температурного
                | режима нарушается, что влечет
                | за собой более серьезные
                | последствия.
              td
                | Установка нового устройства
            tr
              td
                | Компрессор не
                | справляется с
                | нагрузкой
              td
                | Если владелец техники регулярно
                | нарушает условия эксплуатации,
                | то не стоит удивляться, что
                |
                | намерзает лед внизу
                |
                | морозильной камеры. 
                | Эта
                | проблема дополняется еще и тем, что компрессор постоянно находится под
                | нагрузкой.
              td
                | Необходимо максимально
                | освободить полки,
                | разместив продукты таким
                | образом, чтобы они не
                | занимали все свободное
                | пространство.
            tr
              td
                | Неисправность системы оттайки
              td
                |
                | Выход из строя ТЕНа оттайки, таймера, или иные причины могут нарушить режим разморозки льда на испарителе.
              td
                | Необходим ремонт системы оттайки.
            tr
              td
                | Пусковое реле
                | не работает
              td
                | Это устройство отвечает за работу
                | компрессора, включая и отключая его.
                | Если оно вышло из строя, двигатель
                | перестанет запускаться.
              td
                | Без профессионального ремонта не обойтись.
      h2 Краткие выводы и полезные советы
      p
        | Если в холодильнике накопился лед на стенках, действовать нужно решительно, хотя следует признать, что многие владельцы современной техники просто не знают, как поступить в той или иной ситуации. На самом деле, иногда даже вызывать мастера не нужно, хотя профессиональная помощь, безусловно, будет полезна всегда. Впрочем, она не является панацеей, особенно в тех случаях, хотя нужно просто соблюдать банальные правила эксплуатации. Они состоят из множества различных аспектов, среди которых следует выделить такие:
      ol.page-list.page-list-ol
        li Освобождение пространства в холодильнике;
        li Размораживание техники по графику;
        li Надлежащий уход за уплотнителем (замена смазки, чистка);
        li Своевременный ремонт.
      p
        | Если учитывать все указанные рекомендации, то льда на стенках морозильной камеры точно не будет. По крайней мере, не придется решать глобальные проблемы, тратя драгоценное время и деньги на вызов квалифицированных мастеров.
      p Причины неисправности, способы и стоимость их устранения:
      .table-container_scroll
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td(rowspan='6')
                p Утечка хладагента
              td
                p Устранение утечки хладагента
              td
                p от 1200 р.
            tr
              td
                p Устранение утечки в испарителе
              td
                p от 1200 р.
            tr
              td
                p Устранение утечки в запененной части
              td
                p от 1800 р.
            tr
              td
                p Замена испарителя
              td
                p от 1200 р.
            tr
              td
                p Замена конденсатора
              td
                p от 2500 р.
            tr
              td
                p Ремонт конденсатора
              td
                p от 1200 р.
            tr
              td
                p Изношен уплотнитель двери
              td
                p Замена уплотнителя двери холодильника
              td
                p от 1500 р.
            tr
              td
                p Неисправность магнитного клапана
              td
                p Замена соленоидного (магнитного) клапана
              td
                p от 2400 р.
            tr
              td(rowspan='2')
                p Засор капиллярной трубки
              td
                p Устранение засора капиллярной трубки
              td
                p от 1100 р.
            tr
              td
                p Замена капиллярной трубки
              td
                p от 1500 р.
            tr
              td
                p Неисправность температурного датчика
              td
                p Замена датчика температуры
              td
                p от 800 р.
            tr
              td(rowspan='3')
                p Неисправность системы оттайки
              td
                p Замена ТЭНа оттайки
              td
                p от 1500 р.
            tr
              td
                p Замена предохранителя
              td
                p от 1200 р.
            tr
              td
                p Замена таймера оттайки
              td
                p от 1200 р.
            tr
              td
                p Неисправность термостата
              td
                p Замена терморегулятора
              td
                p от 1200 р.
            tr
              td
                p Неисправность пуско-защитного устройство
              td
                p Замена пускозащитного реле
              td
                p от 1200 р.  

    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашего холодильника профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-fridge({
      title: "Мы устраним поломку холодильника любой марки"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности холодильников
      .page-articles-link-wrapper
        -var pathToPage = domen + '/malfunctions/neispravnosti-holodilnikov/'
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gromko-rabotaet.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gromko-rabotaet.webp' alt="Холодильник громко работает")
            p Холодильник громко работает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-ne-vklyuchaetsya.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-ne-vkluchaetsa.webp' alt="Холодильник не включается")
            p Холодильник не включается
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-silno-morozit.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-silno-morozit.webp' alt="Холодильник сильно морозит")
            p Холодильник сильно морозит
        .page-articles-link-item
          a(href=pathToPage + 'led-v-morozilnoj-kamere.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-led-v-morozilke.webp' alt="Лед в морозильной камере")
            p Лед в морозильной камере
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-pishchit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-pishit.webp' alt="Холодильник пищит")
            p Холодильник пищит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gudit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gudit.webp' alt="Холодильник гудит")
            p Холодильник гудит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-shchelkaet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-shelkaet.webp' alt="Холодильник щелкает")
            p Холодильник щелкает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-techet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-plachet.webp' alt="Холодильник течет")
            p Холодильник течет

