extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Не работает морозилка холодильника' 
  - var content = "Если холодильник постоянно работает и не отключается,  то это первый признак поломки устройства. Причины неисправности и способы устранения в статье."
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности холодильников': domen + '/neispravnosti-holodilnikov/',
    "Не работает морозильная камера": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-006.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "fridges/hol-ne-rabotaet-morozilka.webp" alt= 'Не работает морозильная камера холодильника' itemprop="image")
      p
        | Существует огромное количество неисправностей, которые могут стать причиной прекращения работоспособности морозилки. В эту камеру устройства владельцы заглядывают куда реже, потому не всегда можно установить поломку своевременно. В этой статье мы разберем все главные причины, почему не работает морозилка, а также подскажем, как это можно исправить.
      h2.page-title-h2 На что следует обращать внимание?
      p
        | Сначала следует обследовать терморегулятор. Если на нем отображены цифры между 3 и 4, значит, он функционирует исправно. В камере будет примерно -15° по Цельсию. Если по неосторожности зацепить регулятор, тогда перестанет производиться отрицательная температура, а цифры на устройстве понизятся до минимальных значений.
      p
        | Другая причина — долго не производили разморозку, и там накопилось большое количество льда. По этой причине уплотнитель прилегает не очень плотно, и в камеру поступает воздух комнатной температуры.
      p
        | Когда двигатель отключается, лед тает, и на дне камер скапливается вода. Чтобы исправить эту проблему, следует оттаять агрегат и удостовериться в герметичности уплотнительной резинки.
      h2.page-title-h2 Почему морозилка не стала работать?
      p Вот основные причины и решение неполадок:
      img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0038.webp" alt= 'Пробита морозилка' itemprop="image")

      ul.page-list.page-list-ul
        li Компрессор, который непосредственно отвечает за работоспособность морозилки. Если он отрубается примерно после 10 секунд работы, то это говорит об одном, что компрессор сломался. Есть 2 причины этой поломки. Первая — устройство служит вам больше или около 10 лет, и замена компрессора не производилась. Вторая – повышенная нагрузка на электродвигатель (когда владельцы включают режим работы на полной мощности, а радиаторная решетка сзади холодильника не успевает отводить тепло). Нужно заменить компрессор.
        li Заслонка. Компрессор исправен, но мороз не сильный. Эта проблема относится к моделей с функцией "No Frost". Проблема скрывается в клапане переключения. Он нужен для переключения температуры между 2 камерами. Клапан (заслонка) переключился и остался в открытом положении на холодильную камеру, в таком положении он заклинил. Поэтому требуется заменить переключатель.
        li Если устройство оборудовано системой с электромеханическим контролем, значит поломался термостат. Надо приобрести новый термостат.
        li Мотор крайне мало отдыхает. Если в вашем аппарате стоит электронный блок управления (ЭБУ), значит возникли трудности с температурным датчиком. Его основная миссия - передача ЭБУ информации, когда температура холодильнике поднимается, тогда блок автоматически подает сигнал для старта мотора-компрессора. Требуется заменить воздушный датчик.
        li Морозильная камера стала морозить неэффективно, а затем отказалась работать совсем. Вероятно возникла утечка хладагента. Нужно запаять место протечки, а после этого произвести перезаправку системы. Если опыта в такой работе у вас нет, то лучше обратиться к профессионалам.
        li Вы разморозили холодильник неестественными источниками тепла (к примеру, установили в холодильник чашу с горячей водой или ещё хуже - обогреватель). Еще вы могли удалять снежно-ледяные образования руками или другими инструментами, тогда система с циркулирующим фреоном могла повредиться, и он вытек. Никогда не помогайте холодильнику оттаивать, этот процесс должен проходить естественно. Такие методы размораживания применимы исключительно для холодильников 1980-2000 годов производства. В современных холодильниках ставят детали, использование которых не предполагает такой вариант размораживания. Надо отыскать область, которая была нарушена, залатать ее, и потом заправить.
        li Ржавчина может спровоцировать испарение хладагента, так как она способна проделать отверстия. Если поврежден дренаж, то в камере регулярно будет задерживаться жидкость. А от нее появится ржавчина, способная разъесть пластмассу, и на нем образуются микроскопические дыры, через них и улетучивается фреон. Если неисправность уже возникла, то устраните источники ржавчины, залатайте отверстия и перезаправьте холодильник фреоном.
      h2.page-title-h2 Как защитить морозильную камеру от поломок?
      p Есть несколько действенных рекомендаций:
      p
        | Важно иногда проверять камеры, чтобы внутри не скапливалась сконденсированная влага. Избавляйтесь от нее тщательно, в противном случае через 1-2 месяца появятся серьезные очаги ржавчины.
      p
        | Перед началом пользования холодильником, внимательно изучите инструкцию и следуйте правилам производителя. Тогда устройство прослужит вам не один десяток лет.Не кладите в морозилку продукты, температура которых значительно выше комнатной. Обязательно нужно подождать, чтобы их температура сравнялась с комнатной.
      p
        | Хотя бы раз в 1-2 месяца протирайте конденсатор (змеевик на задней стенке холодильника) от пыли. Тогда он сможет эффективно отдавать тепло в окружающую среду, и хладагент будет нормально конденсироваться.
      p
        | Если в вашем районе отключили электроэнергию, то отключите прибор от сети. Связано это с тем, что при включении электричества могут быть сильные скачки напряжения. А в практике довольно много случаев, когда сгорали холодильники от скачков напряжения. Иногда даже встроенные стабилизаторы напряжения не всегда спасают.
      p Всегда герметично закрывайте дверцы, чтобы в камеры не заходил теплый воздух.
      p Размораживать холодильник стоит так, как рекомендует изготовитель.
      p
        | Нельзя устанавливать устройство вблизи обогревателей, так как это может привести к быстрой поломке компрессора.
      p
        | Никогда не помогайте агрегату в разморозке, она должна проходить естественным путем.
      p Грамотно настраивайте температуру работы холодильника.
      p
        | Существует много причин, почему морозилка не морозит а холодильник работает, а также случаев когда не работает морозилка. Если вы понимаете устройство холодильника и знаете, где и что располагается, то вы явно сможете произвести замену самостоятельно. В противном случае Вам необходимо обратиться к профессиональному мастеру за помощью. Наша компания готова Вам в этом помочь.
      
    .page-text  
      h2.page-title-h2 Возможные причины неисправности и способы их устранения:   
      .table-container_scroll  
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td(rowspan='6')
                p Утечка хладагента
              td
                p Устранение утечки хладагента
              td
                p от 1200 р.
            tr
              td
                p Устранение утечки в испарителе
              td
                p от 1200 р.
            tr
              td
                p Устранение утечки в запененной части
              td
                p от 1800 р.
            tr
              td
                p Замена испарителя
              td
                p от 1200 р.
            tr
              td
                p Замена конденсатора
              td
                p от 2500 р.
            tr
              td
                p Ремонт конденсатора
              td
                p от 1200 р.
            tr
              td
                p Неисправность заслонки
              td
                p Замена заслонки
              td
                p от 1600 р.
            tr
              td
                p Неисправность компрессора
              td
                p Замена компрессора
              td
                p от 2500 р.
            tr
              td
                p Неисправность терморегулятора
              td
                p Замена терморегулятора
              td
                p от 1200 р.
            tr
              td(rowspan='3')
                p Неисправность системы оттайки
              td
                p Замена ТЭНа оттайки
              td
                p от 1500 р.
            tr
              td
                p Замена предохранителя
              td
                p от 1200 р.
            tr
              td
                p Замена таймера оттайки
              td
                p от 1200 р.
            tr
              td
                p Неисправность модуля управления
              td
                p Ремонт модуля управления (платы)
              td
                p от 1500 р.

    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашего холодильника профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-fridge({
      title: "Мы устраним поломку холодильника любой марки"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности холодильников
      .page-articles-link-wrapper
        -var pathToPage = domen + '/malfunctions/neispravnosti-holodilnikov/'
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gromko-rabotaet.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gromko-rabotaet.webp' alt="Холодильник громко работает")
            p Холодильник громко работает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-ne-vklyuchaetsya.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-ne-vkluchaetsa.webp' alt="Холодильник не включается")
            p Холодильник не включается
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-silno-morozit.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-silno-morozit.webp' alt="Холодильник сильно морозит")
            p Холодильник сильно морозит
        .page-articles-link-item
          a(href=pathToPage + 'led-v-morozilnoj-kamere.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-led-v-morozilke.webp' alt="Лед в морозильной камере")
            p Лед в морозильной камере
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-pishchit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-pishit.webp' alt="Холодильник пищит")
            p Холодильник пищит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gudit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gudit.webp' alt="Холодильник гудит")
            p Холодильник гудит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-shchelkaet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-shelkaet.webp' alt="Холодильник щелкает")
            p Холодильник щелкает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-techet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-plachet.webp' alt="Холодильник течет")
            p Холодильник течет

