extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Не работает холодильная камера холодильника – причины возникновения и ремонт' 
  - var content = "Неработающая холодильная камера серьезная неисправность холодильника, требующая немедленного вмешательства. Рассмотрим основные причины неисправности и способы их устранения."
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности холодильников': domen + '/neispravnosti-holodilnikov/',
    "Не работает холодильная камера": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-006.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "fridges/hol-ne-ohl-holodilka.webp" alt= 'Не работает холодильная камера холодильника' itemprop="image")
      p
        | Холодильник – является неотъемлемой частью современной жизни. Он помогает сохранить съедобные припасы и приготовленные блюда свежими, вкусными, а запасы – припасти на праздник или особое событие. Но бывает так, что холодильный агрегат не охлаждает продукты до нужной температуры, при том, что морозильный отдел работает полноценно. По сути устройство поломано, но в то же время морозильная камера морозит. Что же делать с техникой и к кому обращаться в такой ситуации?
      h2.page-title-h2
        b Выясняем причину
      p
        | Поломка холодильной камеры опасна для владельца – испорченные продукты могут сказаться на здоровье домочадцев, а устройство может окончательно выйти из строя, что приведет к большим финансовым затратам или покупке нового агрегата. Чтобы избежать этого, при первых признаках неисправности холодильника или его отдельных составляющих, обратитесь к мастеру или проведите самостоятельную оценку (по возможности).
      p
        | Первым этапом «разбора полетов» стоит определить тип холодильника, поскольку разным маркам и производителям часто свойственны свои слабые места и поломки.
      p
        | Узнайте однокомпрессорный или двукомпрессорный холодильник в вашем владении, найдите инструкцию к применению устройства (там должно быть написано). Если вы знаете модель оборудования, можно поискать в интернете. Если холодильный агрегат однокомпрессорный, читайте статью дальше, но, а если двукомпрессорный – перейдите к статье «Двух компрессорная холодильная камера не морозит?». Ниже представлены основные причины поломок однокамерных холодильников.
      h2.page-title-h2
        b Причины неработоспособности в неправильной работе
      img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0005.webp" alt='Холодильная камера не работает' itemprop="image")

      p
        | Первым шагом к проверке работоспособности холодильного агрегата относится соблюдение правил эксплуатации:
      p
        | · Дверца – посмотрите плотно ли она закрыта, прилегает к резинке, нет ли пространств. Возможно между дверцей и корпусом что-то упало, запало или мешает ем плотно прилегать к корпусу (ручка посуды, бутылка, банка и т.д.). Уберите мешающийся предмет и закройте холодильник. Но если увидели проблему поздно и на задней стенке уже образовался снег, то лучше отключить устройство, разморозить и потом уже включить;
      p
        | · Перепад температуры – если на кухне очень жарко (часто бывает в летнюю жару), а внутри выставлен максимальный холодильный режим, то мотору тяжело справляться с высокой нагрузкой. В первую очередь в однокомпрессорных устройствах охлаждается до нужной температуры морозильный отсек, а уже потом – холодильный. Чтобы настроить нормальное функционирование, выставьте терморегулятор в морозильном отделе на деление 2,5, а в холодильном – между 2 и3;
      p
        | · Вентилятор – проверьте не замерз ли он. В некоторых устройствах он замерзает, в результате чего воздух перестает поступать в холодильный отсек. Первым сигналом может служить – звук, а точнее его отсутствие. Чтобы устранить неполадку, полностью разморозьте холодильник (около 12 часов), чтобы все составляющие и вентилятор разморозился.
      p
        | Если выше перечисленные советы помогли устранить неполадку, наши поздравления. Но если нет, обратитесь к мастеру. До приезда мастера выключите холодильник, разморозьте и вымойте.
      h2.page-title-h2
        b Самые распространенные поломки однокомпрессорных холодильников
      p
        | Устранить поломку устройства можно тщательно изучив все симптомы. Осмотрите устройство, проверьте каждую деталь. Систематизировав все признаки, можно сделать вывод.
    .page-text
      h2.page-title-h2 Возможные причины неисправности и стоимость их устранения         
      .table-container_scroll  
        table(border='1')
          tbody
            tr
              th
                p
                  b Основные и дополнительные признаки
              th
                p
                  b Возможная проблема
              th
                p
                  b Причины поломки
              th
                p
                  b Что делать?
              th
                p
                  b Стоимость ремонта
            tr
              td
                p
                  | Вентилятор не работает, не издает никаких признаков жизнедеятельности. После полной разморозки никаких изменений нет.
              td
                p Сгорел мотор вентилятора
              td
                p При замерзании вентилятора он не был вовремя разморожен
              td
                p Замена вентилятора в сборе
              td
                p  от 1600 р.
            tr
              td
                p Вентилятор не подает признаков работоспособности
              td
                p Вышел из строя нагреватель испарителя
              td
                p Лед и снег мешал работе детали, что привело к поломке
              td
                p Замена ТЭНа оттайки
              td
                p от 1500 р.
            tr
              td
                p
                  | Компрессор в устройствах с электромеханическим управлением не выключается, хотя в холодильнике большой слой льда
              td
                p Неисправность терморегулятора морозильного отсека
              td(rowspan='2')
                p
                  | Устройству кажется, что температура в морозильном отсеке низкая и вся охлаждающая мощность направлена на недостаток питания
              td
                p Замена терморегулятора
              td
                p от 1200 р.
            tr
              td
                p
                  | Компрессор в холодильниках с электронным управлением не выключается или температура ниже заданного значения
              td
                p Выход из строя датчика испарителя
              td
                p Замена датчика температуры
              td
                p От 800 р.
            tr
              td
                p
                  | Желтые потеки, похожие на ржавчину, в верхней лицевой части устройства (если морозильный отсек расположен внизу)
              td
                p Утечка фреона
              td
                p
                  | Засоры дренажного отверстия спровоцировали протечку воды через стальной контур. Проход конденсата через пластик повлек за собой ржавчину и образование микротрещин, через которые и произошла утечка фреона
              td
                p Устранение утечки хладагента
              td
                p от 1200 р.
            tr
              td
                p Недавняя разморозка была с откалыванием кусков льда
              td
                p Механическое повреждение контура спровоцировало утечку фреона
              td
                p При разморозке, воспользовались острыми предметами, которые пробили корпус
              td
                p Устранение утечки в испарителе
              td
                p от 1200 р
            tr
              td
                p Вздутие стенки, не равномерное охлаждение холодильной камеры
              td
                p Утечка хладагента в запечатанной части
              td
                p Ремонтные работы производятся исключительно в сервисном центре
              td
                p Устранение утечки в запененной части
              td
                p от 1800 р
            tr
              td
                p
                  | Систематические остановки в работе двигателя холодильников с электронным управлением
              td
                p Поломка датчика испарителя или воздушного датчика холодильного отсека
              td
              td
                p Замена датчика температуры
              td
                p от 800 р.
            tr
              td
                p
                  | Систематические остановки в работе компрессора устройств с электромеханическим управлением
              td
                p Поломка терморегулятора
              td
              td
                p Замена терморегулятора
              td
                p от 1200 р.
      p
        | Цены выше указаны приблизительные и могут колебаться в зависимости от мастера и фирмы, оказывающие данные услуги. Указанная сума берется только за работу мастера, не учитывая запчастей и комплектующих. Кроме того, к данной сумме прибавляется стоимость деталей, заправочной жидкости. Они могут быть разных производителей, качества, стоимости, что значительно сказывается на конечной сумме ремонта.
      h2.page-title-h2
        b А еще может быть…
      p
        | Профессиональные мастера по холодильникам могут определить поломку практически сразу, проведя внешний осмотр или послушав, как работает устройство. Для подтверждения «диагноза» они часто используют специальное оборудование (а то всякое бывает, а вдруг ошибся и сделает не то). Диагностическое оборудование также помогает определить незначительные помехи в работе холодильных устройств на ранних стадиях и своевременно выполнить недорогой и быстрый ремонт.
      p
        | Также хочется сказать, что в однокомпрессорных устройствах могут случаться поломки, не оказывающие внешних признаков. Это может быть:
      ol.page-list.page-list-ol
        li
          | Капиллярная система и/или фильтр засорился. Для полноценной работы холодильного устройства используется фреон – холодильный хладагент и масло, смазывающее детали двигателя. Постоянное движение, циркуляция масла, нагрев и остывание может привести к образованию так называемых тромбов в фильтре или капиллярной системе. Для обнаружения данной проблемы используется вакуумное диагностическое оборудование. После подтверждения опасений и выявления тромба, он устраняется, а масло и фреон заменяется на новое и чистое. Стоимость услуги стартует от 2500 рублей + использованные материалы (масло, хладагент).
        li
          | Декомпрессия двигателя. Нормальное функционирование холодильника происходит при моторном давлении в 4-10 атмосфер. Если давление значительно ниже и его не хватает на работу обеих камер, то предпочтение отдается морозильной. Причиной декомпрессия может быть износ самой детали. Выяснить данную причину может только специалист, осматривая мотор. Часто декомпрессия приводит к полной замене двигателя и не поддается ремонту. Ремонтные работы обойдутся владельцу в 2500-3500 рублей + запчасти.
        li
          | Залипание клапана оттайки. В устройствах с электроуправлением часто в режиме «морозильная камера» клапан залип и не происходит переведение на холодильный отсек. Устранить причину и привести устройство в нормальное функционирование можно заменить вышедший из строя узел. Стоимость ремонта будет стартовать от 2000-2500 рублей + цена самой детали.
      p
        | Причины поломок холодильников разных моделей, марок, размеров могут быть разными и список можно продолжать до бесконечности. Но в любом случае, лучше обратиться к специалистам, имеющим специальное современное оборудование, инструменты, комплектующие и сопутствующие детали. Чтобы не расстраивать вас, не нагнетать атмосферу, посоветуем: если вы заметили какую-либо неисправность или сбои в системе однокомпрессорного холодильника – вызывайте мастера!
      p
        | Компания «РемБытТехника» производит быструю качественную и бесплатную диагностику всех холодильников. Обращайтесь к нам и пусть ваш холодильник служит долго, качественно и надежно. Наши мастера все расскажут, посоветуют, порекомендуют и при возможности исправят!



    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Ремонт холодильника в ближайшие 2 часа! Звоните!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-fridge({
      title: "Мы устраним поломку холодильника любой марки"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности холодильников
      .page-articles-link-wrapper
        -var pathToPage = domen + '/malfunctions/neispravnosti-holodilnikov/'
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gromko-rabotaet.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gromko-rabotaet.webp' alt="Холодильник громко работает")
            p Холодильник громко работает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-ne-vklyuchaetsya.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-ne-vkluchaetsa.webp' alt="Холодильник не включается")
            p Холодильник не включается
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-silno-morozit.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-silno-morozit.webp' alt="Холодильник сильно морозит")
            p Холодильник сильно морозит
        .page-articles-link-item
          a(href=pathToPage + 'led-v-morozilnoj-kamere.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-led-v-morozilke.webp' alt="Лед в морозильной камере")
            p Лед в морозильной камере
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-pishchit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-pishit.webp' alt="Холодильник пищит")
            p Холодильник пищит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gudit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gudit.webp' alt="Холодильник гудит")
            p Холодильник гудит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-shchelkaet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-shelkaet.webp' alt="Холодильник щелкает")
            p Холодильник щелкает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-techet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-plachet.webp' alt="Холодильник течет")
            p Холодильник течет

