extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Вода в холодильнике  - повод обратить внимание на состояние устройства' 
  - var content = "Существенной проблемой, которая может случиться с холодильником, является образование излишней влаги. Причины могут быть как банальными так и довольно серьезными."
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности холодильников': domen + '/neispravnosti-holodilnikov/',
    "Вода в холодильнике": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-007.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "fridges/hol-voda-v-holodilnike.webp" alt= 'Вода в холодильнике' itemprop="image")
      p
        | Существенной проблемой, которая может случиться с холодильником, является образование излишней влаги. Вода, как известно, это один из компонентов воздуха. В процессе падения температуры и сильном охлаждении происходит конденсация, и в разных частях холодильной системы, в том числе на стенках, на полках с продуктами и в других местах, образовывается влага. Производители холодильников заботятся о том, чтобы воду было легко убрать, так как для дальнейшего правильного функционирования устройства вода подлежит немедленному устранению. Вопрос, почему в холодильнике вода, волнует многих пользователей.
      h2.page-title-h2 Вода под ящиками
      p
        | Если в холодильнике скапливается вода под ящиками, то следует выявить причину. Распространенной причиной, почему в холодильнике скапливается вода под ящиками, являются проблемы с дверцей и неплотное ее закрытие. Другая вероятная причина, почему в холодильнике вода под ящиками – это неисправный охладительный контур. В этом случае необходимо вызвать специалиста, так как самостоятельно решить проблему в домашних условиях не представляется возможным.
      p
        | Холодильники с капельной системой разморозки могут подвергнуться засору дренажа, что также способствует скапливанию влаги под ящиками. Следует очистить трубу при помощи щетки, предназначенной для очистки. Рекомендуется разморозить устройство в случае, если имело место обморожение трубки.
      h2.page-title-h2 Причины скапливания воды на полках холодильника
      p
        | Вода в камере холодильника: явление нередкое. Конденсат на полках и вода на стенке холодильника неизбежно приведет к образованию плесени из-за повышения влажности в холодильной камере. Вода, капая с верхних стенок, может попасть на продукты питания, делая их опасными для здоровья и непригодными к употреблению. Да и брать из холодильника что-либо, когда на руки капает вода, не особо приятно. Талая вода холодильнику может нанести вред.
      p
        | Если теплые жидкие продукты питания помещаются в холодильник, да еще и в открытой посуде, вода поставленная в холодильник в горячем виде, это несомненно способствует образованию чрезмерного количества конденсата и в холодильнике собирается вода.
      p
        | Причинами образования воды на полках и стенках холодильника могут быть следующие: очень низкая температура на термостате; некорректное использование устройства; открытие дверцы на долгое время. При невозможности обнаружения истинной причины следует проконсультироваться со специалистом и вызвать матера по ремонту холодильников.
      h2.page-title-h2 Как решить проблему излишней воды в холодильнике?
      p
        | Вода в холодильнике является распространенной проблемой, с которой сталкиваются многие хозяйки. Лед на стенках тает и в холодильник капает вода. В ящиках для овощей холодильника вода является частым явлением. Устранение воды можно произвести самостоятельно без помощи специалиста. Не допускайте образования толстого слоя льда в устройствах с ручной системой разморозки. Снежная шуба нарушает процесс охлаждения и имеет свойство медленного таяния. В результате под ящиками холодильника незаметно скапливается влага, появляется плесень и неприятный запах.
      p
        | Снежное покрытие на стенках – это свидетельство о неполадках в системе. Следует провести диагностику всех систем холодильника, проверить уплотнитель дверцы, функцию терморегулятора и испарителя.
      p
        | Очистить трубку сливного отверстия в устройствах с плачущими испарителями возможно, используя спринцовку, наполненную горячей водой.
      p
        | Иногда проблема возникновения воды может быть связана с неправильным закрыванием дверцы холодильной камеры. Если дверь неплотно примыкает к корпусу при закрывании, то в камере образуется иней, не успевающий вовремя растаять и вызывающие нарастание толстого слоя снега. В этом случае следует ликвидировать перекос дверцы и заменить уплотнитель.
      h2.page-title-h2 Большое количество воды в холодильнике
      p
        | Продукты в холодильнике имеют свойство выделения влаги, и в холодильнике образуется вода. Причем морозильная камера не характеризуется скапливанием воды, и это понятно, так как она сразу преобразуется в лед. Холодильная камера часто открывается, и количество охлаждаемого воздуха в ней намного большее, чем в морозилке. Кроме того, влага, скопившаяся из талых продуктов в холодильной камере, оседает в форме конденсата, подлежащего устранению. Вода, не устраненная вовремя, может спровоцировать появление плесени и нехорошего запаха в камере. Поэтому полки и стенки должны всегда быть сухими и чистыми.
      p
        | Вода внутри устройства может стать основанием для образования коррозии его металлических элементов, что заметно снизит время пользования холодильником. Излишняя влага удаляется специалистами либо самостоятельно.
      p
        | Если холодильник относительно новый, то он не требует частого размораживания. Достаточно производить разморозку раз в 2-3 месяца, если системы прибора функционируют правильно.
      p
        | Чрезмерное образование ледяного покрова препятствует отводу тепла и таянию образовавшегося льда, что способствует появлению воды в нижней части холодильного устройства. Вода под холодильником должна быть незамедлительно устранена.
      p
        | Иногда совершенно внезапно под холодильником можно заметить лужи. Это может произойти из-за обесточивания сети. Лёд начинает таять, вода капает на продукты, стекает под овощные ящики. В этом случае требуется немедленно убрать все продукты из холодильника, устранить всю влагу, высушить посуду, в которой хранились продукты и насухо вытереть все полки.
      p
        | На стенке устройства имеется отверстие, предназначенное для вывода конденсата, которое со временем может засориться, и при наличии функции капельного размораживания, под овощными ящиками будет скапливаться вода. Во многих случаях скапливается вода под холодильником.
      p
        | Однако, даже при отсутствии неполадок и засоров, нередко под ящиками образовывается вода. Чтобы этого не случалось, следует придерживаться некоторых правил: не ставить в холодильную камеру горячую и теплую посуду; не ставить посуду и контейнеры близко к стене, на которой находится испаритель; вовремя устранять скопившуюся влагу. При несоблюдении правил вода может проникнуть внутрь холодильного устройства и спровоцировать разложение трубок с фреоном, что пагубно повлияет на работу устройства.
      h2.page-title-h2 Вода в холодильнике «No Frost»
      p
        | В холодильных системах автоматического размораживания иногда встречаются неполадки, связанные с обледенением и также возникает вопрос, почему под холодильником скапливается вода. На полу под холодильником образуются лужи. Если была обнаружена вода в холодильнике frost no, в таком случае может потребоваться прочистка сливной трубки.
      p
        | По какой причине вода появляется на нижних полках, а также возникает вода на задней стенке холодильника? Это происходит от того, что влажные пары воздуха испаряются благодаря системе No Frost. Таким образом, конденсат накапливается в испарителе и в последующем стекает вниз.
      p
        | Устройство с системой No Frost может подвергнуться засорению дренажа. Столкнувшись с этой проблемой, вы замети воду в камере сверху и снизу. Устранить неполадку поможет специалист, так как из-за особенностей конструкции холодильника может потребоваться разведение трубок, что сможет сделать только мастер.
      p
        | Влага, пробравшаяся сквозь обшивку, оседает под ящиками и обледеневает, и ящики сами могут вмерзнуть. У двери сосредоточена обогревательная система, лёд подтаивает, и вода стекает вниз.
      p
        | В случае невозможности самостоятельного устранения проблемы образования излишней влаги в холодильнике рекомендуем обратиться к специалисту и оформить заявку на ремонт в нашей компании.
      
    .page-text    
      h2.page-title-h2 Примерная стоимость устранения проблем холодильника приведены в таблице. 
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Засор дренажной системы
              td
                p Прочистка дренажа
              td
                p от 600 р.
            tr
              td(rowspan='3')
                p Неисправность системы оттайки
              td
                p Замена ТЭНа оттайки
              td
                p от 1500 р.
            tr
              td
                p Замена предохранителя
              td
                p от 1200 р.
            tr
              td
                p Замена таймера оттайки
              td
                p от 1200 р.
            tr
              td
                p Неплотное прилегания уплотнителя двери
              td
                p Замена уплотнителя двери холодильника
              td
                p от 1500 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Срочный ремонт холодильников по разумной цене! Звоните!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-fridge({
      title: "Мы устраним поломку холодильника любой марки"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности холодильников
      .page-articles-link-wrapper
        -var pathToPage = domen + '/malfunctions/neispravnosti-holodilnikov/'
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gromko-rabotaet.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gromko-rabotaet.webp' alt="Холодильник громко работает")
            p Холодильник громко работает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-ne-vklyuchaetsya.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-ne-vkluchaetsa.webp' alt="Холодильник не включается")
            p Холодильник не включается
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-silno-morozit.html') 
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-silno-morozit.webp' alt="Холодильник сильно морозит")
            p Холодильник сильно морозит
        .page-articles-link-item
          a(href=pathToPage + 'led-v-morozilnoj-kamere.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-led-v-morozilke.webp' alt="Лед в морозильной камере")
            p Лед в морозильной камере
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-pishchit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-pishit.webp' alt="Холодильник пищит")
            p Холодильник пищит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-gudit.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-gudit.webp' alt="Холодильник гудит")
            p Холодильник гудит
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-shchelkaet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-shelkaet.webp' alt="Холодильник щелкает")
            p Холодильник щелкает
        .page-articles-link-item
          a(href=pathToPage + 'holodilnik-techet.html')
            img(src= domen + '/assets/img/pictures/repair-img/fridges/hol-plachet.webp' alt="Холодильник течет")
            p Холодильник течет

