extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Коды ошибок посудомоечных машин Beko (Беко)'
  - var content = "Расшифровка ошибок посудомоечных машин Beko (Беко)"
  - var pathToImgArticles = domen + '/assets/img/pictures/errors-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    "Коды ошибок бытовой техники": "/errors/",
    "Коды ошибок посудомоечных машин": "/errors/kody-oshibok-posudomoechnyh-mashin/",
    "Коды ошибок посудомоечных машин Beko (Беко)" : ""
  })
  .errors-page.article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    H1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-003.webp'
    })
    .page-text(itemprop="articleBody")
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p Код ошибки
              th
                p Описание ошибки
            tr
              td
                p Е:1
              td
                p Переполнение
            tr
              td
                p Е:2
              td
                p Нет залива воды
            tr
              td
                p Е:3
              td
                p Неисправность нагревателя
            tr
              td
                p Е:4
              td
                p Неисправность датчика мутности
            tr
              td
                p Е:5
              td
                p Неисправность 3-ходового клапана
            tr
              td
                p Е:6
              td
                p Ошибка NTC датчика
            tr
              td
                p Е:7
              td
                p Неисправность водоприемника
            tr
              td
                p Е:8
              td
                p Ошибка памяти
            tr
              td
                p Е:9
              td
                p Ошибка связи
            tr
              td
                p Е:13
              td
                p BLDC Мотор
      h2 Другие ошибки
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p Код ошибки
              th
                p Описание ошибки
            tr
              td
                p 0000
              td
                p Не поступает вода
            tr
              td
                p 000
              td
                p Нет нагрева
            tr
              td
                p Н1
              td
                p Неисправен температурный датчик
            tr
              td
                p Н2
              td
                p Неисправен нагреватель
            tr
              td
                p НЗ
              td
                p ТЭН постоянно включен, постоянный нагрев
            tr
              td
                p Н4
              td
                p Симистор клапана залива воды замкнут
            tr
              td
                p Н5
              td
                p Нет слива
            tr
              td
                p Н6
              td
                p Неисправность циркуляционного насоса. Неисправен симистор двигателя
            tr
              td
                p Н7
              td
                p Ошибка датчика уровня воды
      h2 Ошибки Веко DIS1510 CIS
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p Код ошибки
              th
                p Описание ошибки
            tr
              td
                p Н2
              td
                p Ошибка датчика мутности
            tr
              td
                p НЗ
              td
                p Неисправность 3-ходового клапана
            tr
              td
                p Н4
              td
                p Ошибка датчика NTC
            tr
              td
                p Н5
              td
                p Постоянный залив воды
            tr
              td
                p Н6
              td
                p Нет залива воды
            tr
              td
                p Н7
              td
                p Неисправность нагревателя
      h2 Ошибки Веко DFS05012W
      img(alt='коды ошибок посудомоечных машин Beko' src=pathToImgArticles + 'pm_beko-1.jpg')
      img(alt='коды ошибок посудомоечных машин Beko' src=pathToImgArticles + 'pm_beko-2.jpg')
      h2 Ошибки Веко DIS1520
      img(alt='коды ошибок посудомоечных машин Beko' src=pathToImgArticles + 'pm_beko-3.jpg')



  .calc-banner.page-banner
    .page-banner-img
      img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/calculator.webp' alt="качественный ремонт посудомоечных машин с гарантией")
    .page-banner-content
      .page-banner-content__title 
        p 100% качественный ремонт посудомоечных машин на дому!
      .page-banner-content__text 
        p Свяжитесь с нами по телефонам  
        a(href=telNumber_1_int)= telNumber_1 
        |  или 
        a(href=telNumber_2_int)= telNumber_2 
        |  и мы проконсультируем Вас о стоимости ремонта Вашей техники
      .page-banner-content__text Также Вы можете оформить on-line заявку или заказать обратный звонок
      .page-banner-content-buttons
        .page-banner-button.button-order 
          | Оформить заявку
          br
          | on-line
        .page-banner-button.button-callback Заказать звонок
