extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Не крутится барабан стиральной машины: вопросы и ответы' 
  - var content = 'Отсутствие вращение барабана - одна из наиболее распространенных неисправностей стиральных машин. Но не стоит бить тревогу. Попробуйте самостоятельно выяснить причину, и предпринять необходимые меры.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности стиральных машин': domen + '/neispravnosti-stiralnyh-mashin/',
    "Стиральная машина не крутит барабан": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-009.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "wash-mash/" + "sm-ne-krutit" + ".webp" alt= 'Стиральная машина не крутит барабан' itemprop="image")

      p
        | Перед стиркой мы обычно отбираем белье, насыпаем порошок, заливаем кондиционер, устанавливаем нужный режим и запускаем машинку. Внезапная остановка барабана может быть обусловлена целым рядом факторов.
      p
        | Не стоит сразу бить тревогу − нужно попытаться выяснить, в какой момент перестал крутиться барабан. Это существенно облегчит последующую диагностику причины:
      ol.page-list.page-list-ol
        li
          | Отжим. Если вещи влажные, значит при ополаскивании и сливе механизмы работали нормально. Максимальная скорость могла привести к смещению ремня.
        li
          | Если внутри осталась мыльная пена, а барабан не поворачивается ни туда, ни сюда, значит проблема может носить механический характер. Проверьте, не мешает ли движению сторонний предмет.
        li
          | Если барабан поддается ручному вращению, то проблема, скорее всего, связана с поломкой электронных систем.
      p Барабан может остановиться по следующим причинам:
      ul.page-list.page-list-ul
        li Наличие стороннего предмета, блокирующего вращение.
        li Торможение сломанного подшипника.
        li Смещение или разрыв привода пускового механизма.
        li Износ щеток ввиду повышенной нагрузки.
        li Сбои программного обеспечения.
        li Поломка двигателя.
      h2.page-title-h2 Классификация поломок
      p
        | Сбои в работе могут возникать вследствие бытовых, механических и технических причин.
      p
        b К бытовым относятся:
      ul.page-list.page-list-ul
        li
          | перегрузка. В большинстве моделей имеется датчик, блокирующий функционирование при условии превышения максимально допустимого веса. Информация будет отображаться на дисплее;
        li
          | низкий напор воды. Новые модификации оснащены датчиком, определяющим давление воды. При слишком низком напоре работа машинки прекращается автоматически.
      p
        b Механические
        |  неполадки вызваны попаданием сторонних объектов. Их можно достать самостоятельно, следуя инструкции.
      p
        | Поломки 
        b технического 
        | характера вызваны продолжительной и интенсивной эксплуатацией, игнорированием планового осмотра и обслуживания. В большинстве случаев такие поломки могут быть достаточно серьезными. Замену дорогостоящих механизмов может произвести только квалифицированный мастер.
      h2.page-title-h2 Как извлечь сторонний предмет, который привел к прекращению стирки?
      p
        | Если вручную прокрутить барабан полностью не получается, тогда нужно убедиться в отсутствии сторонних предметов, блокирующих движение. Если они есть, их нужно достать. Это может быть декоративная пряжка, собачка от молнии и даже косточка от лифчика. Извлекать помеху следует аккуратно с помощью плоскогубцев, чтобы не испортить резину.
      p
        | Если стороннего объекта не выявлено, нужно проверить внутреннее пространство, включая зазоры.
      p
        i Если помеха застряла внизу конструкции, рекомендуется выполнить следующее:
      ul.page-list.page-list-ul
        li развернуть машинку для доступа к задней части;
        li открутить крепления, фиксирующие заднюю крышку с панелью, снять их;
        li
          | найти ТЭН, отсоединить его от кабелей и открутить стопорный винт. Снять ТЭН. Осветить отверстие с помощью фонарика. Если сторонний предмет есть, его нужно изъять руками либо с помощью согнутой проволоки.
      p
        b Справка! 
        | В ходе фиксации ТЭН манжеты должны быть установлены с учетом их герметичности.
      p
        i
          | Если помеха застряла вверху, и бак сопротивляется при попытке его провернуть, тогда нужно сделать следующее:
      ul.page-list.page-list-ul
        li зафиксировать шкив с помощью любого предмета, чтобы он оставался неподвижным;
        li открутить болт, извлечь шкив;
        li
          | сделать удар по валу молотком. Если в арсенале есть деревянный молоток, лучше использовать его. Применяя обычный, нужно позаботиться о защите резьбы и поставить дощечку;
        li
          | вышеперечисленные действия обеспечат незначительное смещение барабана, в результате чего помеха упадет вниз;
        li теперь предмет можно достать через отверстие ТЭНа.
      h2.page-title-h2 Что делать при заклинивании поврежденного подшипника?
      img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0019.webp" alt= 'Износ подшипника стиральной машины' title='Износ подшипника стиральной машины' itemprop="image")

      p
        | О повреждении подшипника может говорить напряженное вращение барабана, сопровождающееся нехарактерным шуршанием. Поскольку данная деталь находится внутри конструкции, без полной разборки здесь обойтись. Процесс является достаточно трудоемким и требует специальных знаний. Для того, чтобы корректно произвести сборку, нужно снимать каждое действие на мобильный.
      p
        b Важно! 
        | Любое неграмотное действие может усугубить проблему, поэтому если сомневаетесь в собственных силах, лучше обратиться к специалисту.
      h2.page-title-h2 Что делать при повреждении ремня?

      p
        | Довольно распространенная причина возникновения рассматриваемой неполадки. Примечательно, что даже если ременной привод просто соскользнул, это говорит о его износе. Если не хотите возвращаться к этой проблеме снова, рекомендуем сразу же произвести замену.
      p
        | Чтобы получить доступ к барабанному приводу и шкиву, нужно демонтировать заднюю панель по схеме, описанной выше.
      p
        | Стиралки с синхронным пусковым механизмом оснащаются клиновидными ремнями. Оптимальным вариантом станут хлоропреновые каучуковые изделия, армированные кордом из полиэстера. Они отличаются долговечностью и отличными эксплуатационными характеристиками. Благодаря хорошей эластичности такие ремни демонстрируют отличные эксплуатационные характеристики и сохраняют первоначальные свойства даже в условиях повышенной влажности и резких температурных колебаний.
      p
        | Клиновый ремень должен быть натянут максимально туго. Правильность фиксации можно проверить путем надавливании: при интенсивном надавливании он не должен прогибаться более, чем на полсантиметра.
      p
        | В некоторых конструкциях предусмотрена функция вертикального перемещения электродвигателя, позволяющая регулировать интенсивность натяжения. Если же такой опции нет, то изношенный ремень лучше заменить. Этот элемент устанавливается по аналогии с велосипедной цепью. Низ нужно намотать на шкив, а свободную часть поместить в барабанное пространство. Достаточно провернуть шкив, чтобы ремень сам приобрел нужное положение.
      p
        | Машинки с коллекторным пуском оснащаются поклиновым ремнем с зубцами на функционирующей поверхности. Такие конструкции требуют точной установки с учетом позиционирования. Шкив мотора и барабан должны устанавливаться по строгой схеме. В качестве подсказки можно использовать маркировку на комплектующих. Что касается натяжения, здесь оно менее сильное, поэтому установить такой ремень намного проще.
      img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0064.webp" alt= 'Слетел ремень стиральной машины' title='Слетел ремень стиральной машины' itemprop="image")

      h2.page-title-h2 Как заменить подшипник: пошаговая инструкция
      p Процедура замены детали выглядит следующим образом:
      ol.page-list.page-list-ol
        li Демонтируйте крепления задней и верхней панелей, снимите эти части.
        li Извлеките дозатор, затем открутите крепления панели управления.
        li Снимите механизм блокировки.
        li Заверните манжету вовнутрь барабана.
        li Отсоедините болты, фиксирующие переднюю панель, снимите ее.
        li Демонтируйте противовес.
        li
          | Отключите и вытащите ТЭН (если позволяет длина шнура, то отсоединять его не обязательно).
        li Отсоедините все кабели и патрубки, открутите крепления.
        li Раскрутите бак, извлеките барабан.
      p
        b Справка!
        |  Многие современные модели машинок оснащаются целостным баком. Подобные конструкции самостоятельно разбирать не рекомендуется. Для аккуратного вскрытия и последующего восстановления герметичности нужны специальные инструменты.
      p Замену производят по следующему алгоритму:
      ol.page-list.page-list-ol
        li Извлечение сальников.
        li Выемка старого подшипника.
        li Очистка посадочного места, обработка поверхности литолом.
        li Установка новых комплектующих.
      h2.page-title-h2 Что делать, если остановку барабана спровоцировал износ щеток?
      p
        | Такая поломка характеризуется прерывистой работой мотора, появлением нехарактерных рывков, остановкой при повышенной рабочей нагрузке.
      p
        | Неполадка, как правило, возникает вследствие интенсивных нагрузок и продолжительного сока эксплуатации техники. Нехарактерные признаки появляются из-за того, что изношенные очистители перестают контактировать с коллектором мотора. Электромагнитный контакт слабеет или теряется вовсе, что и приводит к остановке ротора.
      p
        i
          | Замену щеток рекомендуется производить не реже, чем через каждые 7 лет. Это относится ко всем стиральным машинам.
      p Если требуется замена щеток, рекомендуется покупать и использовать сразу пару.
      p Порядок действий при замене:
      ol.page-list.page-list-ol
        li Частичная разборка (нужно снять верхнюю панель, чтобы получить доступ к мотору).
        li Демонтаж клемм источников питания от электромотора.
        li Снятие креплений для извлечения самого двигателя.
        li Снятие болтиков, с помощью которых фиксируются щетки.
      p
        b Важно!
        |  Перед заменой щеток необходимо провести их осмотр и выполнить замеры. Например, если длина старых щеток составляет 15 мм и больше, то они считаются вполне пригодными. Это значит, что поломка мотора вызвана другой причиной.
      p
        | Кроме того, перед заменой важно произвести предварительную очистку коллектора, удалить темный образовавшийся налет в местах соприкосновения. Для чистки подойдет обычная наждачная бумага.
      h2.page-title-h2 Что делать в случае поломки электромотора?
      p
        | В некоторых случаях поврежденный электродвигатель способен продолжать частично выполнять свою работу. Если он может обеспечивать обороты барабана при половинной нагрузке. Но с максимальной нагрузкой и высоких оборотах он справляться не сможет.
      p
        | Бывает так, что после запуска машинка начинает интенсивно гудеть либо от нее исходит запах гари. Это является верным признаком того, что электромотор придется полностью менять.
      p
        b Замена электромотора
      p
        | Как правило, электромотор стиральной машины выходит из строя вследствие следующих факторов:
      ul.page-list.page-list-ul
        li Износ щеток. Процесс устранения проблемы описан выше.
        li
          | Дефекты обмотки. Наличие обрыва можно выявить с помощью мультиметра (выставлять на режим замера сопротивления). Разница между сопротивлением каждой обмотки не должна быть выше 5 Ом.
        li
          | Выход из строя ламелей. Проблему можно выявить путем визуального осмотра при наличии определенных знаний. Несущественные дефекты, такие как отслоение, обрыв контактов поддаются самостоятельному устранению и не требуют специальных знаний.
      p
        | Самостоятельно можно произвести замену щеток, исправить визуальные дефекты. Если речь идет о более глобальных повреждениях, требующих разборки корпуса и замены деталей, от самостоятельного ремонта лучше отказаться. Для устранения масштабных поломок рекомендуется обратиться к мастеру либо в сервисный центр по ремонту бытовой техники.
      h2.page-title-h2 Что делать, если сломался модуль управления?
      p
        | Еще одна причина того, что барабан стиральной машины перестал крутиться, может заключаться в отсутствии подачи сигнала для выполнения действия. Поломка процессора платы может наступить вследствие перепадов электрического напряжения. Устранить проблему можно одним из трех способов (в зависимости от характера повреждения):
      ul.page-list.page-list-ul
        li сброс программных настроек (возврат заводских настроек);
        li перепрошивка (переустановка программного обеспечения);
        li установка нового модуля.
      p
        | Чтобы выяснить, почему прекратил вращаться барабан, нужно определить причину поломки модуля. Она может быть связана как с прошивкой, так и с самим механизмом. На помощь придет опция самодиагностики, которая предусмотрена в функционале большинства современных моделей. Что касается алгоритма действий, здесь все зависит от конкретной модели. Необходимую информацию можно найти в руководстве по эксплуатации.
      p
        | Например, владельцам бытовой техники торговой марки Ardo, оснащенной аналоговым модулем следует выполнить следующее:
      ul.page-list.page-list-ul
        li Полностью освободить бак от остатков воды.
        li Зафиксировать указатель ручки в вертикальном положении вниз.
        li Выставить температурный режим на 0.
        li Для старта самодиагностики нажать одновременно все кнопки.
        li
          | Если в прошивке проблем обнаружено не будет, машинка уведомит об этом тремя короткими звуковыми сигналами.
      p
        | Менять плату придется в том случае, если при диагностике было выявлено следующее (как минимум один пункт):
      ul.page-list.page-list-ul
        li Изменение цвета модуля и локальное образование пятен, характеризующих подпалины.
        li Потемнение контактных дорожек, появление признаков коррозии.
        li Отслоение защитного слоя на катушках.
        li Вздутие конденсаторов.
        li Потемнение зоны вокруг основного процессора.
      p
        | Для ремонта такой платы необходим соответствующий опыт и специальный инвентарь. Без этого устранить проблему не удастся. Как показывает практика, в большинстве подобных случаев приходится решать проблему путем установки новой платы.
      h2.page-title-h2 Подведем итог
      p
        | В материале представлена информация, которая может быть полезна для владельцев стиралок, столкнувшихся с непредвиденной остановкой барабана. Мы постарались детально описать причины, рассмотрели пути решения.
      p
        | В случаях масштабных повреждений, выходе из строя отдельных механизмов с необходимостью замены, лучше всего не экспериментировать, и обратиться к профильному специалисту. Для корректного демонтажа и сборки нужны знания и опыт, а также набор инструментов. Кроме того, для замены важно выбирать качественные оригинальные комплектующие, представленные в специализированных сервисных центрах. Установка некачественных деталей может усугубить ситуацию и спровоцировать повторные поломки. На практике вызов частного мастера на дом не всегда приносит ожидаемых результатов, и часто влечет за собой дополнительные расходы.
      p
        | Примечание. Любая техника нуждается в бережной эксплуатации и своевременном техническом обслуживании.
    .page-text
      h2.page-title-h2 Основные причины когда барабан стиральной машины не крутится и возможный ремонт.
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Посторонний предмет в баке
              td
                p Извлечение постороннего предмета из бака
              td
                p от 1200 р.
            tr
              td(rowspan='3')
                p Неисправность двигателя
              td
                p Чистка двигателя
              td
                p от 600 р.
            tr
              td
                p Замена щеток двигателя
              td
                p от 1200 р.
            tr
              td
                p Замена двигателя
              td
                p от 1200 р.
            tr
              td
                p Износ ремня
              td
                p Замена ремня
              td
                p от 800 р.
            tr
              td
                p Износ подшипника
              td
                p Замена подшипников
              td
                p от 2100 р.
            tr
              td
                p Неисправность модуля управления
              td
                p Ремонт модуля управления
              td
                p от 1500 р.

    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей стиральной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем стиральные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности стиральных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-stiralnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'ne-krutitsya-baraban-v-stiralnoj-mashine' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-krutit' + '.webp' alt='Стиральная машина не крутит барабан')
            p Стиральная машина не крутит барабан
        .page-articles-link-item
          a(href=pathToPage + 'pena-iz-stiralnoj-mashiny' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-penitsa' + '.webp' alt='Пена из стиральной машины')
            p Пена из стиральной машины
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-bet-tokom' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-bjet-tokom' + '.webp' alt='Стиральная машина бьет')
            p Стиральная машина бьет
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-gudit' + '.webp' alt='Стиральная машина гудит')
            p Стиральная машина гудит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-migaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='На стиральной машине мигают все лампочки')
            p На стиральной машине мигают все лампочки
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-greet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-greet' + '.webp' alt='Стиральная машина не греет воду')
            p Стиральная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не набирает воду')
            p Стиральная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-ostanavlivaetsya-stiraet-bez-ostanovki' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не останавливается')
            p Стиральная машина не останавливается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otkryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otkrivaet' + '.webp' alt='Стиральная машина не открывает дверь')
            p Стиральная машина не открывает дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otzhimaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otgimaet' + '.webp' alt='Стиральная машина не отжимает')
            p Стиральная машина не отжимает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-poloskaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-poloskaet' + '.webp' alt='Стиральная машина не полоскает')
            p Стиральная машина не полоскает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-slivaet' + '.webp' alt='Стиральная машина не сливает')
            p Стиральная машина не сливает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-vkluchaetsa' + '.webp' alt='Стиральная машина не включается')
            p Стиральная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-zakryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-blokiruet' + '.webp' alt='Стиральная машина не блокирует дверь')
            p Стиральная машина не блокирует дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ploho-stiraet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ploho-stiraet' + '.webp' alt='Стиральная машина не отстирывает вещи')
            p Стиральная машина не отстирывает вещи
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-pokazyvaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-pokazivaet-oshibku' + '.webp' alt='Стиральная машина показывает ошибку')
            p Стиральная машина показывает ошибку
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-prygaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-prigaet' + '.webp' alt='Стиральная машина прыгает')
            p Стиральная машина прыгает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-skripit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-scripit' + '.webp' alt='Стиральная машина скрипит')
            p Стиральная машина скрипит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-srazu-slivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-srazu-slivaet' + '.webp' alt='Стиральная машина набирает и сразу сливает воду')
            p Стиральная машина набирает и сразу сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-techet-podtekaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-techet' + '.webp' alt='Стиральная машина подтекает')
            p Стиральная машина подтекает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-vibriruet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-vibriruet' + '.webp' alt='Стиральная машина сильно вибрирует')
            p Стиральная машина сильно вибрирует
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-zavisaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='Стиральная машина зависает в одном режиме')
            p Стиральная машина зависает в одном режиме
