extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Стиральная машина бьет током' 
  - var content = 'Что делать, если обнаруживается, что стиральная машина бьет током? Прежде всего, важно отдавать себе отчет, что это угрожает здоровью и жизни человека.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности стиральных машин': domen + '/neispravnosti-stiralnyh-mashin/',
    "Стиральная машина бьет током": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-012.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "wash-mash/" + "sm-bjet-tokom" + ".webp" alt= 'Стиральная машина бьется током' itemprop="image")

      p
        | Что делать, если обнаруживается, что стиральная машина бьет током? Прежде всего, важно отдавать себе отчет, что это угрожает здоровью и жизни человека. При применении любого бытового прибора, который подключается к электросети, следует неукоснительно придерживаться правил безопасности.
      h2.page-title-h2 Почему следует заземлить стиральную машину
      p
        | Электричество в стиральной машине обеспечивает подогрев воды, вращательные движения барабана, работу панели управления и прочие процессы. Если стиральная машина бьет током, причин может быть множество. 
      p Самые распространенные места утечки – это:
      ul.page-list.page-list-ul
        li трубчатый электронагреватель (ТЭН);
        li сетевой фильтр;
        li двигатель;
        li плата управления.
      p
        | Электричество облегчает труд человека, но одновременно и несет в себе угрозу. Оно способно причинить немалый вред. Каждый год статистика фиксирует случаи гибели людей от ударов электрическим током. Поэтому если владелец чувствует, что его стиральная машина автомат бьет током, ему следует немедленно отойти подальше от устройства.
      p
        | Ток утечки образуется на корпусе вследствие поломки машинки, нарушения изоляции отдельных деталей или проводки. Естественный ток всегда присутствует в приборах из-за невозможности добиться абсолютной изоляции. Но он не представляет опасности. Если же изоляция повреждена, а человек прикасается к детали, на которой возникает утечка, то его тело становится проводником.
      p
        | Когда возникает пробой на корпус, ток может перетечь на близлежащие, хорошо проводящие электричество предметы, например, шланг, трубы, краны, ванну. Прикосновение к ним также может обернуться неприятными последствиями. Нормы электробезопасности требуют при подключении крупной бытовой техники предусматривать отдельную линию с УЗО и заземлением.
      p
        | Чтобы сделать использование стиральной машины безопасным, следует во время установки заземлить корпус прибора. Для этого достаточно предусмотреть наличие третьего провода, присоединяющегося к заземляющей шине. Он отводит попадающее на корпус машинки электричество.
      h2.page-title-h2 Неисправность сетевого фильтра
      p
        | В поисках ответа на вопрос, почему стиральная машина бьет током, в первую очередь стоит обратить внимание на состояние сетевого фильтра. Именно это устройство чаще всего становится причиной утечки. Оно представляет собой бочонок небольшого размера, выполненный из пластмассы и снабженный несколькими парами контактов в виде лепестков под фишки. Как правило, лепестки смотрят вверх, откуда к фильтру подсоединяется кабель питания.
      p
        | Если между контактами скапливается грязь, она может промокнуть из-за сырости и водяных испарений. В результате происходит пробой на корпусе или короткое замыкание.
      h3.page-title-h3 Как очистить контакты сетевого фильтра
      p
        | Для изготовления стенок корпуса стиральной машинки используются тонкие листы стали. Сверху наносятся 1–2 слоя нитроэмали. Такой защиты может оказаться недостаточно, чтобы предотвратить проникновение электричества. Если корпус стиральной машины бьет током, необходимо тщательно прочистить контакты и все участки, на которых может оседать конденсат. Делают это следующим образом:
      ol.page-list.page-list-ol
        li
          | Перед началом работы важно обесточить прибор и осторожно снять фишку с контактами. Для этого надо отключить электричество на щитке или автомат, который отвечает за стиральную машинку, подключенную на отдельную линию. После можно выдергивать вилку прибора из розетки и подключать электричество в доме.
        li
          | Далее с корпуса убирают заднюю панель, открутив крестовой отверткой винты. Если их покрывает ржавчина, для облегчения задачи можно воспользоваться специальным средством для ее снятия.
        li
          | Обеспечив беспрепятственный доступ ко внутренним деталям и узлам, находят место расположения фильтра. В большинстве моделей стиральных машин его устанавливают в левой боковой части корпуса, неподалеку от верхней крышки, которую также можно демонтировать. Для этого достаточно открутить несколько винтов с передней и задней стороны.
        li
          | В месте расположения фильтра часто накапливается окись. Ее удаляют, а контакты промывают специальным составом.
        li
          | На последнем этапе проверяют, чтобы контакты и фильтр были полностью сухими, без следов конденсата.
      
      p
        | Данная неисправность обладает характерной особенностью: стиральная машина бьет током через корпус, если на нем скапливается влага. После того как прибор просыхает от сырости, это прекращается. Поэтому помещение, в котором установлена машинка, необходимо хорошо проветривать. В таких условиях влага быстро выводится, риск пробоев становится минимальным, и стиральная машина, вода бить током не могут.
      h2.page-title-h2 Дефекты платы управления
      p
        | Иногда возникновение короткого замыкания наблюдается на плате управления. Это устройство со множеством дорожек и заземляющим контуром. При попадании водяных испарений оно проводит электрический ток. Чтобы этого не допустить, мастера советуют поступить следующим образом:
      ol.page-list.page-list-ol
        li Снять с корпуса стиральной машинки заднюю панель и верхнюю крышку.
        li
          | Определить местонахождение силового блока и платы. Первый обычно находится в левой боковой части корпуса, поблизости от крышки прибора. Плату устанавливают в передней верхней части машины.
        li Снять защитный корпус из пластика, провести осмотр блоков.
        li
          | В качестве профилактической меры прочистить и протереть вызывающие подозрение участки спиртобензиновым составом.
        li Хорошо просушить обработанные места.
        li
          | Провести проверку фишек с контактами. На них также могут скапливаться загрязнения, попадать влага. Особенно внимание стоит уделить контактам, расположенным вблизи заземления.
      h2.page-title-h2 Выход из строя силового модуля
      p
        | Попадая на плату с переменным током, вода приводит к короткому замыканию. А платам с постоянным током она грозит электролизом и повреждением контактов.
      p
        | Необходимо помнить, что вода, лишенная каких-либо примесей, – это диэлектрик. Но, проходя по водопроводным трубам и поступая в квартиры и дома, она оказывается загрязненной большим количеством минеральных веществ и солей металлов, которые хорошо проводят электрический ток.
      h2.page-title-h2 Неисправность ТЭНа
      p
        | Когда барабан стиральной машины бьет током, в первую очередь стоит проверить трубчатый электронагреватель. Проблема может оказаться очень серьезной и потребовать сложного ремонта. Необходимо демонтировать заднюю панель прибора и тщательно осмотреть детали. Эта работа включает несколько этапов:
      ul.page-list.page-list-ul
        li Отсоединить машинку от электросети.
        li
          | Подготовить мультиметр. Этот многофункциональный прибор помогает проверять нагревательный элемент, целостность цепи, а также определять пробои на корпус машинки.
        li
          | Подключить щупы мультиметра к контактам электронагревателя и определить величину сопротивление. Результат измерений должен быть близок к нулю.
        li
          | Для проверки пробоя на корпус, щупы мультиметра подсоединяют следующим образом: один – на корпус, другой – к контакту. Показатель должен стремиться к бесконечности на пределе 20 Мом.
        li
          | Наличие сопротивления свидетельствует о пробое. Перед дальнейшей проверкой надо заполнить барабан водой, чтобы обеспечить замыкание цепи. Один щуп мультиметра подсоединить к контакту, второй погрузить в воду.
      p
        | Владельцы стиральных машин задаются вопросом, если при проверке ТЭНа обнаружена утечка, а стиральная машина бьет током, что делать в такой ситуации. Прежде всего, необходимо демонтировать нагревательный элемент. Чтобы справиться с этой задачей самостоятельно, производят следующие действия:
      ul.page-list.page-list-ul
        li Сначала отсоединяют контакты. Если замечают признаки окисления, очищают.
        li Извлекают термодатчик и отсоединяют провода.
        li
          | Чтобы снять ТЭН, откручивают винт, который служит для его крепления. Как правило, нагревательный элемент плотно сидит на месте. Демонтаж требует физических усилий, но выполнять его надо осторожно, чтобы не испортить уплотнение.
        li
          | Затем устанавливают новый, исправный электронагреватель. В ходе этой работы следят, чтобы на манжете не было загрязнений и не нарушалась герметичность.
        li Возвращают на место термодатчик, подсоединяют провода.
      h3.page-title-h3 Нюансы повреждения ТЭНа
      p
        | Трубчатый электронагреватель представляет собой заключенную в абсорбер спираль, защищенную с наружной стороны специальной оболочкой. Обычно ее производят из медных сплавов. Оболочка одновременно играет роль изолятора от влаги. А абсорбер представляет собой твердый, но с большим количеством мелких пор состав. При повреждении медной оболочки ТЭН становится неисправным, даже когда спираль скрыта абсорбером.
      p
        | Чаще всего наружная оболочка нагревательного элемента разрушается из-за биений в барабане. Этот дефект нередко является лишь отдельным звеном в цепочке повреждений. Барабан бьется по причине износа подшипников, одновременно с ним становится непригодным защищающий от протечки сальник. Чтобы стиральная машина не вышла из строя, надо вовремя выполнять замену деталей вращения.
      h2.page-title-h2 Дефекты двигателя
      p
        | Причиной пробоя на корпус иногда становятся неполадки в двигателе стиральной машинки. Материалы, которые используются при его производстве, – сталь, медь и алюминий. Для изоляции обмоток применяют специальный лак. Обмотки укладывают в особые лотки, изготовленные из стеклоткани или картона.
      p
        | После запуска двигатель начинает нагреваться. Если температура становится критически высокой, лак может начать плавиться. Это означает, что изоляция разрушается, сопротивление уменьшается, а потребление тока и выделение тепла, напротив, увеличиваются. Вследствие этого процесса происходит пробой на корпус двигателя и стиральной машинки.
      p Как проверить исправность двигателя
      p Проверку двигателя выполняют в несколько этапов:
      ul.page-list.page-list-ul
        li
          | Стиральную машину при проведении любых ремонтных работ отключают от электрической сети.
        li
          | Затем обеспечивают свободный доступ к внутренним механизмам и узлам. Для этого с задней части корпуса снимают защитную пластиковую панель, открутив винты. Делать это удобно с помощью крестовой отвертки.
        li
          | Чтобы найти местоположение мотора, заглядывают в нижнюю часть корпуса, под кожух барабана.
        li
          | Разъем с контактами находится в боковой левой части. Его снимают и сразу очищают от налета, окислений.
        li Для проверки двигателя подготавливают мультиметр.
        li
          | Измеряют показатели сопротивления обмоток и выполняют прозвонку на корпус. Значения в обоих случаях должны на наиболее высоком пределе стремиться к бесконечности.
        li
          | При наличии сопротивления мотор снимают, прочищают и промывают. Если мультиметр показывает, что значение сопротивления не равно бесконечности, значит, двигатель стиральной машины нуждается в ремонте.
      h2.page-title-h2 Выводы
      p
        | Если стиральная машина бьет током, как устранить неисправности и обезопасить себя от неприятных последствий? При наличии определенных знаний и опыта в ремонте электрических приборов можно воспользоваться инструкцией и попробовать починить машинку своими силами. Но более надежное решение – вызвать специалиста из сервисного центра или ремонтной мастерской и доверить ему поиск и устранение поломки.
      p
        | Несмотря на то, что большинство возникающих при работе бытовой техники дефектов можно исправить самостоятельно, без специальных знаний и опыта, а также определенных приспособлений бывает трудно обойтись, даже если дома есть отвертка и прибор, измеряющий сопротивление. Поэтому если стиральная машинка неисправна, бьет током, лучше вызвать мастера и получить у него консультацию. Если предстоит сложный ремонт, технику стоит отправить в сервисный центр.
      h2.page-title-h2
        | Причины пробоя стиральной машины и способы их устранения силами компании РемБытТехника.
    .page-text
      h2.page-title-h2 Основные причины неисправности и стоимость их устранения
      .table-container_scroll   
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Неисправность сетевого фильтра
              td
                p Замена сетевого фильтра
              td
                p от 1000 р.
            tr
              td
                p Пробой ТЭНа
              td
                p Замена ТЭНа
              td
                p от 1200 р.
            tr
              td(rowspan='3')
                p Неисправность двигателя
              td
                p Чистка двигателя
              td
                p от 600 р.
            tr
              td
                p Замена щеток двигателя
              td
                p от 1200 р.
            tr
              td
                p Замена двигателя
              td
                p от 1200 р.
            tr
              td
                p Неисправность электронного модуля
              td
                p Ремонт модуля управления
              td
                p от 1500 р.

    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей стиральной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем стиральные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности стиральных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-stiralnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'ne-krutitsya-baraban-v-stiralnoj-mashine' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-krutit' + '.webp' alt='Стиральная машина не крутит барабан')
            p Стиральная машина не крутит барабан
        .page-articles-link-item
          a(href=pathToPage + 'pena-iz-stiralnoj-mashiny' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-penitsa' + '.webp' alt='Пена из стиральной машины')
            p Пена из стиральной машины
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-bet-tokom' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-bjet-tokom' + '.webp' alt='Стиральная машина бьет')
            p Стиральная машина бьет
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-gudit' + '.webp' alt='Стиральная машина гудит')
            p Стиральная машина гудит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-migaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='На стиральной машине мигают все лампочки')
            p На стиральной машине мигают все лампочки
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-greet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-greet' + '.webp' alt='Стиральная машина не греет воду')
            p Стиральная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не набирает воду')
            p Стиральная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-ostanavlivaetsya-stiraet-bez-ostanovki' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не останавливается')
            p Стиральная машина не останавливается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otkryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otkrivaet' + '.webp' alt='Стиральная машина не открывает дверь')
            p Стиральная машина не открывает дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otzhimaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otgimaet' + '.webp' alt='Стиральная машина не отжимает')
            p Стиральная машина не отжимает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-poloskaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-poloskaet' + '.webp' alt='Стиральная машина не полоскает')
            p Стиральная машина не полоскает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-slivaet' + '.webp' alt='Стиральная машина не сливает')
            p Стиральная машина не сливает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-vkluchaetsa' + '.webp' alt='Стиральная машина не включается')
            p Стиральная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-zakryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-blokiruet' + '.webp' alt='Стиральная машина не блокирует дверь')
            p Стиральная машина не блокирует дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ploho-stiraet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ploho-stiraet' + '.webp' alt='Стиральная машина не отстирывает вещи')
            p Стиральная машина не отстирывает вещи
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-pokazyvaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-pokazivaet-oshibku' + '.webp' alt='Стиральная машина показывает ошибку')
            p Стиральная машина показывает ошибку
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-prygaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-prigaet' + '.webp' alt='Стиральная машина прыгает')
            p Стиральная машина прыгает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-skripit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-scripit' + '.webp' alt='Стиральная машина скрипит')
            p Стиральная машина скрипит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-srazu-slivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-srazu-slivaet' + '.webp' alt='Стиральная машина набирает и сразу сливает воду')
            p Стиральная машина набирает и сразу сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-techet-podtekaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-techet' + '.webp' alt='Стиральная машина подтекает')
            p Стиральная машина подтекает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-vibriruet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-vibriruet' + '.webp' alt='Стиральная машина сильно вибрирует')
            p Стиральная машина сильно вибрирует
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-zavisaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='Стиральная машина зависает в одном режиме')
            p Стиральная машина зависает в одном режиме
