extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Стиральная машина не поласкает' 
  - var content = 'Во время стирки довольно часто стиральная машина останавливается и возникает ощущение, что она перестала работать. В большинстве случаев такое поведение обусловлено выполнением определенных режимов оборудования.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности стиральных машин': domen + '/neispravnosti-stiralnyh-mashin/',
    "Стиральная машина не поласкает": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-014.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "wash-mash/" + "sm-ne-poloskaet" + ".webp" alt= 'Стиральная машина не поласкает' itemprop="image")

      p
        | Во время стирки довольно часто стиральная машина останавливается и возникает ощущение, что она перестала работать. В большинстве случаев такое поведение обусловлено выполнением определенных режимов оборудования. Но иногда схожая ситуация может возникнуть при других вариантах. Если машинка перестала работать, а в барабане присутствует вода, то необходимо понять причину проблемы. Она может заключаться в режиме полоскания или присутствуют неполадки в сливе и отжимании.
      p Для определения неполадки рекомендуем обратить внимание на следующие признаки:
      ul.page-list.page-list-ul
        li
          | Присутствие остатков порошка в воде. Машинка может шуметь, работать, но переключение на следующий режим не происходит. Проблема может заключаться в работе впускного клапана;
        li
          | Машинка работает в одном режиме и не переключается на следующую операцию. При включении отжима и слива, операции включаются. Проблема может быть в неисправности ТЭНа или отказе программного модуля;   
        li
          | Машинка выполняет режим стирки, но следующий режим не запускается. Проблемы могут быть в системе слива (отказ сливного насоса, засорение патрубков или шлангов);
      
        li
          | При включении полоскания машинка останавливается. Бельё не отжимается, вода остается в баке. Рекомендуется проверить сливную помпу и прессостат;
      
        li
          | Полоскание осуществляется горячей водой или время выполнения операции увеличено. Причина может быть в поломке ТЭНа или сбое в программном модуле.
      p
        | Если ваш вариант подходит к одному из указанных вариантов, то можно приступать к ремонту и устранению проблемы.
      p
        | Перед устранением проблемы рекомендуем вначале проверить работу системы слива и отжимания. Переключите стиральную машину на режим «Слив воды» и понаблюдайте за выполнением операции. Если количество воды в барабане не уменьшается, то рекомендуем проверить систему на наличие засоров.
      h2.page-title-h2 Чистка сливной системы
      p
        | Вместе с бельем или одеждой в стиральную машину попадают мелкие кусочки мусора, ворсинки, шерсть домашних животных и многое другое. Постепенно накапливая внутри оборудования, они могут стать причиной засорения сливной системы.
      p
        | Проверку сливной системы необходимо начинать с фильтра. Каждая стиральная машина снабжена собственным фильтром, предотвращающим попадание мусора в сливную помпу. В большинстве случаев он расположен с лицевой стороны в нижней части машинки.
      p Для получения доступа к фильтру потребуется выполнить следующие действия:
      ol.page-list.page-list-ol
        li
          | Откройте или удалите крышку люка. В зависимости от модели крепление люка к корпусу может осуществляться с помощью защелок или винтов;
      
        li Проворачивая ручку фильтра против часовой стрелки, извлеките его из корпуса;
      
        li При наличии мусора удалите его и промойте фильтр;
      
        li
          | Рекомендуем проверить крыльчатку сливного насоса. Для проверки потребуется фонарик. Направьте свет внутрь отверстия для фильтра и осмотрите крыльчатку. Если на ней присутствуют мусор или посторонние предметы потребуется разборка и очистка насоса.
      p
        | После проверки фильтра необходимо проверить патрубки и сливной шланг. В зависимости от модели доступ к патрубкам или сливному шлангу может осуществляться через днище или заднюю стенку машинки.
      p
        | Для получения доступа через днище необходимо положить стиральную машину на бок или заднюю стенку. Если снизу присутствует защита, снимите ее. После получения доступа к насосу снимите патрубок и проверьте его на наличие мусора. Удалите посторонний предметы и промойте водой. После патрубка, проведите осмотр сливного шланга. Осмотр сливного шланга необходимо проверять с обеих сторон (в месте подсоединения к машинке и входу в систему канализации).
      p
        | Если на крыльчатке насоса присутствует засор, удалите его. Если помпа неисправна, то установите рабочий вариант.
      h2.page-title-h2 Проверка и замена прессостата
      p
        | Для многих название может показаться непонятным, но другое название детали – это датчик воды. Разные режимы стирки требует разного наполнения и прессостат контролирует наполнение бака. При достижении необходимого объема посылается сигнал на управляющую плату, и происходит закрытие впускного клапана.
      p
        | Если стиральная машина не включает Необходимый режим, необходимо проверить исправность датчика воды. Для проверки следует использовать следующий алгоритм действий:
      ol.page-list.page-list-ol
        li
          | Снимите верхнюю крышку. Она крепится двумя винтами, которые находятся на задней стенке;
        li Найдите датчик и ослабьте хомут;
        li На место датчика установите небольшую трубку;
        li
          | Для проверки подуйте в деталь. Если при движении воздуха слышны щелчки, то узел в рабочем состоянии;
        li
          | Дополнительно проверьте контакты. Если присутствует залипание или на поверхности контактов присутствует окисление, прочистите поверхность;
        li Если датчик неисправен, то необходимо провести замену на рабочий вариант.
      h2.page-title-h2 Проверка впускного клапана
      p
        | Если во время полоскания в воде остается порошок или стирка проводится с недостаточным количеством воды, то проблема может быть в работе впускного клапана. Это может быть засор или поломка элемента. В рабочем состоянии клапан выполняет следующее: При поступлении сигнала открывается мембрана и в стиральную машину поступает вода. После набора необходимого объема управляющий модуль подает сигнал на закрытие клапана.
      p Для проверки впускного клапана выполните следующие действия:
      ol.page-list.page-list-ol

        li Перекройте кран на заливном шланге и отсоедините его;
      
        li
          | Проверьте на наличие засора. При необходимости почистите фильтр-сетку между шлангом и машинкой;
      
        li
          | Отключите контакты входного клапана, и выкрутите болты крепления. Подсоедините клапан к шлангу и включите воду. Если клапан исправен, то он не должен пропускать воду;
      
        li
          | Для проверки электрической части необходимо воспользоваться мультиметром. Необходимо проверить катушки. Если они в рабочем состоянии, то сопротивление должно быть в пределах 2-4 Ом.
      
        li Если показатели не совпадают, то потребуется замена узла.
      h2.page-title-h2 Проверка ТЭНа
      p
        | В некоторых случаях наличие остатков моющего средства в воде может говорить о проблемах с нагревательным элементом. Если ТЭН в нерабочем состоянии, то не происходит необходимый нагрев воды. В холодной воде стиральный порошок плохо растворяется и для удаления моющего средства требуется больше времени и воды.
      p
        | Другой вариант – избыточная температура. Причина может быть в неправильной работе управляющей платы. Подаются неправильные сигналы или контроль над температурой не осуществляется.
      p Для проверки ТЭНа выполните следующее:
      ol.page-list.page-list-ol
        li
          | Подготовьте мультиметр. Для проверки следует знать мощность элемента. Обычно она указывается на специальной бирке на корпусе стиральной машины. Необходимо узнать значение сопротивления. Для расчета необходимо использовать следующую формулу: R = 2202(напряжение)/2000 (мощность) = 24,2 Ом (сопротивление).
      
        li
          | Получите доступ к ТЭНу. Отсоедините контакты, и приложите щупы. Если показатели примерно совпадают с расчетными значениями, то элемент исправен;
      
        li Если они сильно отличаются необходимо заменить ТЭН.
      p
        | Иногда проблема отказа стиральной машины в полоскании может заключаться в неполадках электронной платы. Мы не рекомендуем пытаться самостоятельно разрешить проблему. Лучше доверить работу специалистам. Ремонт потребуется оплатить, но стоит учитывать, что неправильными действиями вы можете окончательно вывести из строя плату, а стоимость нового элемента будет значительно дороже, чем его ремонт.
      p
        | Если не хотите испытать проблем с оборудованием, рекомендуем придерживаться простых правил:
      ul.page-list.page-list-ul
        li Проверяйте перед стиркой одежду и бельё на присутствие посторонних предметов;
      
        li Возьмите за правило периодическую проверку фильтров:
      
        li
          | Установите в квартире или доме магнитные фильтры, которые помогут уменьшить присутствие солей и примесей в воде;
      
        li Подключите стиральную машину через стабилизатор напряжения.
      p
        | При соблюдении указанных советов вы можете избежать непредвиденных ситуаций и обеспечить продолжительную эксплуатацию стиральной машины.
    .page-text
      h2.page-title-h2 Основные причины неисправности и стоимость их устранения
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Засор сливной системы
              td
                p Чистка сливной системы
              td
                p от 600 р.
            tr
              td
                p Неисправность сливной помпы
              td
                p Замена сливного насоса (помпы)
              td
                p от 1200 р.
            tr
              td
                p Неисправность прессостата
              td
                p Замена прессостата
              td
                p от 1200 р.
            tr
              td
                p Неисправность модуля управления
              td
                p Ремонт модуля управления
              td
                p от 1500 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей стиральной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем стиральные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности стиральных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-stiralnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'ne-krutitsya-baraban-v-stiralnoj-mashine' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-krutit' + '.webp' alt='Стиральная машина не крутит барабан')
            p Стиральная машина не крутит барабан
        .page-articles-link-item
          a(href=pathToPage + 'pena-iz-stiralnoj-mashiny' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-penitsa' + '.webp' alt='Пена из стиральной машины')
            p Пена из стиральной машины
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-bet-tokom' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-bjet-tokom' + '.webp' alt='Стиральная машина бьет')
            p Стиральная машина бьет
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-gudit' + '.webp' alt='Стиральная машина гудит')
            p Стиральная машина гудит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-migaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='На стиральной машине мигают все лампочки')
            p На стиральной машине мигают все лампочки
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-greet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-greet' + '.webp' alt='Стиральная машина не греет воду')
            p Стиральная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не набирает воду')
            p Стиральная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-ostanavlivaetsya-stiraet-bez-ostanovki' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не останавливается')
            p Стиральная машина не останавливается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otkryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otkrivaet' + '.webp' alt='Стиральная машина не открывает дверь')
            p Стиральная машина не открывает дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otzhimaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otgimaet' + '.webp' alt='Стиральная машина не отжимает')
            p Стиральная машина не отжимает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-poloskaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-poloskaet' + '.webp' alt='Стиральная машина не полоскает')
            p Стиральная машина не полоскает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-slivaet' + '.webp' alt='Стиральная машина не сливает')
            p Стиральная машина не сливает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-vkluchaetsa' + '.webp' alt='Стиральная машина не включается')
            p Стиральная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-zakryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-blokiruet' + '.webp' alt='Стиральная машина не блокирует дверь')
            p Стиральная машина не блокирует дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ploho-stiraet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ploho-stiraet' + '.webp' alt='Стиральная машина не отстирывает вещи')
            p Стиральная машина не отстирывает вещи
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-pokazyvaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-pokazivaet-oshibku' + '.webp' alt='Стиральная машина показывает ошибку')
            p Стиральная машина показывает ошибку
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-prygaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-prigaet' + '.webp' alt='Стиральная машина прыгает')
            p Стиральная машина прыгает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-skripit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-scripit' + '.webp' alt='Стиральная машина скрипит')
            p Стиральная машина скрипит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-srazu-slivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-srazu-slivaet' + '.webp' alt='Стиральная машина набирает и сразу сливает воду')
            p Стиральная машина набирает и сразу сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-techet-podtekaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-techet' + '.webp' alt='Стиральная машина подтекает')
            p Стиральная машина подтекает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-vibriruet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-vibriruet' + '.webp' alt='Стиральная машина сильно вибрирует')
            p Стиральная машина сильно вибрирует
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-zavisaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='Стиральная машина зависает в одном режиме')
            p Стиральная машина зависает в одном режиме
