extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Стиральная машина плохо стирает' 
  - var content = 'Иногда в некачественной стирке может быть виновата не работа стиральной машины, а моющее средство. Поэтому, заметив на выстиранном белье загрязнения, в первую очередь стоит обратить внимание на порошок или гель.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности стиральных машин': domen + '/neispravnosti-stiralnyh-mashin/',
    "Стиральная машина плохо стирает": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-012.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "wash-mash/" + "sm-ploho-stiraet" + ".webp" alt= 'Стиральная машина плохо стирает' itemprop="image")

      p
        | Вопрос о том, почему плохо стирает стиральная машина, может волновать владельца по нескольким причинам, например, если он, купив технику и запустив ее впервые, замечает на выстиранной одежде пятна. Иногда прибор, который ранее прекрасно справлялся со своими задачами, вдруг перестает удалять загрязнения. Когда новая стиральная машина плохо стирает, причины нередко кроются в производственном браке. Такая техника подлежит возврату или обмену. Если же прибор исправно работал на протяжении какого-то периода времени, стоит внимательно разобраться, почему ухудшились показатели.
      h2.page-title-h2 Причины некачественной стирки белья
      p
        | Чаще всего владельцы отмечают неудовлетворительные результаты стирки вещей в машинке из-за следующих причин:
      ul.page-list.page-list-ul
        li в процессе эксплуатации допускались нарушения;
        li техника была неправильно установлена;
        li купленная стиральная машина имела заводской брак;
        li прибор выработал свой ресурс.
      p
        | При использовании любой бытовой техники важно соблюдать правила эксплуатации и грамотно ухаживать за ней. В работе стиральных машин применяется бытовая химия и вода, поэтому приборы нуждаются в регулярной очистке. К тому же, как и все механизмы, с течением времени они подвергаются естественному износу. Отсрочить момент, когда техника полностью выработает ресурс, позволяет только правильный уход и соблюдение правил использования, которые определены производителем.
      p
        | Тем не менее даже у тех владельцев, которые неукоснительно следуют советам по эксплуатации, иногда появляются вопросы, почему плохо стирает стиральная машина и как повысить качество ее работы.
      h2.page-title-h2 Проверяем, какой порошок засыпаем в машинку
      p
        | Иногда в некачественной стирке может быть виновата не работа стиральной машины, а моющее средство. Поэтому, заметив на выстиранном белье загрязнения, в первую очередь стоит обратить внимание на порошок или гель. Слишком дешевые средства приобретать не стоит, они не только не устранят пятна, обесцвечивают ткани, но и могут привести к порче стиральной машины. К тому же иногда на прилавки магазинов попадает контрафактная продукция. Вместо порошков известных брендов продают поддельный товар.
      p
        | Как определить, что причина плохой стирки – в низком качестве моющего средства? Надо промыть порошкоприемник, насыпать в него другой порошок или гель и запустить машинку с бельем.
      p
        | Когда стиральная машина плохо стирает, причины могут заключаться и в неправильной дозировке моющих средств. Иногда бережливые хозяйки засыпают меньшее количество порошка, которого не хватает для объема загруженного в барабан белья. Другая крайность – превышение нормы. Стиральная машина за полный цикл работы не успевает выполаскивать из волокон ткани моющее средство, в результате на белье остаются разводы.
      h2.page-title-h2 Оцениваем чистоту воды
      p
        | Если машинка стирает хуже обычного, могло измениться качество поступающей в нее воды из-за аварийной ситуации, замены водопроводных труб, либо износа фильтра. Иногда поступает ржавая или грязная вода, содержащая посторонние примеси. Они оседают на белье во время стирки. Чтобы не допустить этого, специалисты советуют устанавливать фильтры.
      p
        | Качество воды следует учитывать и при выборе бытовой химии. В мягкой воде порошки и гели растворяются легко, а в жесткой они плохо пенятся и отстирывают. Если в машинку поступает жесткая вода, рекомендуется использовать специальные умягчители и подбирать средства для стирки в жесткой воде, например, жидкие стиральные порошки или натертое хозяйственное мыло.
      h2.page-title-h2 Правильно выбираем программу стирки
      p
        | В современных моделях стиральных машин предусмотрено большое количество режимов работы и функций, в том числе экономичные программы. Они лишь освежают белье, а не избавляют его от сильных загрязнений. Если стиральная машина плохо стирает белье, причины нередко кроются в неверном выборе программы. Например, температура нагрева воды или время стирки могут оказаться недостаточными. Программы для очищения хлопкового белья всегда бывают более продолжительными и интенсивными, чем для синтетических тканей.
      p
        | Если перед стиркой вещи не рассортировать, загрузить их вместе в барабан, а затем выставить режим с минимальной температурой, то часть вещей не отстирается полностью, а белое и светлое белье со временем потускнеет.
      h2.page-title-h2 Рассчитываем загрузку барабана
      p
        | Разные модели стиральных машин рассчитаны на определенный вес сухого белья. При перегрузке в барабане не происходит равномерного распределения вещей, они не очищаются и не выполаскиваются полностью. К тому же из-за того, что белье прижимается к стенкам барабана, на нем могут появляться потертости, катышки.
      h2.page-title-h2 Очищаем барабан, ТЭН и уплотнители
      p
        | Если стиральная машина стала хуже стирать, а на тканях после стирки появляются новые пятна, значит, в барабан проникают загрязнения, например, накапливается плесень на резиновых уплотнителях люка, появляются наслоения на ТЭНе. Чтобы этого не происходило, стиральную машину рекомендуется регулярно очищать:
      ul.page-list.page-list-ul
        li Для ТЭНа используют специальные чистящие средства или лимонную кислоту.
        li Уплотнители насухо протирают.
        li
          | Дверцу люка после стирки оставляют приоткрытой для предупреждения развития плесени в барабане.
        li
          | Время от времени запускают холостой цикл стирки, выбрав температурный режим 900 С.
      h2.page-title-h2 Проверяем исправность стиральной машины
      p
        | Низкая эффективность стирки может объясняться неисправностью прибора. Самые частые поломки – это:
      ul.page-list.page-list-ul
        li
          | Выход из строя трубчатого электронагревателя (ТЭНа), который перестает греть воду, или управляющей им электроники. В холодной воде белье отстирывается плохо.
        li Неисправность приводящего ремня, нарушающая нормальное вращение барабана.
        li Износ подшипников.
      p
        | Повреждения деталей владелец стиральной машины может заметить сам по шуму и скрежету, замедленному вращению барабана или холодной дверце люка для белья. А для устранения неисправностей и замены сломанных элементов и узлов на новые лучше обратиться в сервисный центр.
      h2.page-title-h2 Профилактические мероприятия
      p
        | Оставшееся грязным после стирки белье – повод проверить, все ли правила эксплуатации соблюдаются при включении стиральной машины, и провести профилактику. Чтобы прибор хорошо очищал белье и долго работал без поломок, необходимо:
      ul.page-list.page-list-ul
        li Следить за весом белья, которое отправляется в барабан, не допускать перегрузки.
        li
          | Проверять перед стиркой вещей карманы на наличие мелких предметов. Они могут попасть в слив и забить фильтр.
        li Правильно дозировать моющее средство.
        li Выбирать оптимальную программу стирки.
        li После завершения цикла работы машинки оставлять дверцу открытой.
        li Насухо протирать уплотнители люка.
        li Очищать сливной фильтр.
        li Промывать порошкоприемник.
        li
          | Регулярно включать холостой цикл стирки с порошком, установив температурный режим 900 С.
      h2.page-title-h2 Какие меры предпринять, если машина стирает плохо
      p
        | Эксплуатируемая в течение долгого времени бытовая техника с течением времени неизбежно вырабатывает собственный ресурс. Ее приходится заменять на новую. Прибор, который ранее хорошо справлялся с задачами и проработал недолго, необходимо очистить, проверить на повреждения. Для этого надо оценить, хорошо ли он нагревает воду, какой звук издает после включения. Но если новая стиральная машина плохо стирает, что делать в таком случае? По гарантии отправлять прибор на диагностику и менять на новый, исправно работающий.
    .page-text
      h2.page-title-h2 Основные причины неисправности и стоимость их устранения
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Неисправность ТЭНа
              td
                p Замена ТЭНа
              td
                p от 1200 р.
            tr
              td
                p Растяжение приводного ремня
              td
                p Замена ремня
              td
                p от 800 р.
            tr
              td
                p Износ подшипников
              td
                p Замена подшипников
              td
                p от 2100 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей стиральной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем стиральные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности стиральных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-stiralnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'ne-krutitsya-baraban-v-stiralnoj-mashine' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-krutit' + '.webp' alt='Стиральная машина не крутит барабан')
            p Стиральная машина не крутит барабан
        .page-articles-link-item
          a(href=pathToPage + 'pena-iz-stiralnoj-mashiny' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-penitsa' + '.webp' alt='Пена из стиральной машины')
            p Пена из стиральной машины
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-bet-tokom' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-bjet-tokom' + '.webp' alt='Стиральная машина бьет')
            p Стиральная машина бьет
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-gudit' + '.webp' alt='Стиральная машина гудит')
            p Стиральная машина гудит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-migaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='На стиральной машине мигают все лампочки')
            p На стиральной машине мигают все лампочки
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-greet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-greet' + '.webp' alt='Стиральная машина не греет воду')
            p Стиральная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не набирает воду')
            p Стиральная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-ostanavlivaetsya-stiraet-bez-ostanovki' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не останавливается')
            p Стиральная машина не останавливается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otkryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otkrivaet' + '.webp' alt='Стиральная машина не открывает дверь')
            p Стиральная машина не открывает дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otzhimaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otgimaet' + '.webp' alt='Стиральная машина не отжимает')
            p Стиральная машина не отжимает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-poloskaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-poloskaet' + '.webp' alt='Стиральная машина не полоскает')
            p Стиральная машина не полоскает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-slivaet' + '.webp' alt='Стиральная машина не сливает')
            p Стиральная машина не сливает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-vkluchaetsa' + '.webp' alt='Стиральная машина не включается')
            p Стиральная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-zakryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-blokiruet' + '.webp' alt='Стиральная машина не блокирует дверь')
            p Стиральная машина не блокирует дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ploho-stiraet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ploho-stiraet' + '.webp' alt='Стиральная машина не отстирывает вещи')
            p Стиральная машина не отстирывает вещи
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-pokazyvaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-pokazivaet-oshibku' + '.webp' alt='Стиральная машина показывает ошибку')
            p Стиральная машина показывает ошибку
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-prygaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-prigaet' + '.webp' alt='Стиральная машина прыгает')
            p Стиральная машина прыгает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-skripit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-scripit' + '.webp' alt='Стиральная машина скрипит')
            p Стиральная машина скрипит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-srazu-slivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-srazu-slivaet' + '.webp' alt='Стиральная машина набирает и сразу сливает воду')
            p Стиральная машина набирает и сразу сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-techet-podtekaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-techet' + '.webp' alt='Стиральная машина подтекает')
            p Стиральная машина подтекает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-vibriruet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-vibriruet' + '.webp' alt='Стиральная машина сильно вибрирует')
            p Стиральная машина сильно вибрирует
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-zavisaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='Стиральная машина зависает в одном режиме')
            p Стиральная машина зависает в одном режиме
