extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Почему стиральная машина не греет воду' 
  - var content = 'Одна из самых коварных неисправностей, когда стиральная машина не греет воду при стирке. Сложность заключается в трудности обнаружения дефекта. Однако, наши советы помогут вам в решении проблемы.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности стиральных машин': domen + '/neispravnosti-stiralnyh-mashin/',
    "Стиральная машина не греет воду": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-010.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "wash-mash/" + "sm-ne-greet" + ".webp" alt= 'Стиральная машина не греет воду' itemprop="image")

      p
        | Одна из самых коварных неисправностей, когда
        |  стиральная машина не греет воду при стирке
        | . Сложность заключается в трудности обнаружения дефекта, поэтому обнаружить его сразу получается редко. 
        | Первые подозрения могут возникнуть из-за снижения качества стирки. Но и в этом случае, чтобы удостовериться 
        | в наличии поломки придется проделать ряд манипуляций:
      ul.page-list.page-list-ul
        li
          | Нагрев происходит непосредственно при выполнении самой процедуры, поэтому запускаем режим стирки.
        li
          | Через четверть часа на ощупь определяем разогрев воды. Стекло люка загрузки должно быть теплым. Если оно холодное, то 
          | стиральная машина не греет воду.
      h2.page-title-h2 Почему стиральная машина не греет воду? 
      p  Связано это, прежде всего с работой систем нагревания и проводников электроэнергии для нагрева:
      ul.page-list.page-list-ul 
        li Неисправность ТЭНа
        li Известковый налет, накипь на тене.
        li Некорректная работа или поломка термодатчика.
      p
        | Но это не единственные источники неисправности. 
        | Почему стиральная машина не греет воду причины 
        | самые разнообразные. Например, неисправен модуль управления или не работает прессостат.
      p
        | Самостоятельный ремонт некоторых деталей и узлов возможен, но только в том случае, если есть уверенность, 
        | что собрать агрегат вы сможете собственными силами. Ряд деталей, например, модуль управления требуют 
        | высокотехнологичного ремонта. Для этого потребуются специальное оборудование и соответствующее образование. 
        | Поэтому при дефектах в работе сложных автоматизированных узлов агрегата прибегают к услугам профессионалов.
      h2.page-title-h2 Дефекты ТЭНа
      img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0021.webp" alt= 'ТЭН стиральной машины' title='ТЭН стиральной машины' itemprop="image")

      p
        | Если 
        | не греет тэн в стиральной машине, 
        | проблемы связаны с условиями эксплуатации, электротехническими недостатками, термическим оборудованием:
      h2.page-title-h2 Неправильная работа нагревателя.
      p
        | Проверить его работу без разборки не получится. ТЭН нужно извлечь. 
        | От марки агрегата водонагреватель может быть находиться возле мотора 
        | или в передней части бытовой техники. В первом варианте конфигурально он 
        | будет располагаться в задней части.
      p
        | Выполняем последовательность операций по извлечению водонагревателя в случае, когда тэн расположен рядом с 
        | электромотором. Для этого демонтируют заднюю панель на корпусе стиральной машины. Болтовое крепление 
        | в зависимости от модели может быть свободно доступным или защищено крышкой. Демонтируем крышку, 
        | и снимаем болты задней панели. Сразу же после обеспечения доступа к тэну разъединяем питающие 
        | провода и клеммы в целях безопасности. После этого можно переходить непосредственно к демонтажу самого 
        | водонагревателя. Для этого откручиваем стопорную гайку и извлекаем ТЭН из технологического отверстия.
      p
        | Если водонагреватель расположен в передней части, то снимаем верхнюю крышку. 
        | При такой внутренней конфигурации узлов болты верхней крышки расположены сзади. 
        | Непосредственно демонтаж тэна под верхней крышкой немного сложнее:
      ul.page-list.page-list-ul
        li Надавливаем на стопор и извлекаем дозатор.
        li
          | Демонтируем панель. Откручиваем винты. Операцию нужно проделать осторожно, так как соединительные провода не отсоединяют.
        li Далее, отогнув манжету, снимают блокировку люка.
        li Только после этого демонтируется передняя панель.
      p
        | Как видим, при расположении водонагревателя под верхней крышкой, 
        | демонтаж потребует аккуратности, знаний, профессиональных навыков. 
        | Если нет соответствующего опыта, лучше доверить ремонт профессионалам.
      h2.page-title-h2 Диагностика ТЭНа
      p
        | После демонтажа воданагревателя приступают к тестированию ТЭНа. 
        | В качестве инструмента используют мультиметр. С его помощью фиксируются 
        | электротехнические неполадки: обрыв, пробой или утечка тока. Мультиметр 
        | способен фиксировать все вышеперечисленные дефекты. Для этого тестирование проводится в различных режимах.
      h2.page-title-h2 Тестирование на обрыв.
      p
        | Выставляем на мультиметре измерение сопротивления. Если показания тестера не меняются, значит, произошел обрыв в электрической цепи.
      h2.page-title-h2 Тестирование на пробой.
      p
        | Выставляем на мультиметре режим сопротивления. С помощью табло или рычага стрелку ставим на показание 200 мегаОм. 
        | Для достоверности сведений водонагреватель проверяют в активном режиме и на «холодную». 
        | В последнем случае щуп прикладывают к контакту, а второй щуп к корпусу тэна. 
        | Для проверки ТЭНа при нагреве понадобится шнур со штекером для подключения к сети. 
        | Провода соединяются с контактами на водонагревателе, а затем при помощи шнура и штекера включаются в сеть. 
        | Сначала проводят холодное тестирование, а потом водонагреватель диагностируют в активном положении. 
        | Если на дисплее мультиметра появились цифры, значит имеет место пробой диэлектрика защиты.
      h2.page-title-h2 Диагностика утечки тока.
      p
        | Понадобится расчетное токовое значение. Оно будет зависеть от мощности водонагревателя 
        | и реального напряжения сети. Первую величину можно взять из документации на стиральную машину. 
        | Второе значение – это напряжение городской сети переменного тока. Классическое значение 220В. 
        | Но чтобы узнать реальные параметры, лучше ориентироваться на стандарт напряжения 230В. 
        | В идеале напряжение в сети лучше замерить. Оно может быть и меньше 220В. Если имели место скачки напряжения, 
        | то значение может быть даже больше 230В. Например, для водонагревателя мощностью 1900Вт расчетная величина тока составит 1900/230=8 Ампер.
      p
        | Далее ставим на мультиметре токовое показание в 20А. Щуп мультиметра соединяем с нагревательным устройством. На 2 клемму замыкаем провод с шнуром. Подключаем ток. А 2 щуп мультиметра подключаем с оставшимся проводом. На табло прибора должны высветиться расчетные токовые значения.
      p
        | Если тестирование нагревателя показало, что 
        | стиральная машина не греет воду по причинам 
        | неисправности электрической проводки, то при пробое и обрывах придется сменить водонагреватель. Токовые утечки подлежат ремонту, но его цена сопоставима с покупкой нового изделия. Ремонт электрической проводки возможен исключительно в сервисной службе.
      h2.page-title-h2 Накипь на ТЭНе
      p
        | Если 
        | не греет тен в стиральной машине, 
        | это может объясняться образовавшейся накипью. Это один из самых распространенных дефектов. Источник неприятности – используемая вода. На ее качество потребитель повлиять не может. Поэтому в местностях, где водопроводная вода обладает высокой жесткостью, техника эксплуатируется постоянно в неблагоприятных условиях. Из-за накипи тена возникает целый ряд дефектов и неисправностей в ее работе. Среди их повышенное энергопотребление, заклинивание барабана, и даже пробой стенки бака. Сколы накипи целыми кусками забивают слив, наносят механические повреждения патрубкам, баку.
      p
        | О вредном воздействии накипи знает каждый. Для борьбы с ней используют различные способы. Традиционные чистящие средства замедляют процесс образования накипи. Но не способны бороться с уже имеющимися образованиями, или полностью предотвратить процесс. Для уничтожения накипи используют методы:
      ul.page-list.page-list-ul
        li
          | Стирка с лимонной кислотой. 200 грамм вещества добавляют в лоток. 
          | Выбирают стирку без отжима при температуре выше 60° С. 
          | Времени для удаления накипи потребуется много, поэтому используют самые длительные программы. 
          | Если накипи много и уже образовались сколы, то стирку проводят в холостую без белья. 
          | Процедуру повторяют несколько раз. Куски накипи после окончания стирки удаляют из под резиновой манжеты.
        li
          | Чистка водонагревателя в концентрированном растворе. Но такая операция приводит к физическим поломкам всех резиновых и каучуковых элементов: манжет, уплотнителей. Поэтому для чистки тен демонтируют.
      h2.page-title-h2 Чистка накипи
      p
        | ТЭН извлекается. В ведро наливают горячую воду и концентрированное средство, например, уксус. 
        | Но можно использовать и другие вещества с аналогичными свойствами. Помещают тен в воду на сутки.
      h2.page-title-h2 Дефекты в работе термодатчика
      p
        | Если 
        | не греет стиральная машина 
        | или наоборот машина кпиятит воду при любом режиме стирке – проблема в неправильной работе термодатчика. 
        | Возникают такие неприятности из-за особенностей конструкции этого элемента. 
        | В современных моделях используют три типа датчиков: биметаллический, газонаполненный и термистор.
      p
        | Газонаполненный датчик характерен для бытовой техники аналогового управления. Контакт с водой осуществляется через металлическую трубку, наполненную фреоном. Газ при расширении отсекает подачу электроэнергии на устройство. Таким образом, обеспечивается температурный режим стирки. Если трубка повреждена, то газ испаряется, и датчик перестает работать в нормальном режиме. Ремонт собственными руками сводится к спайки трубок в местах разрыва, наполнению трубки фреоном. Самостоятельно выполнить качественную спайку невозможно, так как газ распространяется через микротрещины, определить которые без специальных средств диагностики невозможно. Поэтому металлическая трубка заменяется на новую при ремонте в сервисном центре.
      p
        | Биметаллические датчики Относятся к ремонтнонепригодным изделиям. Поэтому при любых дефектах подлежат замене.
      p
        | Термистор конструктивно расположен на самом тене. При неполадках в работе термистор меняют на новый. 
        | Почему не греет стиральная машина 
        | в случаях с термисторным устройством можно проверить при помощи тестирования мультиметром.
      p
        | Выставляют мультиметр в режим тестирования сопротивления. Соединяют щупы прибора с контактами. На табло нормально работающего датчика должны появиться приблизительные значения, соответствующие 6кОм. Далее погружают нагреватель в воду и доводят температуру до 50 градусов. Извлекают датчик и проводят повторный замер. Стандартная величина исправного элемента 1350кОм. При любых значительных отклонениях термистор меняют.
      h2.page-title-h2 Неполадки прессостата
      p
        | Если 
        | не греет стиральная машина причины 
        | могут быть связаны не только с работой нагревательного оборудования, 
        | элементов и источников энергии. Прессостат может стать источником возникновения неприятности. 
        | Современные модели позволяют определить его работоспособность без демонтажа. Есть и самостоятельные визуальные способы. 
        | Если стирка идет, но в баке отсутствует вода. Иногда вина лежит и на самом потребителе, когда в баке ее избыток, 
        | нагревательное оборудование не успевает прогреть воду достаточно быстро.
      h2.page-title-h2 Диагностика прессостата
      p Первый способ ручной. Требует демонтажа конструкции. Этапы процедуры:
      ol.page-list.page-list-ol
        li Подготовительный. Необходимо для соблюдения техники безопасности отключить бытовую технику от электричества и перекрыть подачу воды.
        li Далее можно приступать к демонтажу – снимаем верхнюю крышку. Прессостат лучше сфотографировать, если проводите процедуру самостоятельно. Это поможет подключить провода при сборке правильно.
        li Разъединяем провода прессостата.
        li Необходимо проверить шланг на наличие засоров. Обнаруженные загрязнения удаляют.
        li Далее проверяют механическую часть. Подключаем к штуцеру прессостата трубку и тщательно продуваем ее. 
          | Цель – определить работу контактов. Если при продувке раздаются характерные щелчки, 
          | это свидетельствует о нормальном функционировании контактов.
        li 
          | o Реле можно проверить мультиметром в режиме тестирования сопротивления. Для этого, продув трубки, нужно осуществлять, 
          | замкнув контакты реле на щупы измерительного устройства. При рабочем реле на мониторе мультиметра меняются значения показаний. 
          | Процедуру проделываем последовательно со всеми вариантами контактов, так как принципиальная схема прибора отсутствует в инструкции 
          | по экслуатации.
        li
          | Естественно,профессиональная диагностика займет минуты. Самостоятельно придется потратить значительно больше времени.
      h2.page-title-h2 Замена прессостата
      p
        | Если 
        | не греет стиральная машина по причине 
        | неполадок прессостата, устройство нужно заменить. Купить устройство можно в специализированном магазине, 
        | его замену не сложно произвести собственными силами. Основная проблема – настройка готового датчика. 
        | Она производится под каждую модель индивидуально. Регулировка уровня подачи определяется при помощи винтов на датчике. 
        | Они рассчитаны каждый под конкретные программы стирки. Определять объем воды для каждого режима «дедовским методом на глазок» невозможно. 
        | Поэтому настройку производят в сервисах обслуживания. Совместив профессиональную настройку и монтаж, потребитель просто сэкономит свое время.
      h2.page-title-h2 Недостатки в работе модуля управления
      p
        | Если 
        | перестала греть стиральная машина, 
        | необходимо обязательно произвести тест системы управления. Самостоятельный ремонт сложных элементов не рекомендуется. При любых неполадках приходится извлекать плату. Собственными силами можно только диагностировать сложность проблем или устранить недостатки, не связанные с поломкой модуля.
      p Последовательность операций выглядит следующим образом:
      ol.page-list.page-list-ol
        li
          | Демонтируем панель управления в последовательности рассмотренной выше. Перед процедурой лучше сфотографировать панель с подключенными проводами для правильной сборки. В отличие от вышеприведенного варианта отключения панели управления провода нужно отсоединить от панели.
        li
          | Производим визуальный осмотр тристоров, конденсаторов, обрывов проводов. В этих случаях на плате образуются окислы, области помутнения, вздутие, чернение. Поломку конденсатора можно определить только визуально по характерным вздутиям. При наличии таких дефектов на плате потребуется замена платы в сервисном центре. Если визуальный осмотр не выявил недостатков, переходят к тестированию.
        li
          | Для диагностики используют мультиметр. Метод измерения – соединение щупов с контактами элемента. Нормально работающий триггер показывает сопротивление 20Ом. Диагностику резистора проводят в токовом режиме. Нормально работающий резистор показывает 2-5 Ампер. При любых других показателях резистор меняют.
      h3.page-title-h3 Блок внимания!
      p
        | Модуль управления наряду с электромотором – одна из самых дорогих деталей стиральной машины. 
        | Поэтому проводить вмешательство в конфигурацию, настройку, а также самостоятельно ремонтировать модуль не рекомендуется.
      p
        | Если 
        | стиральная машина не греет воду при стирке
        | , но другие функции работают нормально, то не стоит успокаиваться. Если источник неисправности – электропроводка, 
        | ее детали, элементы и узлы, то эксплуатировать бытовую технику опасно. Это может привести как к полному выходу из строя, 
        | так к ударам током, возгораниям. Эксплуатация неисправной техники в любом случае приводит к быстрому износу деталей и комплектующих. 
        | Качество стирки при этом оставляет желать лучшего.
      p
        | Необходимо как можно быстрее выявить источник проблемы, и устранить неполадки. Сделать это быстро, 
        | точно и с гарантией позволит профессиональный ремонт в сервисном центре.
      p Причины неисправности и способы их устранения
    .page-text
      h2.page-title-h2 Основные причины неисправности и стоимость их устранения
      .table-container_scroll   
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Неисправность ТЭНа
              td
                p Замена ТЭНа
              td
                p от 1200 р.
            tr
              td
                p Неисправность датчика температуры
              td
                p Замена датчика температуры
              td
                p от 800 р.
            tr
              td
                p Неисправность модуля управления
              td
                p Ремонт модуля управления
              td
                p от 1500 р.
            tr
              td
                p Неисправность прессостата
              td
                p Замена прессостата
              td
                p от 1200 р.
            tr
              td
                p Обрыв цепи
              td
                p Ремонт электросхемы
              td
                p от 600 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей стиральной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем стиральные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности стиральных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-stiralnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'ne-krutitsya-baraban-v-stiralnoj-mashine' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-krutit' + '.webp' alt='Стиральная машина не крутит барабан')
            p Стиральная машина не крутит барабан
        .page-articles-link-item
          a(href=pathToPage + 'pena-iz-stiralnoj-mashiny' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-penitsa' + '.webp' alt='Пена из стиральной машины')
            p Пена из стиральной машины
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-bet-tokom' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-bjet-tokom' + '.webp' alt='Стиральная машина бьет')
            p Стиральная машина бьет
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-gudit' + '.webp' alt='Стиральная машина гудит')
            p Стиральная машина гудит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-migaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='На стиральной машине мигают все лампочки')
            p На стиральной машине мигают все лампочки
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-greet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-greet' + '.webp' alt='Стиральная машина не греет воду')
            p Стиральная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не набирает воду')
            p Стиральная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-ostanavlivaetsya-stiraet-bez-ostanovki' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не останавливается')
            p Стиральная машина не останавливается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otkryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otkrivaet' + '.webp' alt='Стиральная машина не открывает дверь')
            p Стиральная машина не открывает дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otzhimaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otgimaet' + '.webp' alt='Стиральная машина не отжимает')
            p Стиральная машина не отжимает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-poloskaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-poloskaet' + '.webp' alt='Стиральная машина не полоскает')
            p Стиральная машина не полоскает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-slivaet' + '.webp' alt='Стиральная машина не сливает')
            p Стиральная машина не сливает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-vkluchaetsa' + '.webp' alt='Стиральная машина не включается')
            p Стиральная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-zakryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-blokiruet' + '.webp' alt='Стиральная машина не блокирует дверь')
            p Стиральная машина не блокирует дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ploho-stiraet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ploho-stiraet' + '.webp' alt='Стиральная машина не отстирывает вещи')
            p Стиральная машина не отстирывает вещи
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-pokazyvaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-pokazivaet-oshibku' + '.webp' alt='Стиральная машина показывает ошибку')
            p Стиральная машина показывает ошибку
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-prygaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-prigaet' + '.webp' alt='Стиральная машина прыгает')
            p Стиральная машина прыгает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-skripit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-scripit' + '.webp' alt='Стиральная машина скрипит')
            p Стиральная машина скрипит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-srazu-slivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-srazu-slivaet' + '.webp' alt='Стиральная машина набирает и сразу сливает воду')
            p Стиральная машина набирает и сразу сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-techet-podtekaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-techet' + '.webp' alt='Стиральная машина подтекает')
            p Стиральная машина подтекает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-vibriruet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-vibriruet' + '.webp' alt='Стиральная машина сильно вибрирует')
            p Стиральная машина сильно вибрирует
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-zavisaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='Стиральная машина зависает в одном режиме')
            p Стиральная машина зависает в одном режиме
