extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Стиральная машина стирает без остановки' 
  - var content = 'Если стиральная машина стирает больше обычного времени, это может свидетельствовать о различных проблемах, включая попросту неправильное подсоединение к канализации или сломанный модуль управления. Однако в некоторых ситуациях неисправность можно устранить без специалистов.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности стиральных машин': domen + '/neispravnosti-stiralnyh-mashin/',
    "Стиральная машина стирает без остановки": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-012.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "wash-mash/" + "sm-bez-ostanovki" + ".webp" alt= 'Стиральная машина стирает без остановки' itemprop="image")

      p
        | На современных стиральных машинах есть таймер, благодаря которому техника сама отключается в нужный момент. Однако бывает такое, что стиральная машина не останавливается или же стирает чуть дольше времени, которое установлено. Подобная работа устройства может свидетельствовать о различных проблемах, включая попросту неправильное подсоединение к канализации и сломанный модуль управления. В некоторых ситуациях неисправность можно устранить без специалистов. Однако в большинстве поломок необходима квалифицированная помощь.
      h2.page-title-h2 Самые популярные причины неисправности
      p Обычно профессионалы выделяют следующие источники данной проблемы:
      ul.page-list.page-list-ul
        li нарушение процесса слива;
        li неисправный прессостат;
        li сломанный ТЭН;
        li
          | непопадание необходимого количества воды в машинку или же недостаточное давление;
        li неисправный датчик температуры;
        li неисправный модуль управления;
        li слишком много загружаемого в бак белья.
      p
        | В некоторых случаях обнаружить неисправность и починить сломанный элемент можно самостоятельно. В других ситуациях без вызова мастера не обойтись.
      h2.page-title-h2 Слив работает неправильно
      p
        | Это одна из основных причин, из-за которых долго работает стиральная машина, а стирка не останавливается. Проблемы со сливом обычно происходят из-за того, что засоряются элементы устройства, включая фильтр, шланг и патрубок.
      p
        | Современная техника имеет фильтр грубой очистки. Он необходим для того, чтобы задержать разные предметы и предотвратить тем самым засор. Поэтому первым делом нужно проверить состояние фильтра. Для этого следует открыть небольшой люк в нижней части корпуса и открутить заглушку.
      p
        | При засоре патрубка решить проблему своими силами будет затруднительно. В таком случае рекомендуется вызвать профессионала, у которого имеются все инструменты, необходимые для выполнения работы.
      p
        | Если засоряется шланг, то обычно производят замену на новый элемент. Сделать это можно своими руками. Кроме того, цены на шланги обычно невысокие.
      h2.page-title-h2 Неисправный прессостат
      p
        | Под данным элементом подразумевается датчик, измеряющий уровень воды в баке и передающий эти данные на модуль управления. Если он сломался, то скорее всего машинка не начнет стирать вещи, так как у управляющего блока не будет необходимой вводной информации об объеме воды в баке. Если вы желаете быстро устранить поломку, лучше всего позвонить мастеру. Без специальных навыков и знаний починить прессостат не получится. При неправильном ремонте могут выйти из строя другие элементы.
      h2.page-title-h2 Поломка ТЭНа
      p
        | Если барабан не останавливается или крутится дольше, чем должен, вполне возможно, что проблема в ТЭНе. Если он нормально функционирует, необходимая температура поднимается быстро. Датчик это фиксирует и сообщает модулю управления, который включает выполнение программы. Если же элемент покрыт накипью, то температура будет подниматься значительно дольше.
      p
        | Если периодически не убирать накипь, то нагреватель может попросту перегреться и сгореть. Если это произойдет во время стирки, машинка зависнет и прекратит выполнять заданную программу. В некоторых ситуациях машинка выключается, но чаще продолжает работу.
      p
        | Рекомендуется для профилактики очищать ТЭН и иные элементы от налета. Сегодня на рынке имеется множество хороших для этого средств. Их можно найти в любом хозяйственном магазине.
      h2.page-title-h2 Неправильная подача воды
      p
        | Проблемы с долгой стиркой могут возникнуть, когда машинка не может в нужное время набрать воду. Сбой происходит по следующим причинам:
      ul.page-list.page-list-ul
        li засорение фильтра-сеточки;
        li поломка в клапане, который подает воду;
        li отсутствие воды;
        li слабый напор;
        li не полностью открытие вентили.
      p
        | Кроме того, стоит помнить, что для нормального функционирования любой стиральной машинки необходимо конкретное давление воды, обычно указывающееся в инструкции по эксплуатации. Если показатели меньше необходимых, то устройство может даже не запустить стирку.
      p
        | Бывает так, что хозяева сами перекрывают вентили, которые идут к стиральной машине. Часто это происходит случайно. В таком случае на модуле управления будет соответствующая надпись, свидетельствующая о полном отсутствии набора воды. Другой причиной часто становится сеточка на шланге, через который подается вода. Она может быть засорена. В такой ситуации шланг придется заменить. Очистить его невозможно.
      p
        | Если сломался входной клапан, то западает перепускная мембрана. По этой причине подача воды может полностью остановиться. Устранить неисправность можно с помощью замены данного элемента.
      h2.page-title-h2 Неработающий датчик температуры
      p
        | Стиральная машина не останавливается, что делать в таком случае? Проблема может быть в термодатчике. При нормальной работе датчик следит за поддержанием температуры воды и передает все сведения на термостат, связанный с модулем управления. Если показатели температуры опускаются, датчик это сразу замечает, а модуль подает больше питания на нагреватель. Таким образом, температурный режим функционирует во время процесса стирки, отжима и полоскания.
      p
        | Если термодатчик не работает нормально, модуль управления не будет получать настоящую информацию о температуре. Это приведет к тому, что время цикла стирки заметно увеличится. Если датчик полностью неисправен, то машина автоматически выключится, а на экране появится код ошибки. Отремонтировать машину в таком случае можно лишь с помощью замены сломанных элементов.
      h2.page-title-h2 Не работает модуль управления
      p
        | Данная поломка является самой сложной в плане диагностики. Неисправность может проявляться по-разному:
      ul.page-list.page-list-ul
        li машинка не прекращает стирку автоматически и продолжает выполнять программу;
        li устройство переходит с одного режима на другой;
        li
          | машинка останавливается на последней минуте и продолжает крутить барабан до ручной остановки.
      p
        | Причины подобных неисправностей могут быть самые разные, в том числе повреждения из скачков напряжения, заводской дефект, выработка ресурсов и т. д. В основной массе подобных случаев заменяется весь модуль управления. В такой ситуации все работы по замене проводятся специалистом. Если проводить ремонтные работы без соответствующих знаний, то можно повредить другие элементы стиральной машины.
      h2.page-title-h2 В барабан загружается слишком много белья
      p
        | Если стиральная машина стирает и не останавливается достаточно долгое время, стоит проверить, сколько вы положили в бак белья. Некоторые люди не замечают, как много они кладут в стиральную машину вещей. Стоит не забывать, что у современных устройств имеется система защиты от дисбаланса, которая не позволяет начать стирку, пока нагрузка по всему барабану не станет равномерной. В итоге машина будет перебрасывать внутри бака вещи до этого момента. Из-за этого время стирки часто существенно увеличивается. Однако данная проблема легко решается. Нужно лишь соблюдать нормы загрузки. Они указаны в инструкции к устройству.
      h2.page-title-h2 Рекомендации
      p
        | Мы составили небольшой список советов, если следовать которым, можно избежать множества поломок и устранить неисправность собственными руками.
      ol.page-list.page-list-ol
        li
          | Проверяйте подключение машинки к водопроводу и канализации. Все должно быть по инструкции.
        li
          | Чтобы из строя не выходили электронные детали, подключайте технику через бытовой стабилизатор. Конечно, на него придется потратить немного денег, однако это будет весьма дешевле, чем полностью менять модуль управления.
        li
          | Не загружайте в барабан слишком много вещей. Из-за увеличения времени стирки могут возникнуть дополнительные неисправности. К примеру, так быстрее изнашиваются шарикоподшипники и втулки крестовины.
        li
          | Несколько раз в год очищайте элементы стиральной машины от накипи. Для этого рекомендуется использоваться специальные химические средства, которые можно приобрести в хозяйственном магазине. Если вы будете делать это для профилактики, то риск того, что ТЭН выйдет из строя, серьезно снизится.
        li
          | Несколько раз в год проверяйте, в каком состоянии находится металлическая сеточка-фильтр на шланге. Если она сильно засорена, ее можно попробовать промыть водой. В противном случае ее лучше всего сразу заменить.
        li
          | Если на дисплее появляется код ошибки, подтверждающий неисправность модуля управления, сразу же вызывайте специалиста и не пытайтесь сделать ремонт самостоятельно.
      p
        | Помните, при появлении любого дефекта нужно рационально оценивать собственные возможности и силы, позволяющие решить проблему. Если у вас есть сомнения по поводу того, сможете ли вы собственноручно починить машинку, лучше всего обратиться к мастеру.
      h2.page-title-h2 Возможные причины неисправности и способы их устранения.
    .page-text
      h2.page-title-h2 Основные причины неисправности и стоимость их устранения
      .table-container_scroll   
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Неисправность наливного клапана
              td
                p Замена электро-наливного клапана
              td
                p от 800 р.
            tr
              td
                p Засор наливной системы
              td
                p Чистка наливного фильтра
              td
                p от 600 р.
            tr
              td
                p Засор сливной системы
              td
                p Чистка сливной системы
              td
                p от 600 р.
            tr
              td
                p Неисправность сливного насоса
              td
                p Замена сливного насоса (помпы)
              td
                p от 1200 р.
            tr
              td
                p Неисправность нагревательного элемента (ТЭНа)
              td
                p Замена ТЭНа
              td
                p от 1200 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей стиральной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем стиральные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности стиральных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-stiralnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'ne-krutitsya-baraban-v-stiralnoj-mashine' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-krutit' + '.webp' alt='Стиральная машина не крутит барабан')
            p Стиральная машина не крутит барабан
        .page-articles-link-item
          a(href=pathToPage + 'pena-iz-stiralnoj-mashiny' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-penitsa' + '.webp' alt='Пена из стиральной машины')
            p Пена из стиральной машины
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-bet-tokom' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-bjet-tokom' + '.webp' alt='Стиральная машина бьет')
            p Стиральная машина бьет
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-gudit' + '.webp' alt='Стиральная машина гудит')
            p Стиральная машина гудит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-migaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='На стиральной машине мигают все лампочки')
            p На стиральной машине мигают все лампочки
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-greet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-greet' + '.webp' alt='Стиральная машина не греет воду')
            p Стиральная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не набирает воду')
            p Стиральная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-ostanavlivaetsya-stiraet-bez-ostanovki' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не останавливается')
            p Стиральная машина не останавливается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otkryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otkrivaet' + '.webp' alt='Стиральная машина не открывает дверь')
            p Стиральная машина не открывает дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otzhimaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otgimaet' + '.webp' alt='Стиральная машина не отжимает')
            p Стиральная машина не отжимает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-poloskaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-poloskaet' + '.webp' alt='Стиральная машина не полоскает')
            p Стиральная машина не полоскает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-slivaet' + '.webp' alt='Стиральная машина не сливает')
            p Стиральная машина не сливает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-vkluchaetsa' + '.webp' alt='Стиральная машина не включается')
            p Стиральная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-zakryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-blokiruet' + '.webp' alt='Стиральная машина не блокирует дверь')
            p Стиральная машина не блокирует дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ploho-stiraet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ploho-stiraet' + '.webp' alt='Стиральная машина не отстирывает вещи')
            p Стиральная машина не отстирывает вещи
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-pokazyvaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-pokazivaet-oshibku' + '.webp' alt='Стиральная машина показывает ошибку')
            p Стиральная машина показывает ошибку
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-prygaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-prigaet' + '.webp' alt='Стиральная машина прыгает')
            p Стиральная машина прыгает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-skripit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-scripit' + '.webp' alt='Стиральная машина скрипит')
            p Стиральная машина скрипит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-srazu-slivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-srazu-slivaet' + '.webp' alt='Стиральная машина набирает и сразу сливает воду')
            p Стиральная машина набирает и сразу сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-techet-podtekaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-techet' + '.webp' alt='Стиральная машина подтекает')
            p Стиральная машина подтекает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-vibriruet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-vibriruet' + '.webp' alt='Стиральная машина сильно вибрирует')
            p Стиральная машина сильно вибрирует
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-zavisaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='Стиральная машина зависает в одном режиме')
            p Стиральная машина зависает в одном режиме
