extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Стиральная машина начинает зависать' 
  - var content = 'Для определения причины поломки, прежде всего, необходимо проверить выставленный режим. Когда стоит «деликатная, ручная стирка»: отжим, а также слив воды, должны отключиться автоматически. '
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности стиральных машин': domen + '/neispravnosti-stiralnyh-mashin/',
    "Стиральная машина зависает": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-012.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      
      img.page-img.page-img_float-left( src= pathToImgArticles + "wash-mash/" + "sm-migaet" + ".webp" alt= 'Стиральная машина зависает' itemprop="image")

      p
        | Любая современная бытовая техника оборудована сложнейшей электроникой, в которой может разобраться лишь квалифицированный мастер. Когда начинает 
        | зависать стиральная машина
        | , отсутствует включение режима полоскания, машинка вообще отказывается стирать, каждая хозяйка стремится как можно быстрее решить проблему.
      p
        | Причин зависания машины, довольно много. Причем, автомат не показывает системную ошибку. Поэтому определять проблему зависания, приходится самостоятельно, опираясь на собственный опыт, консультируясь со специалистами.
      h2.page-title-h2 Причины, которые легко устранить без помощи профессионалов
      p
        | Остановка стиральной машины, регулярное ее зависание, может быть не всегда вызвана серьезными проблемами. Бывает, причиной зависания стиральной машины, становится элементарная невнимательность пользователя:
      ul.page-list.page-list-ul
        li установлен другой режим очистки;
        li выполнена неправильная закладка вещей;
        li перегнулся шланг;
        li произошло засорение сливного трубопровода.
      p Такие простые неисправности можно ликвидировать своими силами.
      h2.page-title-h2 Неправильный выбор программы
      p
        | Чаще всего 
        | программа зависает в стиральной машине 
        | обычно в самой середине цикла. Функционирование началось, как обычно, нагрелась вода, прошла предварительная стирка, затем основная стирка. Неожиданно машина затихла. Причем дверца осталась заблокированной, не начался слив воды.
      p
        | Для определения причины поломки, прежде всего, необходимо проверить выставленный режим. Когда стоит «деликатная, ручная стирка»: отжим, а также слив воды, должны отключиться автоматически. Если этого не произошло, переключатель нужных режимов необходимо установить в определенное положение, вновь запустить процесс стирки. Существуют машинки, в которых имеется дополнительное полоскание, повторный отжим. Возможно, включив эту опцию, можно будет полностью закончить стирку.
      h2.page-title-h2 Слишком много вещей находиться в барабане
      p
        | Как быть, 
        | что делать, если зависла стиральная машина 
        | вследствие перегруза? Он является причиной большинства неприятностей, которые быстро становятся заметными. Другие поломки проявляют себя через некоторый промежуток времени. Если зависание машинки началось сразу после включения определенной программы, требуется проверить, какое количество белья загрузили в барабан.
      p
        | Оно должно свободно вращаться в центрифуге. При этом произойдет равномерное распределение стирального порошка и жидкости, будет выполнена качественная стирка. Когда барабан сильно перегружен, подшипники испытывают большие нагрузки. В результате возможен сбой машинки, или серьезная поломка.
      p
        | Прежде чем начать эксплуатировать новый аппарат, необходимо предварительно прочитать инструкцию. Производитель указывает оптимальную норму загрузки, подробно описывает, как правильно загружать вещи в барабан.
      h2.page-title-h2 Работа датчиков
      p
        | В каждой стиральной машине установлен специальный датчик. Он осуществляет контроль над весом барабана, в который загрузили вещи. Если датчик определит наличие перегруза, стирка не начнется. Работа датчика, является одной из причин, почему 
        | стиральная машина зависает.
      p
        | Для исправления ситуации, необходимо обесточить машинку, удалить из центрифуги часть белья. Их можно будет постирать в другой раз.
      h2.page-title-h2 Возник дисбаланс
      p
        | Загружая вещи в центрифугу, необходимо не только следить за общим весом, а соблюдать их равномерное распределение. Когда машина после набора воды, 2-3 раза прокрутила барабан, а режим стирки не начался, можно говорить о появлении дисбаланса.
      p
        | Обычно, это явление возникает из-за неправильной загрузки вещей в изделие. Прежде чем загрузить вещи, необходимо застегнуть молнию, а также все пуговицы. Если на одежде есть липучки, ее нужно спрятать в специализированные мешки. Отдельно стирают:
      ul.page-list.page-list-ul
        li тяжелые пледы;
        li одеяла;
        li большие подушки.
      p Чтобы исчез дисбаланс, необходимо выполнить несколько последовательных шагов:
      ol.page-list.page-list-ol
        li обесточить машину;
        li слить воду (использовать фильтр, расположенный внизу);
        li открыть дверку;
        li разобрать вещи;
        li добиться равномерного расположения белья в баке.
      p Затем устанавливается программа, проводится повторный запуск изделия.
      h2.page-title-h2 Засорился механизм подачи воды
      p
        | Когда режим стирки перестал переключаться на функцию полоскания, возможно, засорился:
      ul.page-list.page-list-ul
        li сливной фильтр;
        li патрубок;
        li насос.
      p
        | В отработанной воде встречается мелкий, крупный мусор. В карманах остаются крупные вещи (монеты, гвозди). Поток воды несет мелкие частицы, пыль, волосы. Чтобы защитить канализационную трубу, не допустить попадание мусора, в машинке установлен сливной фильтр. Через некоторое время он сильно забивается и перестает пропускать воду. Как результат, перестает включаться полоскание, не происходит отжим. Останавливается полный цикл.
      p Чтобы выяснить причину, необходимо определить место поломки:
      ul.page-list.page-list-ul
        li сама машинка;
        li сливной трубопровод;
        li общая канализация.
      p
        | Осмотреть и устранить перегибы сливного шланга. Чтобы исключить проблему засора канализации, необходимо сливной шланг отключить от трубопровода, опустить в какую-нибудь емкость. Включить слив. Если он все равно отсутствует, значит, неисправно изделие. Если слив все-таки есть, необходимо прочистить канализационную трубу.
      p
        | Обязательно прочистите фильтр, расположенный внизу, справа. После всех операций, машинка обязательно заработает. Чтобы реже чистить фильтр, перед началом стирки проверяйте карманы, удаляйте мелкие вещи и другой мусор.
      h2.page-title-h2 Поломка произошла по техническим причинам
      p
        | Стиральная машина может зависать 
        | из-за поломок, связанных с внутренними деталями и узлами:
      ul.page-list.page-list-ul
        li мотор;
        li перегорел ТЭН;
        li обрыв ремня;
        li сломался датчик;
        li перестала работать помпа.
      p
        | Такой ремонт требует специального образования. Обычно его осуществляют профессионалы, работающие в сервисном центре. Они с помощью приборов, проводят полную диагностику, находят неисправность, выполняют необходимый ремонт.
      h2.page-title-h2 Не работает двигатель
      p
        | Серьезная поломка, из-за которой 
        | стиральная машина начинает зависать.
        |  Особенно это видно после запуска программы. Современные стиральные автоматы оснащают инверторным двигателем, который очень редко выходит из строя.
      p
        | Совершенно иначе выглядит ситуация с коллекторным двигателем. Он часто ломается. После длительной эксплуатации, из-за повышенного износа происходит разрушение электрических щеток. Они восстановлению не подлежат, необходима их полная замена.
      p
        | Иногда не выдерживает обмотка статора, из-за обрыва мотор, в лучшем случае останавливается, или сгорает. В этой ситуации невозможно обойтись без замены двигателя. Существует несколько характерных моментов, указывающих на поломку мотора:
      ul.page-list.page-list-ul
        li после включения машинки, в щитке выбивает пробки;
        li во время работы слышен громкий треск;
        li двигатель быстро перегревается, происходит его отключение;
        li невозможно запустить машину.
      p
        | Иногда, после включения машинки, появляется дым, неприятный запах гари. Все эти факторы говорят о поломке двигателя. Систему нужно немедленно обесточить, если машина уже успела набрать воду, слить, вызвать специалиста.
      h2.page-title-h2 Проблемы, связанные с ремнем
      p
        | Во время стирки барабан всегда вращается при помощи ремня. Он связывает центрифугу с мотором изделия. Обнаружить проблемы с ремнем можно при отжиме. Барабан просто перестает вращаться. Причиной неисправности может стать слетевший со шкива ремень или его обрыв. Это происходит из-за его длительной эксплуатации или, наоборот, из-за долгого бездействия. Ремень просто пересыхает и рвется.
      p
        | Чтобы найти неисправность, связанную с работой ремня, необходимо рукой, в не загруженной машине, начать вращать бак. Если произошел обрыв или исчезло плотное соприкосновение со шкивом, бак начнет свободно вращаться. В работающей системе он останется неподвижным. Проблема решается очень легко, необходимо установить новый ремень.
      h2.page-title-h2 Нагревательный ТЭН
      p
        | В любой стиральной машине обязательно происходит нагрев воды. Эту операцию выполняет трубчатый электрический нагреватель (ТЭН). Он может сломаться по нескольким причинам:
      ul.page-list.page-list-ul
        li большое количество известкового налета;
        li постоянные скачки напряжения;
        li длительная эксплуатация.
      p
        | Когда ломается ТЭН, стиральная машина может остановиться в любое время. Она зависнет, перестанет работать. В основном это случается когда, происходит переход на полоскание. То, что вода холодная легко определить, если дотронуться до стекла дверцы. Оно всегда будет холодным. Для исключения сомнений в правильности определения причины поломки, электрическую цепь прозванивают мультиметром. Машинка снова заработает после установки нового ТЭНа.
      h2.page-title-h2 Работа датчиков
      p
        | За всеми процессами, происходящими во время работы стиральной машины, постоянно следят датчики. Если один из них выйдет из строя, головной модуль перестанет получать нужную информацию. Произойдет сбой программы. В результате:
      ul.page-list.page-list-ul
        li перестанут переключаться режимы;
        li не будет сливаться вода;
        li прекратится вращение барабана.
      p Для нормальной работы машинки, производители устанавливают несколько датчиков:
      ol.page-list.page-list-ol
        li
          | Прессостат. Датчик уровня или реле давления. Осуществляет контроль уровня жидкости. Защищает барабан от возможного переполнения.
        li Датчик температуры. Может располагаться прямо в ТЭНе.
        li Датчик, измеряющий скорость вращения центрифуги.
        li Аквасенсор. Контролирует чистоту жидкости.
      p Сломанный датчик, подлежит обязательной замене.
      h2.page-title-h2 Электрический модуль
      p
        | Наиболее сложный узел стирального аппарата. На электронной плате располагаются элементы управления. Их работа синхронизируется специальным микропроцессором. Очень важно своевременно выяснить, что сломался управляющий модуль, а не какая-нибудь другая деталь. Дело в том, что придется заменить весьма дорогой процессор. Но если поломка была определена неправильно, от установки нового процессора ничего не изменится.
      p Поломка управляющего модуля, определяется по нескольким характерным признакам:
      ul.page-list.page-list-ul
        li машинка не отвечает приказам пользователя;
        li отсутствует запуск стирки;
        li не переключаются программы;
        li индикаторы начинают беспорядочно мигать;
        li исчезает набор воды;
        li происходит самопроизвольный спуск;
        li стирка длится намного дольше;
        li слишком сильный нагрев воды;
        li отсутствие нагрева.
      p
        | Неисправный модуль очень сложно починить самостоятельно. Необходимо немедленно пригласить специалиста. Чтобы его починить, требуется большой опыт, специфические знания. Плату перепрашивают, меняют сгоревшие детали. Микропроцессор, вышедший из строя, ремонту не подлежит. Его меняют на новый.
      h2.page-title-h2 Устройство блокировки люка (УБЛ)
      p
        | Очень важная деталь, отвечающая за безопасную работу изделия. После загрузки белья, включения определенного режима, происходит блокировка дверки. УБЛ сообщает управляющему модулю – выполняйте приказ. Пока такая информация не поступит, стирка не начнется.
      p
        | Блокирующее устройство, аналогично электрическим деталям, ломается от частых скачков напряжения, длительной эксплуатации. УБЛ можно попытаться починить. Если это невозможно, необходима установка новой детали.
      h2.page-title-h2 Сливной насос (помпа)
      p
        | Стиральная машина зависает
        |  из-за неисправной помпы. Обычно это происходит по нескольким причинам:
      ul.page-list.page-list-ul
        li длительная эксплуатация;
        li износ двигателя помпы;
        li сгорел мотор.
      p
        | В помпу могут попасть посторонние предметы, оставшиеся в карманах. В результате ломаются лопасти моторчика, Сливной насос перестает работать. Его нужно заменить, так как помпа не ремонтируется.
    .page-text
      h2.page-title-h2 Основные причины неисправности и стоимость их устранения
      .table-container_scroll 
      
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Засор сливной системы
              td
                p Чистка сливной системы
              td
                p от 600 р.
            tr
              td
                p Неисправность сливного насоса
              td
                p Замена сливного насоса (помпы)
              td
                p от 1200 р.
            tr
              td(rowspan='3')
                p Неисправность двигателя
              td
                p Чистка двигателя
              td
                p от 600 р.
            tr
              td
                p Замена щеток двигателя
              td
                p от 1200 р.
            tr
              td
                p Замена двигателя
              td
                p от 1200 р.
            tr
              td
                p Износ ремня
              td
                p Замена ремня
              td
                p от 800 р.
            tr
              td
                p Неисправность ТЭНа
              td
                p Замена ТЭНа
              td
                p от 1200 р.
            tr
              td
                p Неисправность температурного датчика
              td
                p Замена датчика температуры
              td
                p от 800 р.
            tr
              td
                p Неисправность электронного модуля
              td
                p Ремонт модуля управления
              td
                p от 1500 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей стиральной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем стиральные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности стиральных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-stiralnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'ne-krutitsya-baraban-v-stiralnoj-mashine' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-krutit' + '.webp' alt='Стиральная машина не крутит барабан')
            p Стиральная машина не крутит барабан
        .page-articles-link-item
          a(href=pathToPage + 'pena-iz-stiralnoj-mashiny' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-penitsa' + '.webp' alt='Пена из стиральной машины')
            p Пена из стиральной машины
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-bet-tokom' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-bjet-tokom' + '.webp' alt='Стиральная машина бьет')
            p Стиральная машина бьет
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-gudit' + '.webp' alt='Стиральная машина гудит')
            p Стиральная машина гудит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-migaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='На стиральной машине мигают все лампочки')
            p На стиральной машине мигают все лампочки
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-greet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-greet' + '.webp' alt='Стиральная машина не греет воду')
            p Стиральная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не набирает воду')
            p Стиральная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-ostanavlivaetsya-stiraet-bez-ostanovki' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не останавливается')
            p Стиральная машина не останавливается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otkryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otkrivaet' + '.webp' alt='Стиральная машина не открывает дверь')
            p Стиральная машина не открывает дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otzhimaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otgimaet' + '.webp' alt='Стиральная машина не отжимает')
            p Стиральная машина не отжимает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-poloskaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-poloskaet' + '.webp' alt='Стиральная машина не полоскает')
            p Стиральная машина не полоскает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-slivaet' + '.webp' alt='Стиральная машина не сливает')
            p Стиральная машина не сливает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-vkluchaetsa' + '.webp' alt='Стиральная машина не включается')
            p Стиральная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-zakryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-blokiruet' + '.webp' alt='Стиральная машина не блокирует дверь')
            p Стиральная машина не блокирует дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ploho-stiraet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ploho-stiraet' + '.webp' alt='Стиральная машина не отстирывает вещи')
            p Стиральная машина не отстирывает вещи
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-pokazyvaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-pokazivaet-oshibku' + '.webp' alt='Стиральная машина показывает ошибку')
            p Стиральная машина показывает ошибку
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-prygaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-prigaet' + '.webp' alt='Стиральная машина прыгает')
            p Стиральная машина прыгает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-skripit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-scripit' + '.webp' alt='Стиральная машина скрипит')
            p Стиральная машина скрипит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-srazu-slivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-srazu-slivaet' + '.webp' alt='Стиральная машина набирает и сразу сливает воду')
            p Стиральная машина набирает и сразу сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-techet-podtekaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-techet' + '.webp' alt='Стиральная машина подтекает')
            p Стиральная машина подтекает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-vibriruet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-vibriruet' + '.webp' alt='Стиральная машина сильно вибрирует')
            p Стиральная машина сильно вибрирует
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-zavisaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='Стиральная машина зависает в одном режиме')
            p Стиральная машина зависает в одном режиме
