extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Стиральная машина течет' 
  - var content = 'Чтобы уменьшить расходы, если течет стиральная машина, можно попробовать найти причину протечки и устранить ее собственными силами. Но действовать надо осторожно и не торопясь, чтобы не повредить исправные детали.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности стиральных машин': domen + '/neispravnosti-stiralnyh-mashin/',
    "Стиральная машина течет": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-010.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "wash-mash/" + "sm-techet" + ".webp" alt= 'Стиральная машина течет' itemprop="image")

      p
        | Ситуации, когда из стиральной машины подтекает вода, нередки. Для владельца техники они могут означать непредвиденные и серьезные расходы на ремонт. Чтобы уменьшить расходы, если течет стиральная машина, можно попробовать найти причину протечки и устранить ее собственными силами. Но действовать надо осторожно и не торопясь, чтобы не повредить исправные детали. Расскажем, почему течет стиральная машина и как ее отремонтировать, а также отметив дефекты, требующие обращения в сервисный центр.
      h2.page-title-h2 В чем может заключаться причина утечки воды?
      p
        | Современные стиральные машины оснащены сложными механизмами и узлами. Участков, где может быть нарушена герметичность, несколько. Самыми проблемными местами приборов с точки зрения образования протечек являются:
      ul.page-list.page-list-ul
        li сливной патрубок, на котором могут возникать разрывы;
        li уплотнительная резинка;
        li сальник, выработавший свой ресурс;
        li кран;
        li шланг подачи воды;
        li сливной шланг;
        li
          | лоток для подачи воды, который бывает не только поврежден, но и неверно установлен;
        li переполненный барабан.
      p
        | Если из стиральной машины течет вода, надо среди возможных причин установить именно тот дефект, который привел к нарушению герметичности. Делать это следует незамедлительно, так как текущая машинка может привести к неприятным последствиям и немалому материальному ущербу. Диагностику начинают с визуального осмотра прибора. Иногда заметить дефект или примерно определить область поломки удается невооруженным взглядом. Далее можно придерживаться следующей инструкции:
      ol.page-list.page-list-ol
        li
          | Проверить, не образовалась ли течь в передней части машины, под лотком или дверцей люка. Эти повреждения считаются самыми простыми для устранения, так как не требуют перемещения или разборки прибора.
        li
          | Если стиральная машина подтекает снизу и спереди, предпринимают меры для устранения течи. Затем прибор проверяют снова.
        li
          | Если область протечки локализуется не на передней части корпуса, необходимо отодвинуть машинку от стены, чтобы обеспечить свободный доступ к задней панели. С большой долей вероятности ее придется демонтировать.
      h2.page-title-h2 Подтекает вода из выдвижного порошкоприемника
      p
        | Протечки могут появляться при неправильной установке отсека для моющих средств, если он неплотно примыкает к корпусу. Струя воды, подающаяся в лоток, бьется о вертикальную перегородку, разбрызгивается и вытекает за пределы порошкоприемника.
      p
        | Иногда протечки появляются из-за повреждения лотка, изготовленного из пластика. При неосторожном обращении на нем могут возникать небольшие трещины. Порошкоприемник можно заменить или заклеить с помощью армированной сантехнической ленты.
      p
        | При проверке отсека для моющих средств мастера советуют запустить стиральную машинку и во время поступления воды в лоток слегка его выдвинуть. Струя жидкости должна быть единой и ровной, направленной точно в нужный отсек. Иногда на рассеивателе скапливается налет. Если для стирки используется жесткая вода, могут откладываться соли. Это приводит к тому, что меняется направление струи, вода разбрызгивается. Если подтекает стиральная машина по этой причине, с дефектом справиться несложно. Достаточно взять тонкую, прочную проволоку или иглу и аккуратно прочистить рассеиватель, чтобы не повредить верхнюю стенку.
      h2.page-title-h2 Негерметичен водоносный канал
      p
        | Для поступления воды стиральные машины оснащены несколькими клапанами. Каждый из них имеет свое назначение: один – для наполнения барабана при стирке, другой – для полоскания белья. Чтобы осмотреть оба клапана на предмет целостности, необходимо демонтировать верхнюю крышку или боковую и переднюю панели машинки. У приборов с горизонтальным типом загрузки доступ к клапанам осуществляется сверху. Стиральные машины с вертикальной загрузкой осматривают сбоку.
      p
        | Для демонтажа защитных панелей понадобится крестовая отвертка. С ее помощью выкручивают винты, на которых крепятся детали. Если винты оказываются покрытыми ржавчиной, их можно предварительно обрабатывать специальным средством.
      p
        | Добравшись до клапанов подачи воды, следует проверить, надежно ли они соединены со шлангами. Эти участки являются уязвимыми и нередко становятся причиной протечек. Надо поджать хомуты или поменять на новые. В стиральных машинах, эксплуатируемых свыше 10 лет, шланги подвергаются естественному износу, на них образуются трещины. Они также подлежат замене.
      h2.page-title-h2 Повредился приемный шланг
      p
        | Если течет стиральная машина снизу, целесообразно проверить на наличие дефектов приемный шланг. Чаще всего причиной его повреждений, в особенности при долговременной эксплуатации становится качество воды, ее жесткость. Гораздо реже владельцам приходится сталкиваться с ситуациями, когда нарушается целостность шланга во время передвижения машинки. Иногда механическим повреждениям подвергается резьба на гайке. Мастера рекомендуют при ее закручивании не пользоваться инструментами, делать это руками, а также обязательно ставить резиновые прокладки.
      h2.page-title-h2 Вода протекает из-под манжеты
      p
        | Распространенная причина протекания – дефект уплотнительной резинки, или манжеты. Она предназначена для поддержания герметичности люка, через который в барабан помещается белье. Она располагается по всему диаметру круглого отверстия в корпусе машинки и в находящемся внутри барабане. Манжета образует кожух и загибается внутрь барабана. Когда в него отправляют белье и закрывают дверцу люка, манжета плотно прижимается и исключает вытекание воды.
      p
        | По мере эксплуатации стиральной машины происходит изменение физических свойств резины, из которой производится манжета. Она становится жестче и может начать пропускать жидкость. Чтобы этого не допустить, уплотнительную резину необходимо менять. Ее стоимость достаточно высокая. Но сэкономить на замене можно за счет выполнения ремонтных работ своими руками. Это несложная процедура. Выполняют ее в несколько этапов:
      ol.page-list.page-list-ol
        li Дверцу люка открывают.
        li
          | Берут плоский инструмент шириной около 1 см и осторожно поддевают переднюю кромку манжеты. Под ней располагается обтягивающая пружина, предназначенная для удержания уплотняющей резины на внешней части корпуса.
        li
          | Аналогичную процедуру повторяют, поддев манжету с внутренней стороны, примыкающей к барабану.
        li
          | Затем приступают к установке новой манжеты, но действия выполняют в обратной последовательности: надевают пружину и резинку сначала на барабан, после – на корпус стиральной машины.
      p
        | Чтобы в дальнейшем не допустить повреждения манжеты, важно следить за тем, чтобы при загрузке белья в барабан не попадали посторонние предметы, например, монеты, булавки, заклепки, ручки, косточки от нижнего белья. Они могут не только нарушить целостность резинового уплотнителя, но и повредить барабан.
      h2.page-title-h2 Сломался сливной патрубок
      p
        | Когда течет стиральная машина снизу, причины обычно кроятся в повреждениях сливной системы. Чтобы проверить ее исправность, прибор надо положить набок, это дает возможность осмотреть сливной патрубок, помпу, прочие детали. Первый требует особенно пристального внимания. Деталь изготовлена из резины, обычно имеет черный цвет. Ее диаметр с одного края больше, чем с другого, а внутри вставлен шарик из пластика, который играет роль обратного клапана.
      p
        | В работающей стиральной машине барабан может сильно вибрировать. Со временем это может привести к нарушению герметичности гофрированного патрубка на участках складок, возникновению трещин или разрывов. Мастера отмечают, что выработка ресурса детали наступает спустя 5–10 лет эксплуатации, и рекомендуют время от времени производить замену сливного патрубка. Стоимость детали невысока.
      p
        | Поменять ее можно самостоятельно. Во всех моделях стиральных машин шланги сидят на штуцерах и обтягиваются пружинными хомутами. Для демонтажа патрубка сжимают отходящие хвосты, расслабляя их. Поскольку для изготовления хомутов применяют закаленный металл, они подвергаются коррозии. Иногда опытные мастера меняют их на автомобильные хомуты из нержавейки. Еще один вариант – нейлоновая стяжка.
      h2.page-title-h2 Неисправна помпа
      p
        | Текущая из-под стиральной машины вода – ситуация, причиной появления которой может стать сломанная помпа и соединения на ней, удерживаемые с помощью пружинных хомутов. Если прибор эксплуатируется 6 лет и более, их целесообразно заменить, чтобы не допустить серьезных протечек.
      p
        | Кроме того, слабым звеном может стать корпус самой помпы. Его производят из пластика, который легко подвергается трещинам. Если на помпе возникают подобного рода повреждения, ее починить невозможно, приходится менять.
      h2.page-title-h2 Изношен сальник
      p
        | Выход из строя сальника из-за выработки ресурса считается одной из самых трудно устранимых поломок. К тому же исправить ее получается далеко не всегда. Недорогие стиральные машины оснащены кожухами, которые склеиваются из нескольких частей при помощи термопресса. Это снижает себестоимость детали, но делает ее непригодной к ремонту.
      p
        | В дорогостоящей технике и относящейся к среднему ценовому диапазону половинки кожуха крепятся стальными скобами, которые можно снимать, разобрав барабан. Между частями кожуха устроен паз с уплотнительным кольцом. В нем тоже может образовываться течь.
      p
        | Заменить сальник можно только в том случае, если получиться разобрать кожух. Для этого надо выполнить следующие действия:
      ol.page-list.page-list-ol
        li Снять боковую защитную панель и крышку с верхней части корпуса.
        li
          | Чтобы демонтировать барабан и извлечь его из стиральной машины, необходимо выкрутить в нижней части винты, которые удерживают пару амортизаторов.
        li
          | Затем прибор положить на бок и отсоединить от него несколько шлангов: сливной, для заливки и подходящий к датчику уровня.
        li Открепить отверткой пружины, на которых висит барабан.
        li
          | Снять колесо шкива, стянуть ремень. Для этого необходимо начать с откручивания винта, после чего можно с помощью съемника или медной наставки выбить шкив со своего посадочного места. Движения должны быть резкими, но осторожными, чтобы не повредить изготовленный из дюралюминия.
        li
          | Разобрав кожух и сняв шкив, надо перейти к извлечению сальника. Для этого надо подготовить деревянный брусок или наставку из медного сплава. Они существенно облегчат работу по демонтажу и замене сальника. Инструментом следует осторожно выбить вал. Но прежде, чем это сделать, под кожух надо что-то подложить, чтобы высота оказалась достаточной для беспрепятственного снятия вала и барабана на другом его конце.
        li
          | В некоторых случаях после предпринятых усилий по демонтажу сальника он все же не остается на извлеченном валу. Тогда не остается ничего иного, как выбить деталь с подшипником. Задача осложняется тем, что сальник находится со стороны барабана, а пара подшипников установлена внутри.
        li
          | Сохраняя аккуратность, неисправный сальник надо поменять на новый. После того, как деталь возвращена на прежнее место, можно приступать к монтажу подшипников.
        li
          | Теперь можно переходить к сборке кожуха. Все работы надо выполнять в обратной последовательности.
      p
        | Когда вода течет из стиральной машины при стирке, целесообразно проводить проверку сразу нескольких деталей и узлов, так как одна неисправность может повлечь за собой выход из строя другой. Например, если причиной протечки становится изношенный сальник, в подшипниках часто наблюдается очень большой люфт. В таком случае важно оценить состояние амортизаторов и пружин. Из-за перечисленных поломок они перестают выполнять свои функции должным образом, так что начинает сильно вибрировать и биться. Это, в свою очередь, разбивает подшипники.
      p
        | Если течет вода из-под стиральной машины, важно не только вовремя справиться с поломкой, но и помнить о профилактике, чтобы в дальнейшем не допустить подобных ситуаций. Для этого прибор должен стоять максимально ровно по уровню горизонта. Для стирки следует применять только качественную бытовую химию и воду. Раз в несколько месяцев рекомендуется промывать порошкоприемник, тщательно очищать слив, проверять крепления шлангов на герметичность.
    .page-text
      h2.page-title-h2 Основные причины неисправности и стоимость их устранения
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Износ патрубков
              td
                p Замена патрубков
              td
                p от 1000 р.
            tr
              td
                p Неисправность наливного клапана
              td
                p Замена электро-наливного клапана
              td
                p от 800 р.
            tr
              td
                p Износ манжеты
              td
                p Замена манжеты люка
              td
                p от 1500 р.
            tr
              td
                p Неисправность сливного насоса
              td
                p Замена сливного насоса (помпы)
              td
                p от 1200 р.
            tr
              td
                p Износ сальника
              td
                p Замена подшипников и сальников
              td
                p от 2100 р.
            tr
              td
                p Износ сливного или наливного шланга
              td
                p Замена шланга (наливного/сливного)
              td
                p от 500 р.
            tr
              td
                p Перелив воды в баке
              td
                p Замена прессостата
              td
                p от 1200 р.

    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей стиральной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем стиральные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности стиральных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-stiralnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'ne-krutitsya-baraban-v-stiralnoj-mashine' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-krutit' + '.webp' alt='Стиральная машина не крутит барабан')
            p Стиральная машина не крутит барабан
        .page-articles-link-item
          a(href=pathToPage + 'pena-iz-stiralnoj-mashiny' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-penitsa' + '.webp' alt='Пена из стиральной машины')
            p Пена из стиральной машины
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-bet-tokom' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-bjet-tokom' + '.webp' alt='Стиральная машина бьет')
            p Стиральная машина бьет
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-gudit' + '.webp' alt='Стиральная машина гудит')
            p Стиральная машина гудит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-migaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='На стиральной машине мигают все лампочки')
            p На стиральной машине мигают все лампочки
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-greet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-greet' + '.webp' alt='Стиральная машина не греет воду')
            p Стиральная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не набирает воду')
            p Стиральная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-ostanavlivaetsya-stiraet-bez-ostanovki' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не останавливается')
            p Стиральная машина не останавливается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otkryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otkrivaet' + '.webp' alt='Стиральная машина не открывает дверь')
            p Стиральная машина не открывает дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otzhimaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otgimaet' + '.webp' alt='Стиральная машина не отжимает')
            p Стиральная машина не отжимает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-poloskaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-poloskaet' + '.webp' alt='Стиральная машина не полоскает')
            p Стиральная машина не полоскает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-slivaet' + '.webp' alt='Стиральная машина не сливает')
            p Стиральная машина не сливает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-vkluchaetsa' + '.webp' alt='Стиральная машина не включается')
            p Стиральная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-zakryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-blokiruet' + '.webp' alt='Стиральная машина не блокирует дверь')
            p Стиральная машина не блокирует дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ploho-stiraet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ploho-stiraet' + '.webp' alt='Стиральная машина не отстирывает вещи')
            p Стиральная машина не отстирывает вещи
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-pokazyvaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-pokazivaet-oshibku' + '.webp' alt='Стиральная машина показывает ошибку')
            p Стиральная машина показывает ошибку
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-prygaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-prigaet' + '.webp' alt='Стиральная машина прыгает')
            p Стиральная машина прыгает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-skripit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-scripit' + '.webp' alt='Стиральная машина скрипит')
            p Стиральная машина скрипит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-srazu-slivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-srazu-slivaet' + '.webp' alt='Стиральная машина набирает и сразу сливает воду')
            p Стиральная машина набирает и сразу сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-techet-podtekaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-techet' + '.webp' alt='Стиральная машина подтекает')
            p Стиральная машина подтекает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-vibriruet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-vibriruet' + '.webp' alt='Стиральная машина сильно вибрирует')
            p Стиральная машина сильно вибрирует
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-zavisaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='Стиральная машина зависает в одном режиме')
            p Стиральная машина зависает в одном режиме
