extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'СКРИПИТ СТИРАЛЬНАЯ МАШИНА' 
  - var content = 'Основной причиной возникновения скрипа является трение деталей или узлов. Можно выделить две возможные причины: 1. Произошел износ узлов или ослабление крепежа; 2. При стирке внутрь конструкции попал посторонний предмет, который стал причиной посторонних звуков.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности стиральных машин': domen + '/neispravnosti-stiralnyh-mashin/',
    "Стиральная машина скрипит": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-014.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "wash-mash/" + "sm-scripit" + ".webp" alt= 'Стиральная машина скрипит' itemprop="image")

      p
        | При работе стиральная машина не должна издавать посторонних звуков. Если при стирке или выполнении другой операции вы услышали скрип, то это означает, что присутствует проблема. Если посторонние звуки проявились при работе новой стиральной машины, то рекомендуем ее вернуть в магазин и потребовать замены. В крайнем случае, можно обратиться в сервисный центр для ремонта оборудования по гарантии.
      p
        | Если посторонние звуки возникли после нескольких лет использования, то это повод обратится в мастерскую или вызвать мастера для ремонта.
      h2.page-title-h2 Причины возникновения скрипа
      p
        | Основной причиной возникновения скрипа является трение деталей или узлов. Можно выделить две возможные причины:
      ul.page-list.page-list-ul
        li Произошел износ узлов или ослабление крепежа;
        li
          | При стирке внутрь конструкции попал посторонний предмет, который стал причиной посторонних звуков.
      p
        | Для проверки оборудования и устранения проблемы потребуется оформление заявки на вызов мастера. При необходимости мастер проведет частичную или полную разборку стиральной машины. После обнаружения проблемного узла, он произведет замену детали или подтянет ослабшее крепление. Проведение ремонтных работ позволит использовать стиральную машину еще в течение нескольких лет.
      h2.page-title-h2 Что делать при скрипе стиральной машины
      p
        | С одной стороны возникший скрип нельзя отнести к критическим ситуациям. Машинка будет продолжать работать, но процесс стирки будет сопровождаться посторонним шумом. Но при этом стоит учитывать, что игнорирование скрипа может стать причиной более серьезной поломки и ремонт стиральной машины может потребовать более крупных вложений.
      h2.page-title-h2 Возможные причины возникновения скрипа:
      ul.page-list.page-list-ul
        li
          | Износ амортизаторов. Узлы предназначены для поглощения вибрации, которая может возникать при стирке или отжимании. При большой нагрузке или частом использовании оборудования, амортизаторы могут перестать компенсировать колебания и будут возникать посторонние звуки. Для решения проблемы придется заменить их;
        li
          | Износ пружин. В конструкции присутствуют пружины, которые поддерживают барабан в правильном положении. Со временем они могут потерять первоначальную эластичность, и это может стать причиной возникновения скрипа. Если причиной скрипа являются пружины, то потребуется их замена;
        li
          | Износ приводного ремня. Со временем приводной ремонт может потерять эластичность. На поверхности могут образоваться трещины или потертости. Если ремень немного растянулся, то при работе двигателя он может проскальзывать и издавать скрип. Для решения проблемы можно попробовать отрегулировать натяжение или произвести замену на новый ремень.
      p
        | Иногда скрип может возникать при отжимании. Если машинка начала скрипеть, рекомендуем проверить следующие варианты:
      ul.page-list.page-list-ul
        li
          | Крепление вала барабана. Со временем крепление может ослабнуть и при больших оборотах барабан может смещаться и задевать другие узлы. Постоянное касание барабаном других узлов может быть причиной скрипа.
        li
          | Другие крепежи. Во время работы стиральной машины может происходить вибрация, что может спровоцировать ослабление крепежей. Рекомендуем проверить доступные крепежи и при необходимости подтянуть;
        li
          | Подшипники и сальники. Спустя некоторое время сальники могут потерять эластичность и будут пропускать воду. Попавшая в подшипник влага может стать причиной возникновения коррозии. Если при работе стиральной машины возникает металлический скрежет, рекомендуем проверить подшипники и при необходимости произвести замену.
      h2.page-title-h2 Другие причины присутствия скрипа
      p
        | Довольно часто встречается ситуация, что скрип возникает не из-за технических неполадок. А от присутствия посторонних предметов. Это могут быть пуговицы, монетки, куски шерсти от животных, ворс от домашних вещей.
      p
        | Постепенное накапливание шерсти или ворса может стать причиной уменьшения свободного пространства между барабаном и другими деталями. При небольших оборотах скрип будет минимален. Но при включении отжима и вращении барабана на высокой скорости, скрип будет сильным.
      p
        | Для решения проблемы потребуется избавиться от посторонних предметов. Иногда для этого придется произвести частичную разборку стиральной машины. В основном, местом скопления посторонних предметов является отделение, где установлен ТЭН.
      p
        | При выяснении причин скрипа рекомендуем обратить внимание на резиновую манжету. Иногда небольшие предметы могут попасть между манжетой и корпусом и стать причиной неприятных звуков. Дополнительно при проверке манжеты обратите внимание на ее эластичность. Если появились трещины или манжета неплотно прилегает к люку, рекомендуем произвести замену.
    .page-text
      h2.page-title-h2 Основные причины неисправности и стоимость их устранения
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th 
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Износ подшипников
              td
                p Замена подшипников
              td
                p от 2100 р.
            tr
              td
                p Посторонние предметы в баке
              td
                p Извлечение постороннего предмета из бака
              td
                p от 1200 р.
            tr
              td
                p Износ амортизаторов
              td
                p Замена амортизаторов
              td
                p от 1500 р.
            tr
              td
                p Износ ремня
              td
                p Замена ремня
              td
                p от 800 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей стиральной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем стиральные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности стиральных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-stiralnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'ne-krutitsya-baraban-v-stiralnoj-mashine' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-krutit' + '.webp' alt='Стиральная машина не крутит барабан')
            p Стиральная машина не крутит барабан
        .page-articles-link-item
          a(href=pathToPage + 'pena-iz-stiralnoj-mashiny' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-penitsa' + '.webp' alt='Пена из стиральной машины')
            p Пена из стиральной машины
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-bet-tokom' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-bjet-tokom' + '.webp' alt='Стиральная машина бьет')
            p Стиральная машина бьет
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-gudit' + '.webp' alt='Стиральная машина гудит')
            p Стиральная машина гудит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-migaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='На стиральной машине мигают все лампочки')
            p На стиральной машине мигают все лампочки
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-greet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-greet' + '.webp' alt='Стиральная машина не греет воду')
            p Стиральная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не набирает воду')
            p Стиральная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-ostanavlivaetsya-stiraet-bez-ostanovki' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не останавливается')
            p Стиральная машина не останавливается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otkryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otkrivaet' + '.webp' alt='Стиральная машина не открывает дверь')
            p Стиральная машина не открывает дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otzhimaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otgimaet' + '.webp' alt='Стиральная машина не отжимает')
            p Стиральная машина не отжимает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-poloskaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-poloskaet' + '.webp' alt='Стиральная машина не полоскает')
            p Стиральная машина не полоскает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-slivaet' + '.webp' alt='Стиральная машина не сливает')
            p Стиральная машина не сливает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-vkluchaetsa' + '.webp' alt='Стиральная машина не включается')
            p Стиральная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-zakryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-blokiruet' + '.webp' alt='Стиральная машина не блокирует дверь')
            p Стиральная машина не блокирует дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ploho-stiraet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ploho-stiraet' + '.webp' alt='Стиральная машина не отстирывает вещи')
            p Стиральная машина не отстирывает вещи
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-pokazyvaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-pokazivaet-oshibku' + '.webp' alt='Стиральная машина показывает ошибку')
            p Стиральная машина показывает ошибку
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-prygaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-prigaet' + '.webp' alt='Стиральная машина прыгает')
            p Стиральная машина прыгает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-skripit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-scripit' + '.webp' alt='Стиральная машина скрипит')
            p Стиральная машина скрипит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-srazu-slivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-srazu-slivaet' + '.webp' alt='Стиральная машина набирает и сразу сливает воду')
            p Стиральная машина набирает и сразу сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-techet-podtekaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-techet' + '.webp' alt='Стиральная машина подтекает')
            p Стиральная машина подтекает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-vibriruet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-vibriruet' + '.webp' alt='Стиральная машина сильно вибрирует')
            p Стиральная машина сильно вибрирует
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-zavisaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='Стиральная машина зависает в одном режиме')
            p Стиральная машина зависает в одном режиме
