extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Мигают все индикаторы стиральной машины' 
  - var content = 'Почему на приборе начинают мигать сразу все индикаторы? Это происходит при сбое в работе машинки. Например, может быть неверно выбран режим стирки. Но чаще всего мигание свидетельствует о поломке, связанной с платой управления.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности стиральных машин': domen + '/neispravnosti-stiralnyh-mashin/',
    "Стиральная машина мигает": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-009.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "wash-mash/" + "sm-migaet" + ".webp" alt= 'Стиральная машина мигает' itemprop="image")

      p
        | «Умные» современные технологии, которыми оснащены стиральные машинки, обеспечивают высокое качество стирки, имеют множество программ и функций, а также сообщают владельцу о возникновении дефектов. Для этого на передней панели присутствуют индикаторы. Когда стиральная машина мигает после запуска, она таким способом информирует о «внештатной» ситуации.
      p
        | Почему на приборе начинают мигать сразу все индикаторы? Это происходит при сбое в работе машинки. Например, может быть неверно выбран режим стирки. Но чаще всего мигание свидетельствует о поломке, связанной с платой управления. Электронный модуль можно условно назвать «мозгом» прибора. Его задача – контроль над важнейшими узлами. Когда сигналы не могут пройти через плату, машинка информирует об этом миганием лампочек и останавливает свою работу.
      p
        | Мастера отмечают, что самыми «слабыми» местами платы управления являются конденсаторы, которые в процессе эксплуатации машины перегорают. Неисправными могут оказаться и соединительные контакты. Когда это происходит, срабатывает автоматическая блокировка. В результате владельцу техники приходится обращаться в ремонтную мастерскую или пробовать устранить поломку своими силами, заменив на электронном модуле конденсаторы. Для этого надо уверенно владеть навыками работы паяльником.
      h2.page-title-h2 Мигают все лампочки стиральной машины: ищем причины
      p
        | В ситуации, когда на стиральной машинке, которая раньше работала без нареканий, после включения вдруг начали гореть все индикаторы, не стоит поддаваться панике и думать о выходе прибора из строя. Есть вероятность, что перед запуском не была плотно закрыта дверца люка, не включен напор воды.
      p
        | Чтобы выяснить, почему мигает стиральная машина, для начала необходимо внимательно прочитать инструкцию по эксплуатации стиральной машины. Особенное внимание стоит уделить разделу, где указаны значения кодов ошибок и приводится информация о том, за какие функции отвечают те или иные индикаторы.
      p
        | В инструкции к стиральной машине есть раздел «Устранение неполадок». В нем даются советы, помогающие потребителям самостоятельно выявить и исправить дефекты, и приводится пошаговый алгоритм действий. Если попытки справиться с проблемой все же не увенчались успехом и стиральная машина при включении мигает по-прежнему, можно воспользоваться приведенными ниже советами. Они помогут разобраться, по какой причине индикаторы продолжают сигнализировать о сбое в работе прибора. Причин может быть несколько.
      p
        | Как правило, индикаторы отражают определенный код ошибки, но иногда их мигание бывает вызвано другими причинами. Например, могут сбрасываться режимы стирки, обнуляться программа. Это ведет к беспорядочному морганию лампочек на панели управления. Дефекты могут быть следствием естественного износа деталей, механических повреждений или проникновения влаги на электронную плату. Чем быстрее будет определена причина, чем больше вероятность ее исправить и продлить срок службы стиральной машины.
      p
        | К самым уязвимым деталям прибора помимо конденсаторов на электронном модуле относятся:
      ul.page-list.page-list-ul
        li трубчатый электронагреватель (ТЭН);
        li командоаппарат (КСМА);
        li двигатель.
      p
        | Соответственно, при мигании индикаторов можно в первую очередь предположить следующие неполадки:
      ul.page-list.page-list-ul
        li стиральная машина не греет воду из-за неисправности нагревательного элемента;
        li от ТЭНа к электронному модулю не проходит сигнал;
        li сливной насос из-за отсутствия напряжения не выполняет свою функцию;
        li не подаются сигналы температурными датчиками, силовыми или управляющими блоками.
      h2.page-title-h2 Устраняем ошибку своими руками
      p
        | Прежде чем пытаться решить проблему при мигании индикаторов, надо ознакомиться с инструкцией по эксплуатации стиральной машины. Производители обычно указывают коды ошибок, возможные признаки неполадок и дают рекомендации по их устранению в виде пошаговых алгоритмов.
      p
        | Как правило, ситуации, когда стиральная машина мигает и не запускается, бывают стандартными. Для того чтобы диагностировать неисправность и отремонтировать прибор, требуется выполнить несколько несложных операций. Вот список самых распространенных причин мигания индикаторов и инструкций, как поступить в том или ином случае:
      ul.page-list.page-list-ul
        li
          | Вода не поступает в бак машинки. Необходимо провести проверку вентиля, наливного шланга, напора воды и фильтра впускного клапана. Вентиль для подачи воды перед запуском стирки должен быть открыт на максимум. В наливном шланге нельзя допускать перегибов. Должен быть достаточным напор в водопроводной сети, чтобы вода поступала в стиральную машинку. К тому же важно проверить состояние фильтра впускного клапана. При необходимости его следует очистить. Для этого достаточно на 30 минут погрузить его в воду с добавлением лимонной кислоты.
        li
          | Сработал режим блокировки прибора от детей. Чтобы его отключить, надо ознакомиться с инструкцией и воспроизвести указанные в ней действия.
        li
          | Управляющий модуль дал сбой. В данной ситуации рекомендуется обесточить прибор, а по прошествии 15–20 минут вновь подключить к электросети.
        li
          | Повредился сетевой шнур. Следует проверить, не нарушена ли его целостность. При выявлении дефектов шнур необходимо поменять на новый. Сделать это можно своим руками или с помощью мастера.
        li
          | Загрузка барабана стиральной машины больше или меньше установленных параметров веса и объема. Они обязательно приводятся производителями в инструкции к прибору. Загружая белье в барабан, его надо равномерно распределять. К тому же нельзя превышать максимально допустимую загрузку.
        li
          | Стиральная машинка установлена с нарушениями норм. Если сливной шлаг находится ниже, чем бак, то прибор может набирать и сразу сливать воду, после чего сигнализировать о неполадке. Чтобы ее устранить, надо правильно выполнить подключение к канализации своими руками или вызвав мастера.
        li
          | Вода не сливается из бака. Если машинка реагирует на эту неисправность миганием индикаторов, целесообразно проверить сливной шланг на наличие засоров или заломов. Иногда он бывает перекручен, что препятствием свободному прохождению воды. Если слив выводится в сифон раковины, то целесообразно осмотреть и участок соединения шланга с канализационной трубой.
      p
        | Если после диагностики и выполнения указанных действий индикаторы на машинке не перестают мигать, вероятнее всего, техника сломана. Скорее всего, потребуется вызвать специалиста для ремонта.
      p
        | Если все же принято решение попробовать справиться с дефектом собственными силами, следует проверить исправность электронного модуля и других деталей стиральной машины. Начальным этапом этой работы является разборка прибора. Ее выполняют следующим образом:
      ol.page-list.page-list-ol
        li Бытовую технику отключают от электросети.
        li Снимают верхнюю крышку с корпуса машинки.
        li Находят шурупы, которые удерживают плату управления, и отвинчивают их.
        li Отсоединяют подходящие к разъемам кабели.
        li Проводят замену всей платы управления и конденсаторов.
      p
        | Снять с корпуса защитные панели обычно не составляет труда, хотя у различных моделей есть свои особенности. В машинах с фронтальной загрузкой электронный модуль находится в нижней, задней части корпуса. Для крепления панели управления используется пара болтов с задней стороны, а для удержания платы – маленькие шурупы. В моделях с вертикальной загрузкой барабана панель управления можно найти в верхней части корпуса. Ее диагностику выполняют при помощи мультиметра, которым измеряют сопротивление на контактах и конденсаторах.
      p
        | После извлечения платы ее тщательно осматривают, уделяя особенное внимание состоянию конденсаторов, прежде всего – С16, С17 и С20. На неисправность обычно указывает набухание верхней части. Конденсаторы «прозванивают» при помощи мультиметра. Если они подлежат замене, важно следить за маркировкой и соответствию деталей той или иной модели стиральной машины.
      h2.page-title-h2 Стиральная машина с мигающими индикаторами не включается: проводим диагностику
      p
        | Контроль над выполнением различных программ и функций осуществляет электронный блок управления. Специалисты сравнивают его с мозгом. Если машинка не запускается, а ее индикаторы перемигиваются, велика вероятность выхода из строя электронного блока управления. Причин может быть несколько:
      ul.page-list.page-list-ul
        li окисленные контакты;
        li попадание влаги;
        li выработка ресурса или повреждение конденсаторов.
      p
        | Иногда поломку удается устранить. Особенно легко с ней справляются те, кто хорошо знаком с микросхемами. В сложных случаях приходится производить замену всего блока.
      p
        | Другая распространенная причина мигания лампочек на не включающейся стиральной машинке является перегорание электронагревателя (ТЭНа). Эта деталь отвечает за нагревание воды в ходе стирки или при запуске функции сушки. Нагревательный элемент проверяют на исправность мультиметром. Если выясняется, что деталь сгорела, ее меняют на новую. Ремонту она не подлежит.
      p
        | Еще одна важная деталь, при выходе из строя которой на стиральной машине мигают лампочки, – двигатель. Благодаря ему во время стирки вращается барабан. Поломки электродвигателей приводят к остановке работы и миганию индикаторов. Но они случаются нечасто. Многие компании, выпускающие стиральные машины, дают гарантию бесперебойной работы двигателя на срок 10 лет. Если деталь все же ломается, следует обращаться в сервисный центр, где ее починят или сменят на исправную.
      p
        | Гораздо чаще, чем дефекты электродвигателя, возникают засоры в сливных насосах и повреждения помпы вследствие попадания волокон ткани, шерсти или волос, мелких деталей и прочих загрязнений. Если насос засорился, надо тщательно вычистить его крыльчатку. Помпу следует менять.
      h2.page-title-h2 Неисправный двигатель: есть ли возможность починить своими руками
      p
        | Повреждение двигателя в бытовом приборе незамедлительно отражается на его функционировании. Стиральные машины информируют о такой серьезной неполадке одновременным миганием всех светодиодных индикаторов.
      p
        | Чтобы определить, что причиной остановки работы машинки стал именно электродвигатель, приходится проверять остальные важные детали. Если они исправны, то единственно возможной поломкой становится дефекты мотора.
      p
        | Отремонтировать эту деталь собственными силами, не обладая достаточным опытом и багажом знаний, очень трудно. Заподозрив повреждение двигателя, лучше воспользоваться помощью специалиста, который имеет в своем оснащении аппаратуру для диагностических и ремонтных мероприятий.
      h2.page-title-h2 Если машинка все время сливает воду
      p
        | При самостоятельном сливе прибор постоянно спускает или очень медленно набирает воду. Если при запуске выбрана программа, блок управления начинает ее сбрасывать. Электронный дисплей демонстрирует код ошибки, либо сигнализирует о неполадках миганием лампочек. Что следует предпринять в таком случае? Действия должны быть следующими:
      ul.page-list.page-list-ul
        li Посмотреть, открыт ли полностью кран для подачи воды.
        li
          | Проверить, в каком состоянии находится заливной шланг. Если он перегибается, доступ воды затрудняется.
        li
          | Осмотреть сетчатый фильтр. Для этого надо снять заливной шланг. При наличии засоров и загрязнений фильтр надо прочистить.
      p
        | Иногда проблема заключается в работе заливного клапана, когда машинка постоянно набирает в бак воду, а затем включает слив. Отремонтировать заливной клапан нельзя ни в домашних условиях, но в сервисном центре. Если он выходит из строя, необходимо производить замену.
      h2.page-title-h2 Цены на ремонт стиральных машин
    .page-text
      h2.page-title-h2 Основные причины неисправности и стоимость их устранения
      .table-container_scroll 
      table.page-table
        tbody
          tr
            th Вид работ
            th Стоимость
          tr
            td Выезд мастера на дом
            td бесплатно
          tr
            td Диагностика неисправности
            td бесплатно
          tr
            td Диагностика без разбора техники (в случае отказа от проведения ремонта)
            td 400 р.
          tr
            td Выезд за пределы КАД
            td 15 р/км. от КАД
          tr
            td.table-subtitle(colspan='2') Мелкий ремонт
          tr
            td Замена ручки люка
            td от 800 р.
          tr
            td Ремонт (замена) кнопки
            td от 800 р.
          tr
            td Замена стекла люка
            td от 900 р.
          tr
            td Чистка сливного фильтра
            td от 600 р.
          tr
            td Чистка наливного фильтра
            td от 600 р.
          tr
            td Замена ремня
            td от 800 р.
          tr
            td Установка стиральной машины
            td от 400 р.
          tr
            td Замена шланга (наливного/сливного)
            td от 500 р.
          tr
            td Ремонт механизма замка люка
            td от 600 р.
          tr
            td Монтаж/демонтаж встроенной стиральной машины
            td от 250 р.
          tr
            td Подключение стиральной машины к коммуникациям
            td от 600 р.
          tr
            td Замена петель люка
            td от 600 р.
          tr
            td Сброс ошибок
            td от 500 р.

          tr
            td.table-subtitle(colspan='2') Ремонт средней сложности
          tr
            td Замена электро-наливного клапана
            td от 800 р.
          tr
            td Замена щеток двигателя
            td от 1200 р.
          tr
            td Замена сливного насоса (помпы)
            td от 1200 р.
          tr
            td Замена устройства блокировки люка (УБЛ)
            td от 1200 р.
          tr
            td Чистка двигателя
            td от 600 р.
          tr
            td Замена противовеса
            td от 800 р.
          tr
            td Замена манжеты люка
            td от 1500 р.
          tr
            td Вскрытие машины
            td от 600 р.
          tr
            td Диагностика модуля управления
            td от 400 р.
          tr
            td Ремонт модуля управления
            td от 1500 р.
          tr
            td Замена патрубков
            td от 1000 р.
          tr
            td Замена таходатчика
            td от 1000 р.
          tr
            td Замена люка
            td от 800 р.
          tr
            td Извлечение постороннего предмета из бака
            td от 1200 р.

          tr
            td.table-subtitle(colspan='2') Сложный ремонт
          tr
            td Замена двигателя
            td от 1200 р.
          tr
            td Замена подшипников
            td от 2100 р.
          tr
            td Замена крестовины
            td от 2100 р.
          tr
            td Замена амортизаторов
            td от 1500 р.
          tr
            td Замена суппортов
            td от 1500 р.
          tr
            td Замена ТЭНа
            td от 1200 р.
          tr
            td Замена прессостата
            td от 1200 р.
          tr
            td Ремонт электросхемы
            td от 600 р.
          tr
            td Замена бака
            td от 2500 р.

          tr
            td.table-subtitle(colspan='2') Дополнительная информация
          tr
            td Диагностика без разбора техники (в случае отказа от проведения ремонта)
            td 400 р.
          tr
            td Сборка и разборка встроенной техники
            td от 700 р.
          tr
            td Сборка и разборка стиральной машины
            td от 600 р.
          tr
            td Коэффициент стесненности
            td от 10%
          tr
            td Ложный вызов
            td 1,500р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей стиральной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем стиральные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности стиральных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-stiralnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'ne-krutitsya-baraban-v-stiralnoj-mashine' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-krutit' + '.webp' alt='Стиральная машина не крутит барабан')
            p Стиральная машина не крутит барабан
        .page-articles-link-item
          a(href=pathToPage + 'pena-iz-stiralnoj-mashiny' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-penitsa' + '.webp' alt='Пена из стиральной машины')
            p Пена из стиральной машины
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-bet-tokom' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-bjet-tokom' + '.webp' alt='Стиральная машина бьет')
            p Стиральная машина бьет
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-gudit' + '.webp' alt='Стиральная машина гудит')
            p Стиральная машина гудит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-migaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='На стиральной машине мигают все лампочки')
            p На стиральной машине мигают все лампочки
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-greet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-greet' + '.webp' alt='Стиральная машина не греет воду')
            p Стиральная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не набирает воду')
            p Стиральная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-ostanavlivaetsya-stiraet-bez-ostanovki' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не останавливается')
            p Стиральная машина не останавливается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otkryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otkrivaet' + '.webp' alt='Стиральная машина не открывает дверь')
            p Стиральная машина не открывает дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otzhimaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otgimaet' + '.webp' alt='Стиральная машина не отжимает')
            p Стиральная машина не отжимает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-poloskaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-poloskaet' + '.webp' alt='Стиральная машина не полоскает')
            p Стиральная машина не полоскает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-slivaet' + '.webp' alt='Стиральная машина не сливает')
            p Стиральная машина не сливает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-vkluchaetsa' + '.webp' alt='Стиральная машина не включается')
            p Стиральная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-zakryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-blokiruet' + '.webp' alt='Стиральная машина не блокирует дверь')
            p Стиральная машина не блокирует дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ploho-stiraet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ploho-stiraet' + '.webp' alt='Стиральная машина не отстирывает вещи')
            p Стиральная машина не отстирывает вещи
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-pokazyvaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-pokazivaet-oshibku' + '.webp' alt='Стиральная машина показывает ошибку')
            p Стиральная машина показывает ошибку
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-prygaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-prigaet' + '.webp' alt='Стиральная машина прыгает')
            p Стиральная машина прыгает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-skripit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-scripit' + '.webp' alt='Стиральная машина скрипит')
            p Стиральная машина скрипит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-srazu-slivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-srazu-slivaet' + '.webp' alt='Стиральная машина набирает и сразу сливает воду')
            p Стиральная машина набирает и сразу сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-techet-podtekaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-techet' + '.webp' alt='Стиральная машина подтекает')
            p Стиральная машина подтекает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-vibriruet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-vibriruet' + '.webp' alt='Стиральная машина сильно вибрирует')
            p Стиральная машина сильно вибрирует
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-zavisaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='Стиральная машина зависает в одном режиме')
            p Стиральная машина зависает в одном режиме
