extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Стиральная машина не набирает воду' 
  - var content = 'Причин, почему не поступает вода в стиральную машину, может быть немало. Связано это с тем, что данная техника содержит в себе множество различных функциональных узлов, которые зависят друг от друга.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности стиральных машин': domen + '/neispravnosti-stiralnyh-mashin/',
    "Стиральная машина не набирает воду": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-011.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "wash-mash/" + "sm-ne-nabiraet" + ".webp" alt= 'Стиральная машина не набирает воду' itemprop="image")

      p
        | Стиральная машина является хорошим помощником по дому, который призван выполнять рутинную работу, но случаются моменты, когда техника выходит из строя. И как становится неудобно, когда она внезапно перестает радовать своей активностью. Одной из распространенных поломок, встречающихся при эксплуатации данной техники, является ситуация, когда стиральная машина не набирает воду. Дефект достаточно сложный для самостоятельного решения, но все же можно постараться устранить проблему своими руками, потому как она может заключаться в банальных вещах.
      h2.page-title-h2 Почему не поступает вода в стиральную машину
      p
        | Причин, почему не поступает вода в стиральную машину, может быть немало. Связано это с тем, что данная техника содержит в себе множество различных функциональных узлов, которые зависят друг от друга. Выполнять какие-то действия последующий начинает только после ответного сигнала предыдущего, что отражено в программе. Все процессы описаны в технике и запускаются только по команде, естественно, формируемой по какому-то ответному сигналу.
      h3.page-title-h3 Заливной шланг
      p
        | Если вода не поступает в стиральную машину, причины могут быть связаны с разными составными компонентами. Чтобы найти конкретный фактор, необходимо хорошо знать конструкцию и принцип действия техники. Машинки бывают двух типов, которые кардинально отличаются между собой:
      ul.page-list.page-list-ul
        li с вертикальной загрузкой;
        li с горизонтальной загрузкой.
      p
        | В обоих типах содержатся одни и те же или похожие функциональные блоки. Например, присутствует контроллер, который выдает команды управления на все исполнительные устройства. Есть датчик, определяющий уровень заполнения барабана. Также имеется термодатчик, фиксирующий температуру, а на дверях расположен блок-контакт комбинированный, подающий сигнал на панель управления о закрытии дверцы.
      h3.page-title-h3 Датчик уровня воды
      p
        | Учитывая все это многообразие деталей, основных и вспомогательных узлов, можно составить список факторов, из-за которых машинка не набирает воду:
      ul.page-list.page-list-ul
        li не закрыта дверца;
        li перекрыт кран подачи воды;
        li неисправность реле включения клапана;
        li не работает клапан;
        li неисправность датчика уровня воды в барабане;
        li нет сигнала с контроллера на реле.
      h3.page-title-h3 Не закрыта дверца
      p
        | Самой частой причиной, почему машинка не набирает воду в барабан, пожалуй, является невнимательность владельца или техническая неполадка с дверцей. Чтобы началась отработка любой программы, независимо от выбранного режима, прежде необходимо закрыть дверь. Это обязательное условие, без которого программа не может быть начата. Определить это можно очень просто, взглянув на экран или индикатор на панели управления. На машинах с ЖК или семисегментными устройствами высвечивается надпись «dur».
      p
        | Со временем комбинированная контактная группа в составе с электрозамком выходит из строя. Сам механизм защелкивается, но сигнал не проходит из-за загрязнения контактов, или блокирующий рычаг не полностью входит в проем. Для решения проблемы необходимо выполнить следующие действия:
      ol.page-list.page-list-ol
        li Открыть и повторно закрыть дверцу, на этот раз прижав ее сильнее.
        li Если не помогло, и индикация ошибки не погасла, необходимо прочистить контакты.
        li
          | Потребуется снять уплотнительную манжету, которая опоясывает загрузочный люк. Для этого придется отвернуть буртик манжеты и при помощи плоской отвёртки снять кольцевую пружину.
        li Завернуть манжету вперёд, чтобы она не мешала снятию замка.
        li
          | В моделях с левосторонним раскрытием дверцы он располагается справа на внутренней стороне. Отходят от замка 2-3 контакта.
        li
          | Проверка проводится при помощи мультиметра на замыкание с учётом сопротивления катушки электромагнита. В состоянии, когда питание выключено, дверь защелкивается, но не блокируется. При наличии питания и выбранной программе после нажатия кнопки «Пуск» замок блокируется при закрытии.
        li
          | Если замок в норме, сопротивление меняется на замыкание и размыкание, то, возможно, причина в разъёме на плате управления, куда подключен провод. Нередко он оказывается окислен из-за конденсата, регулярно присутствующего в корпусе стиральной машины.
      h3.page-title-h3 Перекрыт кран подачи воды
      p
        | Если машинка не набирает воду, причины такого дефекта чаще связаны с дверями, но всё-таки за годы обслуживания техники этого типа встречаются и другие случаи. Конечно, многим покажется банальным, но ситуаций, когда пользователь самостоятельно перекрыл и напрочь забыл о том, что путь воды блокирован, очень много.
      h3.page-title-h3 Фильтр
      p
        | Дело в том, что многие граждане, являясь предусмотрительными людьми, при выходе из дома перекрывают все краны. Привычка, может, и хорошая, но не рациональная. Если вы и боитесь протечек, то достаточно закрыть только вводной кран. Трогать арматуру для питания стиральной машины не стоит лишний раз.
      h3.page-title-h3 Важно!
      p
        | Если вы пользуетесь водопроводной или водой из скважины без магистрального фильтра, хотя бы с фильтрующим элементом 200 мкм, то краны перекрывать крайне не рекомендуется. Чем меньше их вы будете трогать, тем ниже вероятность поломки, потому что в воде, особенно водопроводной, содержится огромное количество солей железа. Также в ней присутствует изобилие мелких абразивных частиц, хлорки и органики. Все это при скоплении на якобы нержавеющих деталях крана превращается в ржавчину и налет. Когда вы вращаете барашек крана, то наверняка поцарапаете полированную поверхность шарового или керамического затвора.
      p
        | Если вы волнуетесь за протечку стиральной машины, то стоит позаботиться о фильтре для умягчения воды. Так у вас будет намного меньше шансов испортить свое имущество и повредить ремонт соседям снизу. Интересным является тот момент, что наличие или отсутствие воды на входе самой стиральной машины никак не контролируется, и техника об этом не скажет.
      p
        | Если вы уверены, что кран открыт и, вообще, вода в трубах имеется, то, возможно, причина, почему не поступает вода в стиральную машину-автомат, заключается в засоре сетчатого фильтра. Он находится на входе и выглядит как вставка в пластиковой обойме с сеточкой. Фильтр улавливает ржавчину с песком и накапливает ее, что со временем может привести к закупорке. Для решения проблемы необходимо выполнить следующие действия:
      ol.page-list.page-list-ol
        li Перекрыть подачу воды в стиральную машину.
        li Руками или через полотенце открутить обжимную гайку.
        li
          | Аккуратно отвернуть шланг в ведро, так как в нем будут присутствовать остатки воды.
        li Вынуть сетчатый фильтр, он для этого имеет специальную интегрированную рукоять.
        li Прочистить с промывкой его под струёй воды и установить на место.
      h3.page-title-h3 Неисправность реле включения клапана
      p
        | Все вышесказанное проверили, но все равно не знаете, почему машина не набирает воду? Тогда временный сбой может оказаться реальной поломкой. Здесь самостоятельно выполнить что-либо будет сложно без навыков и банальных инструментов. Все же рассмотрим возможные варианты ситуаций и способы устранения дефектов.
      h3.page-title-h3 Плата управления
      p
        | Если вы загрузили белье, закрыли дверь и нажали кнопку «Пуск», но ничего дальше не происходит. На экране светится лишь отчетное время стирки? Скорее всего, машинка ждёт сигнала о том, что достигнут минимальный уровень воды. Он не приходит, значит что-то вышло из строя. И самое главное, после нажатия кнопки запуска стирки вы не услышали звука включения реле. Он может отсутствовать в моделях, где использованы электронные компоненты. Как работают они, вы не услышите.

      p
        | Предположим, причина заключается именно в реле или симисторе, то для устранения дефекта необходимо:
      ol.page-list.page-list-ol
        li
          | Добраться до платы управления. Для этого потребуется снять заднюю или верхнюю крышку. Она крепится двумя винтами спереди и двумя сзади. В одних моделях машин плата располагается ближе к двигателю сбоку справа за барабаном. В других − сверху и изолирована от внутреннего пространства перегородкой.
        li
          | Чтобы долго не гадать, какое реле или иной коммутатор отвечает за включение клапанов подачи воды (их в конструкции два: один отвечает за режим стирки, второй − за ополаскивание), проще проследить, куда идут провода и дорожки на плате от самих клапанов.
        li
          | На следующем этапе потребуются паяльные работы для замены реле или симистора. Ремонту эти детали не подлежат.
      h3.page-title-h3 Неисправность клапана
      p
        | Мучает вопрос, почему машинка не набирает воду, потому что все возможное вы уже проверили? Скажем, было проверено ещё далеко не все. В конструкции любой стиральной машины-автомата имеется несколько систем, каждая из которых состоит из цепочки элементов. Они взаимодействуют между собой в определенной очередности. Линия включения подачи воды состоит из следующих компонентов:
      ol.page-list.page-list-ol
        li
          | Контроллер, который выдает команду согласно программе на включение клапана при наличии ответного сигнала о закрытии дверцы.
        li
          | Цепь полупроводниковых пассивных и активных элементов, ограничивающих и формирующих ток в управлении коммутирующих компонентов.
        li Транзисторы, подающие управляющий сигнал на реле или симистор.
        li Линии связи с разъёмами и сами клапаны.

      p
        | Чтобы найти дефект, необходимо постепенно, начиная с конца или начала, проверить наличие сигнала включения. Для этого потребуется выполнить следующие действия:
      ol.page-list.page-list-ol
        li
          | При помощи тестера проверить наличие питания на клапане. Если оно имеется, компонент необходимо заменить.
        li Если напряжения на катушке нет, то необходимо переместиться на блок управления.
        li Сначала проверяются разъем и место контактов, затем компоненты на плате.
        li
          | Нередко реле залипает или застревает. Достаточно постучать по нему, как контакты опять начинают смыкаться. Если используется электронный ключ, то с ним немного сложнее.
        li
          | При помощи мультиметра в режиме прозвонки необходимо проверить целостность их переходов. Подозрительные детали заменить.
      p
        | Поломка на плате в элементах цепи является самой сложной причиной, почему стиральная машина не набирает воду. Для устранения дефекта требуется как минимум − наличие прибора, как максимум − опыта.

      p
        | Среди причин, почему стиральная машинка не набирает воду, нередко оказывается поломка именно на плате управления. Поиск дефекта будет заключаться в проведении диагностики блока путем прохождения по всей цепи включения клапана. Происходит это следующим образом:
      ol.page-list.page-list-ol
        li Сначала визуально обнаруживаются дорожки и связанные компоненты.
        li
          | При помощи мультиметра они прозваниваются между собой, на детали, переходы. Никаких коротких замыканий и полных обрывов быть не может, но это зависит от типа проверяемого элемента.
        li
          | Бывают случаи, когда на плату управления попадает влага. Из-за нее дорожки покрываются коррозией и прогнивают напрочь. Очень важно после выполнения паяльных работ, особенно по восстановлению дорожек на плате, место пайки покрыть слоем лака. Он блокирует повторное образование коррозии из-за конденсата.

      p
        | Машины, в которых блок управления располагается сбоку, если смотреть сзади, то слева, такая вероятность выше всего. Влаге проще проникнуть вместе с пылью на электронный блок и в разъемы, став причиной пробоя или иных неприятных дефектов.
      h3.page-title-h3 Стоит ли ремонт выполнять своими руками
      p
        | Если стиральная машина не набирает воду, то ее можно, по крайней мере, попробовать отремонтировать своим руками. Тем более, достаточно много ситуаций, когда это под силу и не требуется вскрывать корпус. Если же вы все переделали, но стиральная машина не набирает воду все равно, то стоит предоставить дело мастерам из нашего сервисного центра. Они быстро найдут поломку и устранят дефект, потому что за их плечами многолетний опыт и профессионализм.
      p
        | К тому же под рукой в наличии имеются практически все запасные детали и ремонтные комплекты. Вам же в единичном случае все придется покупать отдельно и явно дороже, так же вы не сможете предоставить себе гарантию, полагаясь лишь на правильность своих действий. Если вы решите произвести ремонт самостоятельно, то обязательно свяжитесь с нами. Наш мастер даст несколько квалифицированных советов.
      p Что касается платы управления, то максимум, что можно сделать, не имея
        | образования электронщика и специальной паяльной станции для микросхем, − это
        | снять устройство и тщательно осмотреть его на предмет физических повреждений и
        | загрязнений контактов, а также вздутых конденсаторов.
      p
        | Если при наличии достаточного опыта и сноровки конденсаторы можно попытаться перепаять самостоятельно, то заменить сгоревшую микросхему смогут только в сервисном центре. Однако в большинстве случаев такой ремонт будет сопоставим по стоимости с заказом новой платы управления.
      h3.page-title-h3 СОВЕТ!
      p
        | Электронный модуль и программатор − довольно дорогие детали. Поэтому если вы не уверены в их неисправности, то рекомендуется отдать на диагностику в сервисный центр.

      p Командоаппарат используется на моделях стиральных машин с ручками
        | управления. Для его диагностики и ремонта (скорее профилактики) выполняют
        | следующие действия:
      ul.page-list.page-list-ul
        li
          | Снимают переднюю панель управления и крышку стиральной машины для получения доступа к устройству.
        li Отсоединяют командоаппарат, предварительно сфотографировав расположение проводов подключения.
        li
          | Осуществляют полную разборку устройства. Нажав на пластиковые фиксаторы по бокам корпуса, можно снять крышку и отсоединить плату.
        li Плату тщательно осмотреть и при обнаружении подгоревших дорожек пропаять их.
        li Очистить все контакты и измерить их сопротивление мультиметром.
        li Отсоединить центральную шестерню от сердечника.
        li
          | Гнездо тщательно очистить от пыли, обработать шестерни спиртом и собрать в обратном порядке.
      h3.page-title-h3
        | ВАЖНО! 
      p У большинства современных моделей стиральных машин, если аналоговое управление сочетается с большим количеством функций, программатор имеет слишком сложную конструкцию и не подлежит ремонту.
      h3.page-title-h3 Подводя итоги
      p
        | Прежде чем покупать новую стиральную машинку или вызывать мастера, воспользуйтесь несложными правилами диагностики оборудования из этой статьи. Вполне возможно, произошёл отказ незначительных деталей, ремонт которых можно произвести самостоятельно, значительно сэкономив семейный бюджет. Если информация, изложенная в статье, вам пригодилась, напишите об этом в обсуждении. Также мы будем благодарны, если вы расскажите о своих способах диагностики и ремонта стиральных машин.
      h2.page-title-h2 Причины неисправности и способы их устранения
    .page-text
      h2.page-title-h2 Основные причины неисправности и стоимость их устранения
      .table-container_scroll  
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Неисправность устройства блокировки двери
              td
                p Замена устройства блокировки люка (УБЛ)
              td
                p от 1200 р.
            tr
              td
                p Неисправность наливного клапана
              td
                p Замена электро-наливного клапана
              td
                p от 800 р.
            tr
              td
                p Неисправность модуля управления
              td
                p Ремонт модуля управления
              td
                p от 1500 р.
            tr
              td
                p Неисправность прессостата
              td
                p Замена прессостата
              td
                p от 1200 р.
            tr
              td
                p Неисправность замка люка
              td
                p Ремонт механизма замка люка
              td
                p от 600 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей стиральной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем стиральные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности стиральных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-stiralnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'ne-krutitsya-baraban-v-stiralnoj-mashine' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-krutit' + '.webp' alt='Стиральная машина не крутит барабан')
            p Стиральная машина не крутит барабан
        .page-articles-link-item
          a(href=pathToPage + 'pena-iz-stiralnoj-mashiny' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-penitsa' + '.webp' alt='Пена из стиральной машины')
            p Пена из стиральной машины
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-bet-tokom' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-bjet-tokom' + '.webp' alt='Стиральная машина бьет')
            p Стиральная машина бьет
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-gudit' + '.webp' alt='Стиральная машина гудит')
            p Стиральная машина гудит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-migaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='На стиральной машине мигают все лампочки')
            p На стиральной машине мигают все лампочки
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-greet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-greet' + '.webp' alt='Стиральная машина не греет воду')
            p Стиральная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не набирает воду')
            p Стиральная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-ostanavlivaetsya-stiraet-bez-ostanovki' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не останавливается')
            p Стиральная машина не останавливается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otkryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otkrivaet' + '.webp' alt='Стиральная машина не открывает дверь')
            p Стиральная машина не открывает дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otzhimaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otgimaet' + '.webp' alt='Стиральная машина не отжимает')
            p Стиральная машина не отжимает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-poloskaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-poloskaet' + '.webp' alt='Стиральная машина не полоскает')
            p Стиральная машина не полоскает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-slivaet' + '.webp' alt='Стиральная машина не сливает')
            p Стиральная машина не сливает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-vkluchaetsa' + '.webp' alt='Стиральная машина не включается')
            p Стиральная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-zakryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-blokiruet' + '.webp' alt='Стиральная машина не блокирует дверь')
            p Стиральная машина не блокирует дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ploho-stiraet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ploho-stiraet' + '.webp' alt='Стиральная машина не отстирывает вещи')
            p Стиральная машина не отстирывает вещи
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-pokazyvaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-pokazivaet-oshibku' + '.webp' alt='Стиральная машина показывает ошибку')
            p Стиральная машина показывает ошибку
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-prygaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-prigaet' + '.webp' alt='Стиральная машина прыгает')
            p Стиральная машина прыгает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-skripit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-scripit' + '.webp' alt='Стиральная машина скрипит')
            p Стиральная машина скрипит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-srazu-slivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-srazu-slivaet' + '.webp' alt='Стиральная машина набирает и сразу сливает воду')
            p Стиральная машина набирает и сразу сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-techet-podtekaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-techet' + '.webp' alt='Стиральная машина подтекает')
            p Стиральная машина подтекает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-vibriruet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-vibriruet' + '.webp' alt='Стиральная машина сильно вибрирует')
            p Стиральная машина сильно вибрирует
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-zavisaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='Стиральная машина зависает в одном режиме')
            p Стиральная машина зависает в одном режиме
