extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Прыгает стиральная машина и сильно вибрирует при отжиме' 
  - var content = 'Чтобы выяснить, почему прыгает стиральная машина при отжиме, стоит разобраться в ее конструктивных особенностях. Возникающая после запуска прибора вибрация – нормальное явление.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности стиральных машин': domen + '/neispravnosti-stiralnyh-mashin/',
    "Стиральная машина прыгает": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-014.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "wash-mash/" + "sm-prigaet" + ".webp" alt= 'Стиральная машина прыгает' itemprop="image")

      p
        | Ситуации, когда стиральная машина прыгает из-за сильной вибрации во время стирки и в особенности при отжиме, нередки. Они случаются с техникой, выпущенной различными производителями. Причин, почему при отжиме стиральная машина сильно прыгает, несколько. Многие из них можно попробовать устранить собственными силами, но для начала необходимо разобраться, какие факторы вызывают сбои в работе прибора. Расскажем о них подробнее и рассмотрим на конкретных примерах, какими способами можно исправить неполадки.
      h2.page-title-h2 Основные причины, почему прыгает стиральная машина
      p
        | Если владелец машинки обнаруживает, что техника при выполнении операции отжима сильно вибрирует, прыгает на поверхности пола, это может свидетельствовать о серьезных неисправностях, привести к повреждению интерьера помещения, где установлена машинка, порче стоящей рядом с ней мебели. Техника, которая размещена на возвышении, пьедестале выше поверхности пола, рискует упасть и перевернуться, повредиться. Поэтому если стиральная машина при отжиме сильно прыгает, лучше без промедлений приступить к осмотру прибора и ремонту.
      h2.page-title-h2 Знакомимся с конструкцией машины
      p
        | Чтобы выяснить, почему прыгает стиральная машина при отжиме, стоит разобраться в ее конструктивных особенностях. Возникающая после запуска прибора вибрация – нормальное явление. Во время цикла стирки для него создаются необходимые условия. Их несколько:
      ul.page-list.page-list-ul
        li барабан для белья крепится внутри корпуса на пружинах;
        li
          | загрузка машинки нередко превышает максимальные параметры, предусмотренные производителем;
        li балласт рассчитан на определенный уровень нагрузки.
      p
        | Чтобы лучше разобраться, каковы причины сильной вибрации и почему стиральная машина сильно прыгает, познакомимся с внутренним устройством и принципами работы:
      ul.page-list.page-list-ul
        li
          | Внутри машинки располагается подвешенный на пружинах кожух. Вместе демпферами они выполняют функцию амортизаторов.
        li
          | Барабан крепится на единственной оси, с помощью пары подшипников, которые впрессованы в кожух.
        li
          | Вращение передается барабану с помощью шкива и надетого ремня. Первый изготавливают из дюрали, так что он легко сгибается и надламывается.
        li
          | Внутри корпуса находится балласт. Это подвешенные к кожуху глыбы из бетона. Их назначение – компенсация отклонений и создание противодействующей силы, противоположной той, которая раскачивает барабан.
      h2.page-title-h2 Вероятные причины сильной вибрации
      p
        | Познакомившись с конструктивными особенностями стиральных машин, можно определить круг причин, вызывающих значительные вибрации. К основным и наиболее распространенным относятся следующие:
      ul.page-list.page-list-ul
        li
          | Перегрузка барабана. В инструкциях по эксплуатации стиральных машин производитель обязательно указывает максимально допустимый вес сухого белья, который можно одновременно заложить в барабан для стирки, и предупреждает, что превышать этот параметр нежелательно. Если после запуска цикла стирки прыгает стиральная машина, причина нередко кроется в перегрузке. Барабан начинает раскачиваться настолько сильно, что балласт не помогает. Важно четко контролировать вес белья, который загружается в машинку. Это позволяет продлить срок ее службы, тогда как несоблюдение правил эксплуатации приводит к поломкам и преждевременному выходу техники из строя.
        li
          | Неправильная установка. Во время отжима белья скорость вращения тяжелого барабана может достигать 1200 об/мин и более. Если прибор стоит на неровной поверхности, барабан смещается на одну сторону. При воздействии центробежный силы он должен занять такое положение, чтобы оказаться посередине, но из-за различного натяжения пружин не может этого сделать. Неизбежно возникает серьезная вибрация и прибор начинает подпрыгивать. Чтобы не допустить раскачивания, при установке стиральной машины важно точно выровнять ее относительно горизонта.
        li
          | Неисправность деталей. Когда стиральная машина прыгает при отжиме, причины могут заключаться в износе или поломке какой-либо детали. В результате барабан может сместиться из-за изменения центра тяжести, траектория его колебаний окажется искривлена. Появится сильная вибрация.
      h2.page-title-h2 Находим и устраняем неисправности
      p
        | Рассмотрим возможные поломки деталей подробнее и узнаем, если стиральная машина прыгает при отжиме, что делать и возможно ли произвести ремонт самостоятельно. Часто устранить вибрацию удается легко, не прибегая к демонтажу корпуса прибора. Если же машинку необходимо разбирать и проверять работу отдельных узлов и элементов, лучше обратиться в сервисный центр. Остановимся на тех ситуациях, когда ремонт под силу выполнить владельцу техники своими руками.
      h3.page-title-h3 Неправильная установка
      p
        | Проблемы в работе стиральных машин, когда они находятся на неровной поверхности, устанавливаются без учета линии горизонта, возникают часто. Устройства, оснащенные подвесами и производящие колебательные движения, должны быть выставлены точно. В случае со стиральными машинками при неправильном размещении центр тяжести барабана может смещаться. Когда он вращается на значительной скорости, происходят биения, корпус машинки подпрыгивает, сдвигается с места.
      p
        | Для правильной установки рекомендуется пользоваться уровнем. Мастера советуют брать измерительное устройство длиной более 60 см, чтобы оно ложилось на ребра по боковым сторонам корпуса. Выставлять стиральную машину надо в продольной и поперечной плоскостях, используя прорезиненные ножки. Благодаря им вибрация частично погашается. Ножки можно регулировать, закручивая или выкручивая на каждом углу машинки.
      p
        | При выставлении прибора полезно проверить, насколько ровная поверхность пола в помещении. Несмотря на то, что регулировкой ножек можно компенсировать значительные отклонения от горизонтального уровня, лучше, чтобы пол тоже был ровным. К тому же при появлении сильной вибрации ножки закручиваются, так что корпус начинает раскачиваться сильнее. Для уменьшения амплитуды прыжков под них можно положить тонкие резиновые пластинки.
      h3.page-title-h3 Износ подшипников
      p
        | Если при отжиме прыгает стиральная машина, в первую очередь следует проверить, не выработали ли свой ресурс подшипники. Со временем эти детали изнашиваются, так как во время работы стиральной машинки они испытывают воздействие силы, которая стремится отклонить ось. Чем ниже качество подшипников, тем быстрее наступает момент, когда приходится делать замену.
      p
        | Назначение данных деталей – обеспечение легкого проворачивания барабана. Выработка возникает на обоймах подшипников снаружи и изнутри, а также на шариках. Определить ее степень можно по заметным потертостях, небольшим выбоинам. Профессионалы отмечают, что реагировать на возникшую с подшипниками проблему надо как можно быстрее, так как вместе с вибрацией часто образуется течь в барабане, так что приходится заменять сразу несколько деталей.
      p
        | Поменять подшипники своими руками у владельца стиральной машины вряд ли получится. Эта работа требует специальных приспособлений. Только с их помощью можно выбить подшипники. Единственное, что можно сделать самостоятельно – это определить выработку деталей. Для этого достаточно подвигать барабан вперед и назад и проверить, чтобы не было биения.
      h3.page-title-h3 Выход из строя пружин
      p
        | Различные модели техники оснащены одной или двумя парами пружин. Их изготавливают из прочной стали. Прутки в диаметре бывают равны 3 мм и более. Креплением пружин выступают специальные проушины. Детали держат барабан, обеспечивая его движение и одновременно предотвращая раскачивание корпуса.
      p
        | Если при изготовлении пружин производитель применяет низкокачественное сырье или нарушает технологию закалки, детали быстро изнашиваются. Они деформируются, разгибаются, удлиняются. В результате может произойти смещение барабана, из-за неравномерно действующих сил он начинает раскачиваться.
      p
        | Проверить пружины в стиральной машине можно в мастерской. Специалисты выставляют прибор по уровню, после чего определяют центр тяжести барабана. Если обнаруживается его смещение, значит, какая-либо из пружин деформирована. А если машинка при стирке сильно вибрирует, следует проверить, не треснула ли пружина. Мастера советуют менять эти детали попарно, а перед установкой оценивать качество каждой пружины.
      h3.page-title-h3 Повреждение демпферов
      p
        | Демпферы в стиральной машине служат амортизаторами. За счет усилия, которое действует на шток, они ограничивают свободное движение барабана в направлении вверх и вниз. Уплотнитель постепенно истончается, так что ход становится более свободным и появляется болтанка по одной стороне. При раскачивании барабана траектория его движения из-за перекоса оказывается нарушенной. В результате возникают сильные толчки. Самостоятельно поменять неисправные демпферы в бюджетных моделях стиральных машинах не получится. Детали крепятся к кожуху с помощью прочных заклепок из стали. Для замены их необходимо высверливать. В ходе ремонта мастера обычно ставят детали на обычные винты.
      h3.page-title-h3 Неисправность шкива
      p
        | Когда стиральная машина сильно прыгает во время работы, перед обращением в сервисный центр можно проверить расположение барабана по центру, убедиться в отсутствии его биений и в отсутствии деформации пружин. Если все детали оказываются исправными, можно заподозрить выход из строя шкива. Он изготавливается из дюраля в форме обода с надетым ремнем. Несмотря на прочность материала, шкив подвергается повреждениям. Он может быть погнут или даже надломлен. Чтобы заменить шкив, следует обратиться в мастерскую.
      h3.page-title-h3 Поврежденные крепления демпфера или пружин
      p
        | Иногда значительные вибрации наблюдаются при повреждении проушин, соединяющих пружины с корпусом и с барабаном. Такие поломки встречаются редко. Но устранить их собственными силами не удается. То же касается обращения в мастерскую. Произвести ремонт в таких случаях не могут даже специалисты, так как исправить крепления практически невозможно. Владельцам приходится приобретать новую машинку. Неисправный прибор годится для продажи на запчасти.
      h2.page-title-h2 Стоит ли выполнять ремонт своими руками
      p
        | На первый взгляд конструкция машины кажется достаточно простой. Нередко владельцы ошибочно считают, что могут справиться с устранением любых поломок своими силами. В действительности диагностика и ремонт требуют знаний, учета нюансов. Например, если прибор при стирке прыгает, требуется проверить исправность нескольких деталей прежде, чем приступать к ремонтным работам. Чтобы избежать ошибок в диагностике и быть уверенным в результате, лучше сразу обращаться к специалистам. Они проводят тесты и быстро выявляют причину повреждений.
      p
        | Кроме того, мастера с готовностью дают консультации. Например, они могут объяснить, как правильно и своевременно выявлять износ подшипников, пошатывая барабан в направлении вперед и назад и проверяя его на появление стука. Если детали выработали свой ресурс, при вращении барабан движется из стороны в сторону.
      p
        | Так же просто можно определить износ пружин, демпферов. Для этого следует нажать на барабан в его центре, после чего резко отпустить руку. Если барабан начинает равномерно двигаться вверх и вниз, затем постепенно останавливается, то амортизация и состояние пружин и демпферов не вызывают нареканий. Если же он смещается в сторону, детали нуждаются в замене.
      p
        | При сильной вибрации важно вовремя определить причины, так как прыжки, биение повреждают патрубки или манжеты. Нередко образуются течи. В связи с этим опытные мастера советуют приобретать стиральные машинки с прямым приводом. В их конструкции отсутствуют шкив и ремень, они оснащены более толстым валом. За счет этого риск появления вибраций существенно снижается, владелец с меньшей долей вероятности столкнется с необходимостью устранять подобные проблемы. Лицензия на выпуск машин с прямым приводом есть у южнокорейской компании LG Electronics Inc.
    .page-text
      h2.page-title-h2 Основные причины неисправности и стоимость их устранения
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Неправильная установка
              td
                p Установка стиральной машины
              td
                p от 400 р.
            tr
              td
                p Износ амортизаторов
              td
                p Замена амортизаторов
              td
                p от 1500 р.
            tr
              td
                p Поломка противовеса
              td
                p Замена противовеса
              td
                p от 800 р.
            tr
              td
                p Износ подшипников
              td
                p Замена подшипников
              td
                p от 2100 р.

    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей стиральной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем стиральные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности стиральных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-stiralnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'ne-krutitsya-baraban-v-stiralnoj-mashine' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-krutit' + '.webp' alt='Стиральная машина не крутит барабан')
            p Стиральная машина не крутит барабан
        .page-articles-link-item
          a(href=pathToPage + 'pena-iz-stiralnoj-mashiny' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-penitsa' + '.webp' alt='Пена из стиральной машины')
            p Пена из стиральной машины
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-bet-tokom' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-bjet-tokom' + '.webp' alt='Стиральная машина бьет')
            p Стиральная машина бьет
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-gudit' + '.webp' alt='Стиральная машина гудит')
            p Стиральная машина гудит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-migaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='На стиральной машине мигают все лампочки')
            p На стиральной машине мигают все лампочки
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-greet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-greet' + '.webp' alt='Стиральная машина не греет воду')
            p Стиральная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не набирает воду')
            p Стиральная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-ostanavlivaetsya-stiraet-bez-ostanovki' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не останавливается')
            p Стиральная машина не останавливается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otkryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otkrivaet' + '.webp' alt='Стиральная машина не открывает дверь')
            p Стиральная машина не открывает дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otzhimaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otgimaet' + '.webp' alt='Стиральная машина не отжимает')
            p Стиральная машина не отжимает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-poloskaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-poloskaet' + '.webp' alt='Стиральная машина не полоскает')
            p Стиральная машина не полоскает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-slivaet' + '.webp' alt='Стиральная машина не сливает')
            p Стиральная машина не сливает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-vkluchaetsa' + '.webp' alt='Стиральная машина не включается')
            p Стиральная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-zakryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-blokiruet' + '.webp' alt='Стиральная машина не блокирует дверь')
            p Стиральная машина не блокирует дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ploho-stiraet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ploho-stiraet' + '.webp' alt='Стиральная машина не отстирывает вещи')
            p Стиральная машина не отстирывает вещи
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-pokazyvaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-pokazivaet-oshibku' + '.webp' alt='Стиральная машина показывает ошибку')
            p Стиральная машина показывает ошибку
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-prygaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-prigaet' + '.webp' alt='Стиральная машина прыгает')
            p Стиральная машина прыгает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-skripit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-scripit' + '.webp' alt='Стиральная машина скрипит')
            p Стиральная машина скрипит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-srazu-slivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-srazu-slivaet' + '.webp' alt='Стиральная машина набирает и сразу сливает воду')
            p Стиральная машина набирает и сразу сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-techet-podtekaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-techet' + '.webp' alt='Стиральная машина подтекает')
            p Стиральная машина подтекает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-vibriruet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-vibriruet' + '.webp' alt='Стиральная машина сильно вибрирует')
            p Стиральная машина сильно вибрирует
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-zavisaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='Стиральная машина зависает в одном режиме')
            p Стиральная машина зависает в одном режиме
