extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Стиральная машина не отжимает: что делать?' 
  - var content = 'Чаще всего отжим работает неправильно или не включается совсем из-за проблем со сливом воды, программного сбоя, износа или засора щеток. Поможем разобраться в проблеме в нашей статье.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности стиральных машин': domen + '/neispravnosti-stiralnyh-mashin/',
    "Стиральная машина не отжимает": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-013.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "wash-mash/" + "sm-ne-otgimaet" + ".webp" alt= 'Стиральная машина не отжимает' itemprop="image")

      p
        | Владельцы стиральных машин разным марок часто сталкиваются с проблемой неработающего режима отжима белья. Причиной подобной неисправности могут быть как мелкие поломки или неправильная настройка машины, которые можно устранить самостоятельно, так и более сложные повреждения, которые может устранить только специалист. Поэтому перед тем, как везти технику в сервисный центр или ехать в магазин за новой следует подробнее разобраться в причине возникшей проблемы. Чаще всего отжим работает неправильно или не включается совсем из-за проблем со сливом воды, программного сбоя, износа или засора щеток, а также в банальной забывчивости пользователей, не включивших режим отжима или неправильно его применяющих. Ниже подробнее описаны возможные неисправности стиральной машины и разобраны способы их устранения.
      h2.page-title-h2 Проблемы с системой слива
      p
        | Если причиной того, что стиральная машина плохо отжимает белье, служит отсутствие слива жидкости из бака, то первым делом следует проверить исправность работы и устранить засоры в фильтре и шланге.
      p
        | Для проверки работоспособности сливного шланга необходимо достать его из трубы, в которую должна уходить вода и разместить его ниже уровня сливного отверстия. При этом, обязательно следует убедиться в отсутствии перегибов и скручиваний на всей его длине. Также стоит прочистить его от засоров.
      p
        | Если вода из бака все равно не поступает в шланг, то возможно, причиной неисправности служит засорившийся фильтр. Этот элемент предназначен для задержания посторонних предметов и различного мусора, оставшихся внутри и защиты от их попадания в помпу.
      p
        | В большинстве моделей современных стиральных машин крышка фильтра располагается в нижней части лицевой стороны устройства. Иногда для доступа к ней следует снять расположенную там декоративную панель. Предварительно рекомендуется установить под отверстием емкость для сбора воды или подложить тряпку для защиты пола от вытекающей жидкости. После выкручивания крышки следует достать фильтр и прочистить его вручную или промыть в раковине. При необходимости можно немного наклонить корпус устройства для полной очистки бака от жидкости.
      p
        | В конструкции некоторых моделей предусмотрен аварийный сливной шланг, подключенный напрямую к баку для загрузки белья. Для слива воды из бака при помощи этого тонкого шланга необходимо открыть специальную крышку и направить шланг в приготовленную емкость для ее сбора.
      h2.page-title-h2 Программные настройки
      p
        | Одной из самых частых причин неработающего режима отжима является неверный выбор или неправильная настройка программы стирки. Режим слива воды и запуска процесса отжима белья в баке просто может быть не включен в выбранную пользователем программу. Поэтому система, завершив запрограммированный цикл, ждет команды на запуск дальнейших действий. Для этого необходимо просто нажать соответствующие кнопки.
      p
        | Иногда случайно или специально владельцы машины отключают режим отжима. Об этом свидетельствует горящая на дисплее перечеркнутая пиктограмма в виде спирали, означающей отжим. Для возобновления работы программы в штатном режиме следует снова включить данную функцию.
      p
        | Также отжим может не включаться из-за неправильно установленного количества максимальных оборотов. Для запуска данного режима следует выбрать необходимое количество оборотов, повернув регулятор в соответствующее положение.
      h2.page-title-h2 Неисправность или засорение насоса
      p
        | Водяная помпа – один из важнейших агрегатов стиральной машины. Если по какой-то причине она перестала выкачивать жидкость из барабана, то даже после завершения отжима постиранная одежда будет оставаться мокрой. Чаще всего насос перестает выполнять свои функции из-за застрявших в нем посторонних предметов. При наличии минимальных навыков и инструмента прочистить или заменить помпу на большинстве моделей можно самостоятельно. Для этого следует выполнить следующие действия:
      ol.page-list.page-list-ol
        li Отключить устройство от электрической сети;
        li Снять шланги подачи и слива воды;
        li Положить машинку набок;
        li Отсоединить днище;
        li Выкрутить крепежные винты;
        li Снять насос, нажав рычаг, расположенный возле фильтра;
        li Отсоединить питающие провода насоса;
        li Снять крепежные хомуты и слить остатки воды из корпуса насоса;
        li Помыть или прочистить помпу;
        li Установить насос обратно.
      h2.page-title-h2 Состояние белья в барабане
      p
        | Системы управления последних моделей способны контролировать распределение белья в процессе стирки. При его перекручивании или неравномерном распределении режим отжима не будет включаться до устранения несоответствия. При этом система будет пытаться решить проблему самостоятельно или подавать соответствующий звуковой или световой сигнал.
      p
        | Решить данную проблему можно достав выстиранное белье из барабана, расправив его и поместив обратно. После этого следует вручную включить отжим.
      h2.page-title-h2 Отказ тахогенератора
      p
        | Данное устройство предназначено для контроля за количеством оборотов барабана в процессе стирки. При регулярном превышении норм загрузки барабана или нарушении контакта проводов питания тахогенератор быстро выходит из строя. Это приводит к тому, что барабан не может произвести необходимое для отжима количество оборотов и белье остается мокрым.
      p
        | При проблеме с электрическим контактом достаточно просто закрепить питающие провода и, при необходимости, заизолировать поврежденные участки. При выходе из строя самого прибора, решить проблему с отжимом поможет только его замена.
      h2.page-title-h2 Поломка электродвигателя
      p
        | В случае если силовой агрегат неисправен и не может выдать необходимой для отжима белья мощности, следует произвести его ремонт или замену. Чаще всего эта проблема касается ременных двигателей. Для самостоятельного ремонта электродвигателя необходимы достаточные познания в механике и электротехнике.
      p
        | Для начала следует провести диагностику неисправности двигателя. Для этого требуется снять заднюю стенку корпуса и ремень двигателя. Затем отсоединяют провода питания и клеммы кабелей, идущих к другим узлам и агрегатам. Только после этого откручивают винты, которыми мотор крепится к барабану. В случае если доступ к винтам затруднен из-за расположения бака относительно мотора, бак при откручивании двигателя следует приподнять. В зависимости от конструктивных особенностей машинки может потребоваться дополнительно снять и боковые стенки.
      p
        | В процессе проверки работы двигателя могут быть выявлены следующие неисправности:
      ul.page-list.page-list-ul
        li Износ щеток – проявляется образованием искр в процессе работы двигателя;
        li Повреждение обмотки – выражается появлением сильного шума в процессе стирки;
        li Отслаивание ламелей – так же образуются искры при работе силового агрегата.
      p
        | Неисправные и поврежденные элементы подлежать ремонту или замене, все крепежные элементы и клеммы необходимо подтянуть и жестко зафиксировать.
      h2.page-title-h2 Замена щеток двигателя
      p
        | Замена щеток – одна из немногих операций при ремонте неисправного электродвигателя стиральной машины, которую некоторые владельцы сломавшихся стиральных машин могут попробовать выполнить в домашних условиях. Поэтому следует описать данную процедуру подробнее.
      p
        | Основным признаком износа щеток электрического мотора являются недостаточное количество оборотов барабана, которое приводит к тому, что машина не может качественно отжимать белье. Этому способствует неспособность мотора выдать необходимый для отжима крутящий момент. Также при неисправности щеток в электродвигателе наблюдается постоянное искрение.
      p
        | Процесс замены щеток электродвигателя начинается с полного обесточивания стиральной машины и перекрытия клапанов, по которым подается вода. Затем необходимо открыть сливной патрубок и удалить всю воду из бака. Рекомендуется заранее подготовить емкость, в которую ота будет стекать. Далее нужно демонтировать фильтр очистки и удалить остатки жидкости из барабана при помощи аварийного шланга.
      p
        | Расположить машину таким образом, чтобы беспрепятственно добраться до двигателя, сняв заднюю стенку корпуса. Двигатель крепится непосредственно к барабану при помощи нескольких крепежных винтов. Приводной ремень двигателя снимается при помощи его небольшого натяжения на себя с одновременным вращением шкива против часовой стрелки.
      p
        | Затем отключают все подходящие к двигателю провода. Чтобы избежать путаницы при их обратном подключении рекомендуется перед отсоединением пометить или сфотографировать положение клемм.
      p
        | Специалисты рекомендуют перед началом демонтажа деталей повторно осмотреть двигатель в сборе. Возможно, что причиной неисправности послужил не износ щеток, а выход из строя другого элемента или недостаточно плотный контакт одного из проводов.
      p Процесс замены щеток выглядит следующим образом:
      ul.page-list.page-list-ul
        li Откручиваются и снимаются болты, на которых закреплен щеткодержатель;
        li Максимально точно подбираются по размеру и конструкции угольные стержни;
        li Достаются изношенные щетки и заменяются на новые.
      p
        | При замене щеток электродвигателя с прямым приводом нужно обращать внимание на направление заточки щетки. Перед установкой новых щеток рекомендуется протереть коллектор ватным тампоном для устранения следов загрязнения.
      h2.page-title-h2 Ремонт управляющего модуля
      p
        | Управление всеми программами стиральной машины производится при помощи устройства управления. Оно отвечает, в том числе, и за работу машинки в режиме отжима. Произвести диагностику неисправности модуля управления может только квалифицированный мастер с помощью специального оборудования. После завершения диагностики неисправности специалист может заменить вышедшие из строя элементы, восстановить дорожки и пропаять контакты на плате.
      h2.page-title-h2 Проблемы в работе подшипников и амортизаторов
      p
        | Вибрации и колебания в процессе работы компенсируются при помощи амортизаторов. Об их износе свидетельствует возникновение сильных вибраций в корпусе машины и посторонний стук при вращении барабана. В этом случае электроника не дает команды на запуск вращения барабана и блокирует переход в режим отжима.
      p
        | При нарушении герметичности сальника внутрь подшипников попадает жидкость, которая постепенно вымывает из них смазку. Детали начинают ржаветь и разрушаться при постоянном вращении. Об износе подшипников могут свидетельствовать подтеки на внешней стороне барабана, а сам барабан, при нажатии на него, раскачивается на центральном валу. Данная проблема устраняется заменой подшипников.
      h2.page-title-h2 Неправильная регулировка прессостата
      p
        | Прессостат или реле регулировки уровня жидкости отвечает за наличие или отсутствие необходимого количества воды в баке стиральной машины при работе в разных режимах. Неправильная настройка прессостата приводит к включению нагревающих устройств при отсутствии воды в баке, что постепенно приводит к выходу ТЭНов из строя. В результате белье отжимается не до конца, а в баке остается лишняя вода.
      p
        | Устранение данной неисправности производится только в специализированных сервисных центрах. Если перенастройка реле не решает проблему, то придется заменить его на новое.
      h2.page-title-h2 Неисправности ТЭНов
      p
        | Трубчатые электронагреватели, отвечающие в стиральной машине за нагрев воды до необходимой температуры, также могут выйти из строя в следующих случаях:
      ul.page-list.page-list-ul
        li Отсутствие контакта в проводах питания;
        li Образование слоя накипи на корпусе ТЭНа.
      p
        | Часто провода питания нагревательных элементов располагаются близко к корпусу. От вибраций, возникающих при вращении барабана, они перетираются или трескаются. Ремонт в этом случае заключается в замене или перепайке проводов.
      p
        | Из-за образования накипи ТЭН перестает нагревать воду до нужной температуры. Добавление при стирке специальных смягчающих у средств позволит избежать этой проблемы.
      h2.page-title-h2 Вывод
      p
        | Из описания основных поломок, приводящих к тому, что стиральная машина плохо отжимает белье можно сделать однозначный вывод: алгоритм действий в этом случае заключается в удалении воды из бака, выявления причины поломки и ее устранения. Чтобы избежать лишних расходов на дополнительный ремонт машины с неработающим режимом отжима владелец должен сразу определить уровень сложности поломки. Исходя из своих возможностей, необходимо понять, какую неисправность можно легко устранить самостоятельно, а с какой лучше сразу обратиться к компетентным специалистам.
      h2.page-title-h2 Причины неисправности и способы их устранения
    .page-text
      h2.page-title-h2 Основные причины неисправности и стоимость их устранения
      .table-container_scroll  
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Неисправность сливного насоса
              td
                p Замена сливного насоса (помпы)
              td
                p от 1200 р.
            tr
              td(rowspan='2')
                p Засор сливной системы
              td
                p Чистка сливного фильтра
              td
                p от 600 р.
            tr
              td
                p Чистка сливной системы
              td
                p от 600 р.
            tr
              td
                p Неисправность тахогенератора
              td
                p Замена таходатчика
              td
                p от 1000 р.
            tr
              td(rowspan='4')
                p Неисправность двигателя
              td
                p Замена щеток двигателя
              td
                p от 1200 р.
            tr
              td
                p Чистка двигателя
              td
                p от 600 р.
            tr
              td
                p Замена щеток двигателя
              td
                p от 1200 р.
            tr
              td
                p Замена двигателя
              td
                p от 1200 р.
            tr
              td
                p Неисправность модуля управления
              td
                p Ремонт модуля управления
              td
                p от 1500 р.
            tr
              td
                p Износ подшипников
              td
                p Замена подшипников
              td
                p от 2100 р.
            tr
              td
                p Износ амортизаторов
              td
                p Замена амортизаторов
              td
                p от 1500 р.
            tr
              td
                p Неисправность прессостата
              td
                p Замена прессостата
              td
                p от 1200 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей стиральной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем стиральные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности стиральных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-stiralnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'ne-krutitsya-baraban-v-stiralnoj-mashine' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-krutit' + '.webp' alt='Стиральная машина не крутит барабан')
            p Стиральная машина не крутит барабан
        .page-articles-link-item
          a(href=pathToPage + 'pena-iz-stiralnoj-mashiny' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-penitsa' + '.webp' alt='Пена из стиральной машины')
            p Пена из стиральной машины
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-bet-tokom' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-bjet-tokom' + '.webp' alt='Стиральная машина бьет')
            p Стиральная машина бьет
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-gudit' + '.webp' alt='Стиральная машина гудит')
            p Стиральная машина гудит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-migaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='На стиральной машине мигают все лампочки')
            p На стиральной машине мигают все лампочки
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-greet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-greet' + '.webp' alt='Стиральная машина не греет воду')
            p Стиральная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не набирает воду')
            p Стиральная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-ostanavlivaetsya-stiraet-bez-ostanovki' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не останавливается')
            p Стиральная машина не останавливается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otkryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otkrivaet' + '.webp' alt='Стиральная машина не открывает дверь')
            p Стиральная машина не открывает дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otzhimaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otgimaet' + '.webp' alt='Стиральная машина не отжимает')
            p Стиральная машина не отжимает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-poloskaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-poloskaet' + '.webp' alt='Стиральная машина не полоскает')
            p Стиральная машина не полоскает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-slivaet' + '.webp' alt='Стиральная машина не сливает')
            p Стиральная машина не сливает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-vkluchaetsa' + '.webp' alt='Стиральная машина не включается')
            p Стиральная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-zakryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-blokiruet' + '.webp' alt='Стиральная машина не блокирует дверь')
            p Стиральная машина не блокирует дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ploho-stiraet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ploho-stiraet' + '.webp' alt='Стиральная машина не отстирывает вещи')
            p Стиральная машина не отстирывает вещи
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-pokazyvaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-pokazivaet-oshibku' + '.webp' alt='Стиральная машина показывает ошибку')
            p Стиральная машина показывает ошибку
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-prygaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-prigaet' + '.webp' alt='Стиральная машина прыгает')
            p Стиральная машина прыгает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-skripit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-scripit' + '.webp' alt='Стиральная машина скрипит')
            p Стиральная машина скрипит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-srazu-slivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-srazu-slivaet' + '.webp' alt='Стиральная машина набирает и сразу сливает воду')
            p Стиральная машина набирает и сразу сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-techet-podtekaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-techet' + '.webp' alt='Стиральная машина подтекает')
            p Стиральная машина подтекает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-vibriruet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-vibriruet' + '.webp' alt='Стиральная машина сильно вибрирует')
            p Стиральная машина сильно вибрирует
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-zavisaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='Стиральная машина зависает в одном режиме')
            p Стиральная машина зависает в одном режиме
