extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Стиральная машина не открывается' 
  - var content = 'Самое главное при блокировке дверцы, никогда не прилагайте большой силы, пытаясь ее открыть. Такие действия могут привести только к одному результату. Вы просто сломаете ручку, и дверца останется закрытой.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности стиральных машин': domen + '/neispravnosti-stiralnyh-mashin/',
    "Стиральная машина не открывается": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-012.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "wash-mash/" + "sm-ne-krutit" + ".webp" alt= 'sm-ne-otkrivaet' itemprop="image")

      p
        | Любая хозяйка хоть раз сталкивалась с ситуацией, когда пытаясь открыть дверцу стиральной машины, понимала, что она почему-то не открывается. Иногда, повторив действия через некоторое время, попытка заканчивалась успехом и дверца открывалась. Но иногда даже спустя несколько часов разблокировка дверцы не срабатывала. Сегодня речь пойдет о поломках, которые могут спровоцировать блокировку дверцы. Расскажем о способах, которые помогут разблокировать дверцу и открыть ее.
      h2.page-title-h2 Что делать, если дверца не открывается
      p
        | Самое главное при блокировке дверцы, никогда не прилагайте большой силы, пытаясь ее открыть. Такие действия могут привести только к одному результату. Вы просто сломаете ручку, и дверца останется закрытой, вы не получите доступ к белью и придется отправлять машинку в сервисный центр для замены дверцы.
      p
        | Перед тем как вызывать мастера или пытаться самостоятельно выполнить ремонт, рекомендует выполнить следующие действия:
      ul.page-list.page-list-ul
        li
          | Если все режимы пройдены, стиральная машина закончила стирку, а на приборной панели горит индикатор об окончании процесса, то рекомендуем немного подождать. В зависимости от модели и производителя разблокировка дверцы может происходить через несколько минут после завершения всех процессов. В некоторых случаях время разблокировки может достигать пяти минут. В течение этого времени происходит опрос всех датчиков и после получения положительного ответа происходит разблокировка;
        li
          | Загляните в машинку и убедитесь, что в ней отсутствует вода. Большинство стиральных машин, при наличии воды, блокируют дверцу. Такие действия помогают избежать затопления.
      p
        | Присутствие воды может говорить о некоторых проблемах в оборудовании. Причин может быть несколько: засорение сливной системы, поломка насоса, неполадки в системе управления. В данном случае можно посоветовать два варианта дальнейших действий: Выбрать режим слива и запустить машинку в соответствии с выбранным режимом, или выкрутить фильтр и дать возможность вытечь воде в подготовленную емкость. Но при сливе воды через фильтр следует учитывать, что процесс будет долгим;
      ul.page-list.page-list-ul
        li
          | Иногда причиной блокировки могут перепады напряжения или кратковременное отключения электроэнергии. В этом случае может произойти сбой программы. Для восстановления процесса можем порекомендовать два способа:
        li
          | Найдите на панели кнопку «ПУСК/ПАУЗА» и удерживайте в нажатом состоянии в течение 5-10 секунд. Это позволит обнулить зависшие процессы. Но стоит учитывать, что данный вариант может подходить не ко всем машинкам;
        li
          | Отключите стиральную машину от питания. Но в данном случае необходимо учитывать, что в отключенном состоянии машинка должна провести не менее тридцати минут. Этот способ рекомендуется для машинок с гибридным управлением или если в машинке присутствует функция сохранения программы.
      p
        | Рассматривая недокументированные способы, можем посоветовать следующий способ. Можно попробовать запустить новую стирку. Перед началом стирки происходит опрос всех датчиков. Но в данном случае нас интересует только устройство блокировки люка (УБЛ). При проверке вы услышите характерные щелчки, которые включают и отключают блокировку. Необходимо попробовать поймать момент, когда происходит разблокировка и открыть дверцу.
      p
        | Если ни один из вариантов не помог справиться с проблемой, то вероятна в стиральной машине присутствует поломка. Среди возможных вариантов могут быть следующие:
      ul.page-list.page-list-ul
        li Поломка УБЛ;
        li Неполадки в электрической схеме УБЛ;
        li Поломка ручки люка;
        li Проблемы с насосом;
        li Засорение сливной системы;
        li Неполадки в управляющем модуле.
      p
        | Любая из указанных проблем может спровоцировать блокировку дверцы. В некоторых случаях причиной блокировки может быть не один, а несколько процессов. Многие проблемы, такие как замена датчиков, тестирование системы управления и другие, решить самостоятельно не получится.
      h2.page-title-h2 Использование аварийной разблокировки
      p
        | Многие модели стиральных машин снабжены специальным тросиком для аварийной разблокировки. Использую тросик можно отжать защелку, и получить доступ внутрь барабана. В большинстве случае он располагается в нижней части стиральной машины. Как правило, он бывает яркого цвета. В зависимости от производителя может быть красного или зеленого цвета.
      h2.page-title-h2 Поломка устройства блокировки люка
      p
        | Все стиральные машины снабжены устройством блокировки. Но в зависимости от модели и производителя могут использоваться различные типы. Используются два вида:
      ul.page-list.page-list-ul
        li
          | Электромагнитный вариант. Для работы системы блокировки используется соленоид. Но производители все реже используют указанную систему. Причина отказа заключается в том, что при отключении питания открыть люк не получится. Разблокировка возможна только после подачи электроэнергии;
        li
          | Термомеханический тип. Иногда он называется биметаллическим. В конструкции системы присутствуют биметаллическая пластина и термоэлементы. При необходимости блокировки плата управления подает сигнал на активацию термоэлементов. Происходит нагревание биметалла, и срабатывает защелка. После подачи сигнала на разблокировку термоэлементы перестают нагреваться, и биметалл возвращается в исходное положение. Остывание металла происходит в течение нескольких минут после получения сигнала.
      p Можно выделить несколько причин поломок УБЛ;
      img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0022.webp" alt='Устройство блокировки люка' title='Устройство блокировки люка' itemprop="image")

      ul.page-list.page-list-ul
        li
          | Поломка электромагнитного варианта. Несмотря на тот факт, что он надежнее термомеханического варианта, но и он может перестать работать. Основная причина выхода из строя системы – это подгорание контактов. При такой ситуации происходит замыкание соленоида. Причин может быть несколько. Интенсивная эксплуатация оборудования, перепады электропитания, проблемы в проводке и многие другие.
        li
          | Поломка термомеханического УБЛ. Основной причиной поломки может быть долгая эксплуатация машинки. Несмотря на то, что система рассчитана на работу в течение 5-6 лет, частое использование может внести изменения в работу системы. Постоянное использование оборудования снижает свойства биметалла и через некоторое время пластины уже не могут правильно работать.
        li
          | Может существовать внешняя причина выхода из строя термомеханического варианта. Довольно часто встречаются ситуации, когда на плате управления возникают проблемы в работе симистора, отвечающего за подачу питания на термоэлемент. В данном случае разблокировка возможна только после отключения стиральной машины от питания.
      p
        | Для извлечения УБЛ и дальнейшего тестирования необходимо выполнить следующие действия:
      ol.page-list.page-list-ol
        li
          | Отключить машину от питания. Нажатие кнопки питания на панели управления недостаточно;
        li Перекрыть подачу воды. Закройте вентиль или кран;
        li
          | При открытой дверце получаем доступ к системе УБЛ. Для получения доступа к системе потребуется разобрать машинку. Если не хотите разбирать, то получить доступ к системе можно через дно машинки. Для этого необходимо отключить шланги подачи воды и положить машинку на бок.
        li
          | Потребуется частичное снятие уплотнительной манжеты. Для этого необходимо отогнуть край, и получить доступ к крепежному хомуту. Если установлен пластиковый вариант манжеты, то крепление к корпусу осуществляется с помощью защелок. Свободный участок резиновой манжеты заправляем внутрь барабана;
        li
          | С правой стороны, рядом с системой УБЛ откручиваем болты. В большинстве случаев их бывает две штуки;
        li
          | Достаем устройство блокировки. Необходимо учитывать, что к УБЛ подходят провода, так сильно дергать устройство при извлечении не рекомендуется;
        li
          | Если подходит один провод к УБЛ, то отсоединяем его. Если присутствует несколько проводов с различными штекерами, то рекомендуем сфотографировать расположение проводов. В крайнем случае, напишите какой провод куда подходит. Это поможет не ошибиться при сборке стиральной машины;
        li Отсоединяем провода и производим замену УБЛ.
        li Выполняем в обратном порядке ранее выполненные действия.
      h2.page-title-h2 Неполадки в электрической системе УБЛ
      p
        | Если с самим замком все в порядке, то проблема разблокировки может быть в электрической системе. Для проверки работоспособности необходимо проверить элемент, отвечающий за нагрев термоэлемента. Потребуются навыки проверки электросети, и умение пользоваться мультиметром. В большинстве случаев производители не прилагают схемы УБЛ. Но многие УБЛ похожи между собой, и можно использовать схожие схемы.
      h3.page-title-h3 Проверка схемы УБЛ
      p Проверка осуществляется по следующему алгоритму:
      ol.page-list.page-list-ol
        li Устанавливаем прибор на режим проверки сопротивления;
        li Прикладываем щупы к нулю и фазе;
        li Если величина больше ста, то термоэлемент рабочий;
        li Проверьте нейтральный и общий контакты;
        li
          | Если величина будет соответствовать нулю или единице (в зависимости от расположения щупов), то устройство нерабочее.
      p
        | Если показатели соответствуют необходимым нормам, то проблема блокировки дверцы может быть в работе платы управления.
      h2.page-title-h2 Поломка ручки люка
      p
        | Если уж сложилась такая ситуация, что приложили слишком много усилий и сломали ручку, то в данном случае возможен только один выход из сложившейся ситуации. Потребует установка новой ручки. С одной стороны работу можно выполнить самостоятельно. Но с другой стороны, если вы не отличаетесь терпением и аккуратностью, то лучше поручить работу специалисту.
      p
        | Приобрести новую ручку можно в магазине или сервисном центре. Для покупки необходимо учитывать марку и модель машинки. На всякий случай поинтересуйтесь стоимостью работы по установке новой ручки. Возможно, стоимость устроит, и не потребуется тратить время на установку.
      p
        | Если все-таки решили самостоятельно установить ручку, то предлагаем пошаговую инструкцию:
      ol.page-list.page-list-ol
        li Откройте дверцу и открутите два болта, которые расположены на петле;
        li Постелите на пол ткань и положите снятую дверцу на нее стеклом вверх;
        li
          | Открутите расположенные по периметру саморезы, которые скрепляют внутреннюю и внешнюю части дверцы;
        li При помощи плоской отвертки отожмите защелки;
        li Стекло и внешнюю часть отложите в сторону;
        li
          | Чтобы не ошибиться в обратной сборке рекомендуем сфотографировать внутреннюю часть;
        li
          | Крепление запорного механизма осуществляется штифтом. Можно воспользоваться тонкой отверткой или использовать подходящий по диаметру гвоздь. Протолкните немного штифт, используя пассатижи, извлеките его.
        li Установите новую ручку и соберите все обратно.
      h2.page-title-h2 Заключение
      p
        | Как видите, некоторые варианты, как справиться с проблемой заблокированной дверцы, довольно просты. Например, заменить сломанную ручку сможет любой мужчина. Но тут существует немного другая проблема. Быстро выяснить причину блокировки без соответствующего опыта и знаний бывает трудно. Особенно если нет внешних признаков, указывающих на причину проблемы.
      p
        | Не будем отрицать, что при попытках самостоятельного ремонта может сложиться ситуация, что вы потратите деньги на запасные части, но выполненные действия и замена узлов и деталей не принесут должного результата. Если вы никогда не сталкивались с ремонтом оборудования, может и не стоит этого начинать.
      p
        | Тут существует два варианта возможных действий. Отключение машины и доставка в сервисный центр или вызов мастера на дом. Но при выборе стоит учитывать, что предпочтительнее обращаться в сервисный центр. Во-первых, в специализированном сервисном центре работают специалисты, и всегда присутствуют запасные части к машинкам. Во-вторых, сервисный центр даст гарантию на выполненные работы.
      p
        | В отношении приходящих мастеров, то тут вопрос сложный. Не будем говорить, что они не справятся с поставленной задачей. Довольно часто среди них присутствуют настоящие мастера своего дела. Но и не будем отрицать, что некоторые из них могут выполнять работу не совсем качественно. Ну и конечно не стоит забывать, что частному мастеру может потребоваться время на поиск и покупку необходимой детали или узла.
      h2.page-title-h2
        | Причины поломки и возможные варианты их устранения при обращении в компанию РемБытТехника.
    .page-text
      h2.page-title-h2 Основные причины неисправности и стоимость их устранения
      .table-container_scroll   
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Поломка замка люка
              td
                p Ремонт механизма замка люка
              td
                p от 600 р.
            tr
              td
                p Неисправность устройства блокировки люка
              td
                p Замена устройства блокировки люка (УБЛ)
              td
                p от 1200 р.
            tr
              td
                p Неисправность электронного модуля
              td
                p Ремонт модуля управления
              td
                p от 1500 р.
            tr
              td
                p Неисправность сливной помпы
              td
                p Замена сливного насоса (помпы)
              td
                p от 1200 р.
            tr
              td
                p Засор сливной системы
              td
                p Чистка сливной системы
              td
                p от 600 р.
            tr
              td
                p Неисправность прессостата
              td
                p Замена прессостата
              td
                p от 1200 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей стиральной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем стиральные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности стиральных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-stiralnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'ne-krutitsya-baraban-v-stiralnoj-mashine' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-krutit' + '.webp' alt='Стиральная машина не крутит барабан')
            p Стиральная машина не крутит барабан
        .page-articles-link-item
          a(href=pathToPage + 'pena-iz-stiralnoj-mashiny' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-penitsa' + '.webp' alt='Пена из стиральной машины')
            p Пена из стиральной машины
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-bet-tokom' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-bjet-tokom' + '.webp' alt='Стиральная машина бьет')
            p Стиральная машина бьет
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-gudit' + '.webp' alt='Стиральная машина гудит')
            p Стиральная машина гудит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-migaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='На стиральной машине мигают все лампочки')
            p На стиральной машине мигают все лампочки
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-greet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-greet' + '.webp' alt='Стиральная машина не греет воду')
            p Стиральная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не набирает воду')
            p Стиральная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-ostanavlivaetsya-stiraet-bez-ostanovki' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не останавливается')
            p Стиральная машина не останавливается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otkryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otkrivaet' + '.webp' alt='Стиральная машина не открывает дверь')
            p Стиральная машина не открывает дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otzhimaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otgimaet' + '.webp' alt='Стиральная машина не отжимает')
            p Стиральная машина не отжимает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-poloskaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-poloskaet' + '.webp' alt='Стиральная машина не полоскает')
            p Стиральная машина не полоскает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-slivaet' + '.webp' alt='Стиральная машина не сливает')
            p Стиральная машина не сливает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-vkluchaetsa' + '.webp' alt='Стиральная машина не включается')
            p Стиральная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-zakryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-blokiruet' + '.webp' alt='Стиральная машина не блокирует дверь')
            p Стиральная машина не блокирует дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ploho-stiraet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ploho-stiraet' + '.webp' alt='Стиральная машина не отстирывает вещи')
            p Стиральная машина не отстирывает вещи
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-pokazyvaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-pokazivaet-oshibku' + '.webp' alt='Стиральная машина показывает ошибку')
            p Стиральная машина показывает ошибку
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-prygaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-prigaet' + '.webp' alt='Стиральная машина прыгает')
            p Стиральная машина прыгает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-skripit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-scripit' + '.webp' alt='Стиральная машина скрипит')
            p Стиральная машина скрипит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-srazu-slivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-srazu-slivaet' + '.webp' alt='Стиральная машина набирает и сразу сливает воду')
            p Стиральная машина набирает и сразу сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-techet-podtekaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-techet' + '.webp' alt='Стиральная машина подтекает')
            p Стиральная машина подтекает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-vibriruet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-vibriruet' + '.webp' alt='Стиральная машина сильно вибрирует')
            p Стиральная машина сильно вибрирует
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-zavisaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='Стиральная машина зависает в одном режиме')
            p Стиральная машина зависает в одном режиме
