extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Стиральная машина не включается' 
  - var content = 'Если вы столкнулись с ситуацией, когда не включается стиральная машина, проблемы обусловлены электротехнической частью, работой программно-аппаратного модуля или устройствами блокировки. Отдельный случай, когда не работает сетевой фильтр.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности стиральных машин': domen + '/neispravnosti-stiralnyh-mashin/',
    "Стиральная машина не включается": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-010.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "wash-mash/" + "sm-ne-vkluchaetsa" + ".webp" alt= 'Стиральная машина не включается' itemprop="image")

      p
        | Сложная бытовая техника имеет срок годности. Как правило, производитель указывает его в эксплуатационной документации (инструкция, гарантийный талон, паспорт изделия). Разные производители и модели имеют различный срок эксплуатации. В среднем от 5 до 15 лет. Связано это не только с тем, что качественные материалы служат дольше, соответственно, более дорогие и современные стиральные машины имеют больший срок службы, но и с техническим уровнем и совершенством. Чтобы стимулировать прогресс, производители ставят небольшие сроки на устаревающих моделях и конструкциях, экономя не только на материалах, но и стимулируя потребительский спрос.
      p
        | На практике даже такие небольшие сроки не обходятся без неисправностей и поломок. Низкое качество воды, скачки напряжения, неправильное подключение – эти факторы снижают время эксплуатации бытовой техники. Особенно капризны в эксплуатации как раз дорогие и высокотехнологичные модели. Если диагностировать неисправности механического блока можно по стуку, вибрациям, то узнать, 
        | почему не включается стиральная машина, 
        | когда команды задаются при помощи программного управления, а индикаторы не горят сложнее.
      p
        | Если вы столкнулись с ситуацией, когда 
        | не включается стиральная машина, 
        | проблемы обусловлены электротехнической частью, работой программно-аппаратного модуля или устройствами блокировки. Отдельный случай, когда не работает сетевой фильтр.
      h2.page-title-h2 Отсутствует электричество
      p
        | Все готово для стирки, нажимаем на кнопку или вставляем вилку в розетку, но ничего не происходит. Казалось бы дело простое. Включил выключатель, если свет в сети есть, то загорится лампочка. Но с автоматикой в новых квартирах возникают сложности. Они оснащены защитными устройствами, отключающими подачу электроэнергии при утечках тока. Как правило, из под УЗО заводится вся проводка в квартире. И если причиной утечки стала сама машина-автомат, то электричества не будет, так как сработал автомат. В старых советских многоквартирных домах этой проблемы нет. Проводка заводится из-под счетчика, а роль УЗО выполняют пробки. Получается 
        | стиральная машина не включается что делать 
        | при этом, неизвестно.
      p
        | Главное, что требует техника безопасности – нужно отключить стиральную машину от сети. Далее на распределительном щите находим УЗО-автомат. Если утечка была, то нормально установленный рычаг занимает положение вниз – выключено. Если нормально установленный рычаг занимает положение вверх, а бытовая техника не включается, проблема в стиральной машине.
      p
        | Если мы убедились, что утечка тока была, то возобновляем подачу электроэнергии переводом рычага в верхнее положение. Далее включением любого выключателя проверяем наличие электроэнергии в квартире. Если все нормально, проверяем розетку. Можно использовать любой осветительный прибор, например, торшер. Если при включении в розетку не горит и он, значит, неисправна розетка. При нормальной работе торшера, не работает стиральная машина.
      p
        | Ремонт электротехнической части и ее диагностика должны проводиться с соблюдением техники безопасности. Электротехническая часть требует профессиональных знаний и навыков. Лучше не рисковать и доверить работы сервисной службе.
      h2.page-title-h2 Сгоревшая розетка
      p
        | Если 
        | стиральная машина не включается по причине
        |  сгоревшей розетки, кроме работ по восстановлению ее работоспособности придется заменить провод. Подключается он при помощи клемм на задней стороне стиральной машины. Для этого потребуется, открутив болты, снять заднюю крышку. Если знаний электротехники не много, то лучше сфотографировать расположение и место подключения проводов. Это понадобится при установке нового провода. На замену лучше приобретать изделия с монолитным штекером.
      h2.page-title-h2 Сломан шнур
      p
        | Замена шнура способна решить проблему работы даже в случае неверного определения причины поломки. Иногда провод истирается, испытывает физические нагрузки и механическое воздействие, испытывает деформации кручения, изгиба. Наличие вредителей, которые портят мебель и имущество, возможная причина выхода из строя любой электропроводки. В этом случае шнур также придется заменить. Ни в коем случае не стоит использовать изоленту. Такая защита не выдержит сопротивление на пробой или утечку. Как следствие, выйти из стоя может любая электротехническая часть бытовой техники, даже электромотор и плата управления. А это самые дорогие узлы стиральной машины.
      h2.page-title-h2 Неисправна кнопка «Включение»
      p
        | Если 
        | стиральная машина не включается индикаторы 
        | не горят, может иметь место дефект кнопки пуска. Диагностику можно провести самостоятельно:
      ol.page-list.page-list-ol
        li Отключаем бытовую технику от сети.
        li Демонтируем верхнюю крышку. Она крепится на двух винтах.
        li
          | Снимаем панель управления. Она крепится на винтах. Чтобы получить к ним доступ, нужно вытянуть лоток. После отворачиваем винты, отгибаем манжету или защелку.
        li
          | Отсоединяем провода от панели. После этого ее можно извлечь. Место и последовательность включения проводов лучше сфотографировать, чтобы правильно соединить при установке на место.
        li
          | Пытаемся соединить клеммы напрямую, так чтобы токовыводящие части и элементы их соединения не соприкасались с корпусом, в соответствии с требованиями техники безопасности.
        li
          | Если бытовая техника заработала, и начался процесс стирки, значит, неисправна стартовая кнопка.
      p
        | Дефекты кнопки при правильной эксплуатации техники – это одни из первых проблем электротехнической части. Она подвержена загрязнению. Чистку производят уже демонтированной панели управления. Для начала отсоединяют провода, связывающие панель с платой. Место их соединения также фотографируем для последующей сборки. Плату освобождаем от инородных частей, загрязнения, протираем спиртовым раствором контакты. Плата не требует такой аккуратности. Ее чистят средствами бытовой химии и механическими движениями.
      h2.page-title-h2 Не работает блокировка люка
      p
        | Если 
        | стиральная машина не включается индикаторы 
        | горят, но на экране высвечивается код ошибки при попытках задать программу, требуется проверка механизма, блокирующего люк. Принцип его действия биметаллический с использованием в качестве чувствительного элемента пластины из металла. Любое ее повреждение: износ, деформация, сдвиг, длительное воздействие температурного фактора, хрупкость, заводские дефекты приводят к неудовлетворительной работе всего механизма.
      p
        | Признаки поломки: отсутствие характерного звука защелкивания пластины при закрытии дверцы. Чтобы проверить состояние устройства блокировки люка, не нужно его извлекать, но обеспечить свободный доступ к механизму придется:
      ul.page-list.page-list-ul
        li
          | Положение люка зафиксировано хомутом. Его расположение – манжета люка. Снимаем хомут.
        li
          | Саму манжету можно отжать со стороны механизма блокировки. После этого обеспечивается свободный доступ к УБЛ.
        li Откручиваем болты.
        li Отсоединяем провода.
        li Приступаем к непосредственному тестированию мультиметром.
      p
        | При обнаружении дефектов блокирующего механизма, его нужно заменить. Стоимость УБЛ не высока, поэтому ремонт может обойтись дороже.
      p
        | Отдельный случай, когда механизм ломается в процессе стирки с загруженным барабаном. В этом случае дверца блокируется. Для деблокирования придется снять верхнюю крышку и отжать фиксатор: манжету или пластиковую защелку.
      p
        | Когда бы не произошла поломка, лучше дополнительно проверить элементы, чувствительные к скачкам напряжения, в частности клеммы на разъеме. Один раз подвергшись негативному воздействию электрической энергии, они уже не обеспечивают необходимое качество соединения. Их также нужно демонтировать и заменить. Операция проводится в несколько этапов. Последовательность та же, как и при тестировании устройства блокировки люка.
      p
        | Если причин сомневаться в нормальном состоянии и качестве работы блока нет, то проблемы кроются в программно-аппаратной составляющей.
      h2.page-title-h2 Неполадки модуля управления
      p
        | Если 
        | не включается стиральная машина, 
        | могут не работать программно-аппаратные средства. Аппаратная часть – это панель управления и, непосредственно, плата на ней, которая называется модулем управления. Он состоит из резистора, конденсатора, триггеров. Программа, которая запускает автоматику и режимы стирки, называется программными средствами или программным обеспечением.
      p
        | Панель вместе с модулем называют также системой управления стиральной машиной. Наряду с электромотором – это самый дорогой узел агрегата. Даже диагностика – это сложный процесс, требующий специального оборудования и комплексных профессиональных знаний. Поэтому все операции выполняются в сервисном центре. Потребитель может диагностировать проблемы с программно-аппаратными средствами только в ходе визуального осмотра платы или методом исключения. Поэтому, тестирование системы управления собственными силами проводится, когда все другие возможные причины поломки исключены, а 
        | стиральная машина не включается индикаторы 
        | не горят.
      h2.page-title-h2 Поломки сетевого фильтра
      p
        | Сетевой фильтр стиральной машины – это устройство, сглаживающее электромагнитные импульсы, возникающие при работе электромотора и водонагревателя. Он защищает электромеханические части автоматику, электронику стиральной машины не только от наведенного напряжения, но и от перепадов напряжения в сети переменного тока 220-230В. Эксплуатироваться стиральная машина может и без фильтра помех, но в этом случае электродвигатель, панель управления и плата, тен, электропроводка не защищены от пробоя, утечек. При поломках этого оборудования 
        | стиральная машина не включается
        |  и не выключается. Индикация сети при поломках сетевого фильтра может быть активной.
      p
        | Тестирование сетевого фильтра – это предпоследняя операция, которая выполняется перед проверкой программно-аппаратных средств. Последовательность операций процедуры следующая:
      ol.page-list.page-list-ol
        li
          | Отключаем бытовую технику от электрической сети в целях соблюдения техники безопасности.
        li
          | Демонтируем и крышку, и заднюю панель полностью. Для этого нужно открутить все винты или шурупы на задней панели.
        li
          | Тестирование выполняем при помощи мультиметра. Выставляем рычаг или стрелку в режим замера сопротивления. Прикладываем щупы электроизмерительного устройства к контактам фильтра.
      p
        | Фильтр помех не ремонтнопригодное изделие, поэтому при поломке его придется заменить. Купить сетевой фильтр можно в любом специализированном магазине. Для установки нового изделия фотографируем место соединения проводов. Отсоединяем их и извлекаем провода. Откручиваем крепежный болт (в некоторых моделях их может быть 2 и более) и снимаем старый фильтр. Далее устанавливаем новый и проводим все операции в обратной последовательности.
      h2.page-title-h2 Неисправность электропроводки стиральной машины
      p
        | Диагностировать эту поломку можно гораздо быстрее, чем ее исправить. Если индикация горит, но после нажатия кнопки пуска, бытовая техника не работает, то неисправна электропроводка. Причина неисправности: ослабло гнездо, крепление или механизм фиксации провода, произошло истирание проводки в одном или нескольких местах, произошло электрическое повреждение пробой, утечка токов. Выйти из строя может один или несколько элементов проводки. Повреждения также бывают в различных местах. Возможна ситуация, когда причина неисправности проводки одновременное наступление нескольких событий: износ, механическое повреждение, физический заводской дефект, электрические недостатки. Такой вариант специалисты сервисного центра фиксируют очень часто у эконом моделей китайских производителей.
      p
        | Диагностика потребует полного разбора корпуса, проверки и тестирования каждого элемента проводки, поиска поврежденных частей. Для этого потребуются схемы подключения, наличие более точного и функционального оборудования, чем тестер и мультиметр, профессиональные знания и особенно навыки. Выполнить эту работу можно в сервисном центре, так как даже грамотные профессионалы из-за несовершенства доступных потребителю электротехнических измерительных приборов и недостатков внутренней конфигурации бытовой техники не могут точно выявить и диагностировать все поврежденные части внутренней электрической проводки стиральной машины.
    .page-text
      h2.page-title-h2 Основные причины неисправности и стоимость их устранения
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Обрыв цепи
              td
                p Ремонт электросхемы
              td
                p от 600 р.
            tr
              td
                p Неисправность сетевого фильтра
              td
                p Замена сетевого фильтра
              td
                p от 1000 р.
            tr
              td
                p Неисправность панели управления
              td
                p Ремонт (замена) кнопки
              td
                p от 800 р.
            tr
              td
                p Неисправность электронного модуля
              td
                p Ремонт модуля управления
              td
                p от 1500 р.

    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей стиральной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем стиральные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности стиральных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-stiralnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'ne-krutitsya-baraban-v-stiralnoj-mashine' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-krutit' + '.webp' alt='Стиральная машина не крутит барабан')
            p Стиральная машина не крутит барабан
        .page-articles-link-item
          a(href=pathToPage + 'pena-iz-stiralnoj-mashiny' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-penitsa' + '.webp' alt='Пена из стиральной машины')
            p Пена из стиральной машины
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-bet-tokom' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-bjet-tokom' + '.webp' alt='Стиральная машина бьет')
            p Стиральная машина бьет
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-gudit' + '.webp' alt='Стиральная машина гудит')
            p Стиральная машина гудит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-migaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='На стиральной машине мигают все лампочки')
            p На стиральной машине мигают все лампочки
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-greet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-greet' + '.webp' alt='Стиральная машина не греет воду')
            p Стиральная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не набирает воду')
            p Стиральная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-ostanavlivaetsya-stiraet-bez-ostanovki' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не останавливается')
            p Стиральная машина не останавливается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otkryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otkrivaet' + '.webp' alt='Стиральная машина не открывает дверь')
            p Стиральная машина не открывает дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otzhimaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otgimaet' + '.webp' alt='Стиральная машина не отжимает')
            p Стиральная машина не отжимает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-poloskaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-poloskaet' + '.webp' alt='Стиральная машина не полоскает')
            p Стиральная машина не полоскает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-slivaet' + '.webp' alt='Стиральная машина не сливает')
            p Стиральная машина не сливает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-vkluchaetsa' + '.webp' alt='Стиральная машина не включается')
            p Стиральная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-zakryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-blokiruet' + '.webp' alt='Стиральная машина не блокирует дверь')
            p Стиральная машина не блокирует дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ploho-stiraet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ploho-stiraet' + '.webp' alt='Стиральная машина не отстирывает вещи')
            p Стиральная машина не отстирывает вещи
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-pokazyvaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-pokazivaet-oshibku' + '.webp' alt='Стиральная машина показывает ошибку')
            p Стиральная машина показывает ошибку
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-prygaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-prigaet' + '.webp' alt='Стиральная машина прыгает')
            p Стиральная машина прыгает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-skripit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-scripit' + '.webp' alt='Стиральная машина скрипит')
            p Стиральная машина скрипит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-srazu-slivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-srazu-slivaet' + '.webp' alt='Стиральная машина набирает и сразу сливает воду')
            p Стиральная машина набирает и сразу сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-techet-podtekaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-techet' + '.webp' alt='Стиральная машина подтекает')
            p Стиральная машина подтекает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-vibriruet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-vibriruet' + '.webp' alt='Стиральная машина сильно вибрирует')
            p Стиральная машина сильно вибрирует
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-zavisaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='Стиральная машина зависает в одном режиме')
            p Стиральная машина зависает в одном режиме
