extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Стиральная машина гудит' 
  - var content = 'Если услышали шум при работе оборудования шума постарайтесь понять причину, и понять на каком этапе он появляется. Анализ ситуации может помочь решить вопрос, что делать, если гудит стиральная машина.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности стиральных машин': domen + '/neispravnosti-stiralnyh-mashin/',
    "Стиральная машина гудит": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title 
    +pageBanner-1({
      title: 'Нужна консультация?',
      text: 'Мы ответим на все Ваши вопросы и рассчитаем стоимость ремонта',
      buttonText: 'Заказать звонок',
      pathToImg: domen + '/assets/img/pictures/banner-img-013.webp'
    })
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "wash-mash/" + "sm-gudit" + ".webp" alt= 'Стиральная машина гудит' itemprop="image")

      p
        | Любая стиральная машина при работе издает небольшой шум. До сих пор инженеры не смогли придумать полностью бесшумный вариант. Но иногда при работе стиральной машины могут возникнуть шумы и вибрация, которые не должны присутствовать. Не будем отрицать, что на слух пользователю бывает трудно определить, присутствует неисправность или машинка должна именно так работать. Сегодня речь пойдет о возможных вариантах и постараемся разобраться, почему гудит стиральная машина. Понимание причины появившегося шума может помочь исправить ситуацию самостоятельно.
      h2.page-title-h2 Существующие нормы шума
      p
        | Как уже говорили, работа стиральной машины почти всегда сопровождается шумом. Но некоторые машины шумят громче, а у некоторых шумовые проявления практически не слышны. Разница уровня шума во многом зависит от используемого привода. Во многих современных машинах используется ременный привод. При работе модели с ременным приводом уровень шума находится в пределах 60-72 дБ. В 2005 году инженеры компании LG изобрели модель в которой был использован прямой привод. Такие модели обладают пониженным шумовым порогом, который составляет от 52 до 70 дБ.
      p
        | Правильно определить уровень шума, издаваемого машиной, без соответствующего оборудования практически невозможно. Но дома точное определение значения шума не требуется.Для понимания уровня шума, воспроизводимого машиной, достаточно сравнить его с другим оборудованием или обычными ситуациями. Допустим, уровень шума создаваемый движением поезда в метро находится в районе 95 дБ, а вот при работе кухонной вытяжки издается шум в районе 50 дБ. Если учитывать представленные значения, то шум стиральной машины должен находиться между этими значениями. И чем ближе он к работе вытяжки, тем лучше. Но даже в том случае, если вам трудно определить приблизительное значение шума, вы можете придерживать простого правила. Любые шумы, издаваемые техникой, не должны раздражать или вызывать чувство беспокойства. Если возникают неприятные звуки или вибрация, то можно попытаться самому решить проблему выяснив причину, почему гудит стиральная машина. Если знаний недостаточно стоит оформить заявку на вызов мастера.
      h2.page-title-h2 Почему возникает нестандартный шум
      p
        | Непонятный гул или шум возникает при работе, независимо от операции, которую она выполняет в данный момент. Это может быть стирка, полоскание, отжимание или слив воды. Если услышали шум при работе оборудования шума постарайтесь понять причину, и понять на каком этапе он появляется. Анализ ситуации может помочь решить вопрос, что делать, если гудит стиральная машина.
      p Можно выделить шесть вероятных причин:
      ul.page-list.page-list-ul
        li Неправильная установка оборудования;
        li Присутствие посторонних предметов;
        li Износ деталей;
        li Ослабление узлов;
        li Проблемы с противовесами;
        li Неисправность в системе слива.
      p
        | Конечно, этот список нельзя назвать полным и причин возникновения постороннего шума намного больше. Но сегодня мы остановимся на них, и постараемся подробно рассказать о причинах, посоветуем как избавиться от постороннего шума.
      h3.page-title-h3 Неправильная установка
      p
        | Если во время работы машинка сильно гудит, чувствуется вибрация или она пытается изменить положение на полу, то возможная причина таких проявлений неправильная установка оборудования. Для решения подобной проблему не потребуется вызов мастера. Исправить ситуацию можно самостоятельно.
      p
        | Снизу на корпусе машины присутствует четыре регулируемые ножки. Они помогают придать ровное положение. Правильная установка увеличивает устойчивость и позволяет работать в стандартном режиме без посторонних шумов. Все четыре ножки являются регулируемыми и при их регулировке можно придать машинке необходимое положение. Для получения лучшего результата рекомендуем использовать строительный уровень.
      p
        | Дополнительно при регулировке можно поместить между ножками и полом кусочки ткани или резиновые подставки. Использование подкладок уменьшит гудение стиральной машины при выполнении операций. Дополнительно подставки помогут предотвратить смещения оборудования при кратковременных колебаниях.
      p
        | Часто можно встретить ситуацию, когда после установке стиральной машины установщики оставляют не открученными транспортные болты. Их устанавливают на производстве и они требуются только для фиксации барабана. После установки машинки их необходимо открутить, а вместо них вставить заглушки. Большинство производителей предоставляют их в комплекте. Для проверки наличия транспортных болтов необходимо получить доступ к задней части оборудования. Если они присутствуют, снимите их и вставьте заглушки.
      h3.page-title-h3 Посторонние предметы в барабане
      p
        | Иногда причина шума объясняется присутствием посторонних предметов в барабане. Наиболее распространенные варианты – это стук пуговиц, крючков, мелочи из карманов. Если причина в этом, то рекомендуем остановить стирку, извлечь белье или одежду. Если существует возможность извлечь посторонние предметы, то удалите их. В крайнем случае используйте контейнеры или специальные емкости для стирки.
      p
        | Довольно часто причиной шума могут стать предметы, которые забыли извлечь из карманов. Полный список займет много места, ведь иногда в карманах может быть все что угодно. Это зажигалки, ключи, монеты и многое другое, что мы носим в карманах. Для избавления от шума придется останавливать стирку и извлекать посторонний предмет. Иногда небольшие по размеру предметы могут застрять между корпусом и уплотнительной манжетой. Если предмет не удалось сразу обнаружить, рекомендуем проверить прилегание манжеты к корпусу.
      p
        | Также причиной шума может быть предмет, который попал под барабан или под ТЭН. Для удаления предмета потребуется небольшая разборка. Но перед разборкой рекомендуем слить воду, отключить питание и только после этого приступать к разборке.
      p
        | Для удаления предмета необходимо получить доступ к внутренней части машинки. Для этого потребуется снять заднюю крышку. Если предмет попал под ТЭН, то необходимо снять клеммы и ослабить гайку, которая крепит ТЭН. Если позволяет расстояние, извлеките пинцетом предмет. Если извлечь не получается. Придется демонтировать ТЭН. После извлечения проведите ранее выполненные действия.
      h3.page-title-h3 Износ деталей
      img.page-img.page-img_float-right( src= pathToImgArticles + "bt-problem-0030.webp" alt= 'Износ вала стиральной машины' title='Износ вала стиральной машины' itemprop="image")

      p
        | Процесс стирки осуществляется за счет вращения барабана. Для равномерного распределения нагрузки и поддержания барабана в устойчивом положении используются подшипники. При длительной эксплуатации подшипники изнашиваются. Первым признаком присутствия проблем с узлом может быть присутствие шуршание, потом он может перейти в свист, и в результате машинка будет издавать скрежет.
      p
        | Обычно производитель предоставляет гарантию на работу двигателя. Но обычно подшипники или амортизаторы изнашиваются намного раньше. Но тут необходимо учитывать, что комплектующие могут отличаться, как и срок их службы.
      p
        | Для защиты от внешнего воздействия на подшипниках используется сальник. Обычно он изготовлен из резины. Через некоторое время он может потерять эластичность и на поверхности появляются трещины. Через них в узел попадает вода, что может стать причиной появления коррозии.
      p Для проверки подшипника потребуется выполнить следующие действия:
      ol.page-list.page-list-ol
        li Отключите машинку от сети;
        li Откройте дверцу и попробуйте провернуть барабан;
        li
          | Если барабан крутится легко, то с подшипниками все нормально. Если для вращения требуется усилие или барабан прокручивается не равномерно, то потребуется замена подшипников.
      p
        | При проблемах с подшипником, рекомендуем обратиться к мастерам. Они быстро произведут замену и вернут рабочее состояние оборудованию. Но иногда нет возможности воспользоваться помощью мастера, и приходится самому искать причину, почему стиральная машина гудит при отжиме. После обнаружения проблемы потребуется выполнить следующее:
      ol.page-list.page-list-ol
        li Снимите лицевую и заднюю часть;
        li Извлеките ТЭН;
        li Для удобства дальнейших работ удалите из корпуса двигатель;
        li Разберите бак;
        li Удалите старые подшипники;
        li Установите рабочие подшипники;
        li Выполнить все операции в обратном порядке и собрать стиральную машину.
      h3.page-title-h3 Ослабление узлов
      p
        | В основном ослабление происходит на креплении шкива. Если слышаться щелчки, то необходимо проверить шкив. Говоря простым языком, шкив – это круглая деталь, которая попадается на глаза сразу после того как снимите заднюю часть. Она обладает большими размерами и крепиться к барабану. Обычно крепиться болтом.
      p
        | Иногда крепление может ослабнуть, и вращение осуществляется неравномерно. При вращении появляются звуки в виде щелчков. Проблему решить довольно просто. Необходимо открутить заднюю стенку и вывернуть болт, находящийся по центру узла. Извлеченный болт необходимо смазать герметиком и вкрутить обратно. При закручивании необходимо приложить усилие.
      h3.page-title-h3 Проблемы с противовесами
      p
        | Причиной возникновения гудения при работе машины могут быть нарушения устойчивого положения противовесов. Дополнительным фактором присутствия проблемы с противовесами может служить наличие вибрация и дальнейшее смещение оборудования по полу.
      p
        | Противовесы – это специальные грузы, обеспечивающие стабильное положение барабана и смягчающие колебания при их возникновении. В ходе работы стиральной машины крепление может ослабнуть. Для исправления ситуации достаточно плотно закрутить болты.
      h3.page-title-h3 Неисправность в системе слива
      p
        | После окончания стирки, происходит слив использованной воды. Если это не произошло и слышно гудение при сливе, то проблема может заключаться в сливном насосе. Причиной неправильной работы насоса могут быть мелкие предметы, попавшие в насос.
      p
        | Мастера считают, что сливной насос является расходным материалом, и рекомендуют проводить его замену раз в пять лет. Но довольно часто при проблемах с насосом, не требуется его замена. Иногда достаточно прочистить фильтр, находящийся под дверцей с лицевой стороны. Также рекомендуем проверить сливной шланг и саму помпу.
      p
        | Для очистки фильтра необходимо открыть небольшую дверцу. Иногда она открывает небольшим нажатием, иногда потребуется использование отвертки. Если присутствуют посторонние предметы или мусор, очистите фильтр. Верните все на место и проверьте слив воды.
      p
        | Если проблема не исчезла, проверьте патрубок к насосу и работоспособность насоса.
      h2.page-title-h2 Рекомендации
      p
        | Не будем отрицать, что полностью избавиться от возможности появления гула при работе стиральной машины не получится. Стиральная машина не вечна, и, как и любая техника, иногда ломается.
      p
        | Мы подготовили для вас три небольших совета, которые помогут избежать появление шума, и увеличит срок службы оборудования. Они не сложные и если их придерживаться, то стиральная машина прослужит в течение долгого времени.
      ul.page-list.page-list-ul
        li
          | Перед загрузкой одежды в машину, возьмите за правило проверять на наличие посторонних предметов в карманах. Это не только продлит срок службы, но и позволит избежать остановки машинки для извлечения посторонних предметов из барабана;
        li
          | Проводите систематическую проверку фильтра. Не стоит каждый раз после окончания стирки это делать. Достаточно одного раза в месяц. Если достали фильтр, обязательно удалите мусор и промойте под проточной водой;
        li
          | Возьмите за правило использование средства, смягчающих воду. Это позволит значительно продлить эксплуатацию как узлов, так и всей машинки в целом. Мы надеемся, что статья поможет вам самостоятельно избавиться от неприятного гудения стиральной машины. Мы рассказали о наиболее типичных причинах возникновения постороннего шума при работе оборудования. Некоторые варианты можно исправить самостоятельно.
      p
        | Если причиной возникновения гудения является неисправность узлов или деталей, то тут без вызова мастера не обойтись. Конечно, вызов мастера и дальнейший ремонт потребуется оплатить, но, согласитесь, если рассматривать покупку новой машины, то затраты на ремонт будут существенно ниже.
      h2.page-title-h2 Причины гула стиральной машины и способы устранения неисправности.
    .page-text
      h2.page-title-h2 Основные причины неисправности и стоимость их устранения
      .table-container_scroll   
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Посторонний предмет внутри
              td
                p Извлечение постороннего предмета из бака
              td
                p от 1200 р.
            tr
              td
                p Износ подшипников
              td
                p Замена подшипников
              td
                p от 2100 р.
            tr
              td
                p Поломка противовеса
              td
                p Замена противовеса
              td
                p от 800 р.
            tr
              td
                p Неисправность сливного насоса
              td
                p Замена сливного насоса (помпы)
              td
                p от 1200 р.
            tr
              td
                p Неправильная установка
              td
                p Установка стиральной машины
              td
                p от 400 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей стиральной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем стиральные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности стиральных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-stiralnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'ne-krutitsya-baraban-v-stiralnoj-mashine' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-krutit' + '.webp' alt='Стиральная машина не крутит барабан')
            p Стиральная машина не крутит барабан
        .page-articles-link-item
          a(href=pathToPage + 'pena-iz-stiralnoj-mashiny' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-penitsa' + '.webp' alt='Пена из стиральной машины')
            p Пена из стиральной машины
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-bet-tokom' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-bjet-tokom' + '.webp' alt='Стиральная машина бьет')
            p Стиральная машина бьет
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-gudit' + '.webp' alt='Стиральная машина гудит')
            p Стиральная машина гудит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-migaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='На стиральной машине мигают все лампочки')
            p На стиральной машине мигают все лампочки
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-greet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-greet' + '.webp' alt='Стиральная машина не греет воду')
            p Стиральная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не набирает воду')
            p Стиральная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-ostanavlivaetsya-stiraet-bez-ostanovki' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не останавливается')
            p Стиральная машина не останавливается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otkryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otkrivaet' + '.webp' alt='Стиральная машина не открывает дверь')
            p Стиральная машина не открывает дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otzhimaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otgimaet' + '.webp' alt='Стиральная машина не отжимает')
            p Стиральная машина не отжимает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-poloskaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-poloskaet' + '.webp' alt='Стиральная машина не полоскает')
            p Стиральная машина не полоскает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-slivaet' + '.webp' alt='Стиральная машина не сливает')
            p Стиральная машина не сливает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-vkluchaetsa' + '.webp' alt='Стиральная машина не включается')
            p Стиральная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-zakryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-blokiruet' + '.webp' alt='Стиральная машина не блокирует дверь')
            p Стиральная машина не блокирует дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ploho-stiraet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ploho-stiraet' + '.webp' alt='Стиральная машина не отстирывает вещи')
            p Стиральная машина не отстирывает вещи
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-pokazyvaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-pokazivaet-oshibku' + '.webp' alt='Стиральная машина показывает ошибку')
            p Стиральная машина показывает ошибку
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-prygaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-prigaet' + '.webp' alt='Стиральная машина прыгает')
            p Стиральная машина прыгает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-skripit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-scripit' + '.webp' alt='Стиральная машина скрипит')
            p Стиральная машина скрипит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-srazu-slivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-srazu-slivaet' + '.webp' alt='Стиральная машина набирает и сразу сливает воду')
            p Стиральная машина набирает и сразу сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-techet-podtekaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-techet' + '.webp' alt='Стиральная машина подтекает')
            p Стиральная машина подтекает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-vibriruet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-vibriruet' + '.webp' alt='Стиральная машина сильно вибрирует')
            p Стиральная машина сильно вибрирует
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-zavisaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='Стиральная машина зависает в одном режиме')
            p Стиральная машина зависает в одном режиме
