extends ../../../layout/article_page_layout.pug

block variables
  - var title = 'Стиральная машина не закрывается' 
  - var content = 'Стиральная машина не закрывается вследствие выработки ресурса деталей, либо неосторожного обращения с прибором, например, если дверцу используют вместо вешалки для тяжелого от влаги белья или если ее с силой захлопывают.'
  - var pathToImgArticles = domen + '/assets/img/pictures/repair-img/'

block content
  +bread-crumbs({ 
    'Главная': '/',
    'Неисправности стиральных машин': domen + '/neispravnosti-stiralnyh-mashin/',
    "Стиральная машина не закрывается": "#"})

  .article-page-wrapper(itemscope itemtype="https://schema.org/Article")
    h1.page-title-h1(itemprop="name")= title
    +pageBanner-1({
      title: 'Срочный ремонт у вас на дому!',
      text: 'Быстрый выезд, 100% качество и гарантия',
      pathToImg: domen + '/assets/img/pictures/banner-img-011.webp'
    }) 
    .page-text.page-text-hidden-container(itemprop="articleBody")
      .page-text-hidden__bgrnd
      .page-text-hidden__button.page-text-hidden__button_down
      img.page-img.page-img_float-left( src= pathToImgArticles + "wash-mash/" + "sm-ne-blokiruet" + ".webp" alt= 'Стиральная машина не блокирует дверь' itemprop="image")

      p
        | Правила безопасности требуют, чтобы в стиральную машину начинала набираться вода, и они приступали непосредственно к стирке не ранее, чем будет заблокирован замок. Это позволяет обеспечить герметичность бака и исключить протекание воды. Когда не закрывается дверь стиральной машины и перестает срабатывать блокировка, использовать прибор до устранения неполадки не удается, запуск не осуществляется.
      p
        | Мастера советуют в первую очередь проверить, не попало ли белье между дверцей и уплотнителем люка. Иногда даже небольшой зажатый фрагмент ткани препятствует началу стирки. Если видимых преград для плотного прилегания нет, но плохо закрывается дверь стиральной машины, можно предположить наличие механических повреждений устройства. Другое предположение – сломанный электронный модуль. При механических неполадках дверцу не получается зафиксировать, при закрывании не появляется характерного звука. Сбой электроники можно заподозрить, если плотно прилегающая к манжете дверца люка не блокируется. Машина не издает повторного щелчка, который возникает при фиксировании дверцы электроникой. Кроме того, на дисплее прибора может появиться соответствующий код ошибки.
      h2.page-title-h2 Какие механические повреждения мешают закрыть дверцу
      p
        | Стиральная машина не закрывается вследствие выработки ресурса деталей, либо неосторожного обращения с прибором, например, если дверцу используют вместо вешалки для тяжелого от влаги белья или если ее с силой захлопывают.
      h3.page-title-h3 Сломана ручка дверцы
      p
        | Блокировке дверцы стиральной машины может препятствовать поломка ручки. При ее изготовлении используется пластик. Не все производители выпускают ручки для люков из прочных, качественных материалов. Даже в технике известных брендов встречается хрупкий пластик, который при неосторожном закрывании дверцы повреждается. Сломанную ручку приходится менять на новую. Сделать это можно собственными силами. Для этого надо выполнить следующие действия:
      ol.page-list.page-list-ol
        li Демонтировать хомут, стягивающее манжету люка обжимное кольцо.
        li Отогнуть резиновую манжету.
        li Зафиксировать гайки на крепеже петли. Для этого понадобится ключ.
        li Болты отвернуть.
        li Демонтировать люк, сняв петлю.
        
          | На этом этапе возможно выполнить полную замену дверцы люка. После установки новой приведенные выше действия следует воспроизвести в обратной последовательности.
        
          | Сняв дверцу люка, положить ее на ровную поверхность так, чтобы стекло смотрело вверх.
        li Открутить крепежные винты и разъединить половинки пластикового корпуса.
        li Извлечь стекло.
        li
          | Взять внутреннюю сторону обода, поместить на ровной поверхности так, чтобы было удобно добраться до крепления ручки. Для соединения детали с корпусом используется штырь. Один его конец вставляется в отверстие на ручке, а другой – в корпус.
        li Чтобы снять ручку, надо сдвинуть с места штырь.
        li Затем последовательно отсоединить монтажную пружину, язычок.
        li
          | Теперь можно поставить новую ручку. Поступающие в продажу детали, как правило, комплектуются штырем, пружиной и язычком. Первой подсоединяется пружина, после ее установки переходят к язычку. На завершающем этапе фиксируют штырь.
      h3.page-title-h3 Петли или язычок на дверце перекошены
      p
        | Выясняя, почему не закрывается стиральная машина, надо присмотреться к дверце, а особенно некоторым ее деталям: петлям, фиксирующему языку. Целесообразно проверить, плотно ли зафиксированы крепежные детали на люке, не нарушен ли уровень дверцы. Если она перекошена, следует отрегулировать ее или произвести замену петель. Можно обратиться к мастеру или установить новые петли самостоятельно. Для этого потребуется:
      ol.page-list.page-list-ol
        li Снять дверцу люка и петлю, отсоединить ее.
        li
          | В разных моделях стиральных машин используются отличные методы крепления петель. В технике некоторых марок, например, Indesit и Ariston, для демонтажа петель даже не приходится снимать дверцу. Они крепятся при помощи саморезов, которые надо открутить.
        li
          | В значительной части стиральных машин для замены петель требуется не только снимать, но и разбирать дверцы. Например, если стиральная машина Самсунг не закрывается, надо демонтировать дверь, открутить винты, скрепляющие пластиковые части с установленным между ними стеклом.
        li
          | Половинки дверцы надо отделить друг от друга с приложением легкого усилия. Нажимать на детали слишком сильно нельзя, чтобы не повредить пластик. Усилия стоит прикладывать в разных частях половинок по кругу.
        li Затем можно заменить поврежденную петлю.
        li Новую деталь установить на нужное посадочное место.
        li Половинки дверцы прочно прижать друг к другу, чтобы появился характерный щелчок.
        li
          | Далее закрепить дверцу на корпусе, выполнив описанные выше действия в обратной последовательности.
      p
        | Если петли исправны, а стиральная машина тяжело закрывается, причина может заключаться в повреждении фиксирующего язычка. Обычно он не может попасть в замок из-за сместившегося металлического штока, который удерживает язычок в определенном положении. Чтобы отремонтировать фиксирующий язычок, приходится прибегать к разборке дверцы. Металлический шток необходимо установить в правильную позицию или заменить на новый.
      h3.page-title-h3 Деформирована пластиковая направляющая
      p
        | Когда дверцу машинки удается закрыть без проблем, но характерного щелчка и фиксации в закрытом положении не происходит, велика вероятность деформации пластиковой направляющей. Ею оснащены дверцы люков в некоторых моделях стиральных машин. Направляющая предназначены для блокировки дверцы. А поскольку для изготовления детали используют тонкий пластик, с течением времени он стирается и легко повреждается. Чтобы люк плотно закрывался, деформированную направляющую необходимо заменить, разобрав дверцу.
      h2.page-title-h2 Какие проблемы с электроникой препятствуют закрытию дверцы
      p
        | Если не закрывается люк стиральной машины, то есть не происходит его блокировки, причина может заключаться в дефектах электронного блока управления.
      h3.page-title-h3 Неисправно устройство блокировки
      p
        | При свободном закрывании дверцы она не блокируется, велика вероятность поломки системы блокировки люка. В исправной стиральной машине после запуска той или иной программы работы происходит подача напряжения на рычаг УБЛ, а вместе с ней – замыкание контакта переключателя. До того момента, пока машине не завершит полный цикл стирки, дверца остается заблокированной рычагом. Затем питание с блокировки снимается, и еще через несколько минут люк можно открывать.
      p
        | Когда владелец стиральной машины включает прибор и запускает стирку, под воздействием высоких температур величина внутреннего сопротивления керамического резистора увеличивается, две биметаллические пластины начинают деформироваться. В результате рычаг перемещается, замыкается контакт главного переключателя. Одновременно защелка, которая соединяется с контактной пластиной, изменяет свое местоположение. Она подается наружу, и дверь блокируется. На перечисленные действия уходит не более пяти секунд с того момента, как начинает подаваться питание.
      p
        | Когда машинка завершает цикл стирки, происходит обратный процесс: остывание керамического резистора, возврат биметаллических пластин в первоначальную позицию, размыкание контакта и высвобождение рычага. Резистор остывает в течение нескольких минут. Поэтому блокировка дверцы снимается не сразу после окончания программы стирки, а через небольшой промежуток времени.
      p
        | Из-за изношенности и перепадов в электросети возникают повреждения биметаллических пластин. Прекращается их деформирование. Чтобы справиться с проблемой, требуется поменять устройство, отвечающее за блокировку люка. Для этого выполнят следующие действия:
      ol.page-list.page-list-ol
        li
          | Отгибают резиновую манжету с наружной стороны. Она крепится к корпусу машинки перетянутым пружиной металлическим хомутом.
        li
          | Пружину поддевают с помощью плоского инструмента и извлекают, затем отсоединяют хомут. Чтобы не повредить резиновую манжету, действуют осторожно.
        li
          | Находят устройство блокировки люка за краем манжеты. Чтобы его демонтировать, отсоединяют сначала контактный разъем, а затем элементы крепежа – защелки или болты.
        li Отсоединяют контакты от УБЛ, извлекают деталь.
        li
          | Чтобы установить исправный замок, действуют, как указано выше, но в обратном порядке.
      h3.page-title-h3 В устройстве блокировки люка накопился мусор
      p
        | Иногда не закрывается дверка стиральной машины из-за накопившегося в отверстиях УБЛ мусора: мелкого сора, волокон тканей, волос, нитей, шерсти. В таких случаях установить, почему не закрывается крышка стиральной машины помогает осмотр устройства. Если обнаруживается засорение, УБЛ приходится разбирать, прочищать и устанавливать на прежнее место.
      h3.page-title-h3 Некорректно работает модуль управления
      p
        | Исправность модуля управления, как правило, проверяют в том случае, если все описанные выше механические повреждения деталей и проблемы с электроникой исключены. Если не закрывается дверь в стиральной машине, на плату модуля управления не проходит сигнал о блокировке. Чаще всего это случается, когда перегорают дорожки контактов. Некорректную работу электронного модуля могут повлечь скачки напряжения.
      p
        | Как поступить, если стиральная машина не закрывается из-за поврежденного модуля управления? Прежде всего, надо провести его диагностику. Затем, исходя из обнаруженных дефектов, можно выполнить перепрограммирование платы, ремонтом или полной заменой. Специалисты предостерегают: делать эту работу самостоятельно не стоит, так как электронный модуль является важнейшей составляющей, «мозгом» прибора. При некорректном обращении с ним можно усугубить ситуацию и получить серьезный ущерб. Если не закрывается стиральная машина, лучше доверить ремонт модуля управления профессиональному мастеру.
    .page-text
      h2.page-title-h2 Основные причины неисправности и стоимость их устранения
      .table-container_scroll 
        table(border='1')
          tbody
            tr
              th
                p
                  b Неисправность
              th
                p
                  b Возможный ремонт
              th
                p
                  b Стоимость работы
            tr
              td
                p Поломка ручки двери
              td
                p Замена ручки люка
              td
                p от 800 р.
            tr
              td
                p Поломка петель двери
              td
                p Замена петель люка
              td
                p от 600 р.
            tr
              td
                p Неисправность УБЛ
              td
                p Замена устройства блокировки люка (УБЛ)
              td
                p от 1200 р.
            tr
              td
                p Неисправность модуля управления
              td
                p Ремонт модуля управления
              td
                p от 1500 р.


    .calc-banner.page-banner
      .page-banner-img
        img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/men_1.webp' alt="")
      .page-banner-content
        .page-banner-content__title 
          p Доверьте ремонт Вашей стиральной машины профессионалам!
        .page-banner-content__text 
          p  телефоны для связи
          a(href='#')= telNumber_1 
          |  или 
          a(href='#')= telNumber_2 

        .page-banner-content__text Также Вы можете оформить on-line заказ или заказать звонок
        .page-banner-content-buttons
          .page-banner-button.button-order 
            | Оформить заявку
            br
            | on-line
          .page-banner-button.button-callback Заказать звонок 
    +brands-washmach({
      title: "Ремонтируем стиральные машины любых брендов"
    })
    .page-articles-link
      h2.page-title-h2 Другие возможные неисправности стиральных машин
      .page-articles-link-wrapper
        -var pathToPage = domen + '/neispravnosti-stiralnyh-mashin/'
        .page-articles-link-item
          a(href=pathToPage + 'ne-krutitsya-baraban-v-stiralnoj-mashine' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-krutit' + '.webp' alt='Стиральная машина не крутит барабан')
            p Стиральная машина не крутит барабан
        .page-articles-link-item
          a(href=pathToPage + 'pena-iz-stiralnoj-mashiny' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-penitsa' + '.webp' alt='Пена из стиральной машины')
            p Пена из стиральной машины
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-bet-tokom' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-bjet-tokom' + '.webp' alt='Стиральная машина бьет')
            p Стиральная машина бьет
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-gudit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-gudit' + '.webp' alt='Стиральная машина гудит')
            p Стиральная машина гудит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-migaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='На стиральной машине мигают все лампочки')
            p На стиральной машине мигают все лампочки
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-greet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-greet' + '.webp' alt='Стиральная машина не греет воду')
            p Стиральная машина не греет воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-nabiraet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не набирает воду')
            p Стиральная машина не набирает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-ostanavlivaetsya-stiraet-bez-ostanovki' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-nabiraet' + '.webp' alt='Стиральная машина не останавливается')
            p Стиральная машина не останавливается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otkryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otkrivaet' + '.webp' alt='Стиральная машина не открывает дверь')
            p Стиральная машина не открывает дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-otzhimaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-otgimaet' + '.webp' alt='Стиральная машина не отжимает')
            p Стиральная машина не отжимает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-poloskaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-poloskaet' + '.webp' alt='Стиральная машина не полоскает')
            p Стиральная машина не полоскает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-slivaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-slivaet' + '.webp' alt='Стиральная машина не сливает')
            p Стиральная машина не сливает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-vklyuchaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-vkluchaetsa' + '.webp' alt='Стиральная машина не включается')
            p Стиральная машина не включается
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ne-zakryvaetsya' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ne-blokiruet' + '.webp' alt='Стиральная машина не блокирует дверь')
            p Стиральная машина не блокирует дверь
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-ploho-stiraet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-ploho-stiraet' + '.webp' alt='Стиральная машина не отстирывает вещи')
            p Стиральная машина не отстирывает вещи
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-pokazyvaet-oshibku' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-pokazivaet-oshibku' + '.webp' alt='Стиральная машина показывает ошибку')
            p Стиральная машина показывает ошибку
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-prygaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-prigaet' + '.webp' alt='Стиральная машина прыгает')
            p Стиральная машина прыгает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-skripit' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-scripit' + '.webp' alt='Стиральная машина скрипит')
            p Стиральная машина скрипит
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-srazu-slivaet-vodu' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-srazu-slivaet' + '.webp' alt='Стиральная машина набирает и сразу сливает воду')
            p Стиральная машина набирает и сразу сливает воду
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-techet-podtekaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-techet' + '.webp' alt='Стиральная машина подтекает')
            p Стиральная машина подтекает
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-vibriruet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-vibriruet' + '.webp' alt='Стиральная машина сильно вибрирует')
            p Стиральная машина сильно вибрирует
        .page-articles-link-item
          a(href=pathToPage + 'stiralnaya-mashina-zavisaet' + '.html') 
            img(src= domen + '/assets/img/pictures/repair-img/wash-mash/' + 'sm-migaet' + '.webp' alt='Стиральная машина зависает в одном режиме')
            p Стиральная машина зависает в одном режиме
