extends ../../layout/repair_page_layout.pug


block variables
    - var title = 'Мастер на час в Санкт-Петербурге'
    - var content = ""

block content
    include ../../../blocks/page-blocks/page-blocks
    include ../../../blocks/elements/elements

    +bread-crumbs({
      'Главная': '/',
  
      "Мастер на час": "#",
  
    })
    .repair-page-title-section
      H1.page-title-h1(itemprop="name")=title
    .repair-page-text-section
      .repair-page-img.repair-page-img_float-left
        include ../../../img/pictures/svg/master.pug
      .page-text
        p
          | Мелкий ремонт в доме требует наличия необходимых навыков и инструментов. Не каждый в наше время может справится с такими работами самостоятельно. Однако в современном мире это не является проблемой, потому что существует такая услуга, как мастер на час.
      
 
        p
          | Эта услуга позволит вам сэкономить время на устранение неполадок или выполнение ремонтных работ. Кроме того, вам не придется приобретать дорогостоящие инструменты, чтобы однажды ими воспользоваться и закинуть в дальний ящик.
     

        p
          | Чтобы выполнить работу качественно, необходим должный опыт и навыки. Что делать если вы им не обладаете? Можно проштудировать множество различных источников информации. Благо 21 век позволяет досконально изучить любую область и даже преуспеть в ней. Но сколько на это потребуется времени. Если у вас его нет, или нет желания его тратить на вещи, которые пригодятся вам однажды, компания РемБытТехника предлагает услугу мастера на час в спб.
       
  
        p
          | Суть заключается в том, что к вам выезжает специалист по необходимому профилю. У нас в штате более 50 сотрудников в 11 филиалах по всему городу. Время выезда составляет от часа. При себе у мастера будут все необходимые инструменты, а главное, знания и опыт в требующейся области. Он производит все необходимые работы. Кроме того, может дать дельный совет по ремонту.
    
        p
          | Эта услуга может быть полезна совершенно любому. Это могут быть одинокие девушки, которым знания в ремонтных работах совершенно не требуются в повседневной жизни. Также мастер на час поможет семейным людям или мужчинам, у которых нет времени или желания заниматься починкой.
    
        p Какие услуги предоставляют специалисты:
   
        ol
          li
            | Различные сантехнические работы: установка, монтаж, демонтаж смесителей, сифонов, душевых кабин, ванн, полотенцесушителей, моек, унитазов и практически любые работы по сантехнике.
          li Штробление стен.
          li Установка и демонтаж техники.
          li Прокладка труб.
          li Электротехнические работы.
          li Монтаж подвесных шкафов, жалюзи, зеркал, кронштейнов и прочее.
     
        p
          | Специалисты обладают высокой квалификацией и большим стажем работы по своему профилю. При себе они имеют все необходимые инструменты. От вас ничего не потребуется.
   
        p
          | Уточнить перечень выполняемых работ вы можете у наших менеджеров, которые ответят на все интересующие вас вопросы.
      
        p
          | Компания РемБытТехника также предоставляет услугу по ремонту бытовой техники в городе Санкт-Петербурге. Осуществляется бесплатная диагностика и выезд мастера по городу. Готовы выехать в пределах 30 км от КАД. Работаем с 2005 года. Все мастера в штате имеют высокую квалификацию и стаж работы не менее трех лет.


    .repair-page-advantages-section
      H2.page-title-h2 Приемущества обращения к нам
      .landing-page__advantages
        .advantages-item
          .advantages__img.icon-master
          .advantages__text 
            p Бесплатный выезд мастера. Вы платите только за работу.
            .advantages__quest ?
              .advantages__descr Выезд при проведении работ не оплачивается.
        
        .advantages-item
          .advantages__img.icon-people
          .advantages__text 
            p Опытные и квалифицированные мастера в штате. 
            .advantages__quest ?
              .advantages__descr У нас в большой штат мастеров по всему городу.
        .advantages-item
          .advantages__img.icon-hour
          .advantages__text 
            p Выезд мастера на адрес в течение часа
            .advantages__quest ?
              .advantages__descr Мастер приедет к Вам с инструментами и необходимым оборудованием.
    
    .call-action-banner-container
      .calc-banner.page-banner
        .page-banner-img
            img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/master.webp' alt="")
        .page-banner-content
            .page-banner-content__title 
                p Мы готовы помочь Вам!
            .page-banner-content__text 
                p Свяжитесь с нами по телефонам  
                a(href=telNumber_1_int)= telNumber_1 
                |  или 
                a(href=telNumber_2_int)= telNumber_2 
                |  и наши лучшие мастера будут готовы выехать к Вам в течение 45 минут!
            .page-banner-content__text Также Вы можете оформить on-line заявку или заказать обратный звонок
            .page-banner-content-buttons
                .page-banner-button 
                    | Оформить заявку
                    br
                    | on-line
                .page-banner-button Заказать звонок
    .repair-page-prices
      H2.page-title-h2 Цены на услуги в г. Санкт-Петербург
      .table-container
        .table-container__bgrnd
        .table-container__button.table-container__button_down
        table.page-table
          tbody
            tr
              th Вид работ
              th Стоимость
            tr
              td.table-subtitle(colspan='2')
                p
                  b Сантехнические работы
            tr
              td(colspan='2')
                p
                  b Смеситель
            tr
              td
                p Ремонт СМЕСИТЕЛЯ (КРАНБУКСЫ)
              td
                p от 500 р.
            tr
              td
                p Сборка СМЕСИТЕЛЯ
              td
                p от 500 р.
            tr
              td
                p Установка на раковину, мойку (простой)
              td
                p от 800 р.
            tr
              td
                p Установка на раковину, мойку (сложный)
              td
                p от 1000 р.
            tr
              td
                p Установка настенного смесителя с терморегулятором
              td
                p от 1400 р.
            tr
              td
                p Установка на душевую кабину
              td
                p от 1380 р.
            tr
              td
                p Демонтаж смесителя (простой)
              td
                p от 500 р.
            tr
              td
                p Демонтаж смесителя (сложный, жесткая подводка)
              td
                p от 500 р.
            tr
              td
                p Установка КРАНБУКСЫ
              td
            tr
              td(colspan='2')
                p
                  b Сифон
            tr
              td
                p Установка на раковину, мойку (простой)
              td
                p от 500 р.
            tr
              td
                p Установка на ванну с монтажом ОБВЯЗКИ
              td
                p от 600 р.
            tr
              td
                p Чугунная, стальная обвязка
              td
                p от 900 р.
            tr
              td
                p Ремонт сифона
              td
                p от 500 р.
            tr
              td
                p Сборка сифона
              td
                p от 500 р.
            tr
              td
                p Устранение протечки сифона под мойкой, прочистка сифона
              td
                p от 750 р.
            tr
              td(colspan='2')
                p
                  b Полотенцесушитель
            tr
              td
                p Установка полотенцесушителя без изменения схемы подключения
              td
                p от 1500 р.
            tr
              td
                p Установка полотенцесушителя с изменением схемы подключения
              td
                p от 3200 р.
            tr
              td
                p Установка полотенцесушителя электрического на подготовленное к подключению место
              td
                p от 700 р.
            tr
              td
                p Демонтаж полотенцесушителя
              td
                p от 500 р.
            tr
              td
                p Перенос полотенцесушителя
              td
                p от 3200 р.
            tr
              td(colspan='2')
                p
                  b Мойка, умывальник
            tr
              td
                p Установка раковины, умывальника простого (без смесителя, без сифона)
              td
                p от 800 р.
            tr
              td
                p Демонтаж раковины, умывальника
              td
                p от 500 р.
            tr
              td
                p Монтаж раковины над стиральной машиной
              td
                p от 800 р.
            tr
              td
                p Монтаж кухонной мойки врезной и накладной
              td
                p от 800 р.
            tr
              td
                p Монтаж кухонной мойки врезной и накладной (гранит)
              td
                p от 1000 р.
            tr
              td
                p
                  | Установка УМЫВАЛЬНИКА типа «ТЮЛЬПАН» (без смесителя, без сифона, без доработки коммуникаций)
              td
                p от 1500 р.
            tr
              td
                p
                  | Установка умывальника «Мойдодыр» (без смесителя, без сифона, без доработки коммуникаций)
              td
                p от 900 р.
            tr
              td
                p Установка КРОНШТЕЙНА под раковину, умывальник
              td
                p от 500 р.
            tr
              td
                p Герметизация раковины(мойки, умывальника) силиконом
              td
                p от 500 р.
            tr
              td
                p Гидроизоляция швов раковины, пог. М
              td
                p от 500 р.
            tr
              td
                p Установка измельчителя к мойке
              td
                p от 1000 р.
            tr
              td(colspan='2')
                p
                  b Унитаз
            tr
              td
                p Демонтаж унитаза (без выноса)
              td
                p от 500 р.
            tr
              td
                p Демонтаж бачка унитаза (без выноса)
              td
                p от 500 р.
            tr
              td
                p Сборка унитаза
              td
                p от 500 р.
            tr
              td
                p Установка унитаза (напольного крепления)
              td
                p от 1500 р.
            tr
              td
                p Разворот унитаза(без доработки коммуникаций)
              td
                p от 2000 р.
            tr
              td
                p Установка ИНСТАЛЛЯЦИИ (сверление отверстий до 4, выравнивание и монтаж)
              td
                p от 3400 р.
            tr
              td
                p Замена ГОФРЫ (без демонтажа унитаза)
              td
                p от 500 р.
            tr
              td
                p Замена ГОФРЫ ( с демонтажом унитаза)
              td
                p от 1400 р.
            tr
              td
                p Установка БАЧКА (простого, отечественного, без демонтажа старого )
              td
                p от 1000 р.
            tr
              td
                p Установка БАЧКА(импортного, сложного, без демонтажа старого)
              td
                p от 1300 р.
            tr
              td
                p Установка сливного механизма в бачке (простого, без демонтажа старого механизма)
              td
                p от 600 р.
            tr
              td
                p
                  | Установка сливного механизма в бачке (импортного, сложного, без демонтажа старого механизма)
              td
                p от 900 р.
            tr
              td
                p Регулировка сливного механизма в бачке (простого)
              td
                p от 500 р.
            tr
              td
                p Регулировка сливного механизма в бачке (импортного, сложного)
              td
                p от 500 р.
            tr
              td
                p Ремонт сливного механизма (арматуры запорной)
              td
                p от 500 р.
            tr
              td
                p Установка СИДЕНИЯ на унитазе
              td
                p от 500 р.
            tr
              td
                p Демонтаж БИДЕ в сборе
              td
                p от 500 р.
            tr
              td
                p
                  | Установка БИДЕ напольного (на готовые коммуникации, сверление отверстий до 4, выравнивание и монтаж)
              td
                p от 2100 р.
            tr
              td
                p
                  | Установка БИДЕ подвесного (на готовые коммуникации, сверление отверстий до 4, выравнивание и монтаж)
              td
                p от 2800 р.
            tr
              td
                p Демонтаж ПИССУАРА (без выноса)
              td
                p от 500 р.
            tr
              td
                p
                  | Установка ПИССУАРА простого (на готовые коммуникации, сверление отверстий до 4, выравнивание и монтаж)
              td
                p от 1600 р.
            tr
              td
                p
                  | Установка ПИССУАРА сложного (на готовые коммуникации, сверление отверстий до 4, выравнивание и монтаж)
              td
                p от 2500 р.
            tr
              td
                p Подготовка ПЛОЩАДКИ для установки унитаза (цементирование)
              td
                p от 500 р.
            tr
              td(colspan='2')
                p
                  b Душевая кабина, ванна
            tr
              td
                p Демонтаж душевой кабины
              td
                p от 1000 р.
            tr
              td
                p Установка душевой кабины (без доработки коммуникаций)
              td
                p от 3200 р.
            tr
              td
                p Сборка душевой кабины
              td
                p от 1000 р.
            tr
              td
                p Замена РАССЕИВАТЕЛЯ ДУША
              td
                p от 500 р.
            tr
              td
                p Установка ШТАНГИ ДЛЯ ДУША
              td
                p от 500 р.
            tr
              td
                p Установка ПОДВОДКИ ГИБКОЙ ( шланга)
              td
                p от 500 р.
            tr
              td
                p Изготовление ДУШЕВОГО ПОДДНОНА
              td
                p от 4500 р.
            tr
              td
                p Облицовка душевого поддона КЕРАМОГРАНИТОМ
              td
                p от 2500 р.
            tr
              td
                p Установка акриловой\пластмассовой ВАННЫ с обвязкой
              td
                p от 1500 р.
            tr
              td
                p Установка ВАННЫ стальной с обвязкой
              td
                p от 1800 р.
            tr
              td
                p Установка ВАННЫ чугунной с обвязкой
              td
                p от 1900 р.
            tr
              td
                p Установка ВАННЫ с гидромассажем с обвязкой
              td
                p от 3000 р.
            tr
              td
                p Установка ВАННЫ нестандартных размеров ( без гидромассажа) с обвязкой
              td
                p от 3200 р.
            tr
              td
                p Установка угловой ВАННЫ (без гидромассажа) с обвязкой
              td
                p от 3100 р.
            tr
              td
                p ГИДРОИЗОЛЯЦИЯ швов в душевой\ванны, пог. м
              td
                p от 500 р.
            tr
              td
                p Установка пластикового уголка по периметру ванны, пог. м
              td
                p от 500 р.
            tr
              td
                p Установка ЭКРАНА под ВАННУ (готового)
              td
                p от 500 р.
            tr
              td
                p Установка ЛЮКА сантехнического на экране
              td
                p от 2800 р.
            tr
              td
                p Изготовление ЭКРАНА под ванну из ГКЛ с цоколем и лючком
              td
                p от 2200 р.
            tr
              td
                p Демонтаж ФАРТУКА (экрана) под ванной(кирпич, плитка)
              td
                p от 1300 р.
            tr
              td(colspan='2')
                p
                  b Трубы
            tr
              td
                p Демонтаж РАДИАТОРА ОТОПЛЕНИЯ (без выноса)
              td
                p от 700 р.
            tr
              td
                p Сборка, установка РАДИАТОРА ОТОПЛЕНИЯ
              td
                p от 1500 р.
            tr
              td
                p
                  | Разводка труб водоснабжения из полипропилена (до 3 м) (одинарная точка ГВ или ХВ)
              td
                p от 1800 р.
            tr
              td
                p Разводка труб водоснабжения из полипропилена (до 3 м) (двойная точка ГВ или ХВ)
              td
                p от 3300 р.
            tr
              td
                p Разводка труб водоснабжения из пропилена (более 3-х м),м
              td
                p от 600 р.
            tr
              td
                p ВРЕЗКА в канализацию (соединение трубы канализационной со стояком)
              td
                p от 700 р.
            tr
              td
                p Разводка ТРУБ канализации (диаметром до 50 мм), м
              td
                p от 500 р.
            tr
              td
                p Разводка ТРУБ канализации (диаметром более 50 мм), м
              td
                p от 700 р.
            tr
              td
                p Демонтаж труб канализации (пластиковых), м
              td
                p от 500 р.
            tr
              td
                p Демонтаж труб канализации( чугунных), м
              td
                p от 300 р.
            tr
              td
                p Демонтаж труб водоснабжения, м
              td
                p от 200 р.
            tr
              td
                p Замена СТОЯКА
              td
                p от 2200 р.
            tr
              td
                p Замена ПРОКЛАДКИ
              td
                p от 500 р.
            tr
              td
                p Замена ПРОКЛАДКИ уплотнительной в канализационной трубе (диаметром до 60 мм)
              td
                p от 500 р.
            tr
              td
                p Установка НИППЕЛЯ (переходника) (диаметром до ¾)
              td
                p от 500 р.
            tr
              td
                p Установка ТРОЙНИКА (диаметром до ¾)
              td
                p от 500 р.
            tr
              td
                p Установка КРЕСТОВИНЫ (диаметром до ¾)
              td
                p от 500 р.
            tr
              td
                p Установка КОЛЛЕКТОРА (гребенки)
              td
                p от 650 р.
            tr
              td
                p Установка ЗАГЛУШКИ на трубопроводе
              td
                p от 500 р.
            tr
              td
                p Установка СОЕДИНИТЕЛЯ ОБЖИМНОГО
              td
                p от 500 р.
            tr
              td
                p Установка ХОМУТОВ металлорезиновых (диаметром до 60 мм)
              td
                p от 500 р.
            tr
              td
                p Монтаж РЕДУКТОРА давления
              td
                p от 900 р.
            tr
              td
                p Монтаж СИСТЕМ ЗАЩИТЫ от протечек воды
              td
                p от 3000 р.
            tr
              td
                p Демонтаж ОБВЯЗКИ чугунной
              td
                p от 700 р.
            tr
              td
                p Монтаж ПРЕМЫЧКИ(байпас) сталь, м
              td
                p от 2900 р.
            tr
              td
                p Монтаж ПРЕМЫЧКИ(байпас) полипропилен, металлопласт, м
              td
                p от 1500 р.
            tr
              td
                p Установка КРАНА ШАРОВОГО на стояке (диаметром до ¾)
              td
                p от 900 р.
            tr
              td
                p Установка КРАНА ШАРОВОГО с фильтром тонкой очистки в комплекте
              td
                p от 1100 р.
            tr
              td
                p Установка ФИЛЬТРА тонкой очистки (без доработки коммуникаций)
              td
                p от 1500 р.
            tr
              td
                p Установка\ замена ФИЛЬТРА грубой очистки (без доработки коммуникаций)
              td
                p от 700 р.
            tr
              td
                p Установка ФИЛЬТРА тонкой очистки (Аквафор, Гейзер и т.п.)
              td
                p от 900 р.
            tr
              td
                p Ремонт и замена картриджей фильтров
              td
                p от 800 р.
            tr
              td
                p Монтаж ФАНОВОГО НАСОСА
              td
                p от 3500 р.
            tr
              td
                p Звукоизоляция канализационных труб (за погонный метр)
              td
                p от 500 р.
            tr
              td
                p Установка эксцентрика
              td
                p от 790 р.
            tr
              td
                p Спуск воздуха из радиатора
              td
                p от 1500 р.
            tr
              td
                p Установка уголков, муфт, тройников - одно соединение (пайка)
              td
                p от 500 р.
            tr
              td(colspan='2')
                p
                  b Общие виды работ
            tr
              td
                p ШТРОБЛЕНИЕ стен под трубы сантехнические бетон, м
              td
                p от 1300 р.
            tr
              td
                p ШТРОБЛЕНИЕ стен под трубы сантехнические кирпич, м
              td
                p от 1000 р.
            tr
              td
                p ШТРОБЛЕНИЕ стен под трубы сантехнические гипс и гипсокартон, м
              td
                p от 800 р.
            tr
              td
                p ШТРОБЛЕНИЕ стен под трубы водоснабжение бетон, м
              td
                p от 1000 р.
            tr
              td
                p ШТРОБЛЕНИЕ стен под трубы водоснабжение кирпич, м
              td
                p от 700 р.
            tr
              td
                p ШТРОБЛЕНИЕ стен под трубы водоснабжение гипс и гипсокартон, м
              td
                p от 500 р.
            tr
              td
                p Сверление ОТВЕРСТИЙ по кафелю
              td
                p от 500 р.
            tr
              td
                p Высверливание ОТВЕРСИТИЙ
              td
                p от 500 р.
            tr
              td
                p ВЫНОС демонтированного сантехнического оборудования (кроме ванны)
              td
                p от 500 р.
            tr
              td
                p ВЫНОС ванны (чугун)
              td
                p от 2500 р.
            tr
              td
                p ВЫНОС ванны (акрил/пластик)
              td
                p от 700 р.
            tr
              td
                p Устранение утечки под ванной
              td
                p от 1500 р.
            tr
              td
                p Устранение засора
              td
                p от 1000 р.
            tr
              td
                p Монтаж БОЙЛЕРА
              td
                p от 1500 р.
            tr
              td
                p Установка СТИРАЛЬНОЙ, ПОСУДОМОЕЧНОЙ машины (без подводки коммуникаций)
              td
                p от 750 р.
            tr
              td
                p Демонтаж СТИРАЛЬНОЙ машины
              td
                p от 500 р.
            tr
              td.table-subtitle(colspan='2')
                p
                  b Прочие работы
            tr
              td
                p Монтаж жалюзи
              td
                p от 800 р.
            tr
              td
                p Навес шкафчиков
              td
                p от 800 р.
            tr
              td
                p Установка собранного карниза / сборка карниза
              td
                p от 800 р.
            tr
              td
                p Дополнительный крепеж карниза
              td
                p от 800 р.
            tr
              td
                p Установка полки, декоративных предметов на стену, вешалки, турника
              td
                p от 800 р.
            tr
              td
                p Монтаж мелкой сантехнической фурнитуры
              td
                p от 500 р.
            tr
              td
                p Монтаж зеркала S=1 кв.м, и более 1 кв.м
              td
                p от 800 р.
            tr
              td
                p Монтаж зеркала
              td
                p от 700 р.
            tr
              td
                p Монтаж рулонных штор
              td
                p от 800 р.
            tr
              td
                p Навешивание тюли / штор
              td
                p от 800 р.
            tr
              td
                p Установка кронштейна под ТВ на стену
              td
                p от 800 р.
            tr
              td
                p Покраска РАДИАТОРА
              td
                p от 650 р.
            tr
              td
                p Покраска труб, пог.м
              td
                p от 500 р.
            tr
              td
                p Уборка квартиры, после проведенных нашим мастером работ
              td
                p от 900 р.

  
    .repair-page-reviews
      H2.page-title-h2 Отзывы клиентов об услуге "Мастер на час"
      .repair-page-reviews-items.owl-carousel#js-carousel-2
        +reviews({
          id: '00091',
          typeRepair: 'Мастер на час',
          userName: 'Анна',
          date: '28.01.2020',
          rating: '5',
          text: 'Делали работы по сантехнике. Получилось по стоимости дешевле чем у местных сантехников в ТСЖ.',
          answerSupport: ''
          })
        +reviews({
          id: '00041',
          typeRepair: 'мастер на час',
          userName: 'Денис',
          date: '22.09.2019',
          rating: '4',
          text: 'Все хорошо сделали. претензий не имею.',
          answerSupport: ''
          })
        +reviews({
          id: '00036',
          typeRepair: 'Мастер на час',
          userName: 'Татьяна ',
          date: '18.07.2019',
          rating: '5',
          text: 'Спасибо! мне очень помог мастер на все руки Валерий! Карниз прикрутил, полки повесил, сантехнику починил!  все отлично!',
          answerSupport: ''
          })
      
        
    .repair-page-questions
      .repair-page-questions-item
        H2.repair-page-questions-item__title Почему стоит обратиться именно к нам?
        ul.repair-page-questions-list
          li.repair-page-questions-list-item 
            p
              span.repair-page-questions__subtitle.font-bold Бесплатный выезд мастера. 
            p При выполнении работ Вы не оплачиваете выезд мастера на дом.
          li.repair-page-questions-list-item 
            p
              span.repair-page-questions__subtitle.font-bold Гарантия до 2-х лет. 
            p В зависимости от вида работ мы предоставляем гарантию от 3-х месяцев до 2-х лет.
          li.repair-page-questions-list-item 
            p
              span.repair-page-questions__subtitle.font-bold Удобное для Вас время визита мастера. 
            p Вы можете сами предложить время, когда Вам удобно принять мастера.
              span Также Вы можете воспользоваться 
              span.repair-page-questions__button-order.button-order сервисом 
              span для оформления заявки на вызов мастера.
          li.repair-page-questions-list-item.font-bold
            p
              span.repair-page-questions__subtitle Экономим Ваше время.
              span Наши мастера оснащены всем необходимым оборудованием для проведения работ.
              
          li.repair-page-questions-list-item.font-bold
            p
              span.repair-page-questions__subtitle Проконсультируем по телефону бесплатно.
             
              span Позвонив нам и описав проблему, Вы получите бесплатную консультацию о возможной стоимости работ. 

      .repair-page-questions-item.repair-page-questions-item_active
        H2.repair-page-questions-item__title Как с нами связаться?
        .repair-page-questions-list
          p.repair-page-questions-list-text 
            span Если у Вам необходима услуга "Мастер на час" обратитесь в компанию 
            span= nameCompany 
            span  по телефонам
          
          a(herf=telNumber_1_int)= telNumber_1
          br
          a(herf=telNumber_2_int)= telNumber_2
          br
          p или оформите 
            span.repair-page-questions__button-order.button-order заявку on-line  
            span на сайте.
          br
          
     
      .repair-page-questions-item.repair-page-questions-item_active
        H2.repair-page-questions-item__title Насколько опытные мастера работают у Нас?
        .repair-page-questions-list
          p У нас в штате мастера  с минимальным опытом работы 3 года. Большинство мастеров имеет опыт работы 8-10 лет.
          p Кроме того, при поступлении на работу, и в дальнейшем мы проводим регулярную аттестацию персонала и повышение квалификации.
          p Также все наши мастера проходят ежедневный медицинский контроль, а также тестирование на заболевание коронавирусом COVID-19.

                        

            

