extends ../../layout/repair_page_layout.pug


block variables
    - var title = 'Ремонт телевизоров  в г.Санкт-Петербурге'
    - var content = "Ремонт телевизоров любых марок за один визит к Вам. Бесплатный выезд и диагностика. Профессиональное оборудование. Гарантия до 2-х лет."
    

block content
    include ../../../blocks/page-blocks/page-blocks
    include ../../../blocks/elements/elements

    +bread-crumbs({
      'Главная': '/',
   
      "Ремонт телевизоров": "#",
  
    })
    .repair-page-title-section
      H1.page-title-h1(itemprop="name")=title
    .repair-page-text-section
      .repair-page-img.repair-page-img_float-left
        include ../../../img/pictures/svg/tv.pug
      .page-text
        p
          | Современная техника не может похвастаться длительной эксплуатацией без ремонта. Даже самые надежные производители не выпускают вечные модели. Со временем детали изнашиваются и требуют визита специалиста в ваш дом. Не говоря уже о сторонних факторах, приводящих к неисправностям.
        p

        p
          | Поломки всегда случаются неожиданно для владельца. И в таком случае вам понадобится ремонт телевизора в спб. Это не жизненно необходимая техника, но ее отсутствие нарушает привычный образ жизни. Придя домой, у многих руки сами тянутся к пульту. Чтобы починка не потребовала значительных затрат средств и времени, необходимо обратиться к мастеру при первых признаках поломки.
        p
          | Очевидные неисправности не оставляют выбора владельцам. Если телевизор не включается, вопросов о вызове мастера на дом не возникает. Но есть ряд неполадок, на которые многие не обращают внимания. Если вы заметили помехи, медленный или некорректный отклик на команды управления, помехи или перебои с питанием, необходимо как можно скорее обратиться к специалисту.
        p

        p
          | Мелкие неисправности устранить намного проще. Если их запустить, может понадобиться более серьезный ремонт, при котором технику придется отправить в сервисный центр.
        p

        p Наиболее частые поломки специалисты отмечают в связи с дефектами:
        ol
          li &#10148 Подсветки.
          li &#10148 Блока питания.
          li &#10148 Процессора.
          li &#10148 Матрицы.
          li &#10148 Материнской платы.
          li &#10148 ТВ тюнера.
        p

        p
          | Компетентную диагностику сможет провести исключительно мастер. В ряде случаев понадобится замена деталей, либо их починка. Также специалист поможет настроить каналы или подключить ТВ приставку. При этом, мелкий ремонт можно провести непосредственно на дому. При более сложных поломках, технику необходимо будет отправить в сервисный центр. Что потребует больших затрат времени и средств.
        p

        p
          | Проблем, возникающих с телевизорами огромное количество. Объясняется это сложностью их устройства. Современная техника обладает сложным строением. Поэтому доверить свою технику лучше опытным специалистам, которые имеют достаточную квалификацию для качественной починки. Своевременная диагностика — залог длительной службы техники.
        p

        p
          | Компания РемБытТехника выполняет ремонт бытовой техники в городе Санкт-Петербурге. Осуществляется бесплатная диагностика и выезд мастера по городу. Готовы выехать в пределах 30 км от КАД. Работаем с 2005 года. Все мастера в штате имеют высокую квалификацию и стаж работы не менее трех лет.
        p

        p
          | Ремонтируем большинство современных марок телевизоров. Как плазменных, так и ЖК. Мелкие неисправности устраняются непосредственно на дому, при более серьезных поломках, мастер сам заберет технику в сервисный центр.

    .repair-page-advantages-section
      H2.page-title-h2 Приемущества обращения к нам
      .landing-page__advantages
        .advantages-item
          .advantages__img.icon-master
          .advantages__text 
            p Бесплатный выезд мастера и диагностика неисправности
            .advantages__quest ?
              .advantages__descr Выезд и диагностика выполняется бесплатно при выполнении ремонта.
        .advantages-item
          .advantages__img.icon-warranty
          .advantages__text 
            p Гарантия до 2-х лет (работа + запчасти)
            .advantages__quest ?
              .advantages__descr Предоставляется официальная гарантия на работу и установленные запасные части.
        .advantages-item
          .advantages__img.icon-people
          .advantages__text 
            p Большой штат квалифицированных мастеров
            .advantages__quest ?
              .advantages__descr У нас в штате более 70 мастеров. Мы тщательно отбираем мастеров, и регулярно проверяем их квалификацию.
        .advantages-item
          .advantages__img.icon-hour
          .advantages__text 
            p Выезд мастера на адрес в течение часа
            .advantages__quest ?
              .advantages__descr Большой штат сотрудников и наличие филиалов в каждом районе города позволяют нам очень быстро прибыть к Вам.   

    .call-action-banner-container
      .calc-banner.page-banner
        .page-banner-img
            img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/master.webp' alt="")
        .page-banner-content
            .page-banner-content__title 
                p Доверьте ремонт телевизора профессионалам!
            .page-banner-content__text 
                p Свяжитесь с нами по телефонам  
                a(href=telNumber_1_int)= telNumber_1 
                |  или 
                a(href=telNumber_2_int)= telNumber_2 
                |  и в течение двух часов Ваша техника будет исправна!
            .page-banner-content__text Также Вы можете оформить on-line заявку или заказать обратный звонок
            .page-banner-content-buttons
                .page-banner-button 
                    | Оформить заявку
                    br
                    | on-line
                .page-banner-button Заказать звонок
    .repair-page-prices
      H2.page-title-h2 Цены на услуги по ремонту телевизоров в г. Санкт-Петербург
      .table-container
        .table-container__bgrnd
        .table-container__button.table-container__button_down
        table.page-table
          tbody
            tr
              th Вид работ
              th Стоимость
            tr
              td
                p Выезд мастера на дом
              td
                p бесплатно
            tr
              td
                p Диагностика неисправности при ремонте
              td
                p бесплатно
            tr
              td
                p Замена подсветки
              td
                p 900
            tr
              td
                p Ремонт блока питания
              td
                p 900
            tr
              td
                p Замена блока питания
              td
                p 900
            tr
              td
                p Ремонт процессора
              td
                p 1000
            tr
              td
                p Замена матрицы
              td
                p 900
            tr
              td
                p Замена материнской платы
              td
                p 900
            tr
              td
                p Ремонт материнской платы
              td
                p 100
            tr
              td
                p Ремонт ТВ Тюнера
              td
                p 700
            tr
              td
                p Замена ТВ Тюнера
              td
                p 700
            tr
              td
                p Замена процессора
              td
                p 1000
            tr
              td
                p Настройка каналов
              td
                p 700
            tr
              td
                p Подключение и настройка ТВ приставки
              td
                p 700
            tr
              td
                p Диагностика в случае отказа от проведения ремонта
              td
                p 1190

  
    .repair-page-reviews
      H2.page-title-h2 Отзывы клиентов о ремонте телевизоров
      .repair-page-reviews-items.owl-carousel#js-carousel-2
        +reviews({
          id: '00088',
          typeRepair: 'Ремонт телевизоров',
          userName: 'Ольга',
          date: '23.12.2020',
          rating: '5',
          text: 'Рекомендую данную организацию',
          answerSupport: ''
          })
        +reviews({
          id: '00083' ,
          typeRepair: 'Ремонт телевизоров',
          userName: 'Вадим',
          date: '14.10.2020',
          rating: '5',
          text: 'Серьезный сервис. рекомендовали знакомые.',
          answerSupport: ''
          })
        +reviews({
          id: '00068',
          typeRepair: 'Ремонт телевизоров',
          userName: 'Валера',
          date: '14.05.2020',
          rating: '5',
          text: 'Ремонт по разумной цене. Мне рекомендовали и я рекомендую!',
          answerSupport: ''
          })
        +reviews({
          id: '00058',
          typeRepair: 'Ремонт телевизоров',
          userName: 'Рустэм',
          date: '15.02.2020',
          rating: '5',
          text: 'Все устроило. Работают без  развода на бабки клиентов',
          answerSupport: ''
          })
        
        
    .repair-page-questions
      .repair-page-questions-item
        H2.repair-page-questions-item__title Почему стоит обратиться именно к нам?
        ul.repair-page-questions-list
          li.repair-page-questions-list-item 
            p
              span.repair-page-questions__subtitle.font-bold Бесплатная диагностика и выезд. 
            p При выполнении ремонта Вы не оплачиваете выезд мастера на дом и работу по проведению диагностики.
          li.repair-page-questions-list-item 
            p
              span.repair-page-questions__subtitle.font-bold Гарантия до 2-х лет. 
            p В зависимости от вида ремонта мы предоставляем гарантию на выполненные рнаботы от 3-х месяцев до 2-х лет.
          li.repair-page-questions-list-item 
            p
              span.repair-page-questions__subtitle.font-bold Удобное для Вас время визита мастера. 
            p Вы можете сами предложить время, когда Вам удобно принять мастера.
              span Также Вы можете воспользоваться 
              span.repair-page-questions__button-order.button-order сервисом 
              span для оформления заявки на ремонт телевизора.
          li.repair-page-questions-list-item.font-bold
            p
              span.repair-page-questions__subtitle Экономим Ваше время.
              span Наши мастера оснащены всем необходимым оборудованием для проведения ремонта на дому.
              span В среднем ремонт телевизора на дому занимает от 45 минут до 2,5 часов.
          li.repair-page-questions-list-item.font-bold
            p
              span.repair-page-questions__subtitle Проконсультируем по телефону бесплатно.
              span Звонки принимают мастера по ремонту телевизоров, а не просто деспетчеры.
              span Позвонив нам и описав проблему, Вы получите бесплатную консультацию о возможных неисправностях, примерной стоимости и сроках их устранения. 
      .repair-page-questions-item.repair-page-questions-item_active
        H2.repair-page-questions-item__title Сколько времени займет ремонт?
        .repair-page-questions-list
          p.repair-page-questions-list-text 
            span В среднем ремонт телевизора занимает от 45 минут до 2,5 часов. 
            span Ремонт производится у Вас дома. В некоторых случаях ремонт телевизора может занять больше времени.
            span Например, если требуется ремонт электронной платы (модуля управления), или восстановление испарителя в условиях мастерской.
      .repair-page-questions-item.repair-page-questions-item_active
        H2.repair-page-questions-item__title Как с нами связаться?
        .repair-page-questions-list
          p.repair-page-questions-list-text 
            span Если у Вас не работает телевизор обратитесь в компанию 
            span= nameCompany 
            span  по телефонам
          
          a(herf=telNumber_1_int)= telNumber_1
          br
          a(herf=telNumber_2_int)= telNumber_2
          br
          p или оформите 
            span.repair-page-questions__button-order.button-order заявку on-line  
            span на сайте.
          br
          p.font-bold Чтобы мастер лучше подготовился к ремонту сообщите при звонке или оформлении заявки на ремонт телевизора следующую информацию:
          ol
            li.repair-page-questions__subtitle.repair-page-questions-list-item
              p Марку телевизора и его примерный возраст.    
            li.repair-page-questions__subtitle.repair-page-questions-list-item
              p Сообщите что не так с Вашим телевизором (например: не охлаждает весь или одна из камер телевизора, перемораживает, подтекает и т.п.).
            li.repair-page-questions__subtitle.repair-page-questions-list-item        
              p Удобное время для визита мастера.
            li.repair-page-questions__subtitle.repair-page-questions-list-item          
              p Адрес и телефон для связи.
          p Мастер приедет в назначенное время, а перед выездом позвонит Вам.
      .repair-page-questions-item.repair-page-questions-item_active
        H2.repair-page-questions-item__title Какая гарантия на работу?
        .repair-page-questions-list
          p.repair-page-questions-list-text 
            | После завершения ремонта мастер обязательно проверит работоспособность телевизора, а также продемонстрирует Вам. 
            | После чего будет оформлен гарантийный талон. Срок гарантии от 3-х месяцев до 2-х лет в зависимости от вида ремонта.
            | Гарантия распространяется на как на запчасти, так и на выполненные работы.
      
      .repair-page-questions-item.repair-page-questions-item_active
        H2.repair-page-questions-item__title Насколько опытные мастера работают у Нас?
        .repair-page-questions-list
          p У нас в штате мастера по ремонту телевизоров с минимальным опытом работы 3 года. Большинство мастеров имеет опыт работы 8-10 лет.
          p Кроме того, при поступлении на работу, и в дальнейшем мы проводим регулярную аттестацию персонала и повышение квалификации.
          p Также все наши мастера проходят ежедневный медицинский контроль, а также тестирование на заболевание короновирусом COVID-19.

                        

            

