extends ../../layout/repair_page_layout.pug


block variables
    - var title = 'Ремонт компьютеров и ноутбуков в Санкт-Петербурге'
    - var content = "Профессиональный сервис по ремонту электроники с хорошей репутацией. Мы работаем более 15 лет и гордимся своим уровнем сервиса. Низкие цены на ремонт при высоком качестве ремонта!"
    

block content
    include ../../../blocks/page-blocks/page-blocks
    include ../../../blocks/elements/elements

    +bread-crumbs({
      'Главная': '/',

      "Ремонт компьютеров": "#",
  
    })
    .repair-page-title-section
      H1.page-title-h1(itemprop="name")=title
    .repair-page-text-section
      .repair-page-img.repair-page-img_float-left
        include ../../../img/pictures/svg/comp.pug
      .page-text
        p
          | Практически невозможно сейчас встретить людей у которых нет компьютера или ноутбука. 
          | 21 век диктует свои правила и для современного человека этот вид техники стал необходимостью. 
          | Мы ежедневно их используем и даже не представляем, насколько сложно они устроены. 
          | Поэтому их поломка становится крайне неприятным сюрпризом.
        p
          | Если ноутбук можно легко отнести в сервисный центр, 
          | то с компьютером это сделать значительно сложнее, 
          | поэтому удобным выходом из ситуации станет вызов мастера на дом. 
          | Он сможет провести диагностику и установить степень неисправности устройства.
        p
          | Перед ремонтом необходима диагностика устройства. Это сложный процесс, 
          | который провести самостоятельно в домашних условиях не получится. 
          | Для этого нужны соответствующие знания и, что самое главное — опыт. 
          | Рынок по ремонту ноутбуков заполнен молодыми специалистами. 
          | Но вероятных причин неисправностей настолько много, 
          | что доверить свое устройство лучше опытному мастеру, который столкнулся со множеством сложных задач.
        p Неисправность может скрываться в различных деталях. Проблема может крыться:
        ul
          li &#10148  В механической неисправности корпуса.
          li &#10148  дефекте зарядки, клавиатуры или мыши.
          li &#10148  Поломке матрицы, петель или шлейфа ноутбука.
          li &#10148  В жестком диске.
          li &#10148  Батарее ноутбука.
          li &#10148  В программном обеспечении.
          li &#10148  Охлаждающей системе.
        br
        p
          | Обращение к специалисту очевидно, если компьютер перестал включаться. 
          | Но есть ряд признаков, которые некоторые игнорируют и не спешат прибегать к помощи мастера. 
          | Если вы заметили, что устройство перегревается, издает нехарактерные звуки 
          | или самопроизвольно выключается, на это обязательно нужно обратить внимание.
        p
          | Ранняя диагностика поможет избежать более серьезных проблем. 
          | Специалист сможет своевременно заметить неполадку и устранить ее. 
          | Это значительно сэкономит ваши средства и время.
        p
          | Указанные неисправности являются не полным перечнем поломок. 
          | Мастера проводят полную диагностику и только после нее можно 
          | установить полную картину состояния вашей техники. Внимание, 
          | только квалифицированный сотрудник способен установить причину поломки. 
          | Поэтому, при первых признаках неисправности, как можно скорее звоните специалисту.
        p
          | Компания РемБытТехника предоставляет услуги по ремонту техники в городе Санкт-Петербурге. 
          | Работаем с 2005 года и имеем 11 филиалов в городе. 
          | Готовы взяться за любую модель, вне зависимости ее возраста. 
          | Имеем широкий штат сотрудников: более 50 по всему городу. 
          | Каждый имеет высокую квалификацию и опыт работы от трех лет. 
          | Мастера бесплатно выезжают по городу. В пригород готовы выехать не дальше 30 КМ от КАД.


    .repair-page-advantages-section
      H2.page-title-h2 Приемущества обращения к нам
      .landing-page__advantages
        .advantages-item
          .advantages__img.icon-master
          .advantages__text 
            p Бесплатный выезд мастера и диагностика неисправности
            .advantages__quest ?
              .advantages__descr Выезд и диагностика выполняется бесплатно при выполнении ремонта.
        .advantages-item
          .advantages__img.icon-warranty
          .advantages__text 
            p Гарантия до 2-х лет (работа + запчасти)
            .advantages__quest ?
              .advantages__descr Предоставляется официальная гарантия на работу и установленные запасные части.
        .advantages-item
          .advantages__img.icon-people
          .advantages__text 
            p Большой штат квалифицированных мастеров
            .advantages__quest ?
              .advantages__descr У нас в штате более 70 мастеров. Мы тщательно отбираем мастеров, и регулярно проверяем их квалификацию.
        .advantages-item
          .advantages__img.icon-hour
          .advantages__text 
            p Выезд мастера на адрес в течение часа
            .advantages__quest ?
              .advantages__descr Большой штат сотрудников и наличие филиалов в каждом районе города позволяют нам очень быстро прибыть к Вам.
   

    .call-action-banner-container
      .calc-banner.page-banner
        .page-banner-img
            img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/master.webp' alt="")
        .page-banner-content
            .page-banner-content__title 
                p Доверьте ремонт своего компьютера профессионалам!
            .page-banner-content__text 
                p Свяжитесь с нами по телефонам  
                a(href=telNumber_1_int)= telNumber_1 
                |  или 
                a(href=telNumber_2_int)= telNumber_2 
                |  и лучшие мастера приедут на помощь Вашей технике!
            .page-banner-content__text Также Вы можете оформить on-line заявку или заказать обратный звонок
            .page-banner-content-buttons
                .page-banner-button 
                    | Оформить заявку
                    br
                    | on-line
                .page-banner-button Заказать звонок
    .repair-page-prices
      H2.page-title-h2 Цены на услуги по ремонту компьютеров в г. Санкт-Петербург
      .table-container
        .table-container__bgrnd
        .table-container__button.table-container__button_down
        table.page-table
          tbody
            tr
              th Вид работ
              th Стоимость
            tr
              td
                p Установка WINDOWS
              td
                p от 450 р.
            tr
              td
                p Настройка роутера
              td
                p от 480 р.
            tr
              td
                p Удаление вирусов
              td
                p от 310 р.
            tr
              td
                p Чистка от пыли
              td
                p от 490 р.
            tr
              td
                p Установка антивируса (1 год)
              td
                p от 390 р.
            tr
              td
                p Настройка биоса
              td
                p от 560 р.
            tr
              td
                p Установка драйвера
              td
                p от 190 р.
            tr
              td
                p Настройка / установка программ
              td
                p от 320 р.
            tr
              td
                p Установка офиса (Word, Excel)
              td
                p от 690 р.
            tr
              td
                p Замена комплектующих
              td
                p от 595 р.
            tr
              td
                p Замена термопасты
              td
                p от 440 р.
            tr
              td
                p Настройка принтера
              td
                p от 420 р.
            tr
              td
                p Настройка почты
              td
                p от 450 р.
            tr
              td
                p Обучение работе с ПК (30 мин.)
              td
                p от 690 р.
            tr
              td
                p Настройка IP-TV
              td
                p от 560 р.
            tr
              td
                p Восстановление пароля Wi-Fi роутера
              td
                p от 690 р.

  
    .repair-page-reviews
      H2.page-title-h2 Отзывы клиентов о ремонте компьютеров
      .repair-page-reviews-items.owl-carousel#js-carousel-2
        +reviews({
          id: '00081',
          typeRepair: 'Ремонт компьютеров',
          userName: 'Максим',
          date: '28.09.2020',
          rating: '5',
          text: 'Произведен ремонт материнской платы. Справились за три дня. Все работает норм.',
          answerSupport: ''
          })
        +reviews({
          id: '00051',
          typeRepair: 'Ремонт компьютеров',
          userName: 'Евгений',
          date: '24.12.2019',
          rating: '5',
          text: 'Восстановили разбитый ноутбук. Долго ждали, но все сделали качественно',
          answerSupport: ''
          })
        +reviews({
          id: '00028',
          typeRepair: 'Ремонт компьютеров',
          userName: 'Виктор',
          date: '14.04.2019',
          rating: '4',
          text: 'Поменяли клавиатуру, кулер, перепаяли разьем для зарядника на ноутбуке. 1,5 тыс за все более чем приемлемо',
          answerSupport: ''
          })
        +reviews({
          id: '00020',
          typeRepair: 'Ремонт компьютеров',
          userName: 'Наталья',
          date: '16.01.2019',
          rating: '5',
          text: 'Только пять баллов сервису. Ранее чинили посудомойку, остались довольны. Теперь ноутбук. Радует что хоть кто то в наше время делает свою работу качественно!',
          answerSupport: 'Спасибо Наталья! Рады стараться!'
          })
        +reviews({
          id: '00017',
          typeRepair: 'Ремонт компьютеров',
          userName: 'Ярослав',
          date: '28.11.2018',
          rating: '5',
          text: 'Хорошая фирма. Ценник приемлемый. Сроки как сказали три дня так и сделали',
          answerSupport: ''
          })
        
    .repair-page-questions
      .repair-page-questions-item
        H2.repair-page-questions-item__title Почему при проблемах с компьютером нужно обращаться именно к нам?
        ul.repair-page-questions-list
          li.repair-page-questions-list-item 
            p
              span.repair-page-questions__subtitle.font-bold Бесплатная диагностика и выезд. 
            p При выполнении ремонта Вы не оплачиваете выезд мастера на дом и работу по проведению диагностики.
          li.repair-page-questions-list-item 
            p
              span.repair-page-questions__subtitle.font-bold Гарантия до 2-х лет. 
            p В зависимости от вида ремонта мы предоставляем гарантию на выполненные работы от 3-х месяцев до 2-х лет.
          li.repair-page-questions-list-item 
            p
              span.repair-page-questions__subtitle.font-bold Удобное для Вас время визита мастера. 
            p Вы можете сами предложить время, когда Вам удобно принять мастера.
              span Также Вы можете воспользоваться 
              span.repair-page-questions__button-order.button-order сервисом 
              span для оформления заявки на ремонт компьютера или ноутбука.
          li.repair-page-questions-list-item.font-bold
            p
              span.repair-page-questions__subtitle Экономим Ваше время.
              span У нас работают специалисты высокого уровня, поэтому ремонт выполняется быстро и качественно

         
      .repair-page-questions-item.repair-page-questions-item_active
        H2.repair-page-questions-item__title Сколько времени займет ремонт?
        .repair-page-questions-list
          p.repair-page-questions-list-text 
            span В среднем ремонт компьютера или ноутбука занимает от 2 часов до 2 суток. 
            span В некоторых случаях ремонт компьютера или ноутбука может занять больше времени.
            span Например, если требуется ремонт сложной электроники (к примеру: пайка электросхем).
      .repair-page-questions-item.repair-page-questions-item_active
        H2.repair-page-questions-item__title Как с нами связаться?
        .repair-page-questions-list
          p.repair-page-questions-list-text 
            span Если у Вас проблемы с компьютером или ноутбуком обратитесь в компанию 
            span= nameCompany 
            span  по телефонам
          
          a(herf=telNumber_1_int)= telNumber_1
          br
          a(herf=telNumber_2_int)= telNumber_2
          br
          p или оформите 
            span.repair-page-questions__button-order.button-order заявку on-line  
            span на сайте.
          br
         
      .repair-page-questions-item.repair-page-questions-item_active
        H2.repair-page-questions-item__title Какая гарантия на работу?
        .repair-page-questions-list
          p.repair-page-questions-list-text 
            | После завершения ремонта мастер продемонстрирует работоспособность техники, 
            | после чего будет оформлен гарантийный талон. Срок гарантии составлят от 3-х месяцев до 2-х лет в зависимости от вида ремонта.
            | Гарантия распространяется на как на запчасти, так и на выполненные работы.
      
      .repair-page-questions-item.repair-page-questions-item_active
        H2.repair-page-questions-item__title Насколько опытные мастера работают у Нас?
        .repair-page-questions-list
          p У нас в штате мастера по ремонту компьютеров с минимальным опытом работы 3 года. Большинство мастеров имеет опыт работы 8-10 лет.
          p Кроме того, при поступлении на работу, и в дальнейшем мы проводим регулярную аттестацию персонала и повышение квалификации.
          p Также все наши мастера проходят ежедневный медицинский контроль, а также тестирование на заболевание короновирусом COVID-19.
          br
                        

            

