extends ../../layout/repair_page_layout.pug


block variables
    - var title = 'Ремонт варочных панелей на дому в г.Санкт-Петербурге'
    - var content = "Ремонт варочных панелей любых марок за один визит к Вам. Бесплатный выезд и диагностика. Профессиональное оборудование. Гарантия до 2-х лет."
    

block content
    include ../../../blocks/page-blocks/page-blocks
    include ../../../blocks/elements/elements

    +bread-crumbs({
      'Главная': '/',

      "Ремонт варочных панелей": "#",
  
    })
    .repair-page-title-section
      H1.page-title-h1(itemprop="name")=title
    .repair-page-text-section
      .repair-page-img.repair-page-img_float-left
        include ../../../img/pictures/svg/fridge.pug
      .page-text
        p
          | Современный человек уже привык к благам цивилизации и воспринимает их как должное. Поэтому мы иногда забываем, что техника имеет неприятное свойство ломаться. Поломки варочных панелей случаются немного реже, чем неисправности другой бытовой техники. Поэтому если это происходит, то является неприятным сюрпризом для владельца.
        p
          | Эволюция варочных панелей значительно шагнула вперед за последние годы. Появилось множество их разновидностей, усложнилось их устройство. Поэтому доверить ремонт лучше высококвалифицированному мастеру.
        p
          | Чтобы выявить неисправность, требуется диагностика опытного специалиста. Только так можно выявить неисправность и ликвидировать ее за максимально короткие сроки. А также, даст необходимые рекомендации, чтобы поломки случались как можно реже и техника радовала вас долгой службой.
        p
          | Варочные панели, как правило, просто перестают работать. Нет побочных признаков, как у другой техники. Поэтому сложно отследить надвигающуюся неисправность. Исключением служат индукционные варочные панели. Они могут произвольно включаться или выключаться, не поддерживать заданную температуру вне зависимости от действий владельца. Остаться без плиты в 21 веке — сомнительное удовольствие. Поэтому единственное решение — вызвать мастера на дом.
        p
          | Признаков надвигающейся поломки мало, но вот причин может быть множество. Условно их можно разделить на две большие группы:
        p Нет напряжения в розетке.
        p Нарушение в цепи проводимости.
        p
          | Первая диагностируется и решается достаточно просто. Это вы можете сделать дома самостоятельно. Чтобы проверить розетку, достаточно попробовать подключить туда другой прибор. А вот со второй группой возникают проблемы. В зависимости от вида варочной панели причин поломок может быть огромное количество. Поэтому так важно вызвать мастера как можно быстрее.

        p(itemprop="description") Компания РемБытТехника предоставляет услуги по ремонту 
          | техники в городе Санкт-Петербурге. Работаем с 2005 года и имеем 11 филиалов в городе. 
          | Готовы взяться за любую модель, вне зависимости ее возраста. Имеем широкий штат 
          | сотрудников: более 50 по всему городу. Каждый имеет высокую квалификацию и опыт 
          | работы от трех лет. Мастера бесплатно выезжают по городу. В пригород готовы 
          | выехать не дальше 30 КМ от КАД.

    .repair-page-advantages-section
      H2.page-title-h2 Приемущества обращения к нам
      .landing-page__advantages
        .advantages-item
          .advantages__img.icon-master
          .advantages__text 
            p Бесплатный выезд мастера и диагностика неисправности
            .advantages__quest ?
              .advantages__descr Выезд и диагностика выполняется бесплатно при выполнении ремонта.
        .advantages-item
          .advantages__img.icon-warranty
          .advantages__text 
            p Гарантия до 2-х лет (работа + запчасти)
            .advantages__quest ?
              .advantages__descr Предоставляется официальная гарантия на работу и установленные запасные части.
        .advantages-item
          .advantages__img.icon-people
          .advantages__text 
            p Большой штат квалифицированных мастеров
            .advantages__quest ?
              .advantages__descr У нас в штате более 70 мастеров. Мы тщательно отбираем мастеров, и регулярно проверяем их квалификацию.
        .advantages-item
          .advantages__img.icon-hour
          .advantages__text 
            p Выезд мастера на адрес в течение часа
            .advantages__quest ?
              .advantages__descr Большой штат сотрудников и наличие филиалов в каждом районе города позволяют нам очень быстро прибыть к Вам.
        .advantages-item
          .advantages__img.icon-original
          .advantages__text 
            p Используем только оригинальные запчасти
            .advantages__quest ?
              .advantages__descr Мы сотрудничаем только с официальными и проверенным годами поставщиками. 
        .advantages-item
          .advantages__img.icon-srtificate
          .advantages__text 
            p Сертифицированный сервисный центр компаний Bosch, Miele, Siemens, Samsung и др.
            .advantages__quest ?
              .advantages__descr Мы имеем официальную сертификацию у ведущих производителей техники и регулярно ее подтверждаем.



    .repair-page-brands
      H2.page-title-h2 Мы ремонтируем варочные поверхности большинства известных брендов
      .brands-carousel.owl-carousel#js-carousel-3
        .brands-carousel-item-group
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/miele_300.webp" alt="Ремонт варочных панелей Miele в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/smeg_300.webp" alt="Ремонт варочных панелей Smeg в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/bosch_300.webp" alt="Ремонт варочных панелей Bosch в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/siemens_300.webp" alt="Ремонт варочных панелей Siemens в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/aeg_300.webp" alt="Ремонт варочных панелей AEG в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/teka_300.webp" alt="Ремонт варочных панелей Teka в Санкт-петербурге")
        .brands-carousel-item-group
          a.brands-carousel-item__link(href="#")  
            img.brands-carousel-item(src="/assets/img/pictures/brands/samsung_300.webp" alt="Ремонт варочных панелей Samsung в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/lg_300.webp" alt="Ремонт варочных панелей LG в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/korting_300.webp" alt="Ремонт варочных панелей Korting в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/electrolux_300.webp" alt="Ремонт варочных панелей Electrolux в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/ardo_300.webp" alt="Ремонт варочных панелей Ardo в Санкт-петербурге")
        
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/beko_300.webp" alt="Ремонт варочных панелей Beko в Санкт-петербурге")
        .brands-carousel-item-group
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/candy_300.webp" alt="Ремонт варочных панелей Candy в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/gorenje_300.webp" alt="Ремонт варочных панелей Gorenje в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/hansa_300.webp" alt="Ремонт варочных панелей Hansa в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/indezit_300.webp" alt="Ремонт варочных панелей Indezit в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/liebherr_300.webp" alt="Ремонт варочных панелей Liebherr в Санкт-петербурге")
        
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/panasonic_300.webp" alt="Ремонт варочных панелей Panasonic в Санкт-петербурге")
        .brands-carousel-item-group 
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/philips_300.webp" alt="Ремонт варочных панелей Philips в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/whirpool_300.webp" alt="Ремонт варочных панелей whirpool в Санкт-петербурге")
        
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/asko_300.webp" alt="Ремонт варочных панелей Asko в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/daewoo_300.webp" alt="Ремонт варочных панелей Daewoo в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/haier_300.webp" alt="Ремонт варочных панелей Haier в Санкт-петербурге")
          a.brands-carousel-item__link(href="#")
            img.brands-carousel-item(src="/assets/img/pictures/brands/hotpoint-ariston_300.webp" alt="Ремонт варочных панелей Hotpoint-Ariston в Санкт-петербурге")
          
    .call-action-banner-container
      .calc-banner.page-banner
        .page-banner-img
            img(class='page-banner-img__pct' src= domen + '/assets/img/pictures/master.webp' alt="")
        .page-banner-content
            .page-banner-content__title 
                p Ремонт в течение двух часов!
            .page-banner-content__text 
                p Свяжитесь с нами по телефонам  
                a(href=telNumber_1_int)= telNumber_1 
                |  или 
                a(href=telNumber_2_int)= telNumber_2 
                |  и в течение двух часов Ваша варочная панель будет исправна!
            .page-banner-content__text Также Вы можете оформить on-line заявку или заказать обратный звонок
            .page-banner-content-buttons
                .page-banner-button 
                    | Оформить заявку
                    br
                    | on-line
                .page-banner-button Заказать звонок
    .repair-page-prices
      H2.page-title-h2 Цены на услуги по ремонту варочных панелей в г. Санкт-Петербург
      .table-container
        .table-container__bgrnd
        .table-container__button.table-container__button_down
        table.page-table
          tbody
            tr
              th Вид работ
              th Стоимость
            tr
              td
                p Выезд мастера на дом
              td
                p бесплатно
            tr
              td
                p Диагностика неисправности при ремонте
              td
                p бесплатно
            tr
              td
                p Диагностика в случае отказа от проведения ремонта
              td
                p 400
            tr
              td
                p Выезд за пределы КАД
              td
                p 300
            tr
              td
                p Замена конфорки
              td
                p  от 800 р.
            tr
              td
                p Замена переключателя
              td
                p от 700 р.
            tr
              td
                p Ремонт электросхемы
              td
                p от 500 р.
            tr
              td
                p Ремонт модуля управления
              td
                p от 1000 р.
            tr
              td
                p Замена датчика
              td
                p от 800 р.
            tr
              td
                p Ремонт панели управления
              td
                p от 800 р.
            tr
              td
                p Замена инвертора
              td
                p от 700 р.

  
    .repair-page-reviews
      H2.page-title-h2 Отзывы клиентов о ремонте варочных панелей
      .repair-page-reviews-items.owl-carousel#js-carousel-2
        +reviews({
          id: '00089',
          typeRepair: 'Ремонт варочных панелей',
          userName: 'Женя',
          date: '26.12.2020',
          rating: '5',
          text: 'Сервис на высоком уровне. Обратились не зря.',
          answerSupport: ''
          })
        +reviews({
          id: '00082',
          typeRepair: 'Ремонт варочных панелей',
          userName: 'Дмитрий',
          date: '01.10.2020',
          rating: '4',
          text: 'В целом все устроило. Единственное сказали вместо одного дня делали модуль два. в остальном все хорошо, все работает',
          answerSupport: ''
          })
        +reviews({
          id: '00044',
          typeRepair: 'Ремонт варочных панелей',
          userName: 'Саид',
          date: '08.10.2019',
          rating: '5',
          text: 'Быстро и не дорого! Спасибо вам!',
          answerSupport: ''
          })
        +reviews({
          id: '00023',
          typeRepair: 'Ремонт варочных панелей',
          userName: 'Елена',
          date: '24.02.2019',
          rating: '5',
          text: 'Отремонтировали плиту. все хорошо',
          answerSupport: ''
          })
  
        
    .repair-page-questions
      .repair-page-questions-item
        H2.repair-page-questions-item__title Почему стоит обратиться именно к нам?
        ul.repair-page-questions-list
          li.repair-page-questions-list-item 
            p
              span.repair-page-questions__subtitle.font-bold Бесплатная диагностика и выезд. 
            p При выполнении ремонта Вы не оплачиваете выезд мастера на дом и работу по проведению диагностики.
          li.repair-page-questions-list-item 
            p
              span.repair-page-questions__subtitle.font-bold Гарантия до 2-х лет. 
            p В зависимости от вида ремонта мы предоставляем гарантию на выполненные работы от 3-х месяцев до 2-х лет.
          li.repair-page-questions-list-item 
            p
              span.repair-page-questions__subtitle.font-bold Удобное для Вас время визита мастера. 
            p Вы можете сами предложеить время, когда Вам удобно принять мастера.
              span Также Вы можете воспользоваться 
              span.repair-page-questions__button-order.button-order сервисом 
              span для оформления заявки на ремонт варочной поверхности.
          li.repair-page-questions-list-item.font-bold
            p
              span.repair-page-questions__subtitle Экономим Ваше время.
              span Наши мастера оснащены всем необходимым оборудованием для проведения ремонта на дому.
              span В среднем ремонт варочной панели на дому занимает от 45 минут до 2,5 часов.
          
      .repair-page-questions-item.repair-page-questions-item_active
        H2.repair-page-questions-item__title Сколько времени займет ремонт?
        .repair-page-questions-list
          p.repair-page-questions-list-text 
            span В среднем ремонт варочной панели занимает от 45 минут до 2,5 часов. 
            span Ремонт производится у Вас дома. В некоторых случаях ремонт может занять больше времени.
            span Например, если требуется ремонт электронной платы (модуля управления).
      .repair-page-questions-item.repair-page-questions-item_active
        H2.repair-page-questions-item__title Как с нами связаться?
        .repair-page-questions-list
          p.repair-page-questions-list-text 
            span Если у Вас не работает варочная панель обратитесь в компанию 
            span= nameCompany 
            span  по телефонам
          
          a(herf=telNumber_1_int)= telNumber_1
          br
          a(herf=telNumber_2_int)= telNumber_2
          br
          p или оформите 
            span.repair-page-questions__button-order.button-order заявку on-line  
            span на сайте.
          br
          p.font-bold Чтобы мастер лучше подготовился к ремонту сообщите при звонке или оформлении заявки на ремонт 
            | варочной панели следующую информацию:
          ol
            li.repair-page-questions__subtitle.repair-page-questions-list-item
              p Марку варочной панели и её примерный возраст.    
            li.repair-page-questions__subtitle.repair-page-questions-list-item
              p Сообщите проблему(например: не работает переключатель, не работает конфорка и т.п.).
            li.repair-page-questions__subtitle.repair-page-questions-list-item        
              p Удобное время для визита мастера.
            li.repair-page-questions__subtitle.repair-page-questions-list-item          
              p Адрес и телефон для связи.
          p Мастер приедет в назначенное время, а перед выездом позвонит Вам.
      .repair-page-questions-item.repair-page-questions-item_active
        H2.repair-page-questions-item__title Какая гарантия на работу?
        .repair-page-questions-list
          p.repair-page-questions-list-text 
            | После завершения ремонта мастер обязательно проверит работоспособность варочной поверхности, а также продемонстрирует Вам. 
            | После чего будет оформлен гарантийный талон. Срок гарантии составлят от 3-х месяцев до 2-х лет в зависимости от вида ремонта.
            | Гарантия распространяется на как на запчасти, так и на выполненные работы.
      .repair-page-questions-item.repair-page-questions-item_active
        H2.repair-page-questions-item__title Какие марки варочных панелей ремонтируете?
        .repair-page-questions-list
          p.repair-page-questions-list-text Мы ремонтируем все известные на сегодняшний день марки варочных панелей, независимо от страны производства и возраста.
          p.repair-page-questions-list-text.font-bold Наиболее известные марки варочных панелей, которые в настоящее время используются:
          ul.repair-page-questions-brands
            li
              p AEG
            li
              p AKPO
            li
              p ASCOLI
            li
              p Asko
            li
              p AVEX

            li
              p Bosch
            li
              p Beko
            li
              p Bosfor

            li
              p Candy
            li
              p CATA
          
            li
              p De Dietrich
            li
              p De'Longhi
          
            li
              p Electrolux
            li
              p Electronicsdeluxe
            li
              p Elica
            li
              p EXITEQ
            li
              p Faber
            li
              p FALMEC
            li
              p Fornelli
            li
              p Foster
            li
              p FRANKE
            li
              p FULGOR MILANO

            li
              p GEFEST
            li
              p Gorenje
            li
              p Gaggenau
            li
              p Ginzzu
            li
              p Glem
            li
              p GRAUDE
            li
              p GRETA
            li
              p Gunter & Hauer

            li
              p Hansa
            li
              p Haier
            li
              p Hankel
            li
              p HIBERG
            li
              p HOMSAIR
            li
              p Hotpoint-Ariston
            li
              p Hyundai       
            li
              p IKEA
            li
              p ILVE
            li
              p Indesit
            li
              p Jacky's
          
            li
              p Krona
            li
              p Kuppersberg
            li
              p Kaiser
            li
              p KitchenAid
            li
              p Konigin
            li
              p Korting
            li
              p Kuchenchef
            li
              p Kuppersbusch

            li
              p LEX
            li
              p Leran
            li
              p LG
            li
              p Linberg
            li
              p LOFRA
            li
              p Longran
            li
              p Luxdorf

            li
              p MAUNFELD
            li
              p Midea
            li
              p MBS
            li
              p Miele
            li
              p MONSHER

            li
              p Nardi
            li
              p NEFF
            li
              p Normann
          
            li
              p Oasis
            li
              p ORE
            
            li
              p PYRAMIDA
            
            li
              p Rainford
            li
              p REEX
            li
              p RICCI
            li
              p Samsung
            li
              p Schaub Lorenz
            li
              p Siemens
            li
              p Simfer
            li
              p Smart Life
            li
              p smeg
            li
              p TEKA
            li
              p Termikel
            li
              p Tessa
            li
              p THOR
            li
              p V-ZUG
            li
              p Vestfrost
            li
              p Weissgauff
            li
              p Whirlpool
            li
              p Xiaomi
            li
              p Zigmund & Shtain
            li
              p Zanussi
            li
              p ZorG


      .repair-page-questions-item.repair-page-questions-item_active
        H2.repair-page-questions-item__title Насколько опытные мастера работают у Нас?
        .repair-page-questions-list
          p У нас в штате мастера по ремонту варочных панелей с минимальным опытом работы 3 года. Большинство мастеров имеет опыт работы 8-10 лет.
          p Кроме того, при поступлении на работу, и в дальнейшем мы проводим регулярную аттестацию персонала и повышение квалификации.
          p Также все наши мастера проходят ежедневный медицинский контроль, а также тестирование на заболевание короновирусом COVID-19.

                        

            

